<div class="wh100">
	<div class="min_tab">
		<ul class="tabs">
			<li>
				<button id="tab1_btn" data-tab="tab1" class="tabs_btn active">자산
					비용 목록</button>
			</li>
			<li>
				<button id="tab2_btn" data-tab="tab2" class="tabs_btn">자산
					비용 입력</button>
			</li>
		</ul>
	</div>
	<div class="conts_box main_conts p-2">
		<div class="conts border_color border_radius_10">
			<div id="tab1" style="height: 81vh;" class="box-scroll">
				<div class="clear pt-1 w_98">
					<div class="form-group">
						<div class="inputRdo">
							<div class="custom-control custom-radio"
								style="width: auto !important; margin-right: 30px !important;">
								<input type="radio" class="custom-control-input" ng-click="SearchMode(1)"
									name="searchOption" id="FN_radio0"  checked > <label
									class="custom-control-label" for="FN_radio0"
									style="left: 30%; top: 0;"><span class="pdr_26">연도</span></label>
								<select style="width: 100px !important;" ng-model="SearchYear" value="2022">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==SearchYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
								</select>
							</div>
							<div class="custom-control custom-radio"
								style="width: auto !important; height: 29px;">
								<input type="radio" class="custom-control-input" 
									name="searchOption" id="FN_radio1" ng-click="SearchMode(2)" > <label
									class="custom-control-label" for="FN_radio1"
									style="left: 13%; top: -0.1rem;"><span class="pr-2">기간선택</span></label>
								<input id="start_dt"  type="text" class="datePicker" ng-model="SearchStartDt"
									style="width: 130px !important;" readonly="readonly"> <label
									class="formSlash text-center"
									style="min-width: auto !important;"> <span>~</span>
								</label> <input id="end_dt" type="text" class="datePicker" ng-model="SearchEndDt"
									style="width: 130px !important;" readonly="readonly">
							</div>
							<div class="display_in_b">
								<label for="" class="text-center w_80px mb-0 pt-1"> <span>지출항목</span>
								</label> <select class="w_150px" ng-model="SearchExpense">
									<option value="">전체</option>
									<option ng-repeat="item in ExpenseCdList" ng-selected="item.C_SCODE==cost.EXPENSE_ITEM" value="{{item.C_SCODE}}">{{item.C_NAME}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="clear display_flex p-1 position_R w_98">
					<button class="btn btn_sky btnView" ng-click="showPopupLevelPath()">자산 경로 선택</button>
					<div class="border_color mx-1 border_wrap">
						<span class="small p-1 text_area_ellipsis">{{level_path_nm}}</span>
					</div>
					<div class="position_R">
						<form>
							<label for="" class="text-center w_80px"> <span
								style="vertical-align: sub;">자산명</span>
							</label> <input type="search" id="" class="w_250px" ng-model="SearchAssetNm">
							<button class="search_btn" ng-click="searchList(1)">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
					<div class="btn_wrap_right">
						<button id="" class="btn btn_nv btnView" ng-click="searchList(1)">조회</button>
						<button id="editBtn" class="btn btn_sky btnEdit" ng-click="changeMode()">수정</button>
						<button id="" class="btn btn-danger btnEdit" ng-click="deleteCost()">삭제</button>
						<button id="" class="btn btn_gr btnView" ng-click="downloadExcel()">엑셀</button>
					</div>
				</div>
				<div id="listHolder">
					<div class="grid table-responsive table_scroll">
						<table id="list" class="table"></table>
					</div>
					<span class="font-weight-bold pr-2 float_R ng-binding">조회 건수 :{{totalCount|currency:'':0}}건</span>
					<div id="listPager" class="w_98"></div> 
					<div id="list_page" class="w_98"></div>
				</div>
				
			</div>
			<div id="tab2" style="display: none; height: 81vh;"	class="box-scroll">
				<div class="clear display_flex p-1 position_R w_98 pt-2">
					<button class="btn btn_sky btnView" ng-click="showPopupLevelPath(1,(selectedCostIdx!=null)?selectedCostIdx:0)">자산 경로 선택</button>
					<div class="border_color mx-1 border_wrap">
						<span class="small p-1 text_area_ellipsis">{{level_path_nm}}</span>
					</div>
					<div class="position_R">
						<form>
							<label for="" class="text-center w_80px"> <span
								style="vertical-align: sub;">자산명</span>
							</label> <input type="search" id="" class="w_250px" ng-model="SearchAssetNm" >
							<button class="search_btn" ng-click="searchAssetName()">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
					<div class="btn_wrap_right pt-1">
						
						<button  class="btn btn_nv btnEdit" ng-click="insertCostList()">행추가</button>
						<button  class="btn btn_nv btnEdit" ng-click="loadCostList()">불러오기</button>
						<button  class="btn btn_nv btnEdit" ng-click="UploadExcel()">양식등록</button>
						<input type="file" ng-file-select="fileSelect($files, 'xlsx')" id="input_excel_file" ng-model="files" style="width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;">
						<button  class="btn btn_nv btnEdit" ng-click="downloadCostList()">양식출력</button>
						<button  class="btn btn-danger btnEdit" ng-click="deleteCostList()">삭제</button>
						<button  class="btn btn-success btnEdit" ng-click="saveCostList()">저장</button>
					</div>
				</div>
				<div>
<!-- 					<div class="grid table-responsive table_scroll w_98 border_color">
						<table id="list2" class="table"></table>
					</div>
					<div id="listPager2" class="w_98"></div>
					<div id="list_page2" class="w_98"></div> -->
						<div class="fixed-table-container h_100" style="width: ;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="3%">
										<col width="8%">
										<col width="3%">
										<col width="8%">
										<col width="15%">
										<col width="8%">
										<col width="3%">
										<col width="8%">
										<col width="8%">
										<col width="8%">
										<col width="30%">
										<col width="8%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="3%"><div class="th-text">순번</div></th>
											<th width="8%"><div class="th-text">일자 *</div></th>
											<th width="3%"><div class="th-text">요일</div></th>
											<th width="8%"><div class="th-text">자산명 *</div></th>
											<th width="15%"><div class="th-text">자산코드</div></th>
											<th width="8%"><div class="th-text">지출항목 *</div></th>
											<th width="3%"><div class="th-text">반복</div></th>
											<th width="8%"><div class="th-text">주기(월)</div></th>
											<th width="8%"><div class="th-text">운영비항목</div></th>
											<th width="8%"><div class="th-text">비용 *</div></th>
											<th width="30%"><div class="th-text">내용</div></th>
											<th width="8%"><div class="th-text">기타...</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cost in CostList" ng-click="selectCost($index)">
											<td>{{(selectedCostIdx==$index)?"*":""}}{{$index+1}}</td>
											<td><input id="costDt{{$index}}" ng-model="cost.COST_DT" class="datePicker" ng-change="calcYoil(cost)" style="min-width: 100%;" readonly/></td>
											<td><span ng-bind="cost.DAY"></span></td>
											<td>
											<input ng-model="cost.ASSET_NM" style="min-width:60% !important;height:30px;" readonly />
											<button ng-click="showPopupLevelPath(2,$index)" style="height:15px;width:15px; outline: none;" class="search_btn"><i class="fa fa-search"></i></button>
											</td>
											<td><input ng-model="cost.ASSET_CD" style="width:100%;height:30px;" readonly /></td>
											<td><select ng-model="cost.EXPENSE_ITEM"  style="min-width: 100%;">
												<option ng-if="item.C_SCODE!='01' " ng-repeat="item in ExpenseCdList" ng-selected="item.C_SCODE==cost.EXPENSE_ITEM" value="{{item.C_SCODE}}">{{item.C_NAME}}</option> 
											 </select></td>
											<td ><input ng-disabled="cost.EXPENSE_ITEM != '04'" type=checkbox style="min-width:0px;width:16px;height:16px;" ng-model="cost.IsRepeat" /></td>
											<td><input type=text numbers-only ng-disabled="!(cost.IsRepeat && cost.EXPENSE_ITEM =='04')" ng-model="cost.PERIOD_MONTH" /></td>
											<td><select ng-disabled="cost.EXPENSE_ITEM !='04'" ng-model="cost.MANAGE_ITEM" style="min-width: 100%;" >
											<option ng-repeat="item in ManageCdList" ng-selected="item.C_SCODE==cost.MANAGE_ITEM" value="{{item.C_SCODE}}">{{item.C_NAME}}</option>
											 </select></td>
											<td><input type=text numbers-only ng-model="cost.COST_AMT"  style="min-width: 100%;" /></td>
											<td><input type=text style="width:100%;height:30px;" ng-model="cost.COST_DESC" /></td>
											<td>{{cost.ASSET_ETC}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>					
				</div>
			</div>
		</div>
	</div>
</div>

	<section class="popupSection" id="SelectOperationListPopup" style="display:none;z-index:0;" onMouseMove="moveWindow(event,'#operationListPppup')">
		<div class="popupWrap operation_popupWrap height_auto w_40" id="operationListPppup">
			<h3>
				목록 선택 <span class="popupClose" ng-click="closeSelectOperationListPopup()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="popup_info box-scroll p-1" style="height: 520px;">
					<div class="clear position_R">
						<div class="form-group p-1">
							<label class="mx-1"><span
								class="pdr_26">구분</span></label> 
								<select	style="width: 130px !important;" ng-model="loadStoreCd" ng-options="opr.name for opr in storeCdList" ng-change="changeGrid()">
								</select> 
								<label class="mr-1 ml-5"><span
								class="pr-2">기간선택</span></label> <input type="text" class="datePicker" ng-model="StartDt" id="load_start_dt"
								style="width: 130px !important;"><label
								class="formSlash"
								style="min-width: auto !important; text-align: center;">
								<span>~</span>
							</label> <input type="text" class="datePicker" ng-model="EndDt" id="load_end_dt"
								style="width: 130px !important;">
						</div>
						<div class="btn_wrap_right p-1" style="top:0;">
							<button id="" class="btn btn_nv btnEdit" ng-click="searchList2()">조회</button>
						</div>
					</div>
					<div class="w_98">
						<div class="grid table-responsive w_98 border_color">
						<table id="list2" class="table"></table>
						</div>
						<div id="listPager2" class="w_98"></div>
						<div id="list_page2" class="w_98"></div>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn_nv" ng-click="applySelectOperationList()">확인</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeSelectOperationListPopup()">취소</button>
				</div>
			</div>
		</div>
	</section>