<section class="popupSection">
	<div class="popupWrap w_80">
		<h3>
			자산 사진 <span class="popupClose"><i class="xi-close"ng-click = "photo.Cancel()"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info m-2 mb-0" style="height: 93%;">
				<div class="no_image_wrap border_color text-center mb-2 h_90">
					<img src="{{photo.Info.F_PATH}}" onerror="this.src='/assets/images/no_image.png'" >
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<input type="text" readonly="readonly" placeholder="내용을 입력하세요" style="width: 100% !important;" ng-model ="photo.Info.F_DESC">
					</div>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn_nv btnEdit"ng-click="photo.Correction()">수정</button>
				<button type="button" class="btn btn-block btn-danger btnEdit"ng-click="photo.Remove()">삭제</button>
				<button type="button" class="btn btn-block btn-secondary" ng-click="photo.Cancel()">닫기</button>
			</div>
		</div>
	</div>
</section>