<div class="conts ng-scope">
    <div class="contain conts_half left">
        <div class="conts_in left_tab" >
            <div class="conts_tit">
                <div class="main_conts">
                    <p>
                        <i class="fas fa-check-circle"></i> 민원 관리 목록
                    </p>
                </div>
            </div>
            <div class="search_box main_conts">
                <div class="clear tits" style="position: relative;">
                    <div class="clear">
                        <div class="form-group">
                            <div class="inputRdo">
                                <div class="custom-control custom-radio" style="width: auto !important;" ng-init="searchDateType=1">
                                    <input kr-input type="radio"
                                           class="custom-control-input ng-pristine ng-untouched ng-valid"
                                           name="DATE_radio" id="DATE_radio1" ng-model="searchDateType" value="1">
                                    <label class="custom-control-label" for="DATE_radio1" style="left: 30%; top: 0;">
                                        <span class="pdr_26">연도</span>
                                    </label>
                                    <select class="instKind" ng-model="selectedCurrYear"
                                            ng-init="selectedCurrYear = option[0]"
                                            ng-click="changeRadio(1)"
                                            style="width: 130px !important;">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==selectedCurrYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
                                    </select>
                                </div>
                                <div class="custom-control custom-radio" style="width: auto !important; height: 29px;">
                                    <input kr-input type="radio"
                                           class="custom-control-input ng-pristine ng-untouched ng-valid"
                                           name="DATE_radio" id="DATE_radio2" ng-model="searchDateType" value="2">
                                    <label class="custom-control-label" for="DATE_radio2" style="left: 13%; top: 0;">
                                        <span class="pr-2">기간선택</span>
                                    </label>
                                    <input 
                                           class="datePicker"
                                           ng-click="changeRadio(2)"
                                           id="searchDate_S_DATE" ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly>
                                           
                                    <label class="formSlash" style="min-width: auto !important; text-align: center;">
                                        <span>~</span>
                                    </label>
                                    <input 
                                           class="datePicker"
                                           ng-click="changeRadio(2)"
                                           id="searchDate_E_DATE" ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search_twoForm">
                        <div class="form-group">
                            <label for="">
                                <span>민원유형</span>
                            </label>
                            <select class="instKind" ng-model="searchCategory" style="width: 538px;">
                                <option value="">전체</option>
                                <option ng-repeat="c in storeCategory" value="{{c.C_SCODE}}">{{c.C_NAME}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- 버튼 영역 -->
                    <div class="float_R" style="position: absolute; bottom: 3px; right: 0;">
                        <button class="btn btn_nv" ng-click="search();">조회</button>
                        <button id="delete" class="btn btn-danger btnEdit" ng-click="deleteMinwon();">삭제</button>
                        <button class="btn btn_gr btnView" ng-click="getExcelDownload();">엑셀</button>
                    </div>
                </div>
            </div>
            <!-- 그리드 -->
            <div class="grid">
                <table id="list_minwon"></table>
            </div>
            <div id="listPager"></div>
            <span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
            <div id="list_minwon_page"></div>
        </div>
    </div>
    <div class="contain conts_half right">
        <div class="conts_in">
            <div class="min_tab">
                <ul class="tabs">
                    <li>
                        <button id="tab1_btn" class="active" data-tab="tab1">민원 관리</button>
                    </li>
                    <li>
                        <button id="tab2_btn" data-tab="tab2">사진대지</button>
                    </li>
                </ul>
            </div>
            <div class="conts_box main_conts w_100" id="tab1">
                <div class="conts_tit">
                    <div class="main_conts">
                        <p>
                            <i class="fas fa-check-circle"></i> 민원 관리
                        </p>
                    </div>
                </div>
                <input kr-input type="hidden"  ng-model="MinwonInfo.COMPLAIN_SID">
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>민원유형</span></label>
                            <input kr-input
                                   type="text"  ng-model="MinwonInfo.COMPLAIN_TYPE_NAME" readonly >

                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>민원인</span></label>
                            <input kr-input
                                   ng-model="MinwonInfo.COMPLAINER_NM" readonly >
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>접수일</span></label>
                            <input ng-model="MinwonInfo.RECEIVE_DT" readonly >
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>처리일</span></label>
                            <input ng-model="MinwonInfo.SETTLE_DT" readonly >
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>주소</span></label>
                            <input ng-model="MinwonInfo.COMPLAINER_ADDR" readonly >
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>연락처</span></label>
                            <input ng-model="MinwonInfo.COMPLAINER_TEL" readonly >
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>접수자</span></label>
                            <input kr-input
                                   type="text" ng-model="MinwonInfo.RECEIVER_NM" readonly maxlength=""
                                   class="ng-pristine ng-untouched ng-valid">
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>처리자</span></label>
                            <input ng-model="MinwonInfo.SETTLER_NM" readonly >
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for=""><span>처리내용</span></label>
                            <textarea style="height: 56px !important;" readonly>{{MinwonInfo.SETTLE_DESC}}</textarea>
                        </div>
                    </div>
                </div>
                <!-- 자산 목록 -->
                <div class="box-scroll border_color w_98 mt-2" style="height: 210px; overflow-x: auto;">
                    <div class="grid table_scroll" style="height: 200px; width:100%;"> <!-- width:120%-->
                        <table id="list_asset"></table>
                    </div>
                </div>
                <div class="text-right p-2 pb-2">
                    <button class="btn btn_sky" ng-click="ShowAssetGisInfoPopup()">위치보기</button>
                </div>

                <div class="clear w_98">
                    <div class="w100 Form100">
                        <div class="form-group longLabelForm">
                            <label class="LongUptitle" for="">
                                <p>
                                    <span class="ct"><i class="fas fa-file-export"></i> 첨부파일</span>
                                </p>
                            </label>
                        </div>
                        <div class="fixed-table-container" style="height: 100px;">
                            <div class="header-bg"></div>
                            <div class="table-wrapper">
                                <table class="fixedTbl" id="storeFileList" ng-class="{noData : storeFileList.length == 0}">
                                    <colgroup>
                                        <col width="10%">
                                        <col width="60%">
                                        <col width="20%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                    <tr class="ui-jqgrid-labels">
                                        <th width="10%"><div class="th-text">순번</div></th>
                                        <th width="60%"><div class="th-text">첨부파일명</div></th>
                                        <th width="20%"><div class="th-text">사이즈(Byte)</div></th>
                                        <th width="10%"><div class="th-text">비고</div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="(file.RNUM > 0)" ng-repeat="file in storeFileList">
                                        <td class="ct">{{file.RNUM}}</td>
                                        <td class="ct">{{file.F_TITLE}}</td>
                                        <td class="ct" >{{file.F_SIZE | number : 0}}</td>
                                        <td class="ct">
                                            <button class="btn btn_nv download btnView" ng-click="getCmFileDown(file)">다운로드</button>
                                        </td>
                                    </tr>
                                    <tr ng-if="storeFileList.length == 0">
                                        <td class="ct" colspan="4">데이터가 없습니다.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right p-2 pb-2">
                    <button class="btn btn_sky btnEdit" ng-click="showNewMinwon();">신규</button>
                    <button class="btn btn_nv btnEdit" ng-click="showEditMinwon();">수정</button>
                    <!-- <button class="btn btn-info btnView" ng-click="DownloadReport();">보고서</button> -->
                </div>
            </div>
            <div class="conts_box main_conts" id="tab2" style="display: none;">
<!--                <div style="height: 200px;">그리드</div>-->
                <!-- 자산 목록 -->
                <div class="box-scroll border_color w_100 mt-2" style="height: 150px; overflow-x: auto;">
                    <div class="grid table_scroll" style="height: 200px; width:100%;"> <!-- width:120%-->
                        <table id="list_asset_pic"></table>
                    </div>
                </div>

                <div class="box-scroll p-1 mt-2 mb-1 image_box_wrap border_color" style="height: 550px; border-radius: 5px;">
                    <div class="img_wrap p-1" ng-repeat="pic in pic_list | orderBy:'SEQ' ">
                        <div class="userPicArea border_color border_radius0 mb-2">
                            <img ng-if="pic.F_NUM > 0" ng-src="{{pic.F_PATH}}" onerror="this.src='/assets/images/no_image.png'" ng-click="showPic(pic)" >
                            <img ng-if="pic.F_NUM == null || pic.F_NUM == 0" src='/assets/images/no_image.png' ng-click="uploadPic(pic)" >
                        </div>
                        <div>
                            <div class="w100 Form100 mb-2">
                                <input readonly type="text" placeholder="내용을 입력하세요" ng-model="pic.F_DESC">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 민원 등록/수정 팝업 영역 -->
<section class="popupSection" id="popup_minwon" style="display: none" onMouseMove="moveWindow(event,'#minwonPopup')">
    <div class="popupWrap operation_popupWrap w_815px" id="minwonPopup">
        <h3>
            민원 {{saveType === 'new'? '등록' : '수정'}}
            <span class="popupClose" ng-click="closeMinwonPopup();"><i class="xi-close"></i></span>
        </h3>
        <div class="popup">
            <div class="popup_info">
                <div class="popup_title">
                    <p>민원 관리</p>
                </div>
                <br>
                <div class="clear pr-2">
                    <div class="half_formB fm_w50">
                        <input kr-input type="hidden"  ng-model="MinwonInfoPopup.COMPLAIN_SID">
                        <div class="form-group">
                            <label for=""><span>민원유형 *</span></label>
                            <!-- ng-pristine ng-untouched ng-valid-->
                            <select id="MinwonInfoPopup_COMPLAIN_TYPE"
                                    ng-model="MinwonInfoPopup.COMPLAIN_TYPE"
                                    class="instKind">
                                <option hidden value="">{{firstSelect.firstSelect}}</option>
                                <option ng-repeat="c in storeCategory" value="{{c.C_SCODE}}">{{c.C_NAME}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>민원인</span></label>
                            <input ng-model="MinwonInfoPopup.COMPLAINER_NM" maxlength="30" placeholder="최대30자">
                        </div>
                    </div>
                </div>
                <div class="clear pr-2">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>접수일</span></label>
                            <div class="position_R" style="height: 30px;">
	                            <input type="text" class="datePicker"  ng-model="MinwonInfoPopup.RECEIVE_DT" maxlength="10">
<!--	                            <i class="fas fa-backspace date_delete_btn" ng-click="MinwonInfoPopup.RECEIVE_DT=''" title="지우기"></i>-->
	                            <!-- <button ng-click="MinwonInfoPopup.RECEIVE_DT=''">지움<i class="fa fa-window-close-o"></i></button> -->
                            </div>
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>처리일</span></label>
                            <div class="position_R" style="height: 30px;">
	                            <input type="text" class="datePicker" ng-model="MinwonInfoPopup.SETTLE_DT" maxlength="10">
	                            <!-- <button ng-click="MinwonInfoPopup.SETTLE_DT=''">지움<i class="fa fa-window-close-o"></i></button> -->
<!--	                            <i class="fas fa-backspace date_delete_btn" ng-click="MinwonInfoPopup.SETTLE_DT=''" title="지우기"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear pr-2">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>주소</span></label>
                            <input ng-model="MinwonInfoPopup.COMPLAINER_ADDR" maxlength="100" placeholder="문자/1~100자">
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>연락처</span></label>
                            <input ng-model="MinwonInfoPopup.COMPLAINER_TEL" maxlength="20" placeholder="0XX-XXXX-XXXX">
                        </div>
                    </div>
                </div>
                <div class="clear pr-2">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>접수자</span></label>
                            <input ng-model="MinwonInfoPopup.RECEIVER_NM" maxlength="30" placeholder="문자/1~30자">
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>처리자</span></label>
                            <input ng-model="MinwonInfoPopup.SETTLER_NM" maxlength="30" placeholder="문자/1~30자">
                        </div>
                    </div>
                </div>
                <div class="clear pr-2">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for=""><span>처리내용</span></label>
                            <textarea style="height: 56px !important; margin-top: -15px;" maxlength="500" placeholder="문자/1~500자" ng-model="MinwonInfoPopup.SETTLE_DESC">{{MinwonInfoPopup.SETTLE_DESC}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="box-scroll border_color mt-1 mb-1" style="height: 130px; overflow-x: auto;">
                    <div class="grid table_scroll" style="height:200px; width: 80%;"> <!-- width: 120% -->
                        <table id="list_asset_popup"></table>
                    </div>
                </div>

                <div class="btn_wrap">
                	<button type="button" class="btn btn-block btn-primary" ng-click="showPopupLevelPath();">자산경로선택</button>
                    <button type="button" class="btn btn-block btn-primary" ng-click="ShowAssetGisInfoPopup()">위치보기</button>
                    <button type="button" class="btn btn-block btn-primary" ng-click="assetSelection();">GIS자산선택</button>
                    <button type="button" class="btn btn-block btn-danger" ng-click="assetDelete();">삭제</button>
                </div>
				<div class="clear mg_TB10">
					<div class="popupBtnWrap">
			                <button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveMinwon();">저장</button>
			                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeMinwonPopup();">취소</button>
					</div>
				</div>                
                <div class="popup_title">
                    <p></p>
                </div>
                <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="w100 Form100">
                        <div class="form-group longLabelForm">
                            <label class="LongUptitle" for="">
                                <p>
                                   <span class="ct">
                                       <i class="fas fa-file-export" style="color:#1769e6;"></i>첨부파일
                                   </span>
                                </p>
                            </label>
                            <label class="fileUpBox2" for="ex_filename_2">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="lt">
                                            <span>{{ (uploadfilename === null || uploadfilename === '')? '파일을 선택해주세요' : uploadfilename}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </label>
                            <input  type="file" id="ex_filename_2"
                                    style="display: none;"
                                    ng-file-select="onFileSelect($files, 'xls|xlsx|pdf|hwp')"
                                    ngf-pattern="'.xls,.xlsx,.pdf,.hwp'"
                                    accept=".xls,.xlsx,.pdf,.hwp"
                                    class="ng-pristine ng-untouched ng-valid">
                            <div class="float_R">
                                <button id="rowAdd" class="btn_sky btnEdit" ng-click="fileUpload(2)">업로드</button>
                            </div>
                        </div>
                        <p class="float_R font-weight-bold small">
                            첨부파일 최대 개수 : {{fileListLimit}}개 / 첨부파일 개별 최대 용량 : {{MaxUploadSize / 1024 / 1024}}MB
                        </p>
                    </div>
                </div>

                <!-- 헤더고정테이블 test -->
                <div class="fixed-table-container" style="height: 160px;">
                    <div class="table-wrapper">
                        <table class="fixedTbl" id="storeFileList_popup"
                               ng-class="{noData : storeFileList_popup.length == 0}">
                            <colgroup>
                                <col width="10%">
                                <col width="60%">
                                <col width="20%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr class="ui-jqgrid-labels">
                                <th width="10%">
                                    <div class="th-text">순번</div>
                                </th>
                                <th width="60%">
                                    <div class="th-text">첨부파일명</div>
                                </th>
                                <th width="20%">
                                    <div class="th-text">사이즈(Byte)</div>
                                </th>
                                <th width="10%">
                                    <div class="th-text">비고</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="(file.RNUM > 0)" ng-repeat="file in storeFileList_popup">
                                <td class="ct">{{file.RNUM}}</td>
                                <td class="ct">{{file.F_TITLE}}</td>
                                <td class="ct">{{file.F_SIZE | number : 0}}</td>
                                <td class="ct">
                                    <button title="삭제" ng-show="(file.F_NUM > 0)" class="btn btn_nv delete btnEdit" ng-click="deleteFile(file,$event)">X</button>
                                </td>
                            </tr>
                            <tr ng-if="storeFileList_popup.length == 0">
                                <td class="ct" colspan="4">데이터가 없습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 헤더고정테이블 test -->
            </div>
<!--             <div class="popupBtnWrap">
                <button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveMinwon();">저장</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeMinwonPopup();">취소</button>
            </div> -->
        </div>
    </div>
</section>

