<!-- http://buansystem.weven.net/webadm/login  -->
<!-- http://59.2.173.225:18080/webadm/login -->
<!-- http://10.0.28.100:18080/webadm/login  -->
<iframe name="nfc_app" id="nfc_app" style="width:100%;height:800px;"  > </iframe>
<form id="nfc_login"  target="nfc_app" method="POST">
	<input type="hidden" name="id" value="">
	<input type="hidden" name="input_pass" value="">
</form>