
	<section class="popupSection">
		<div class="popupWrap operation_popupWrap height_auto">
			<h3>
				개보수 사업 등록/수정 <span class="popupClose"><i class="xi-close" ng-click = "newCancelEvent()"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info mb-1">
					<div class="popup_title">
						<p>개보수 사업 관리</p>
					</div>
					<div class="main_conts">
						<div class="boxs">
							<div class="clear">
								<div class="w100 Form100">
									<div class="form-group">
										<label for=""><span>사업명</span></label> 
										<input kr-input type="text" ng-model="newRenovation.REPAIR_NM">
									</div>
								</div>
							</div>
							<div class="clear">
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label> 
											<span>담당자</span>
										</label> 
										<input type="text" ng-model="newRenovation.INSERT_ID">
									</div>
								</div>
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label> 
											<span>계약일자</span>
										</label> 
										<input type="date" ng-model="newRenovation.CONTRACT_DT_DATE">
									</div>
								</div>
							</div>
							<div class="clear">
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label> 
											<span>작공일자</span>
										</label> 
										<input type="date" ng-model="newRenovation.REPAIR_START_DT_DATE">
									</div>
								</div>
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label> 
											<span>준공일자</span>
										</label> 
										<input type="date"ng-model="newRenovation.REPAIR_END_DT_DATE">
									</div>
								</div>
							</div>
							<div class="clear">
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label> 
											<span>거래처명</span>
										</label> 
										<input type="text" ng-model="newRenovation.COMPANY_NM">
									</div>
								</div>
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label> 
											<span>사업비용</span>
										</label> 
										<input type="text"  style="width: 41.5% !important;" ng-model="newRenovation.BUSINESS_AMT">
										<!-- <button type="button" class="btn btn_sky m-1" ng-click = "distributionEvent()">배분</button> -->
									</div>
								</div>
							</div>
                          
							<!-- <div class="clear">
								<div class="w100 Form100">
									<div class="form-group">
										<label for=""><span>자료저장</span></label>
										<div class="filebox bs3-primary preview-image">
											<input class="upload-name" disabled="disabled"> <label
												for="input_file" class="btn btn-block btn-primary uploadBtn">등록</label>
											<input type="file" id="input_file" class="upload-hidden">
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<!-- 그리드 -->
					<div class="grid table-responsive table_scroll">
						<table id="list6" class="table"></table>
					</div>
						<div id="listPager6" style="display: none;"></div>
						<div id="list6_page"></div>
						<div class="clear">		
						<div class="btn_wrap">
							<button type="button" class="btn btn-block btn-primary"ng-click="assetSelection()">자산선택</button>
							<!-- <button type="button" class="btn btn-block btn-primary"ng-click="diagnosticArea()">진단구역</button> -->
<!-- 							<button type="button" class="btn btn-block btn-primary" ng-click="getExcelDownload(1)">양식출력</button> -->
<!-- 							<button type="button" class="btn btn-block btn-primary" 
							for="input_result"
							id="input_result"
							class="upload-hidden"
							ng-file-select="onFileSelect($files, 'xls|xlsx|pdf|hwp',3)" 
							ngf-pattern="'.xls,.xlsx,.pdf,.hwp'"
							accept=".xls,.xlsx,.pdf,.hwp" >결과등록</button> -->
							<button type="button" class="btn btn-block btn-danger"ng-click="newDelet()">삭제</button>
						</div>
					</div>
					<!-- <div class="popup_title">
						<p></p>
					</div> -->
					<div class="clear" style="width: 98%; margin: 0 auto;">
						<div class="w100 Form100">
							<div class="form-group">
								<label for="">
									<span>특이사항</span>
								</label>
								<textarea ng-model="newRenovation.C_MEMO" style="height: 70px;"></textarea>
							</div>
						</div>
					</div>
					<div class="clear">
							<button type="button" class="btn btn-block btn-success saveBtn" ng-click="newSave()">저장</button>
							<button type="button" class="btn btn-block btn-danger closeBtn" ng-click = "newCancelEvent()" >취소</button>
					</div>
	                <div class="popup_title">
	                    <p></p>
	                </div>										
					<div class="clear" style="width: 98%; margin: 0 auto;">
						<div class="w100 Form100">
							<div class="form-group longLabelForm mt-2 mb-0">
								<label class="LongUptitle" for="">
									<p>
										<span class="ct"><i class="fas fa-file-export"
											aria-hidden="true"></i> 첨부파일</span>
									</p>
								</label>
								<div class="filebox bs3-primary preview-image">
									<label for="input_file"
										class="btn btn-block btn-primary uploadBtn">업로드</label> 
										<input type="file" 
										id="input_file" 
										class="upload-hidden"
										ng-file-select="onFileSelect($files, 'xls|xlsx|pdf|hwp',4)" 
										ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" 
										accept=".xls,.xlsx,.pdf,.hwp" 
										class="ng-pristine ng-untouched ng-valid">
								</div>
							</div>
						</div>
					</div>
					
					<!-- 헤더고정테이블 test -->
                            <div class="fixed-table-container"  style="height: 90px;">
                                <div class="table-wrapper">
                                    <table class="fixedTbl" id="popupStoreFileList"
                                           ng-class="{noData : popupStoreFileList.length == 0}">
                                        <colgroup>
                                            <col width="10%">
                                            <col width="60%">
                                            <col width="20%">
                                            <col width="10%">
                                        </colgroup>
                                        <thead>
                                        <tr class="ui-jqgrid-labels">
                                            <th width="10%">
                                                <div class="th-text">순번</div>
                                            </th>
                                            <th width="60%">
                                                <div class="th-text">첨부파일명</div>
                                            </th>
                                            <th width="20%">
                                                <div class="th-text">사이즈</div>
                                            </th>
                                            <th width="10%">
                                                <div class="th-text">삭제</div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-if="(file.RNUM > 0)" ng-repeat="file in popupStoreFileList">
                                            <td class="ct">{{file.RNUM}}</td>
                                            <td class="ct">{{file.F_TITLE}}</td>
                                            <td class="ct" ng-if="file.F_SIZE >= 1024*1024">{{file.F_SIZE / 1024*1024 | number : 0}}MB</td>
                                            <td class="ct" ng-if="file.F_SIZE >= 1024">{{file.F_SIZE / 1024 | number : 0}}KB</td>
                                            <td class="ct" ng-if="file.F_SIZE < 1024">{{file.F_SIZE | number : 0}}Byte</td>
                                            <td class="ct">
                                                <button title="삭제" ng-show="(file.RNUM > 0)" class="btn_x delete btnEdit" ng-click="deleteFile(popupStoreFileList,file.RNUM-1)">X</button>
                                            </td>
                                        </tr>
                                        <tr ng-if="popupStoreFileList.length == 0">
                                            <td class="ct" colspan="4">데이터가 없습니다.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 헤더고정테이블 test -->
				</div>
<!-- 				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success saveBtn" ng-click="newSave()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click = "newCancelEvent()" >취소</button>
				</div> -->
			</div>
		</div>
	</section>
