
<section class="popupSection" onMouseMove="moveWindow(event,'#renovationPopup')">
	<div class="popupWrap operation_popupWrap height_auto w_815px" id="renovationPopup">
		<h3>
			<span id="New_And_ModifiedPopup_1"> 개보수 사업 등록/수정 </span> <span class="popupClose"><i class="xi-close" ng-click="PopupView.Cancel()"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info mb-1">
				<div class="popup_title">
					<p id="New_And_ModifiedPopup_2">개보수 사업 관리</p>
				</div>
				<div class="main_conts">
					<div class="boxs">
						<div class="clear">
							<div class="w100 Form100">
								<div class="form-group">
									<label for=""><span>사업명 *</span></label> <input kr-input type="text" ng-model="PopupView.Info.POPUP_NM" maxlength="100" placeholder="문자/1~100자">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label> <span>등록자</span>
									</label> <input type="text" readonly="readonly" ng-model="PopupView.Info.INSERT_ID">
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label> <span>계약일자 *</span>
									</label> <input type="text" readonly class="datePicker" ng-model="PopupView.Info.CONTRACT_DT">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label> <span>착공일자 *</span>
									</label> <input type="text" readonly class="datePicker" ng-model="PopupView.Info.START_DT">
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label> <span>준공일자 *</span>
									</label> <input type="text" readonly class="datePicker" ng-model="PopupView.Info.END_DT">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label> <span>거래처명 *</span>
									</label> <input type="text" ng-model="PopupView.Info.COMPANY_NM" maxlength="100" placeholder="문자/1~100자">
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label> <span>사업비용</span>
									</label> <input type="text" numbers-only ng-blur="PopupView.NumFormat('BUSINESS_AMT')" ng-model="PopupView.Info.BUSINESS_AMT" maxlength="15" placeholder="숫자/1~15자">
									<!-- style="width: 41.5% !important;" -->
									<!-- <button type="button" class="btn btn_sky m-1" ng-click="PopupView.Distribution()">배분</button> -->
								</div>
							</div>
						</div>
						<!-- 그리드 -->
						<div class="table_wrap table-responsive table_scroll w_98 m-2" style="height: 185px;">
							<table class="table table_basic mb-0 table_200 table_style table_sticky">
								<colgroup>
									<col width="30px">
									<col width="50px">
									<col ng-repeat="col in PopupView.colModel" width="{{col.width}}" ng-if="(!col.hidden)">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th class="position-static"><input type="checkbox" style="margin: 0 5px;" ng-model="PopupView.isCheckBoxAll" ng-click="PopupView.SelectAll()" /></th>
										<th>순번</th>
										<th ng-repeat="col in PopupView.colModel" ng-if="(!col.hidden)">{{col.colName}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="data in PopupView.List track by $index">
										<td><input type="checkbox" ng-model="data['isCheckbox']"></td>
										<td>{{$index + 1}}</td>
										<td ng-repeat="col in PopupView.colModel track by $index"  ng-if="(!col.hidden)"><input class="w100" style="border: none; background: white" ng-model=data[col.name] ng-if="(col.type == 'input')" ng-disabled="!col.editable || !data['ASSET_CD']"> 
										<select class="selectTest" ng-model="data[col.name]" ng-if="(col.type == 'select')" ng-disabled="!col.editable || !data['ASSET_CD']" ng-options="option for option in col.selectOptions">
												<option  selected="selected">선택</option>
										</select> <input class="w100" style="border: none; background: white;" ng-model=data[col.name] ng-if="(col.type == 'int')" ng-disabled="!col.editable || !data['ASSET_CD']" ng-blur="PopupView.Blur($parent.$parent.$parent.$index, $index)" numbers-only></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="clear w_98 p-1">
							<div class="btn_wrap">
								<button type="button" class="btn btn-block btn-primary" ng-click="showPopupLevelPath(0,0)">자산경로선택</button>
								<button type="button" class="btn btn-block btn-primary" ng-click="PopupView.AssetSelection()">GIS자산선택</button>
								<!-- <button type="button" class="btn btn-block btn-primary"ng-click="diagnosticArea()">진단구역</button> -->
								<!-- <button type="button" class="btn btn-block btn-primary" ng-click="PopupView.FormOutput()">양식출력</button> -->
								<!-- <button type="button" class="btn btn-block btn-primary" for="input_result" id="input_result" class="upload-hidden" ng-file-select="PopupView.OnFileSelect($files, 'xls|xlsx|pdf|hwp',2)" ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" accept=".xls,.xlsx,.pdf,.hwp">결과등록</button> -->
								<button type="button" class="btn btn-block btn-danger" ng-click="PopupView.Delete()">삭제</button>
							</div>
						</div>
						<div class="clear" style="width: 98%; margin: 0 auto;">
							<div class="w100 Form100">
								<div class="form-group">
									<label for=""> <span>특이사항</span>
									</label>
									<textarea ng-model="PopupView.Info.C_MEMO" style="height: 70px;"></textarea>
								</div>
							</div>
						</div>
						<div class="popupBtnWrap mb-2">
							<button type="button" class="btn btn-block btn-success saveBtn" ng-click="PopupView.Save()">저장</button>
							<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="PopupView.Cancel()">취소</button>
						</div> 
		                <div class="popup_title">
		                    <p></p>
		                </div>						
						<div class="clear pr-3" >
							<div class="w100 Form100">
								<div class="form-group longLabelForm">
									<label class="LongUptitle" for="">
										<p>
											<span class="ct"><i class="fas fa-file-export" style="color: #1769e6;"></i> 첨부파일 </span>
										</p>
									</label> 
									<label class="fileUpBox2" for="ex_filename_2">
										<table>
											<tbody>
												<tr>
													<td class="lt">
														<!--<span>{{ (file2 != null && file2 != [] && file2.length != 0)? file2[0].name : '파일을 선택해주세요.'}}</span>-->
														<span ng-if="(!PopupView.File)">파일을 선택해주세요</span> <span ng-if="(PopupView.File)">{{PopupView.File[0].name }}</span>
													</td>
												</tr>
											</tbody>
										</table>
									</label> 
									<input type="file" id="ex_filename_2" style="display: none;" ng-file-select="PopupView.OnFileSelect($files, 'xls|xlsx|pdf|hwp', 1)" ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" accept=".xls,.xlsx,.pdf,.hwp" class="ng-pristine ng-untouched ng-valid">
									<div class="float_R">
										<button id="rowAdd" class="btn_sky btnEdit" ng-click="PopupView.FileUpload()">업로드</button>
									</div>
								</div>
								<p class="text-right small font-weight-bold d-block ng-binding">첨부파일 최대 개수 : 5개 / 첨부파일 개별 최대 용량 : 300MB</p>
							</div>
						</div>


						<!-- 헤더고정테이블 test -->
						<div class="fixed-table-container" ng-hide="bbs_group_cd=='qna'" style="height: 100px;">
							<div class="table-wrapper">
								<table class="fixedTbl" id="PopupView.FileList" ng-class="{noData : PopupView.FileList.length == 0}">
									<colgroup>
										<col width="10%">
										<col width="60%">
										<col width="20%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="10%">
												<div class="th-text">순번</div>
											</th>
											<th width="60%">
												<div class="th-text">첨부파일명</div>
											</th>
											<th width="20%">
												<div class="th-text">사이즈(Byte)</div>
											</th>
											<th width="10%">
												<div class="th-text">삭제</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="(file.RNUM > 0)" ng-repeat="file in PopupView.FileList">
											<td class="ct">{{file.RNUM}}</td>
											<td class="ct">{{file.F_TITLE}}</td>
											<td class="ct">{{file.F_SIZE | number : 0}}</td>
											<td class="ct">
												<button title="삭제" ng-show="(file.RNUM > 0)" class="btn_nv btn delete btnEdit" ng-click="PopupView.FileListDelete(file.RNUM - 1)">X</button>
											</td>
										</tr>
										<tr ng-if="PopupView.FileList.length == 0">
											<td class="ct" colspan="4">데이터가 없습니다.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- 헤더고정테이블 test -->
					</div>
					<!-- <div class="popupBtnWrap mb-2">
						<button type="button" class="btn btn-block btn-success saveBtn" ng-click="PopupView.Save()">저장</button>
						<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="PopupView.Cancel()">취소</button>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
