<section class="popupSection" onMouseMove="moveWindow(event,'#distPopup')">
	<div class="popupWrap sys_alert_popupWrap height_auto" id="distPopup">
		<h3>
			조사 및 탐사 비용 배분 <span class="popupClose"><i class="xi-close" ng-click = "close()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="clear" style="width: 98%; margin: 0 auto;">
				<div class="w100 Form100">
					<div class="form-group">
						<label></label>
						<div class="inputRdo">
							<div class="custom-control custom-radio"  >
	                                    <input type="radio" class="custom-control-input" 
	                                    ng-checked = "distributionInfo.OPTION == 0">
	                                    <label class="custom-control-label"
	                                    ng-click = "radioClick(0)">균등배분 </label>
	                                    <i class="far fa-question-circle pl-3 cursor-pointer"
	                                     ng-click = "alert('균등배분은 사업비용을 자산수에 <br>비례하게 배분함 <br>(사업비용/자산수)')"></i>
	                         </div>
	                         <div class="custom-control custom-radio"  >
	                                    <input type="radio" class="custom-control-input" 
	                                    ng-checked = "distributionInfo.OPTION == 1">
	                                    <label class="custom-control-label"
	                                    ng-click = "radioClick(1)">비례배분 </label>
	                                    <i class="far fa-question-circle pl-3 cursor-pointer"
	                                     ng-click = "alert('비례배분은 사업비용을 자산의 <br>초기투자비에 비례하게 배분함.<br>(사업비용*(초기투자비/총초기투자비)')"></i>
	                         </div>
						</div>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-primary" ng-click = "execution()">실행</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click = "close()">취소</button>
			</div>
		</div>
	</div>
</section>