<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 개보수 사업 관리 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
									<div class="custom-control custom-radio"
									style="width: auto !important;" ng-click="Serch.Select(1)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										id="yearRadio1" ng-checked="Serch.Info.OPTION==1"> <label
										class="custom-control-label" for="yearRadio1"
										style="left: 30%; top: 0;"> <span class="pdr_26">연도</span>
									</label> <select style="width: 130px !important;"
										ng-model="Serch.Info.YEAR">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==Serch.Info.YEAR" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;"
									ng-click="Serch.Select(2)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										id="yearRadio2" ng-checked="Serch.Info.OPTION==2"> <label
										class="custom-control-label" for="yearRadio2"
										style="left: 13%; top: 0;"> <span class="pr-2">기간선택</span>
									</label> <input type="text" readonly class="datePicker" id="start_dt"
										ng-model="Serch.Info.START_DT"
										style="width: 130px !important;"> <label
										class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" readonly class="datePicker" id="end_dt"
										ng-model="Serch.Info.END_DT" style="width: 130px !important;">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>사업명</span></label> <input kr-input
								type="text"
								class="ng-pristine ng-untouched ng-valid ng-valid-maxlength"
								style="width: 538px;"
								ng-model="Serch.Info.REPAIR_NM" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 3px; right: 0;">
						<button class="btn btn_nv" ng-click="Serch.Lookup()">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="Serch.Delete()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="Serch.ExcelDown()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1">개보수 관리</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2">사진대지</button>
					</li>
				</ul>
			</div>
			<div class="conts_box main_conts w_100" id="tab1">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 개보수 사업
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for="">
								<span>사업명</span>
							</label> 
							<input type="text"maxlength="200" readonly="readonly" 
							ng-model="View.Info.REPAIR_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="">
								<span>등록자</span>
							</label> 
							<input type="text" id="" readonly="readonly" 
							ng-model="View.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="">
								<span>계약일자</span>
							</label> 
							<input type="text" readonly="readonly"
								ng-model="View.Info.CONTRACT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="">
								<span>착공일자</span>
							</label> 
							<input type="text" readonly="readonly"
								ng-model="View.Info.REPAIR_START_DT">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="">
								<span>준공일자</span>
							</label> <input type="text" readonly="readonly"
							ng-model="View.Info.REPAIR_END_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="">
								<span>거래처명</span>
							</label> 
							<input type="text" readonly="readonly"
							ng-model="View.Info.COMPANY_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="">
								<span>사업비용</span>
							</label> 
							<input type="text" readonly="readonly"
							ng-model="View.Info.BUSINESS_AMT">
						</div>
					</div>
				</div>
				
				<!-- 그리드2 -->
				<div class="grid mt-2 table-responsive table_scroll">
					<table id="list2"></table>
				</div>
				<div id="listPager2"></div>
				<span class="font-weight-bold pr-2 float_R">조회건수: {{total2Count|currency:'':0}} 건</span>
				<div id="list2_page"></div>
                
<!--                 <div class="text-right p-2 pb-2">
                    <button class="btn btn_sky" ng-click="ShowAssetGisInfoPopup()">위치보기</button>
                </div> -->
                				
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for="">
								<span>특이사항</span>
							</label>
							<textarea style="height: 70px;" readonly="readonly"
							ng-model="View.Info.C_MEMO">
							</textarea>
						</div>
					</div>
				</div>
				<div class="boxs w_98">
					<div class="clear">
						<div class="w100 Form100">
							<div class="form-group longLabelForm">
								<label class="LongUptitle" for="">
									<p>
										<span class="ct"><i class="fas fa-file-export"></i>
											첨부파일</span>
									</p>
								</label>
							</div>
						</div>
					</div>
					<div class="fixed-table-container" style="height: 100px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl" id="View.FileList"
								ng-class="{noData : View.FileList.length == 0}">
								<colgroup>
									<col width="10%">
									<col width="60%">
									<col width="20%">
									<col width="10%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="60%"><div class="th-text">첨부파일명</div></th>
										<th width="20%"><div class="th-text">사이즈(Byte)</div></th>
										<th width="10%"><div class="th-text">비고</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="(file.RNUM > 0)" ng-repeat="file in View.FileList">
										<td class="ct">{{file.RNUM}}</td>
										<td class="ct">{{file.F_TITLE}}</td>
										<td class="ct" >{{file.F_SIZE |number : 0}}</td>
										<td class="ct">
										<button title="다운로드" class="btn btn_nv download btnView" ng-click="getCmFileDown(file)">다운로드</button>
										</td>
									</tr>
									<tr ng-if="View.FileList.length == 0">
										<td class="ct" colspan="4">데이터가 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnEdit" ng-click="View.New()">신규</button>
					<button class="btn btn_nv btnEdit" ng-click="View.Modified()">수정</button>
					<!-- <button class="btn btn-info btnView" ng-click="View.Report()">보고서</button> -->
				</div>
			</div>
			
			<div class="conts_box main_conts" id="tab2" style="display: none;">
			<!-- 그리드4  -->
				<div class="grid mt-2 table-responsive table_scroll">
					<table id="list4"></table>
				</div>
				<div id="listPager4"></div>
				<div id="list4_page"></div>
				
				<div class="box-scroll p-1 mt-2 mb-1 image_box_wrap border_color" style="height: 550px; border-radius: 5px;">
                    <div class="img_wrap p-1" ng-repeat="pic in pic_list | orderBy:'SEQ' ">
                        <div class="userPicArea border_color border_radius0 mb-2">
                            <img ng-if="pic.F_NUM > 0" ng-src="{{pic.F_PATH}}" onerror="this.src='/assets/images/no_image.png'" ng-click="showPic(pic)" >
                            <img ng-if="pic.F_NUM == null || pic.F_NUM == 0" src='/assets/images/no_image.png' ng-click="uploadPic(pic)" >
                        </div>
                        <div>
                            <div class="w100 Form100 mb-2">
                                <input readonly type="text" placeholder="내용을 입력하세요" ng-model="pic.F_DESC">
                            </div>
                        </div>
                    </div>
                </div>
				
				<!-- <div class="box-scroll p-1 mt-2 mb-1 image_box_wrap"
				               style="height: 445px; border: 1px solid #EEE; border-radius: 5px;" >
				   <div class="img_wrap p-1 ng-scope" 
				   ng-repeat=" pic in storePicture.List track by $index" >
				      <div class="userPicArea border_color border_radius0 mb-2" 
				      ng-click='storePicture.Edit($index)'>
				         <img ng-src="{{pic.F_PATH}}" onerror="this.src='/assets/images/no_image.png'" >
				      </div>
				      <div>
				         <div class="w100 Form100 mb-2">
				            <input type="text" placeholder="내용을 입력하세요" ng-model='pic.F_DESC'>
				         </div>
				      </div>
					<div class="userPicArea border_color border_radius0 mb-2">
                            <img ng-if="pic.F_NUM > 0" ng-src="{{pic.F_PATH}}" onerror="this.src='/assets/images/no_image.png'" ng-click="showPic(pic)" >
                            <img ng-if="pic.F_NUM == null || pic.F_NUM == 0" src='/assets/images/no_image.png' ng-click="uploadPic(pic)" >
				      </div>
				      <div>
				         <div class="w100 Form100 mb-2">
				            <input type="text" placeholder="내용을 입력하세요" ng-model='pic.F_DESC'>
				         </div>
				      </div>				      
				   </div>
				</div> -->
			</div>
		</div>
	</div>
</div>

 <div ng-include="'./view/operation/operation_popup2.html'" ng-show = "isOperation_popup" ng-controller = "New_And_ModifiedPopupController"></div>

 <div ng-include="'./view/operation/renovation_popup.html'"ng-show = "isRenovation_popup" ng-controller = "renovation_PopupController"></div>  