<section class="popupSection">
	<div class="popupWrap sys_image_popupWrap" style="height:24.5%;">
		<h3>
			사진등록
			<span class="popupClose"><i class="xi-close"ng-click="PicturePopup.Cancel()"></i></span>
		</h3>
		<div class="popup" style="height:85%;">
			<div class="popup_info">
				<div class="filebox bs3-primary preview-image">
              		<label for="input_file3" class="btn btn-block btn-primary uploadBtn">파일선택</label> 
              		<input class="upload-name" value="파일선택" disabled="disabled" style="width: 280px;" placeholder="사진을 등록하세요." ng-model = "PicturePopup.Info.F_TITLE">
              		 <input type="file" id="input_file3" class="upload-hidden"
              		 accept=.jpg,.jpeg,.png,.gif,.bmp'
              		 ngf-pattern="'.jpg,.jpeg,.png,.gif,.bmp'"
              		 ng-file-select="PicturePopup.OnFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
              		 > 
            	</div>
            	
				<p class="mb-0">등록 파일 종류 : JPG, JPEG, PNG, GIF, BMP</p>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<input  kr-input type="text" maxlength="200"  placeholder="내용을 입력하세요" 
							style="width: 100% !important;" ng-model = "PicturePopup.Info.F_DESC">
						</div>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-primary saveBtn"ng-click="PicturePopup.Confirm()">확인</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"ng-click="PicturePopup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>