<style>
.tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.tooltip-measure {
	opacity: 1;
	font-weight: bold;
}

.tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}

.tooltip-static:before {
	border-top-color: #ffcc33;
}
.gis_wrap .side_nav { height: 520px !important; overflow-y: auto;}
</style>


<div class="wh100">
	<div class="contain main_conts">
		<div class="conts_in height_auto m-0 border-0">
			<div class="d-flex">
				<div class="w_80">
					<div ng-include="'./view/gis/gis2.html'" style="height: 606px;"></div>
					<div class="d-flex" style="height: 190px; margin-top: 0.4rem;">
						<div class="w_80 border_color border_radius_10 mx-1 h_100" style="overflow-y: auto;">
							<p class="font-weight-bold pl-1 font_s_14">
								<i class="fas fa-angle-double-right"></i> 연계 데이터 오류 현황
							</p>
							<div class="grid">
								<table id="list"></table>
							</div>
							<div id="listPager"></div>
						</div>
						<div class="w_20 border_color border_radius_10">
							<p class="font-weight-bold pl-1 font_s_14">
								<i class="fas fa-angle-double-right"></i> 데이터 오류 현황
							</p>
							<div class="p-1" id="ChartError" style="height: 160px; overflow-y: auto;"></div>
						</div>
					</div>
				</div>
				<div class="w_20 m-1 pr-2" style="height: 800px;">
					<p class="font-weight-bold pl-1 py-1 font_s_14">
						<i class="fas fa-angle-double-right"></i> 통계 현황 - <span>기준일</span> <input type="text" class="datePicker float-none" ng-model="searchDate" id="searchDate" ng-change="yearChange()">
					</p>
					<div class="border_color border_radius_10 mb-1">
						<p class="font-weight-bold pl-1 pt-1 font_s_14">
							<i class="fas fa-angle-double-right"></i> <select class="float-none" ng-model="chartOption1" ng-change="changeOpt1(chartOption1)">
								<option value="/operation/getStatMinwon.json">민원</option>
								<option value="/operation/getStatRenovation.json">개보수 사업</option>
								<option value="/operation/getStatInspect.json">조사 및 탐사</option>
								<option value="/asset/getStatAsset.json">자산</option>
								<option value="/est/getStatIndirEst.json">상태평가</option>
								<option value="/est/getStatRemainLife.json">잔존수명</option>
								<option value="/est/getStatRisk.json">위험도 평가</option>
								<!-- <option value="/est/getStatLoS.json">서비스 수준</option> -->
								<option value="/est/getStatLcc.json">생애주기관리</option>
							</select> 현황
						</p>
						<div class="p-1" id="ChartStat1" style="height: 247px;"></div>
					</div>
					<div class="border_color border_radius_10 mb-1">
						<p class="font-weight-bold pl-1 pt-1 font_s_14">
							<i class="fas fa-angle-double-right"></i> <select class="float-none" ng-model="chartOption2" ng-change="changeOpt2(chartOption2)">
								<option value="/operation/getStatMinwon.json">민원</option>
								<option value="/operation/getStatRenovation.json">개보수 사업</option>
								<option value="/operation/getStatInspect.json">조사 및 탐사</option>
								<option value="/asset/getStatAsset.json">자산</option>
								<option value="/est/getStatIndirEst.json">상태평가</option>
								<option value="/est/getStatRemainLife.json">잔존수명</option>
								<option value="/est/getStatRisk.json">위험도 평가</option>
								<!-- <option value="/est/getStatLoS.json">서비스 수준</option> -->
								<option value="/est/getStatLcc.json">생애주기관리</option>
							</select> 현황
						</p>
						<div class="p-1" id="ChartStat2" style="height: 247px;"></div>
					</div>
					<div class="border_color border_radius_10" style="height: 190px;">
						<p class="font-weight-bold pl-1 font_s_14">
							<i class="fas fa-angle-double-right"></i> <span>{{baseYear}}</span>년 최척투자계획
						</p>
						<div class="p-1" id="ChartStat3" style="height: 160px; overflow-y: auto;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>