<section class="popupSection" id="dialog-AssetListPopup" style="display: none;">
	<div class="popupWrap property_popupWrap h-auto" style="width: 80%;">
		<h3>
			자산 목록 <span class="popupClose"><i ng-click="popupClose()" class="xi-close"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="table_pop" style="overflow-x: auto;">
				<p class="w_98 font-weight-bold text-right ng-binding my-2">조회 건수 :{{totalCountAssetListPopup}}건</p>
				<div class="grid table-responsive table_scroll" style="height:700px;">
					<table id="list_popupAssetList" class="table"></table>
				</div>
				<div id="list_popupAssetListPager" class="w_98"></div>
				<div id="list_popupAssetList_page" class="w_98"></div>
				<!-- 
						<div class="fixed-table-container h_100" style="width: ;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="5%">
										<col width="5%">
										<col width="20%">
										<col width="20%">
										<col width="20%">
										<col width="10%">
										<col width="10%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="5%"><div class="th-text"><i class="far fa-check-square"></i></div></th>
											<th width="5%"><div class="th-text">순번</div></th>
											<th width="20%"><div class="th-text">자산명</div></th>
											<th width="20%"><div class="th-text">자산코드</div></th>
											<th width="20%"><div class="th-text">시설/관망</div></th>
											<th width="20%"><div class="th-text">준공년도</div></th>
											<th width="20%"><div class="th-text">위치/장소</div></th>
											<th width="10%"><div class="th-text">내용연수</div></th>
											<th width="10%"><div class="th-text">초기비용</div></th>
											<th width="10%"><div class="th-text">감가상각비율(%)</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="asset in AssetList">
											<td>
												<input type="checkbox" ng-model="asset.IsSelected">
											</td>
											<td>{{$index+1}}</td>
											<td>{{asset.ASSET_NM}}</td>
											<td>{{asset.ASSET_CD}}</td>
											<td>{{asset.ASSET_FN_GUBN}}</td>
											<td>{{asset.ASSET_INSTL_YYYYMMDD}}</td>
											<td>{{asset.ASSET_ADDR}}</td>
											<td>{{asset.ASSET_LIFE_NUM}}</td>
											<td>{{asset.ASSET_INIT_COST}}</td>
											<td>{{asset.ASSET_REDUCE_RATIO}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					-->
				<div class="text-center m-2">
					<button class="btn btn_nv" ng-click="applySelected()">선택적용</button>
					<button class="btn btn-danger" ng-click="popupClose()">닫기</button>
				</div>
			</div>
		</div>
	</div>
</section>