<section class="popupSection" id="dialog-AssetItemPopup" style="display: none;" onMouseMove="moveWindow(event,'#assetInfoPopup')">
	<div class="popupWrap property_popupWrap" style="width: 45%;" id="assetInfoPopup">
		<h3>
			자산정보 <span class="popupClose"><i ng-click="popupClose()"
				class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info" style="overflow: hidden;">
				<div class="min_tab">
					<ul class="tabs tabs_2">
						<li>
							<button id="p1_tab1_btn" class="active" data-tab="p1_tab1"
								ng-click="showTab('p1_tab1',$event)">자산 정보</button>
						</li>
						<!-- 						<li>
							<button id="p1_tab2_btn" data-tab="tab2"
								ng-click="showTab('tab2',$event)">사진 정보</button>
						</li> -->
						<li>
							<button id="p1_tab3_btn" data-tab="p1_tab3"
								ng-click="showTab('p1_tab3',$event)">이력 정보</button>
						</li>
					</ul>
				</div>
				<div class="conts_box" id="p1_tab1">
					<div class="info_2">
						<div class="info_2_1">
							<div class="popup_title">
								<p>기본 항목 정보</p>
							</div>
							<div class="boxs box-scroll p-2 " style="height: 252px;">
								<div class="clear">
									<div class="half_formB fm_w50"
										ng-repeat="x in ItemList|filter :{ITEM_GB:1} ">
										<div class="form-group ">
											<label> <span>{{x.ITEM_NM}}{{(x.REQUIRED)?"*":""}}</span></label>
											<span ng-if="x.DATA_TYPE.indexOf('string') == 0 "> <input readonly class="reset" type='text' ng-model="x.ITEM_VAL"></span> 
											<span ng-if="x.DATA_TYPE.indexOf('readonly') == 0 "> <input readonly class="reset" type='text' ng-model="x.ITEM_VAL"></span>
											<span ng-if="x.DATA_TYPE.indexOf('number') == 0"> <input
												readonly type='number' style="text-align: right;"
												ng-model="x.ITEM_VAL">
											</span> <span ng-if="x.DATA_TYPE.indexOf('Num') == 0 "> <input
												readonly style="text-align: right;" ng-model="x.ITEM_VAL">
											</span> <span ng-if="x.DATA_TYPE.indexOf('date') == 0 "> <input
												type=text readonly  value="{{displayDateFormat(x.ITEM_VAL)}}">
											</span> 
											<span ng-if="x.DATA_TYPE=='select' "> 
											<select ng-if="!x.REQUIRED" disabled ng-model="x.ITEM_VAL"	ng-options=" opt for opt in x.REF_CODE_DATA ">
													<option value=""></option>
											</select> 
											<select ng-if="x.REQUIRED" disabled ng-model="x.ITEM_VAL"	ng-options=" opt for opt in x.REF_CODE_DATA ">
											</select>
											</span>
											<span ng-if="x.DATA_TYPE=='select2' "> 
											<select	ng-if="!x.REQUIRED" disabled ng-model="x.ITEM_VAL"	>
												<option value=""></option>
												<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
											</select> 
											<select ng-if="x.REQUIRED" disabled ng-model="x.ITEM_VAL"	>
												<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
											</select>
											</span>											
											<div ng-if="x.DATA_TYPE=='check'">
												<div ng-repeat="opt in x.REF_CODE_DATA"
													class="custom-control custom-checkbox {{($index%3==0)?'clear':''}}">
													<input type='checkbox' class="custom-control-input "
														disabled> <label class="custom-control-label">{{opt}}</label>
												</div>
											</div>
										</div>
									</div>
									<div class="half_formB fm_w50"
										ng-repeat="x in ItemList|filter :{ITEM_GB:3} ">
										<div class="form-group ">
											<label> <span>{{x.ITEM_NM}}{{(x.REQUIRED)?"*":""}}</span></label>
											<span> <input readonly type='text'
												ng-model="x.ITEM_VAL">
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="info_2_2">
							<div class="popup_title">
								<p>상태 항목 정보</p>
							</div>
							<div class="conts_box box-scroll p-2 mt-1" style="height: 173px;">
								<div class="search_twoForm">
									<div class="form-group">
										<div class="clear" ng-if="x.DATA_TYPE!='check2'"
											ng-repeat="x in ItemList|filter :{ITEM_GB:2} ">
											<div class="w100 Form100">
												<div class="form-group">
													<label> <span>{{x.ITEM_NM}}{{(x.REQUIRED)?"*":""}}</span></label>
													<span ng-if="x.DATA_TYPE.indexOf('string') == 0 "> <input
														readonly type='text' style="width: 79% !important;"
														ng-model="x.ITEM_VAL">
													</span> <span ng-if="x.DATA_TYPE.indexOf('number') == 0"> <input
														readonly type='number' style="text-align: right;"
														ng-model="x.ITEM_VAL">
													</span> <span ng-if="x.DATA_TYPE.indexOf('Num') == 0 "> <input
														readonly style="text-align: right;" ng-model="x.ITEM_VAL">
													</span> <span ng-if="x.DATA_TYPE.indexOf('date') == 0 "> <input
														type=text  readonly value="{{displayDateFormat(x.ITEM_VAL)}}">
													</span> 
													<span ng-if="x.DATA_TYPE=='select' "> 
													<select	disabled ng-options=" opt for opt in x.REF_CODE_DATA "	ng-model="x.ITEM_VAL"></select>
													</span>
													<span ng-if="x.DATA_TYPE=='select2' ">
													<select	disabled  ng-model="x.ITEM_VAL">
													<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
													</select> 
													</span>													
													<div ng-if="x.DATA_TYPE=='check'"
														style="display: inline-block; width: 79%;">
														<div ng-repeat="opt in x.REF_CODE_DATA"
															class="custom-control custom-checkbox ">
															<input type='checkbox' class="custom-control-input "
																ng-checked="x.CheckedItem[$index]"> <label
																class="custom-control-label">{{opt}}</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="clear">
											<div class="w100 Form100">
												<div class="form-group">
													<label> <span>비정상 사유</span></label>
													<div style="display: inline-block; width: 79%;">
														<div
															ng-repeat="x in ItemList|filter :{ITEM_GB:2}|filter:{DATA_TYPE:'check2'} "
															class="custom-control custom-checkbox ">
															<input type='checkbox' class="custom-control-input "
																ng-checked="x.CheckedItem[0]"> <label
																class="custom-control-label">{{x.ITEM_NM}}</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="conts_box main_conts w_100" id="p1_tab3"
					style="display: none;">
					<div class="popup_title">
						<p>운영관리 이력</p>
					</div>
					<div class="clear w_98" style="margin: 5px auto 0;">
						<div class="form " style="width: 80%; float: left;">

							<div class="inputRdo" style="padding-left: 0rem">
								<div class="custom-control custom-radio"
									ng-click="search_history_option(1)">
									<input type="radio" id="check1" class="custom-control-input" name="search_option" ng-checked="search_option==1"> 
										<label class="custom-control-label" style="width: 250px !important;">연도	
										<select id="p1_selectYear" ng-model="p1SearchYear" ng-change="setChangep1SearchYear(p1SearchYear)" style="width: 110px !important; float: right;">
										<option value="" >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==p1SearchYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
										</select>
										</label>
								</div>
								<div class="custom-control custom-radio"
									ng-click="search_history_option(2)">
									<input type="radio" id="p1_check2" class="custom-control-input"
										name="search_option" ng-checked="search_option==2"> <label
										class="custom-control-label">기간선택 &nbsp;

										<div style="float: right;">

											<input type=text id="p1_start_dt" readonly class="datePicker"
												style="width: 100px !important; float: left;"> <span
												style="float: left;">&nbsp;~&nbsp;</span> <input type=text
												id="p1_end_dt" readonly class="datePicker"
												style="width: 100px !important; float: left;">
										</div>

									</label>
								</div>
							</div>
						</div>
						<div class="form text-right" style="width: 20%; float: left;">
							<button type="button" class="btn btn_nv m-1"
								ng-click="search_history()">조회</button>
						</div>
					</div>
					<div class="clear w_98" style="margin: 5px auto 0; height: 600px;">
						<div class="grid">
							<table id="p1_list_history">
							</table>
						</div>
						<div id="p1_list_historyPager"></div>
						<div id="p1_list_history_page"></div>						
					</div>
				</div>

			</div>
			<div class="popupBtnWrap">
<!-- 				<button type="button" class="btn btn-block btn_sky"
					ng-click="newItem()">신규</button>
				<button type="button" class="btn btn-block btn_nv"
					ng-click="editItem()">수정</button> -->
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="popupClose()">닫기</button>
			</div>
		</div>
	</div>
</section>
