<section id="dialog-commonMessagePopup" class="popupSection" style="display:none;">
    <div class="popupWrap sys_alert_popupWrap">
        <h3>
            {{crudType}} 
            <span class="popupClose"><i class="xi-close" ng-click="popupClose()"></i></span>
        </h3>
        <div class="popup">
            <div class="popup_info">
                <p class="info_text">{{alertMessage}}</p>
            </div>
            <div class="popupBtnWrap">
                <button type="button" class="btn btn-block btn-primary saveBtn" ng-click="selectConfirm()">확인</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="popupClose()">취소</button>
            </div>
        </div>
    </div>
</section>

<!-- <section id="dialog-progressBar" class="popupSection" style="display:none;">
    <div class="popupWrap sys_alert_popupWrap">
        <h3>
            {{crudType}} 
        </h3>
        <div class="popup d-flex align-items-center px-2">
            	<p class="info_text text-center w100"></p>
            	<div class="progress">
            		<div id="progressbar" class="progress-bar progress-bar-striped">
            			{{alertMessage}}
            		</div>
            	</div>
            	<div class="progress w100" style="border-radius: 20px !important; height: 30px;">
            		<div class="progress-bar progress-bar-striped progress-bar-animated w100 h_100" role="progressbar" id="progressbar" style="width:;">
            			{{alertMessage}}
            		</div>
            		<div class="" role="progressbar" id="progressbar">
            			{{alertMessage}}
            		</div>
            	</div>
            <div class="popupBtnWrap px-1">
                <button type="button" class="btn btn-block btn-primary saveBtn" ng-click="selectConfirm()">확인</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="popupClose()">취소</button>
            </div>
        </div>
    </div>
</section> -->

<section id="dialog-progressBar" class="popupSection" style="display:none;">
    <div class="popupWrap sys_alert_popupWrap">
        <h3>
            {{crudType}} 
        </h3>
        <div class="popup">
            <div class="popup_info h_100 p-0 d-flex align-items-center">
            	<div class="w100 px-2">
	                <div id="progressbar" style="position: relative;">
	                	<p class="info_text w100 text-center text-dark" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">{{alertMessage}}</p>
	                </div>
            	</div>
            </div>
        </div>
    </div>
</section>