
<div class="modal_htbl modal_gis" id="dialog-gis" style="display: none;">
	<img src="../assets/images/full_map.png" alt="GIS 지도">
	<div>
		<div ng-repeat="item in MapItem" >
			<span ng-click="toggleSelect(item)" ng-style="{{mapLocation(item)}}" >{{item.name}}</span>
		</div>
	</div>
	<button ng-click="saveSelectMapItem()" class="btn_sky">설정</button>
	<span ng-repeat="s in SelectMapItem">{{s.name}},</span>
</div>

