
<div class="modal_htbl modal_gisFocus" id="dialog_commonImageFileDrag" title="이미지 업로드" style="display: none;">
	<div class="grid4_Pic fileDrop">
		<div class="thum thum02">
			<div class="thum_conts">
				<div class="thum_img">
					<div class="uptxt">
						<p>이미지를 드래그해서 넣어 주세요</p>
					</div>
					<i class="fas fa-cloud-upload-alt"></i>
				</div>
			</div>				
		</div>
	</div>		
<!-- 	<div class='fileDrop'> -->
<!-- 		<h4>이미지를 넣어 주세요</h4> -->
<!-- 	</div> -->
	
	<div class='uploadedList'></div> <!-- 썸네일 리스트 -->

	<p>
		<input kr-input type="text" id="fileData" name="fileData" class="form-control" placeholder="선택된 파일 없음" disabled="disabled">
	</p>
	
	<p>
		<input kr-input type="text"  id="fileDesc" name="fileDesc" placeholder="파일설명" class="form-control"  autocomplete="on" list="characters">
<!-- 		<input kr-input type="text"  name="fileDesc" placeholder="파일설명" class="form-control"  autocomplete="on" list="characters"> -->
		
<!-- 		<datalist id="characters"> -->
<!-- 			<option value="안전교육"> -->
<!-- 			<option value="안전회의"> -->
<!-- 			<option value="CCTV 조사"> -->
<!-- 			<option value="CDMA 상태확인" > -->
<!-- 			<option value="RTU 실측데이터 동일 비교" >		 -->
<!-- 			<option value="RTU 작동상태 확인" >		 -->
<!-- 		</datalist> -->
		 
		

		<input kr-input type="hidden" name="folderName" id="folderName">
		<input kr-input type="hidden" name="orgFileName" id="orgFileName">
		<input kr-input type="hidden" name="fileDataName" id="fileDataName"> <!-- 사진이 있는지 확인 -->
	
	</p>
	 
	<i>파일확장자 - JPG, JPEG, PNG, GIF</i>

	<script>

	$(".fileDrop").on("dragenter dragover", function(event){
		event.preventDefault();
	});

	$(".fileDrop").on("drop", function(event){
		event.preventDefault();
		
		var files= event.originalEvent.dataTransfer.files;
						
		var file =files[0];
		
		console.log("file :",file);
		console.log("file :",file.type );
		
		var fileNm = file.name;
		 
		if (fileNm != "") {
		 
		    var ext = fileNm.slice(fileNm.lastIndexOf(".") + 1).toLowerCase();
		 
		    if (!(ext == "gif" || ext == "jpg" || ext == "png" ||ext=="jpeg")) {
		        alert("이미지파일 (.jpg, .png, .gif ,.jpeg ) 만 업로드 가능합니다.");
		        return false;
		    }
		 
		}
		
		var existFile=$(commonUtil.imageFileDrag.el.popupId).find("input[name='orgFileName']").val();
		//console.log("129번 줄 a :",existFile);
		
		if ( existFile != "" ) {
				 alert("이미 이미지 파일이 존재 합니다.");
		        return false; 
		}
		
		
		 $(commonUtil.imageFileDrag.el.popupId + " input[name='fileData']").val(file.name); //이름 세팅
							
		var formData=new FormData();
		 
		//.find("input[name='folderName']").val(folderName);
		
		folderName= $(commonUtil.imageFileDrag.el.popupId + " input[name='folderName']").val();
		
		formData.append("file",file) ;		
		console.log("folderName : :",folderName);
		var condition = {};
		condition.folderName = folderName;
		
		$.ajax({
			type: "POST", 
			url: '/common/imageDragInfo.json',
			async: false,
			data: condition,
			dataType: "json",
			success: function(data) {
				if(data.errName) {
					jAlert(data.errName + ":" + data.errMessage);
				}else {
					if(! commonUtil.isEmpty(data)) {
	        		}else {
	        			jAlert("파일업로드에 문제가 발생하였습니다.");			        			
	        		}							
				}
			},
			error: function(XMLHttpRequest,textStatus,errorThrown) {
				jAlert("[Error] 이미지 저장 실패: "+textStatus);
			}
		});
		

		$.ajax({
			  url: '/common/uploadAjax',  //에러 뜰 경우  1.bean 설정 ,2. data:맞게 보냈는지 확인
			  data: formData,
			  dataType:'text',
			  processData: false,
			  contentType: false,
			  type: 'POST',
			  success: function(data){
				 var str="";
				 console.log('data는???  :',data);			

				
				 var thumbnail = data.split("/");
				 thumbnail=thumbnail[thumbnail.length-1]
				 var orgFileName = data.split("thumbnail_");
				 orgFileName=orgFileName[orgFileName.length-1]
				 
				 $(commonUtil.imageFileDrag.el.popupId).find("input[name='orgFileName']").val(orgFileName);//저장폴더 세팅 (불러온 js에 정의 되어있음 )
							 
				 if(checkImageType(data)){     //밑에 리스트 출력
					 str ="<div><a href='common/displayFile?fileName="+getImageLink(data)+"'>"
						+"<a href='javascript:'>"   //미완.
						+"<img src='common/displayFile?fileName="+data+"'/>"
								 
						 +"</a><small data-src="+data+">X<a></div>";

				 }else{ 
					 str ="<div>"
						 +data+
						 +"</div>";  //이미지가 아닐경우
					 console.log("이미지가 아니다.");
				 }
				 
				 $(".uploadedList").append(str);   //이미지 리스트 
			  }
			});
		
		$(".uploadedList").on("click", "small", function(event){
				
				 var that = $(this);
			
			   $.ajax({
				   url:'/common/deleteFile',
				   type:"POST",
				   data: {fileName:$(this).attr("data-src")},
				   dataType:"text",
				   success:function(result){
					   if(result == 'deleted'){
						   that.parent("div").remove();
						   $(commonUtil.imageFileDrag.el.popupId + " input[name='fileData']").val(""); //이름 세팅
						   $(commonUtil.imageFileDrag.el.popupId).find("input[name='orgFileName']").val("");

					   }
				   }
			   });
		});
		
			
		function checkImageType(fileName){  //파일의 확장자가 존재하는지 검사   이미지 체크
				
				var pattern = /jpg|gif|png|jpeg/i;   // /i 의 의미는 대소문자 구별 없음.
				
				return fileName.match(pattern);
				
			}
		function getOriginalName(fileName){	

			if(checkImageType(fileName)){
				return;
			}
			
			var idx = fileName.indexOf("_") + 1 ;
			return fileName.substr(idx);
			
		}

		function getImageLink(fileName){
			
			if(!checkImageType(fileName)){
				return;
			}
			var front = fileName.substr(0,12);
			var end = fileName.substr(14);
			
			return front + end;
			
		}
		
		
	});
	
	</script>
	
	
</div>