<!--사진대지 이미지 뷰어 내용-->
<div  id="dialog_commonImagPopup" title="이미지 뷰어" style="display: none;">
	<div class="pic_upload">
		<img ng-src="{{showPicture.URL}}" alt="사진" onclick="showMaximize(this)">
	</div>
	<div class="thumnail_txt">
		<div class="thum_txt thum_txt4">
			<span>{{showPicture.DESC}}</span>
		</div>
	</div>
	<div class="pic_upload">
		<div class="thum_txt fileUpTxt text-center">
		<button  class="btn btn_nv btnEdit" ng-click="updatePic()" >수정</button>
		<button class="btn btn-danger btnEdit" ng-click="deletePic()" >삭제</button>
		</div>
	</div>
</div>

<!--사진대지2 이미지 업로드 모달창 내용-->
<div class="modal_htbl modal_gisFocus" id="dialog_commonImageFileDrag2" title="이미지 업로드" style="display: none;" ng-controller="picturePopupController as pic">
	<div class="pic_upload">
		<div class="grid4_Pic">
			<div class="thum thum01 thum100">
				<div class="thum_conts no_bd">
					<div class="thum_img" ng-hide="picLoaded">
						<label for="ex_filename1" class="pic_upload">
							<div class="uptxt">
								<div class="pic_fileTxt">
									<i class="fas fa-cloud-upload-alt"></i>
									<span class="pic_text">사진을 업로드해주세요</span>
									<input type="file" id="ex_filename1" style="display:none;" ng-model="file" ng-file-select="onFileSelect1($files, 'jpg|jpeg|png|gif|bmp')" accept="image/*">
								</div>
							</div>
						</label>
					</div>
					<div class="thumnail">
						<img ng-show="picLoaded" ng-src="{{previewImg0}}" alt="사진">
					</div>
					<div class="thumnail_txt">
						<div class="thum_txt thum_txt1">
							<p>{{(file!=null)?file[0].name:'사진제목.jpg'}}</p>
						</div>
						<div class="thum_txt thum_txt2">
							<input kr-input type=text id="picture_desc" placeholder="파일설명" ng-model="picture_desc" maxlength="1000">
						</div>
						<div class="thum_txt thum_txt3">
							<p>파일 확장자 - JPG, JPEG, PNG, GIF, BMP</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end ngIf: pic.F_NUM == 0 -->
		</div>
		<div class="thum_txt fileUpTxt text-center">
			<button class="btn btn_nv btnEdit" ng-click="savePicture()">확인</button>
			<button class="btn btn-danger" ng-click="closePicture()">취소</button>
		</div>
	</div>
</div>
