<section class="popupSection"  id="dialog-registAssetItemPopup" style="display:none;" onMouseMove="moveWindow(event,'#assetRegistPopup')">
	<div class="popupWrap property_popupWrap h_80 w_815px" id="assetRegistPopup">
		<h3>
			{{(saveMode == 'new')?'자산등록정보신규':'자산등록정보수정'}} <span class="popupClose GIS-registerAssetItemPopupClose"><i ng-click="popupClose()" class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info" style="overflow: hidden;">
				<div class="info_1">
					<!-- <button ng-disabled="asset_info.ASSET_SID > 0" type="button" class="btn btn-block btn-primary" ng-click="showPopupLevelPath()">자산경로선택</button> -->
					<button type="button" class="btn btn-block btn-primary" ng-click="showPopupLevelPath()" ng-disabled="saveMode==''">자산경로선택</button>
					<textarea readonly >{{level_path_nm}}</textarea>
				</div>
				<div class="info_2">
					<div class="btn_wrap" id="gisLocationInfo" style="display:none;">
						<!-- <button type="button" class="btn btn-block btn-primary" ng-click="showSelectGisPopup()">자산위치정보</button> -->
						<button type="button" class="btn btn-block btn-primary" ng-click="showGisPopup()" style="float:left;">자산위치정보</button>
						<div id="dispLocationInfo" style="padding-left:5px;font-size:9pt;width:650px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;"></div>
						<input type=hidden id="dispLocationGid" value="">
						<!-- {{asset_info.LAYER}} {{asset_info.FTR_IDN}}  -->
					</div>
					<div class="info_2_1">
						<div class="popup_title">
							<p>기본 항목 정보</p>
						</div>
						<div class="boxs box-scroll p-2 " style="height: 252px;">
							<div class="clear">
								<!-- <div class="half_formB fm_w50" >
                                    <div class="form-group">
                                        <label> <span>자산명</span></label>
                                        <span >
                                            <input id="ASSET_NM"  type='text' ng-model="asset_info.ASSET_NM">
                                        </span>
                                    </div>
                                </div>
                                <div class="half_formB fm_w50" >
                                    <div class="form-group">
                                        <label> <span>자산코드</span></label>
                                        <span >
                                            <input id="ASSET_CD"  type='text' ng-model="asset_info.ASSET_CD" readonly>
                                        </span>
                                    </div>
                                </div>		 -->
								<div class="half_formB fm_w50" ng-repeat="x in ItemList|filter :{ITEM_GB:1} ">
									<div class="form-group">
										<label> <span>{{x.ITEM_NM}} {{(x.REQUIRED)?"*":""}}</span></label>
										<span ng-if="x.DATA_TYPE.indexOf('string') == 0 ">
												<input ng-disabled="x.ITEM_CD=='10001'" style="text-align: right" id="Item_{{x.ITEM_CD}}" class="reset" type='text' ng-model="x.ITEM_VAL" maxlength="{{x.maxLen}}" placeholder="{{x.ITEM_NM}} - 최대({{x.maxLen}}자)">
											</span>
										<span ng-if="x.DATA_TYPE.indexOf('readonly') == 0 ">
												<input readonly id="Item_{{x.ITEM_CD}}" class="reset" type='text' ng-model="x.ITEM_VAL" disabled="disabled" >
											</span>
										<span ng-if="x.DATA_TYPE.indexOf('number') == 0">	 <!--튜브직경-->
												<input numbers-only id="Item_{{x.ITEM_CD}}" style = "text-align:right;" type='text' ng-model="x.ITEM_VAL" maxlength="{{x.maxLen}}" placeholder="정수 최대({{x.maxLen}}자) {{x.ITEM_UNIT}}">
											</span>
										<span ng-if="x.DATA_TYPE.indexOf('Num') == 0 ">		<!--최기투자비-->
												<input numbers-only id="Item_{{x.ITEM_CD}}" style = "text-align:right;" type='text' ng-model="x.ITEM_VAL" maxlength="{{x.maxLen}}" placeholder="정수 최대({{x.maxLen}}자) {{x.ITEM_UNIT}}">
											</span>
										<span ng-if="x.DATA_TYPE.indexOf('date') == 0 ">
												<input ng-init="x.ITEM_VAL = displayDateFormat(x.ITEM_VAL)" type=text id="Item_{{x.ITEM_CD}}"  class="datePicker" ng-model="x.ITEM_VAL">
											</span>
										<span ng-if="x.DATA_TYPE=='select' ">
												<select ng-if="!x.REQUIRED" ng-options=" opt for opt in x.REF_CODE_DATA " ng-model="x.ITEM_VAL">
													<option hidden value="">{{firstSelect.firstSelect}}</option>
												</select>
												<select ng-if="x.REQUIRED" ng-options=" opt for opt in x.REF_CODE_DATA " ng-model="x.ITEM_VAL">
													<option hidden value="">{{firstSelect.firstSelect}}</option>
												</select>
											</span>
										<span ng-if="x.DATA_TYPE=='select2' ">
												<select ng-if="!x.REQUIRED"  ng-model="x.ITEM_VAL">
												<option hidden value="">{{firstSelect.firstSelect}}</option>
												<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
												</select>
												<select ng-if="x.REQUIRED"  ng-model="x.ITEM_VAL">
												<option hidden value="">{{firstSelect.firstSelect}}</option>
												<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
												</select>
											</span>
										<div ng-if="x.DATA_TYPE=='check'"  >
											<div ng-repeat="opt in x.REF_CODE_DATA" class="custom-control custom-checkbox {{($index%2==0)?'clear':''}}">
												<input type='checkbox' class="custom-control-input " name="Item_{{x.ITEM_CD}}" id="Item_{{x.ITEM_CD}}_{{$index}}" >
												<label class="custom-control-label" for="Item_{{x.ITEM_CD}}_{{$index}}">{{opt}}</label>
											</div>
										</div>
									</div>
								</div>
								<div class="half_formB fm_w50" ng-repeat="x in ItemList|filter :{ITEM_GB:3} ">
									<div class="form-group">
										<label> <span>{{x.ITEM_NM}}{{(x.REQUIRED)?"*":""}}</span></label>
										<span >
												<input class="reset" type='text' ng-model="x.ITEM_VAL">
											</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="info_2_2">
						<div class="popup_title">
							<p>상태 항목 정보</p>
						</div>
						<div class="conts_box box-scroll p-2 mt-1" style="height: 173px;">
							<div class="search_twoForm">
								<div class="form-group">
									<div class="clear" ng-if="x.DATA_TYPE!='check2'" ng-repeat="x in ItemList|filter :{ITEM_GB:2} ">
										<div class="w100 Form100" >
											<div class="form-group">
												<label> <span>{{x.ITEM_NM}}{{(x.REQUIRED)?"*":""}}</span></label>
												<span ng-if="x.DATA_TYPE.indexOf('string') == 0 ">
														<input id="Item_{{x.ITEM_CD}}" class="reset" type='text' ng-model="x.ITEM_VAL" maxlength="{{x.maxLen}}">
													</span>
												<span ng-if="x.DATA_TYPE.indexOf('Num') == 0 || x.DATA_TYPE.indexOf('number') == 0">
														<input id="Item_{{x.ITEM_CD}}" class="reset" type='number' ng-model="x.ITEM_VAL" maxlength="{{x.maxLen}}">
													</span>
												<span ng-if="x.DATA_TYPE.indexOf('date') == 0 " >
														<input type=text readonly id="Item_{{x.ITEM_CD}}"  class="datePicker" ng-model="x.ITEM_VAL" >
													</span>
												<span ng-if="x.DATA_TYPE=='select' ">
														<select ng-if="!x.REQUIRED" ng-options=" opt for opt in x.REF_CODE_DATA " ng-model="x.ITEM_VAL">
														<option hidden value="">{{firstSelect.firstSelect}}</option>
														</select>
														<select ng-if="x.REQUIRED" ng-options=" opt for opt in x.REF_CODE_DATA " ng-model="x.ITEM_VAL">
														<option hidden value="">{{firstSelect.firstSelect}}</option>
														</select>
													</span>
												<span ng-if="x.DATA_TYPE=='select2' ">
														<select ng-if="!x.REQUIRED"  ng-model="x.ITEM_VAL">
														<option hidden value="">{{firstSelect.firstSelect}}</option>
														<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
														</select>
														<select ng-if="x.REQUIRED"  ng-model="x.ITEM_VAL">
														<option hidden value="">{{firstSelect.firstSelect}}</option>
														<option ng-repeat=" opt in x.REF_CODE_DATA " ng-selected="x.ITEM_VAL==opt.C_SCODE" value="{{opt.C_SCODE}}">{{opt.C_NAME}}</option>
														</select>
													</span>
												<div ng-if="x.DATA_TYPE=='check'" style="display:inline-block; width:79%;">
													<div ng-repeat="opt in x.REF_CODE_DATA" class="custom-control custom-checkbox">
														<input type='checkbox' class="custom-control-input " name="Item_{{x.ITEM_CD}}" id="Item_{{x.ITEM_CD}}_{{$index}}" ng-model="x.CheckedItem[$index]">
														<label class="custom-control-label" for="Item_{{x.ITEM_CD}}_{{$index}}">{{opt}}</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="w100 Form100">
											<div class="form-group">
												<label> <span>비정상 사유</span></label>
												<div style="display:inline-block; width: 79%;">
													<div ng-repeat="x in ItemList|filter :{ITEM_GB:2}|filter:{DATA_TYPE:'check2'} "
														 class="custom-control custom-checkbox ">
														<input type='checkbox' class="custom-control-input "
															   id="Item_{{x.ITEM_CD}}_0"
															   ng-checked="x.CheckedItem[0]"
															   ng-model="x.CheckedItem[0]"
														>
														<label class="custom-control-label" for="Item_{{x.ITEM_CD}}_0">{{x.ITEM_NM}}</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveConfirm()" >저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn GIS-registerAssetItemPopupClose" ng-click="popupClose()">닫기</button>
			</div>
		</div>
	</div>
</section>
