<style>
	.checkTreeNode1 {
		position: relative;
		left: -42px;
		top: -24px;
		width: 15px;
		height: 15px;
	}

	.checkTreeNode {
		position: relative;
		left: -26px;
		top: -24px;
		width: 15px;
		height: 15px;
	}
</style>
<section class="popupSection" onMouseMove="moveWindow(event,'#assetBaseInfoPopup')">
		<div class="popupWrap property_popupWrap property2_popupWrap" style="width: 35%;" id="assetBaseInfoPopup">
			<h3>
				자산 기준정보 선택
				<span class="popupClose" ng-click="popupClose()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info">
					<div class="side_nav">
						<div class="side_nav_info">
							<section id="blockPanel-wrapper" class="blockPanel-wrapper">
										<article class="blockPanel" id="Id_assetBaseInfo">
									
										</article>
									</section>
								</div>
							</div>
				</div>
				<div class="popupBtnWrap mb-2 mt-2">
					<button type="button" class="btn btn-block btn-success saveBtn" ng-click="selectConfirm()">확인</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="popupClose()">취소</button>
				</div>
			</div>
		</div>
	</section>