<div class="modal_htbl modal_MngCh" id="dialog_commonUserList" title="담당자 선택 팝업창"  style="display:none;">
	<div class="clear">
		<div class="half_tform fm_w50">
		    <div class="form-group btn_form">
		      	<label for="" class="w12_5 modalLabel">직원선택</label>
		    	<input kr-input type="text" id="searchUserName" ng-model="searchUserName">
				<button name="btnSearch" class="btn_sky btnView">조회</button> 		
		    </div>						    
		</div>										
	</div>
	<!--short table-->
	<div class="grid scrollY">
		<table>
			<colgroup>
				<col width="10%">
				<col width="30%">
				<col width="30%">
				<col width="30%">
			</colgroup>
			<thead>
				<tr class="ui-jqgrid-labels">
					<th>선택</th>
					<th>소속</th>
					<th>직급</th>
					<th>성명</th>
				</tr>
			</thead>
			<tbody >
				<tr dir-paginate="user in storeEmployeeList | filter:{E_NAME: searchUserName} | itemsPerPage:6" pagination-id="userList" ng-click="selectUser1($index)">
					<td class="ct">
						<div class="custom-control custom-radio">       
		            	<input kr-input type="radio" class="custom-control-input" name="selectUserID" id="radio{{$index}}" value="{{user.E_ID}}">
		            	<label class="custom-control-label" for="radio{{$index}}" ></label>
		            	</div>					
					</td>
					<td class="ct">{{user.E_AFF}}</td>				
					<td class="ct">{{UserPOS(user.E_POS)}}</td>
					<td class="ct">{{user.E_NAME}}</td>
				</tr>
			</tbody>
		</table>			
		<!--<table id="modalMng1" class="radioTbl" ></table>
		<div id="modalMngPager1"></div> -->	
	</div>
	<div class="paging">
		<dir-pagination-controls pagination-id="userList" max-size="10" direction-links="true" boundary-links="true"  > 
		</dir-pagination-controls>
	</div>							
	<!--short table-->
	<div class="clear">									
		<div class="search_box inputArea_R">				
			<div class="float_L">
				<button id="btnCancle" class="btn_sky" ng-click="canclePop()">취소</button>
		  		<button id="btnChoice" class="btn_nv btnEdit" ng-click="selectUser()">선택</button> 	
		  	</div> 					  						  
		</div>								
	</div>
</div>