<div class="clear">
	<div class="half_tform fm_w17 half">
		<div class="form-group btn_form">
			<label for="" class="ws modalLabel">장비검색</label> <input kr-input type="text" ng-model="searchEquipName">
			<button name="btnSearch" class="btn_sky btnView">조회</button>
		</div>
	</div>
</div>
<div class="half">
	<!-- 헤더고정테이블 test -->
	<div class="fixed-table-container modalChkLong">
	    <div class="header-bg">
	    	<div class="modalChkTotal">
	    		<div class="custom-control custom-checkbox">
					<input kr-input type="checkbox" class="custom-control-input check_all" id="check_all" ng-click="check_all('check_all')" >						
					<label class="custom-control-label" for="check_all"></label>												
				</div>
	    	</div>
	    </div>
	    <div class="table-wrapper">					        					     
	        <table class="fixedTbl" id="FacilityList">
	        	<colgroup>  
				  	<col width="10%">
					<col width="45%">
					<col width="45%">
				</colgroup>	
	            <thead>
	                <tr class="ui-jqgrid-labels">							                 
	                    <th width="10%">
	                    	<!-- <div class="custom-control custom-checkbox">
								<input kr-input type="checkbox" class="custom-control-input check_all" id="check_all" ng-click="check_all('check_all')" >						
								<label class="custom-control-label" for="check_all"></label>												
							</div> -->
						</th>
						<th width="40%"><div class="th-text">장비명</div></th>
						<th width="40%"><div class="th-text">모델명</div></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="eq in storePopupEquipmentList | filter : {EM_NAME: searchEquipName}" ng-click="eq.EM_check=!eq.EM_check">
						<td class="ct">
							<div class="custom-control custom-checkbox">
								<input kr-input type="checkbox" class="custom-control-input chk" id="check_1_{{$index}}" ng-model="eq.EM_check">
								<label class="custom-control-label" for="check_1_{{$index}}"></label>												
							</div>
						</td>
						<td class="ct">{{eq.EM_NAME}}</td>
						<td class="ct">{{eq.EM_MODEL}}</td>
					</tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	<!-- 헤더고정테이블 test -->
</div>
<div class="verti_btnBox">
	<div class="verti_top verti_half">
		<div class="verti_md">
			<button class="btnEdit" ng-click="addSelectedEquipList()">
				<span>등록</span>
			</button>
		</div>
	</div>
	<div class="verti_bottom verti_half">
		<div class="verti_md">
			<button class="btnEdit" ng-click="removeSelectedEquipList()">
				<span>삭제</span>
			</button>
		</div>
	</div>
</div>
<div class="grid addInput">
	<!-- 헤더고정테이블 test -->
	<div class="fixed-table-container modalChkLong">
	    <div class="header-bg">
	    	<div class="modalChkTotal">
	    		<div class="custom-control custom-checkbox">
					<input kr-input type="checkbox" class="custom-control-input check_all" id="check_all2" ng-click="check_all2('check_all2')">						
					<label class="custom-control-label" for="check_all2"></label>												
				</div>
	    	</div>
	    </div>
	    <div class="table-wrapper">					        					     
	        <table class="fixedTbl chkTbl" id="modalEqR">
	        	<colgroup>  
				  	<col width="10%">
					<col width="45%">
					<col width="45%">
				</colgroup>	
	            <thead>
	                <tr class="ui-jqgrid-labels">							                 
	                    <th width="10%">
	                    	<!-- <div class="custom-control custom-checkbox">
								<input kr-input type="checkbox" class="custom-control-input check_all" id="check_all2" ng-click="check_all2('check_all2')">						
								<label class="custom-control-label" for="check_all2"></label>												
							</div> -->
						</th>
						<th width="40%"><div class="th-text">장비명</div></th>
						<th width="40%"><div class="th-text">모델명</div></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="s_eq in storePopupSelectedEquipmentList ">
						<td class="ct">
							<div class="custom-control custom-checkbox">						
								<input kr-input type="checkbox" class="custom-control-input chk2" id="check_2_{{$index}}" ng-model="s_eq.EM_check">
								<label class="custom-control-label" for="check_2_{{$index}}"></label>						
							</div>										
						</td>
						<td class="ct">{{s_eq.EM_NAME}}</td>
						<td class="ct">{{s_eq.EM_MODEL}}</td>
					</tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	<!-- 헤더고정테이블 test -->
</div>
<!-- <div class="grid addInput">
	<table id="modalEqR" class="chkTbl">
		<thead>
			<th>
				<div class="custom-control custom-checkbox">
					<input kr-input type="checkbox" class="custom-control-input check_all" id="check_all2" ng-click="check_all2('check_all2')">						
					<label class="custom-control-label" for="check_all2"></label>												
				</div>
			</th>
			<th>장비명</th>
			<th>모델명</th>
		</thead>
		<tbody>
			<tr ng-repeat="s_eq in storePopupSelectedEquipmentList ">
				<td class="ct">
					<div class="custom-control custom-checkbox">						
						<input kr-input type="checkbox" class="custom-control-input chk2" id="check_2_{{$index}}" ng-model="s_eq.EM_check">
						<label class="custom-control-label" for="check_2_{{$index}}"></label>						
					</div>										
				</td>
				<td class="ct">{{s_eq.EM_NAME}}</td>
				<td class="ct">{{s_eq.EM_MODEL}}</td>
			</tr>
		</tbody>
	</table>
</div> -->
<div class="clear">
	<div class="search_box inputArea_R">
		<div class="float_L">
			<button id="btnCancle3" class="btn_sky" ng-click="closeEquipPopup()">취소</button>
			<button id="btnSave" class="btn_nv btnEdit" ng-click="saveEquipList()">저장</button>
		</div>
	</div>
</div>