 
<section class="popupSection" id="myPasswordChangePopup" style="display: none;" onmousemove="moveWindow(event,'#myPasswordChangePopup1')">
	<div class="popupWrap sys_password_popupWrap" id="myPasswordChangePopup1" style="height:305px;">
		<h3>
			비밀번호 설정
			<span class="popupClose"><i class="xi-close" ng-click = "passCancel('#myPasswordChangePopup')"></i></span>
		</h3>
		<div class="popup">
			<div class="password_wrap">
				<div style="font-size:9pt;padding-top:10px;">
					<p>동일한 문자 또는 숫자를 연속해서 3개 이상 사용할 수 없습니다.</p>
					<p>영문, 숫자, 특수문자 2가지 이상 6~15자로 입력해주세요.</p>				
				</div>			
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>기존비밀번호</span></label> 
							<input  type="password" ng-model="UserInfo2.E_PW" maxlength="15" >
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>신규비밀번호</span></label> 
							<input  type="password" ng-model="UserInfo2.E_PASS_NEW" maxlength="15" placeholder="영문, 숫자, 특수문자 2가지 이상 6~15자로 입력해주세요." >
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>비밀번호확인</span></label> 
							<input  type="password" ng-model="UserInfo2.E_PASS_CONFIRM" maxlength="15" placeholder="영문, 숫자, 특수문자 2가지 이상 6~15자로 입력해주세요.">
						</div>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-primary saveBtn"  ng-click = "passCheck('#myPasswordChangePopup')">확인</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click = "passCancel('#myPasswordChangePopup')">취소</button>
			</div>
		</div>
	</div>
</section>
