<!-- 왼쪽영역 -->
<div class="contain conts conts_half left">
	<div class="conts_in left_tab">
		<div class="conts_tit">
			<div class="main_conts">
				<p><i class="fas fa-check-circle"></i>도서및 성과품 관리 목록</p>
			</div>
		</div>
		<div class="search_box main_conts">
			<div class="clear tits">
				<div class="search_twoForm">
					<div class="form-group">
						<label for=""><span>연도</span></label>
						<select class="" ng-model="selectedYear">
							<option class="ng-binding ng-scope" ng-repeat=" year in storeYear " value="{{year}}">{{year}}년</option>
						</select>
						<button id="select2" class="btn_nv btnView mg_R10" ng-click="searchFcResultList()">조회</button>
					</div>
				</div>
				<div class="float_R">
					<button id="newEnroll" class="btn_sky btnEdit" ng-click="newFcResultInfo()">신규등록</button>
				</div>
				<div class="search_twoForm min_searchForm">
					<div class="min_search">
						<button class="minSearchBtn btnView" ng-click="searchFcResultList()"><i class="fas fa-search"></i></button>
						<input kr-input type="text" id="searchText" placeholder="목록검색">
					</div>
				</div>
			</div>
		</div>
		<!--유량조사 작업목록 테이블--->
		<div class="grid workList">
			<table id="workList"></table>
		</div>
		<div id="workPager"></div>
		<div id="workList_page"></div>
		<!--유량조사 작업목록 테이블--->
	</div>
</div>
<!-- 왼쪽영역 -->
<!-- 오른쪽영역 -->
<div class="contain conts conts_half right">
	<div class="conts_in">
		<div class="min_tab">
			<ul class="tabs">
				<li>
					<button class="active" data-tab="tab1">자료등록</button>
				</li>
			</ul>
		</div>
		<div class="conts_box main_conts" id="tab1">
			<div class="first_box data_twoForm">
				<div class="main_conts">
					<div class="boxs">
						<div class="clear">
							<div class="w100 Form100">
								<div class="form-group">
									<label for=""><span>관리번호</span></label>
									<div class="inputFix">
										<p class="IdNum" ng-bind="ResultInfo.JNUM"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="w100 Form100">
								<div class="form-group">
									<label for=""><span>도서 및 성과품명 *</span></label> <input kr-input type="text" id="JM_NAME" ng-model="ResultInfo.JM_NAME">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="w100 Form100">
								<div class="form-group">
									<label for=""><span>작성자 *</span></label> <input kr-input type="text" id="JM_JUNAME" ng-model="ResultInfo.JM_JUNAME">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>등록일자 *</span></label> <input kr-input type="text" id="JM_SDATE" class="datePickerToday" ng-readonly="true" ng-model="ResultInfo.JM_SDATE">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="half_tform fm_w50">
								<div class="form-group btn_form">
									<label for="" class="w40"><span>담당자 *</span></label> <input kr-input type="text" readonly ng-model="ResultInfo.JM_MEID_TEXT">
									<button name="btnMngChoice" class="btn_sky btnView" ng-click="selectManager('selectUserID')">선택</button>
								</div>
							</div>
						</div>
						<!-- 유량조사 데이터 업로드 -->
						<div class="clear" ng-hide="IsNewRecord">
							<div class="w100 Form100">
								<div class="form-group longLabelForm">
									<label class="LongUptitle" for=""><p><span class="ct"><i class="fas fa-file-export"></i> 자료 등록</span></p></label>
									<label class="fileUpBox2" for="ex_filename_2">
										<table>
											<tr>
												<td class="lt">
													<span>{{file[0] != null ? file[0].name : '파일을 선택해주세요.'}}</span>
													<!-- <span ng-show="!fileSelected">파일을 선택해주세요.</span> <span ng-show="fileSelected">{{file[0] != null ? file[0].name : '파일을 선택해주세요.'}}</span> -->
												</td>
											</tr>
										</table>
									</label> <input kr-input type="file" id="ex_filename_2" style="display: none;" ng-model="file" ng-file-select="onFileSelect($files, 'xls|xlsx|pdf|hwp')" ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" accept=".xls,.xlsx,.pdf,.hwp">
									<div class="float_R">
										<button id="rowAdd" class="btn_sky btnEdit" ng-click="fileUpload(2)">업로드</button>
									</div>
								</div>
							</div>
						</div>
						<!-- 유량조사 데이터 업로드 -->
						<div class="boxs" ng-hide="IsNewRecord">
							<!--헤더고정 테이블-->
							<div class="fixed-table-container fixTableL">
								<div class="header-bg"></div>
								<div class="table-wrapper">
									<table class="fixedTbl" ng-class="{noData : storeFileList.length == 0}" id="FileList">
										<colgroup>
											<col width="10%">
											<col width="55%">
											<col width="15%">
											<col width="15%">
											<col width="10%">
										</colgroup>
										<thead>
											<tr class="ui-jqgrid-labels">
												<th style="width: 9.5%;" class="ct">
													<div class="th-text">순번</div>
												</th>
												<th style="width: 52.5%;" class="ct">
													<div class="th-text">자료명</div>
												</th>
												<th style="width: 14.5%;" class="ct">
													<div class="th-text">다운로드</div>
												</th>
												<th style="width: 14.5%;" class="ct">
													<div class="th-text">미리보기</div>
												</th>
												<th style="width: 9.5%;" class="ct">
													<div class="th-text">삭제</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="file in storeFileList">
												<td class="ct">{{file.RNUM}}</td>
												<td class="lt">
													<span>{{file.F_TITLE}}</span>
												</td>
												<td class="ct">
													<button class="btn_nv download btnView" ng-click="getCmFileDown(file)">다운로드</button>
												</td>
												<td class="ct">
													<a href="../assets/lib/pdfjs-2.0.943-dist/web/viewer.html?file={{file.F_PATH}}" target="_blank">
														<button class="btn_sky btnView" ng-click="isPdf(file.F_NAME,$event)">미리보기</button>
													</a>
												</td>
												<td class="ct">
													<button class="btn_x delete btnEdit" ng-click="deleteFile(file,$event)">X</button>
												</td>
											</tr>
											<tr ng-if="storeFileList.length == 0">
												<td class="ct" colspan="5">등록된 파일이 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!--헤더고정 테이블-->
						</div>
					</div>
					<div class="clear mg_TB10">
						<div class="search_box inputArea_R">
							<div class="float_L">
								<button id="delete" class="btn_sky btnEdit" ng-hide="IsNewRecord" ng-click="deleteResult()">삭제</button>
								<button id="save" class="btn_nv btnEdit" ng-click="saveResult()">저장</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 오른쪽영역 -->
