<div class="conts">
	<!-- 상단 등록자료검색 -->
	<div class="bookWrap">
		<div class="book_in main_conts">
			<div clas="book_searchArea">
				<div class="clear leftSearch">
					<div class="w100 Form100">
						<div class="form-group longLabelForm Nomg">
							<label class="LongUptitle" for=""><p><span class="ng-binding">등록자료 검색</span></p></label> <label class="fileUpBox2 bookBox" for="ex_filename_2">
								<table class="fileList">
									<tbody>
										<tr>
											<td class="lt select">
												<select id="s_sm_reason" name="f_book_opt" ng-model="searchfBookOpt" class="">
													<option selected="selected" value="">== 도서구분 ==</option>
													<option ng-repeat="x in bookCodeList" value="{{x.C_SCODE}}">{{x.C_NAME}}</option>
												</select>
											</td>
											<td class="lt search">
												<input kr-input type="text" id="searchText" ng-model="searchTitle" placeholder="목록검색">
											</td>
											<td class="bookSearchBtn">
												<div class="float_L mg_L10 btnArea">
													<button id="bookUpload" class="btn_sky btnView btnS Nomg" ng-click="searchFile()">검색</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 상단 등록자료검색 -->
	<div class="libraryWrap">
		<div class="library_in">
			<div class="library_conts top">
				<div class="library_art">
					<p class="library_topTit"><span>도서 및 성과품 등록 자료</span></p>
					<!-- book article -->
					<div class="tbl">
						<ul class="books" id="books">
							<li class="book_list" ng-repeat="file in storeFileList" ng-click="selectFile(file)">
								<div class="book" ng-show="file.F_NUM">
									<div class="clear bookBtn">
										<button id="" class="btn_gd btnView" ng-click="getCmFileDown(file)">다운로드</button>
										<a href="../assets/lib/pdfjs-2.0.943-dist/web/viewer.html?file={{file.F_PATH}}" target="_blank"><button id="" class="btn_dgr btnView" ng-click="isPdf(file.F_NAME,$event)">미리보기</button></a>
									</div>
									<div class="clear">
										<div class="bookTit">
											<p class="book_txtBox"><span class="book_txt">{{file.F_TITLE}}</span></p>
										</div>
									</div>
									<div class="book_btm">
										<p class="date01">등록일자</p>
										<p class="date02">{{file.G_UDATE}}</p>
									</div>
								</div>
								<div style="opacity: 0;" class="book" ng-show="!file.F_NUM"></div>
							</li>
						</ul>
					</div>
					<!-- book article -->
				</div>
				<img src="../assets/images/library03.png" alt="책장사진">
			</div>
		</div>
	</div>
	<div class="clear bookPagerWrap">
		<div id="workList_page" class="customPaginateBar bookPager" style="width: 1117px;">
			<!-- class="paging" -->
			<!-- 				<dir-pagination-controls pagination-id="fileList" max-size="10" direction-links="true" boundary-links="true"  >
				</dir-pagination-controls> -->
			<ul class="pagination" ng-if="1 <= pages.length">
				<li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }"><a href="" ng-click="setCurrent(1)"><i class="fas fa-angle-double-left"></i></a></li>
				<li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }"><a href="" ng-click="setCurrent(pagination.current - 1)"><i class="fas fa-angle-left"></i></a></li>
				<li ng-repeat="pageNumber in pages" ng-class="{ active : pagination.current == pageNumber, disabled : ( ! autoHide && pages.length === 1 ) }"><a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a></li>
				<li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }"><a href="" ng-click="setCurrent(pagination.current + 1)"><i class="fas fa-angle-right"></i></a></li>
				<li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }"><a href="" ng-click="setCurrent(pagination.last)"><i class="fas fa-angle-double-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
