<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 자산 관리계획 수립 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio" style="width: auto !important;padding-right: 30px !important;" ng-init="searchDateType=1">
									<input kr-input type="radio" class="custom-control-input" name="DATE_radio" id="DATE_radio1" ng-model="searchDateType" value="1"> 
									<label class="custom-control-label" for="DATE_radio1" style="left: 35%; top: 0;">
										 <span class="pdr_26">연도</span>
									</label> 
									<select class="instKind" ng-model="selectedCurrYear" ng-init="selectedCurrYear = option[0]" ng-click="changeRadio(1)" style="width: 100px !important;">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==selectedCurrYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio" style="width: auto !important; height: 29px;">
									<input kr-input type="radio" class="custom-control-input" name="DATE_radio" id="DATE_radio2" ng-model="searchDateType" value="2"> 
									<label class="custom-control-label" for="DATE_radio2" style="left: 13%; top: 0;"> 
										<span class="pr-2">기간선택</span>
									</label> 
									<input kr-input type="text" class="datePicker" ng-model="searchDate.S_DATE" id="searchDate_S_DATE" ng-click="changeRadio(2)" style="width: 130px !important;"> 
									<label class="formSlash" style="min-width: auto !important; text-align: center;"> 
										<span>~</span>
									</label> 
									<input kr-input type="text" class="datePicker" ng-model="searchDate.E_DATE" id="searchDate_E_DATE" ng-click="changeRadio(2)" style="width: 130px !important;">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>계획명</span></label> 
							<input kr-input type="text" ng-model="planName" maxlength="10" style="width: 538px;" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R" style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView" ng-click="search();">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="deleteAssetManage()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="getExcelDownload();">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 자산 관리계획 수립
					</p>
				</div>
			</div>
			<div class="main_conts">
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>계획명</span></label> <input type="text" maxlength="200" readonly="readonly" ng-model="SelectedAMPInfo.AMP_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" readonly="readonly" ng-model="SelectedAMPInfo.WRTR_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> <input type="text" readonly="readonly" ng-model="SelectedAMPInfo.WRT_YMD">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>분석일</span></label> <input type="text" readonly="readonly" ng-model="SelectedAMPInfo.AMP_YMD">
						</div>
					</div>
				</div>
			</div>
			<div class="fixed-table-container w_98" style="height: 560px;">
				<div class="header-bg"></div>
				<div class="table-wrapper">
					<table class="fixedTbl" id="storeFileList" ng-class="{noData : storeFileList.length == 0}">
						<colgroup>
							<col width="10%">
							<col width="55%">
							<col width="20%">
							<col width="15%">
						</colgroup>
						<thead>
							<tr class="ui-jqgrid-labels">
								<th width="10%"><div class="th-text">순번</div></th>
								<th width="55%"><div class="th-text">보고서 명</div></th>
								<th width="20%"><div class="th-text">수행일자</div></th>
								<th width="15%"><div class="th-text">보고서</div></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in AMPDetailList" ng-hide="(detail.REPORT_NM == null)">
								<td class="ct">{{detail.RNUM}}</td>
								<td class="ct">{{detail.REPORT_NM}}</td>
								<td class="ct">{{displayDateFormat(detail.LAST_EXE_DT)}}</td>
								<td class="ct">
									<!-- <button class="btn btn_nv">보기</button> -->
									<button class="btn btn_nv"><a href="#/{{detail.GOSTATE}}">이동</a></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="text-right p-2 pb-2">
				<button class="btn btn_sky btnEdit" ng-click="ShowAssetManagePopup()">신규</button>
				<button class="btn btn_nv btnEdit" ng-click="ShowTemporaryAssetManagePopup()">수정</button>
				<!-- <button class="btn btn-info btnView">보고서</button> -->
			</div>
		</div>
	</div>
</div>


<section class="popupSection" id="AssetManagePlanPopup" style="display: none;" onMouseMove="moveWindow(event,'#assetPlanPopup')">
	<div class="popupWrap height_auto w_815px" id="assetPlanPopup">
		<h3>
			자산 관리계획 수립(Asset Management Plan) Check List {{saveType === 'new'? '등록':'수정'}}<span class="popupClose" ng-click="CloseAssetManagePopup()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="clear w_98">
				<div class="w100 Form100">
					<div class="form-group">
						<label for=""><span>계획명 *</span></label> <input type="text" maxlength="200" ng-model="PopupAMPInfo.AMP_NM">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>작성자</span></label> <input type="text" disabled="disabled" ng-model="PopupAMPInfo.WRTR_NM">
					</div>
				</div>
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>작성일</span></label> <input type="text" disabled="disabled" ng-model="PopupAMPInfo.WRT_YMD" id="Popup_WRT_YMD">
					</div>
				</div>
			</div>
			<div class="clear w_98 d-flex">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>분석일 *</span></label> <input type="text" readonly="readonly" class="datePicker" ng-model="PopupAMPInfo.AMP_YMD">
					</div>
				</div>
				<button class="btn btn_nv mt-1 mr-1" style="margin-left: auto;" ng-click="searchDetail();">조회</button>
			</div>
			<div class="table_wrap p-2">
				<table class="table table_basic">
					<colgroup>
						<col width="5%">
						<col width="34%">
						<col width="15%">
						<col width="30%">
						<col width="6%">
						<col width="6%">
						<col width="9%">
					</colgroup>
					<thead class="text-center">
						<tr>
							<th>순번</th>
							<th>확인 사항(Check List)</th>
							<th>최근 시행일</th>
							<th>데이터현황</th>
							<th>예</th>
							<th>아니오</th>
							<th>바로가기</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in PopupAMPDetailList">
							<td>{{detail.CD}}</td>
							<td class="text-left">{{detail.CHECK_MSG}}</td>
							<td>
								<span>{{displayDateFormat(detail.LAST_EXE_DT)}}</span>
							</td>
							<td>
								{{detail.DATA_MSG}}
								<span ng-show="(detail.DATA_MSG != null)">:</span>
								<!-- <input type="text" class="ml-1 w_30 align-baseline" ng-model="detail.DATA_INFO"  ng-hide="(detail.DATA_MSG == null)"> --> 
								<!-- <span ng-hide="(detail.DATA_MSG == null)">{{detail.DATA_INFO|currency:'':0}}</span> -->
								<input type="text" readonly class="ml-1 w_30 align-baseline" ng-hide="(detail.DATA_MSG == null)" value="{{detail.DATA_INFO|currency:'':0}}">
								<span ng-show="(detail.DATA_MSG != null)">{{detail.DATA_UNIT}}</span>
								<span ng-show="(detail.DATA_MSG == null)">-</span>
							</td>
							<td>
								<div class="custom-control custom-radio" >
									<input type="checkbox" id="check01_{{$index}}_1" ng-click="SaveCheckPopup(detail,'Y');"  class="custom-control-input"  ng-model="detail.CHECK_YN_TRUE">
									<label class="custom-control-label" for="check01_{{$index}}_1" style="left: 36%; top: 0.1rem;"></label>
								</div>
								<!-- <input type="radio" class="custom-control-input" name="check01" value="Y" ng-model="detail.CHECK_YN"> -->
							</td>
							<td>
								<div class="custom-control custom-radio" >
									<input type="checkbox" id="check01_{{$index}}_2" ng-click="SaveCheckPopup(detail,'N');"  class="custom-control-input"  ng-model="detail.CHECK_YN_FALSE">
									<label class="custom-control-label" for="check01_{{$index}}_2" style="left: 36%; top: 0.1rem;"></label>
								</div>
								<!-- <input type="radio" name="check01" value="N" ng-model="detail.CHECK_YN"> -->
							</td>
							<td>
								<button class="btn btn_nv" id="check_{{$index}}_Btn" ng-disabled="detail.CHECK_YN == 'Y'">
									<a href="#/{{detail.GOSTATE}}">이동</a>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-primary" ng-click="SaveAssetManagePopup()">완료</button>
				<button type="button" class="btn btn-block btn-success" ng-click="TemporarySaveAssetManagePopup()">임시저장</button>
			</div>
		</div>
	</div>
</section>

<!-- <section class="popupSection" id="loadingSpinner">
	<div class="text-primary font-weight-bold text-center position_center">
		<i class="xi-spinner-2 xi-spin xi-5x d-block"></i>
		<p class="d-block my-2 loading_text">LOADING</p>
	</div>
</section> -->
