<section class="popupSection" onMouseMove="moveWindow(event,'#discntPopup')">
	<div class="popupWrap operation_popupWrap height_auto" id="discntPopup">
		<h3>
			실질할인율 관리<span class="popupClose"><i class="xi-close" ng-click="dscntPopup.Cancel()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popup_info box-scroll" style="height: 720px;">
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>항목</span></label> <input type="text"
							ng-model="dscntPopup.Info.DSCNT_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" readonly="readonly"
							ng-model="dscntPopup.Info.UPDATE_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text" readonly="readonly"
							ng-model="dscntPopup.Info.UPDATE_DT">
						</div>
					</div>
				</div>
				<div class="table_wrap my-1">
					<div class="fixed-table-container" style="height: 580px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="20%">
									<col width="26.66%">
									<col width="26.66%">
									<col width="26.66%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="20%"><div class="th-text">연도</div></th>
										<th width="26.66%"><div class="th-text">물가상승율(%)</div></th>
										<th width="26.66%"><div class="th-text">명목이자율(%)</div></th>
										<th width="26.66%"><div class="th-text">실질할인율(%)</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "rate in dscntPopup.List track by $index">
											<td class="font-weight-bold">{{rate.YYYY}}</td>
											<td><input type="text" class="w_100 text-right" numbers-only ng-model="rate.PRICE_RAISE_RATIO" ng-blur="dscntPopup.Blur($index)" ng-change="dscntPopup.Change($index)"></td>
											<td><input type="text" class="w_100 text-right" numbers-only ng-model="rate.NOMINAL_INTEREST_RATIO" ng-blur="dscntPopup.Blur($index)" ng-change="dscntPopup.Change($index)"></td>
											<td><input type="text" class="w_100 text-right" readonly="readonly" ng-model="rate.REAL_DSCNT_RATIO"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="btn_wrap">
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="dscntPopup.Delete()">연도삭제</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="dscntPopup.Add()">연도
						추가</button>
					<button type="button" class="btn btn-block btn-info" ng-click="dscntPopup.Output()">양식
						출력</button>
						<button type="button" class="btn btn-block btn-success" 
					for="input_result" id="input_result" __refelem__="true" style="overflow: hidden;"
					ng-file-select="dscntPopup.OnFileSelect($files, 'xls|xlsx|pdf|hwp',2)" 
					ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" 
					accept=".xls,.xlsx,.pdf,.hwp" >결과등록</button>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="dscntPopup.Save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="dscntPopup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>