<section class="popupSection" id="OCPopup" style="display: none;" onMouseMove="moveWindow(event,'#finPopup4')">
	<div class="popupWrap operation_popupWrap lcc_popupWrap height_auto w_815px" id="finPopup4">
		<h3>
			기타 비용 관리<span class="popupClose" ng-click="CloseOCPopup()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup height_auto" ng-init="setDatePicker()">
			<div class="popup_info box-scroll p-1">
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" disabled="disabled" ng-model="PopupFinanceInfo.WRTR_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> <input type="text" disabled="disabled" ng-model="PopupFinanceInfo.WRT_YMD">
						</div>
					</div>
				</div>
				<div class="min_tab text-center min_tab4">
					<ul class="tabs tabs_2">
						<li ng-repeat="data in PopupFinancialOCList">
							<button id="tab_{{data.C_SCODE}}_btn_p" class="{{(OCPopupselectedTabId =='FN'+(data.C_SCODE))?'active':''}}"
							ng-click="OCPopuptabClick(data.C_SCODE)">{{data.C_NAME}}</button>
						</li>
					</ul>
				</div>
				<div id="tab5_1_p" ng-show="(OCPopupselectedTabId == 'FN02')">
					<div class="table_wrap table-responsive table_scroll w_98 m-2" style="max-height: 500px;">
						<table class="table table_basic mb-0 table_200 table_style table_sticky">
							<colgroup>
								<col width="88px;">
								<col width="120px" ng-repeat="list in OCtabInfo[0].OCCODE" ng-hide="list.C_SCODE == 300">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th rowspan="2">연도</th>
									<th ng-repeat="list in OCtabInfo[0].OCCODE" colspan="{{($index>7)?'5':'6'}}" ng-if="$index%6==0">{{list.C_MEMO}}</th>
								</tr>
								<tr class="text-center">
									<th ng-repeat="list in OCtabInfo[0].OCCODE" ng-class="($index==0? 'position-static': '')" ng-hide="list.C_SCODE == 300">{{list.C_NAME}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':true" ng-hide="list.C_SCODE == 300">
									<td class="td_back_color left_0">{{year.C_NAME}}</td>
									<td ng-repeat="list in OCtabInfo[0].OCCODE" ng-hide="list.C_SCODE == 300">
										<input type="text" numbers-only  class="w100 text-right" ng-model="OCtabInfo[0].DATA[''+year.C_SCODE+'FN02_'+list.C_SCODE]" ng-change="updateFN02Sum(year.C_SCODE,list.C_SCODE)"
										ng-disabled="{{(list.C_NAME == '합계' || list.C_MEMO == '요금단가(원/m3)')? 'true':'false'}}">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 급수수익과 조정량은 결산서 (2)연도별 업무현황 가.상수도 참조 </span>
					</p>
					<div class="btn_wrap mr-1">
						<button type="button" class="btn btn-block btn-primary" ng-click="AddYear()">연도추가</button>
						<button type="button" class="btn btn-block btn-info" ng-click="dataExportToExcel(PopupFinanceOCDetailList,OCtabInfo[0].OCCODE,'FN02')">양식 출력</button>
						<button type="button" class="btn btn-block btn-success" ng-click="dataImportFromExcel(PopupFinanceOCDetailList,OCtabInfo[0].OCCODE,'FN02')">결과등록</button>
					</div>
				</div>
				<div id="tab5_2_p" ng-show="(OCPopupselectedTabId == 'FN03')">
					<div class="table_wrap table-responsive table_scroll w_98 m-2" style="max-height: 500px;">
						<table class="table table_basic mb-0  table_style table_sticky">
							<colgroup>
								<col width="88px;">
								<col width="120px" ng-repeat="list in OCtabInfo[1].OCCODE">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th rowspan="2">연도</th>
									<th colspan="5">인건비(원)</th>
									<th rowspan="2">임금상승률(%)</th>
								</tr>
								<tr class="text-center">
									<th ng-repeat="list in OCtabInfo[1].OCCODE" ng-class="($index==0? 'position-static': '')" ng-if="($index > 1)">{{list.C_NAME}}</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':true">
									<td class="td_back_color left_0">{{year.C_NAME}}</td>
									<td ng-repeat="list in OCtabInfo[1].OCCODE" ng-if="($index > 1)">
										<input type="text" numbers-only  class="w100 text-right" ng-model="OCtabInfo[1].DATA[''+year.C_SCODE+'FN03_'+list.C_SCODE]"
										ng-disabled="{{($index == 0)? 'true':'false'}}" ng-change="updateFN03Sum(year.C_SCODE,list.C_SCODE)">
									</td>
									<td>
										<input type="text" numbers-only  class="w100 text-right" ng-model="OCtabInfo[1].DATA[''+year.C_SCODE+'FN03_00']" 
										ng-change="updateFN03Sum(year.C_SCODE,list.C_SCODE)" ng-disabled = 'true'>
									</td>
									<td>
										<input type="text" numbers-only  class="w100 text-right" ng-model="OCtabInfo[1].DATA[''+year.C_SCODE+'FN03_01']" 
										ng-change="updateFN03Sum(year.C_SCODE,list.C_SCODE)">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 인건비는 감사보고서의 성질 별 손익계산서 참조 </span>
					</p>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 임금상승률은 'e-나라지표 (http://www.index.go.kr/main.do?cate=1\) → 지표보기 → 부처별/영역별 → 국무총리직속기관-인사혁신처 → 공무원 보수 추이'의 공무원처우개선율 참조 </span>
					</p>
					<div class="btn_wrap mr-1">
						<button type="button" class="btn btn-block btn-primary" ng-click="AddYear()">연도추가</button>
						<button type="button" class="btn btn-block btn-info" ng-click="dataExportToExcel(PopupFinanceOCDetailList,OCtabInfo[1].OCCODE,'FN03')">양식 출력</button>
						<button type="button" class="btn btn-block btn-success" ng-click="dataImportFromExcel(PopupFinanceOCDetailList,OCtabInfo[1].OCCODE,'FN03')">결과등록</button>
					</div>
				</div>
				<div id="tab5_3_p" ng-show="(OCPopupselectedTabId == 'FN04')">
					<div class="table_wrap table-responsive table_scroll w_98 m-2" style="max-height: 500px;">
						<table class="table table_basic mb-0  table_style table_sticky">
							<colgroup>
								<col width="88px;">
								<col width="120px" ng-repeat="list in OCtabInfo[2].OCCODE">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th rowspan="2">연도</th>
									<th colspan="7">운영관리비(원)</th>
								</tr>
								<tr class="text-center">
									<th ng-repeat="list in OCtabInfo[2].OCCODE" ng-class="($index==0? 'position-static': '')">{{list.C_NAME}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':true">
									<td class="td_back_color left_0">{{year.C_NAME}}</td>
									<td ng-repeat="list in OCtabInfo[2].OCCODE">
										<input type="text" numbers-only  class="w100 text-right" ng-model="OCtabInfo[2].DATA[''+year.C_SCODE+'FN04_'+list.C_SCODE]"
										ng-disabled="{{($index == 0)? 'true':'false'}}" ng-change="updateFN04Sum(year.C_SCODE,list.C_SCODE)">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 운영관리비는 감사보고서 총괄원가계산서 참조 </span>
					</p>
					<div class="btn_wrap mr-1">
						<button type="button" class="btn btn-block btn-primary" ng-click="AddYear()">연도추가</button>
						<button type="button" class="btn btn-block btn-info" ng-click="dataExportToExcel(PopupFinanceOCDetailList,OCtabInfo[2].OCCODE,'FN04')">양식 출력</button>
						<button type="button" class="btn btn-block btn-success" ng-click="dataImportFromExcel(PopupFinanceOCDetailList,OCtabInfo[2].OCCODE,'FN04')">결과등록</button>
					</div>
				</div>
				<div id="tab5_4_p" ng-show="(OCPopupselectedTabId == 'FN05')">
					<div class="table_wrap table-responsive table_scroll w_98 m-2" style="max-height: 500px;">
						<table class="table table_basic mb-0 table_200 table_style table_sticky">
							<colgroup>
								<col width="88px;">
								<col width="120px" ng-repeat="list in OCtabInfo[3].OCCODE">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th rowspan="2">연도</th>
									<th ng-repeat="list in OCtabInfo[3].OCCODE" colspan="{{($index>3)?'4':'3'}}" ng-if="$index%4==0">{{list.C_MEMO}}</th>
								</tr>
								<tr class="text-center">
									<th ng-repeat="list in OCtabInfo[3].OCCODE" ng-class="($index==0? 'position-static': '')">{{list.C_NAME}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':true">
									<td class="td_back_color left_0">{{year.C_NAME}}</td>
									<td ng-repeat="list in OCtabInfo[3].OCCODE">
										<input type="text" numbers-only  class="w100 text-right" ng-model="OCtabInfo[3].DATA[''+year.C_SCODE+'FN05_'+list.C_SCODE]"
										ng-disabled="{{(list.C_SCODE >= 300)? 'true':'false'}}" ng-change="updateFN05Sum(year.C_SCODE,list.C_SCODE)">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 동력비/약품비는 감사보고서 총괄원가계산서 참조 </span>
					</p>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 자체생산량은 감사보고서의 (2)연도별 업무현황, 가.상수도 참조 </span>
					</p>
					<p class="m-0 d-flex">
						<span>※ </span> <span class="ml-1"> 정수구입비/원수구입비/정수구입량/원수구입량은 감사 보고서 성질별손익계산서 참조 </span>
					</p>
					<div class="btn_wrap mr-1">
						<button type="button" class="btn btn-block btn-primary" ng-click="AddYear()">연도추가</button>
						<button type="button" class="btn btn-block btn-info" ng-click="dataExportToExcel(PopupFinanceOCDetailList,OCtabInfo[3].OCCODE,'FN05')">양식 출력</button>
						<button type="button" class="btn btn-block btn-success" ng-click="dataImportFromExcel(PopupFinanceOCDetailList,OCtabInfo[3].OCCODE,'FN05')">결과등록</button>
					</div>
				</div>
				<div id="tab5_5_p" ng-show="(OCPopupselectedTabId == 'FN06')">
					<div class="table_wrap table-responsive table_scroll w_98 m-2" style="max-height: 500px;">
						<table class="table table_basic mb-0 table_style table_sticky">
							<colgroup>
								<col width="88px;">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th>연도</th>
									<th ng-repeat="list in OCtabInfo[4].OCCODE">{{list.C_NAME}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':true">
									<td class="td_back_color left_0">{{year.C_NAME}}</td>
									<td ng-repeat="list in OCtabInfo[4].OCCODE">
										<input type="text" numbers-only  class="w100 text-center" ng-model="OCtabInfo[4].DATA[''+year.C_SCODE+'FN06_'+list.C_SCODE]">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="btn_wrap mr-1">
						<button type="button" class="btn btn-block btn-primary" ng-click="AddYear()">연도추가</button>
						<button type="button" class="btn btn-block btn-info" ng-click="dataExportToExcel(PopupFinanceOCDetailList,OCtabInfo[4].OCCODE,'FN06')">양식 출력</button>
						<button type="button" class="btn btn-block btn-success" ng-click="dataImportFromExcel(PopupFinanceOCDetailList,OCtabInfo[4].OCCODE,'FN06')">결과등록</button>
					</div>
				</div>
			</div>
			<div class="popup_title">
				<p class="m-0"></p>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="SaveOCPopup()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="CloseOCPopup()">취소</button>
			</div>
		</div>
	</div>
</section>