<section class="popupSection" id="BSPopup" style="display: none;" onMouseMove="moveWindow(event,'#finPopup2')">
	<div class="popupWrap operation_popupWrap height_auto w_815px" id="finPopup2">
		<h3>
			재무제표(BS) 관리<span class="popupClose" ng-click="CloseBSPopup()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup height_auto" ng-init="setDatePicker()">
			<div class="popup_info box-scroll p-1">
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" disabled="disabled" ng-model="PopupFinanceInfo.WRTR_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> <input type="text" disabled="disabled" class="datePicker" ng-model="PopupFinanceInfo.WRT_YMD">
						</div>
					</div>
				</div>
				<div class="table_wrap table-responsive table_scroll w_98 m-2" style="height: 600px;">
					<table class="table table_basic mb-0 table_200 table_style table_sticky">
						<colgroup>
							<col width="129px">
							<col width="170px">
							<!-- <col width="129px" ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':false"> -->
						</colgroup>
						<thead>
							<tr class="text-center" style="height: 35px;">
								<th class="backslash" colspan="2"><span class="w_50 d-inline-block px-2 text-left">항목</span><span class="w_50 d-inline-block px-2 text-right">연도</span></th>
								<th ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':false">{{year.C_NAME}}년</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="detail in PopupFinancialBSList" ng-hide="(detail.ACCOUNT_GROUP_NM == detail.ACCOUNT_NM)">
								<td rowspan="{{((detail.ACCOUNT_GROUP_NM) == '부채')?(((detail.ACCOUNT_GROUP_NM) == '자본')?'12':'8'):'31'}}" ng-if="($index == 1 || $index == 33 || $index == 42)" class="td_back_color left_0">{{detail.ACCOUNT_GROUP_NM}}</td>
								<td class="td_back_color {{(detail.ACCOUNT_NM == '자산총계' || detail.ACCOUNT_NM == '부채총계' || detail.ACCOUNT_NM == '자본총계' || detail.ACCOUNT_NM == '부채와자본총계')? 'text-center':'text-left'}}" 
								style="white-space: pre;">{{detail.ACCOUNT_NM}}</td>
								<td ng-repeat="year in PopupComCodeYearList2|orderBy:'C_SCODE':false">
									<!-- <input type="number" class="w100 text-right" ng-model="detail['\''+year.C_SCODE+'\'']" ng-change="updateBSSum(yyyy)"
									 ng-disabled="{{(detail.ACCOUNT_NM == '자산총계' || detail.ACCOUNT_NM == '부채총계' || detail.ACCOUNT_NM == '자본총계' || detail.ACCOUNT_NM == '부채와자본총계'
									 || detail.ACCOUNT_CD == '1100000' || detail.ACCOUNT_CD == '1110000' || detail.ACCOUNT_CD == '1120000'
									 || detail.ACCOUNT_CD == '1200000' || detail.ACCOUNT_CD == '1210000' || detail.ACCOUNT_CD == '1220000' || detail.ACCOUNT_CD == '1230000' || detail.ACCOUNT_CD == '1240000'
									 || detail.ACCOUNT_CD == '2100000' || detail.ACCOUNT_CD == '2200000'
									 || detail.ACCOUNT_CD == '3100000' || detail.ACCOUNT_CD == '3200000' || detail.ACCOUNT_CD == '3300000')? 'true':'false'}}"> -->
									<input type="number" class="w100 text-right" ng-model="detail['\''+year.C_SCODE+'\'']" ng-change="updateBSSum(yyyy)"
									 ng-disabled="{{(detail.ACCOUNT_NM == '자산총계' || detail.ACCOUNT_NM == '부채총계' || detail.ACCOUNT_NM == '자본총계' || detail.ACCOUNT_NM == '부채와자본총계')? 'true':'false'}}">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn_wrap mr-1">
					<button type="button" class="btn btn-block btn-primary" ng-click="AddYear()">연도추가</button>
					<button type="button" class="btn btn-block btn-info" ng-click="dataExportToExcel(PopupFinancialBSList)">양식 출력</button>
					<button type="button" class="btn btn-block btn-success" ng-click="dataImportFromExcel(PopupFinancialBSList)">결과등록</button>
				</div>
			</div>
			<div class="popup_title">
				<p></p>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="SaveBSPopup()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="CloseBSPopup()">취소</button>
			</div>
		</div>
	</div>
</section>