<!-- <style>
	#RPNPopup .ui-jqgrid-bdiv { height: 300px !important;}
</style> -->

<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 최적 투자계획 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important;padding-right: 30px !important;" ng-click="Serch.Select(1)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==1"> <label
										class="custom-control-label" style="left: 35%; top: 0;">
										<span class="pdr_26">연도</span>
									</label> <select style="width: 100px !important;"
										ng-model="Serch.Info.YEAR">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==Serch.Info.YEAR" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;"
									ng-click="Serch.Select(2)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==2"> <label
										class="custom-control-label" style="left: 13%; top: 0;">
										<span class="pr-2">기간선택</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;"
										ng-model="Serch.Info.START_DT" id="start_dt"> <label
										class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;" ng-model="Serch.Info.END_DT" id="end_dt">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>계획명</span>
							</label> <input kr-input 
							type="text" ng-model="Serch.Info.EST_NM" maxlength="10"
								style="width: 538px;" ng-keypress="onKeyPress($event)">
						</div>
					</div>
						<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView"
							ng-click="Serch.Lookup()">조회</button>
						<button type="button" class="btn btn-danger btnEdit"
							ng-click="Serch.Delete()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="Serch.Output()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button ng-class="{true : 'active', false : ''}[Page == 0]" ng-click="(Page = 0)">최적투자계획 관리</button>
					</li>
					<li>
						<button ng-class="{true : 'active', false : ''}[Page == 1]" ng-click="(Page = 1)">할인율관리</button>
					</li>
				</ul>
			</div>
			<div class="main_conts" ng-show="(Page == 0)">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 최적 투자계획 수립
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>계획명</span></label> 
							<input type="text" readonly="readonly" maxlength="200"
							ng-model="oip.Info.OIP_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> 
							<input type="text" readonly="readonly"
							ng-model="oip.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> 
							<input type="text" readonly="readonly"
							ng-model="oip.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>분석일</span></label> 
							<input type="text" readonly="readonly"
							ng-model="oip.Info.OIP_DT">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>예산</span><span>(원)</span></label> 
							<input type="text" readonly="readonly"
							ng-model="oip.Info.OIP_BUDGET_AMT">
						</div>
					</div>
				</div>
				<div class="min_tab text-center min_tab4">
					<ul class="tabs tabs_2">
						<li>
							<button ng-class="{true : 'active', false : ''}[oip.Page == 0]" ng-click="oip.ModalSet(0)">시설</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[oip.Page == 1]" ng-click="oip.ModalSet(1)">관망</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[oip.Page == 2]" ng-click="oip.ModalSet(2)">최적투자</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[oip.Page == 3]" ng-click="oip.ModalSet(3)">RPN</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[oip.Page == 4]" ng-click="oip.ModalSet(4)">ORDM</button>
						</li>
					</ul>
				</div>
				<div ng-show="(oip.Page == 0)">
					<div class="fixed-table-container w_98 my-2" style="height: 470px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="20%">
									<col width="40%">
									<col width="40%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="20%"><div class="th-text"></div></th>
										<th width="40%"><div class="th-text">교체대상 우선순위에 해당하는 자산 개수</div></th>
										<th width="40%"><div class="th-text">교체대상 우선순위에 해당하는 자산의 사업비(백만원)</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "asset in oip.FList track by $index">
										<td>{{asset.LEVEL_NM}}</td>
										<td>{{asset.CNT}}</td>
										<td>{{asset.FACILITY_AMT | number:0}}</td>
									</tr>
								</tbody>
							</table>
							<table class="fixedTbl">
							<colgroup>
								<col width="20%">
								<col width="40%">
								<col width="40%">
							</colgroup>
							<tbody>
								<tr>
									<td>{{oip.FTotal.LEVEL_NM}}</td>
									<td>{{oip.FTotal.CNT}}</td>
									<td>{{oip.FTotal.FACILITY_AMT | number:0}}</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</div>
				<div ng-show="(oip.Page == 1)">
					<div class="fixed-table-container w_98 my-2" style="height: 470px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="20%">
									<col width="40%">
									<col width="40%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="20%"><div class="th-text"></div></th>
										<th width="40%"><div class="th-text">교체대상 우선순위에 해당하는 자산 개수</div></th>
										<th width="40%"><div class="th-text">교체대상 우선순위에 해당하는 자산의 사업비(백만원)</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "asset in oip.NList track by $index">
										<td>{{asset.LEVEL_NM}}</td>
										<td>{{asset.CNT}}</td>
										<td>{{asset.FACILITY_AMT | number:0}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div ng-show="(oip.Page == 2)">
					<div class="clear w_98 mt-2 p-1 d-flex">
						<div class="clear w_98 d-flex">
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>구 분</span></label> 
									<select type="text" ng-model="CLASS3_CD" class="ng-pristine ng-untouched ng-valid">
										<option value="">전체</option>
										<option value="F">시설</option>
										<option value="N">관망</option>
									</select>
								</div>
							</div>
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>사업장/계통</span></label> 
									<select type="text" ng-model="CLASS4_CD" 
									ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  CLASS3_CD}">
									<option value="">전체</option>
									</select>
								</div>
							</div>
							<button class="btn btn_nv mt-1 mr-1 btnView" style="margin-left: auto;" ng-click="ModalCheck()">조회</button>
						</div>
					</div>
					<div class="grid table-responsive table_scroll p-2">
						<table id="list2" class="table"></table>
					</div>
					<div id="listPager2"></div>
					<div id="list2_page"></div>
				</div>
				<div ng-show="(oip.Page == 3)">
					<div class="grid table-responsive table_scroll_150 p-2">
						<table id="list3" class="table"></table>
					</div>
					<div id="listPager3"></div>
					<div id="list3_page"></div>
				</div>
				<div ng-show="(oip.Page == 4)">
					<div class="grid table-responsive table_scroll_350  p-2">
						<table id="list4" class="table table_pointer"></table>
					</div>
					<div id="listPager4"></div>
					<div id="list4_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnView" ng-show="(oip.Page == 2)" ng-click="ModalSearch()()">검색</button>
					<button class="btn btn_sky btnEdit" ng-click="oip.New()">신규평가</button>
					<button class="btn btn-info btnView"ng-click="oip.Report()">보고서</button>
				</div>
			</div>
			<div class="main_conts" ng-show="(Page == 1)">
				<div class="clear w_98 mt-1">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>항목</span></label> 
							<input type="text" maxlength="200" readonly="readonly"
							ng-model ="dscnt.Info.DSCNT_NM"
							>
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> 
							<input type="text" readonly="readonly"
							ng-model ="dscnt.Info.UPDATE_ID"
							>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> 
							<input type="text" readonly="readonly"
							ng-model ="dscnt.Info.UPDATE_DT"
							>
						</div>
					</div>
				</div>
				<div class="fixed-table-container w_98 mb-2" style="height: 600px;">
					<div class="header-bg"></div>
					<div class="table-wrapper">
						<table class="fixedTbl" id="" ng-class="{noData : storeFileList.length == 0}">
							<colgroup>
								<col width="25%">
								<col width="25%">
								<col width="25%">
								<col width="25%">
							</colgroup>
							<thead>
								<tr class="ui-jqgrid-labels">
									<th width="25%"><div class="th-text">연도</div></th>
									<th width="25%"><div class="th-text">물가상승율(%)</div></th>
									<th width="25%"><div class="th-text">명목이자율(%)</div></th>
									<th width="25%"><div class="th-text">실질할인율(%)</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "power in dscnt.List track by $index">
		                        	<td>{{power.YYYY}}</td>
		                        	<td>{{power.PRICE_RAISE_RATIO}}</td>
		                        	<td>{{power.NOMINAL_INTEREST_RATIO}}</td>
		                        	<td>{{power.REAL_DSCNT_RATIO}}</td>
	                        	</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="text-right p-2 pb-2">
					<!-- <button class="btn btn_sky" ng-click="dscnt.New()">신규</button> -->
					<button class="btn btn_nv btnEdit" ng-click="dscnt.Modified()">수정</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- new1  -->
<section class="popupSection ng-scope" id="RPNPopup" ng-show="oipNew.isShow" onMouseMove="moveWindow(event,'#oipPopup')">
		<div class="popupWrap operation_popupWrap height_auto w_815px" id="oipPopup">
			<h3>
				최적투자계획 <span class="popupClose"><i class="xi-close" ng-click="(oipNew.isShow = false)"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="clear w_98 mt-1">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>계획명 *</span></label> 
							<input type="text" maxlength="200"
							ng-model="oipNew.Info.OIP_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> 
							<input type="text" readonly="readonly"
							ng-model="oipNew.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> 
							<input type="text" readonly="readonly"
							ng-model="oipNew.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group d-flex align-items-center">
							<label for=""><span>분석일 *</span></label> 
							<input readonly class="datePicker"
							ng-model="oipNew.Info.OIP_DT" style="width: 45% !important;">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group d-flex align-items-center">
							<label for=""><span>예산</span><span>(원)*</span></label> 
							<input type="text"
							ng-disabled="(oipNew.Page == 0)"
							numbers-only
							ng-model="oipNew.Info.OIP_BUDGET_AMT" style="width: 45% !important;"
							ng-blur='oipNew.Blur()'>
							<!-- <button type="button" class="btn btn-block btn-success ml-auto mr-1" ng-click="oipNew.ApplyCost()">적용</button> -->
						</div>
					</div>
				</div>
				<div class="min_tab text-center min_tab4 mb-2 d-flex">
					<ul class="tabs tabs_2">
						<li>
							<button ng-class="{true : 'active', false : ''}[oipNew.Page == 0]" ng-click="(oipNew.Page = 0)">RPN</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[oipNew.Page == 1]" ng-click="(oipNew.Page = 1)">최적투자</button>
						</li>
					</ul>
					<button type="button" class="btn btn_sky mr-2" ng-show="(oipNew.Page == 0)" ng-click="oipNew.RPNweight()"><i class="fas fa-cog"></i>RPN 가중치 설정</button>
				</div>
				<div class="w_98" ng-show="(oipNew.Page == 0)">
					<!--그리드  -->
					<div class="grid">
					<table id="list5"></table>
					</div>
					<div id="listPager5"></div>
					<div id="list5_page"></div>
					<div class="btn_wrap d-flex align-items-center w_98">
						<button type="button" class="btn btn-block btn-success ml-auto ml-1" ng-click="oipNew.ApplyAsset()">적용</button>
					</div>
				</div>
				<div class="w_98" ng-show="(oipNew.Page == 1)">
					<!--그리드  -->
					<div class="grid table-responsive table_scroll">
					<table id="list6" class="table table_pointer"></table>
					</div>
					<div id="listPager6"></div>
					<div id="list6_page"></div>
					<div class="btn_wrap d-flex align-items-center w_98">
						<button type="button" class="btn btn-block btn-success ml-auto ml-1" ng-click="oipNew.ApplyCost() ">적용</button>
					</div>
				</div>
				
				<div class="popup_title">
					<p></p>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="oipNew.Save()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="(oipNew.isShow = false)">취소</button>
				</div>
			</div>
		</div>
	</section>
	<!--ORDM  -->
	<section class="popupSection" ng-show="ordm.isShow" onMouseMove="moveWindow(event,'#oipPopup2')">
		<div class="popupWrap w_90 height_auto" id="oipPopup2">
			<h3>
				ORDM (Optimized Renewal Decision Making) <span class="popupClose"><i class="xi-close" ng-click="(ordm.isShow = false)"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="d-flex">
					<div class="clear w_100 pt-2">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>자 산 명</span></label> 
								<input type="text" readonly="readonly"
								ng-model="ordm.Info.ASSET_NM">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>자산코드</span></label> 
								<input type="text" readonly="readonly"
								ng-model="ordm.Info.ASSET_CD">
							</div>
						</div>
					</div>
					<div class="clear w_60 text-right pr-2 pt-2">
						<button class="btn btn-primary" ng-disabled="(ordm.isReadonly)" ng-click="ordm.DscntTemp(ordm.isReadonly)">할인율 설정</button>
					</div>
				</div>
				<div class="table_wrap table-responsive table_scroll p-2">
					<table class="table table_basic mb-0">
						<colgroup>
							<col width="80px;">
							<col width="80px;">
							<col width="100px;">
							<col width="100px;">
							<col width="100px;" ng-repeat ="itemS in ordm.SizeList track by $index">
						</colgroup>
						<thead>
							<tr class="text-center">
								<th rowspan="2" colspan="2">항목</th>
								<th rowspan="2">합계</th>
								<th rowspan="2">연평균</th>
								<th colspan={{ordm.SizeList.length}}>운영기간</th>
							</tr>
							<tr class="text-center">
								<th ng-repeat ="itemS in ordm.SizeList track by $index">{{itemS}}년</th>
							</tr>
						</thead>
						<!--   -->
						<tbody >
							<tr>
							<td rowspan="6">수리</td>
							</tr>
							<!--  -->
							<tr ng-repeat ="item in ordm.List  | filter :{ORDM_ITEM_CD1:'11'}">
								<td >{{item.C_NAME}}</td>
								<td class="text-right pr-2">{{item.SUM | number:0}}</td>
								<td class="text-right pr-2" >{{item.AVG | number:0}}</td>
								<td ng-repeat ="itemS in ordm.SizeList track by $index">
								<input type="text" class="w_100 text-right pr-2" 
								ng-init="item.DISABLED[itemS]=(item[itemS] == null); ordm.Blur(item, itemS, 11);"
								ng-disabled="item.DISABLED[itemS]"
								ng-readonly="(ordm.isReadonly || item.C_NAME =='총비용' || item.C_NAME =='현가')"
								numbers-only 
								ng-model="item[itemS]" 
								ng-blur="ordm.Blur(item, itemS, 11)">
								</td>
							</tr>
							<tr>
							<td rowspan="6">갱생</td>
							</tr>
							<tr ng-repeat ="item in ordm.List  | filter :{ORDM_ITEM_CD1:'12'}">
								<td >{{item.C_NAME}} </td>
								<td class="text-right pr-2" >{{item.SUM | number:0}}</td>
								<td class="text-right pr-2" >{{item.AVG | number:0}}</td>
								<td ng-repeat ="itemS in ordm.SizeList track by $index">
								<input type="text" class="w_100 text-right pr-2" 
								ng-init="item.DISABLED[itemS]=(item[itemS] == null); ordm.Blur(item, itemS, 12);"
								ng-disabled="item.DISABLED[itemS]"
								ng-readonly="(ordm.isReadonly || item.C_NAME =='총비용' || item.C_NAME =='현가')"
								numbers-only 
								ng-model="item[itemS]" 
								ng-blur="ordm.Blur(item, itemS, 12)">
								</td>
							</tr>
							<tr>
							<td rowspan="6">교체</td>
							</tr>
							<!--   -->
							<!--   -->
							<tr ng-repeat ="item in ordm.List  | filter :{ORDM_ITEM_CD1:'13'}">
								<td >{{item.C_NAME}} </td>
								<td class="text-right pr-2">{{item.SUM | number:0}}</td>
								<td class="text-right pr-2">{{item.AVG | number:0}}</td>
								<td ng-repeat ="itemS in ordm.SizeList track by $index">
								<input type="text" class="w_100 text-right pr-2" 
								ng-init=" item.DISABLED[itemS] = (item[itemS] == null); ordm.Blur(item, itemS, 13);"
								ng-disabled="item.DISABLED[itemS]"
								ng-readonly="(ordm.isReadonly || item.C_NAME =='총비용' || item.C_NAME =='현가')"
								numbers-only 
								ng-model="item[itemS]" 
								ng-blur="ordm.Blur(item, itemS, 13)">
								</td>
							</tr>
							</tbody>
					</table>
				</div>
				<div class="popupBtnWrap mb-2" ng-show = "(!ordm.isReadonly)">
					<button type="button" class="btn btn-block btn_nv" ng-click="ordm.Reset()">초기화</button>
					<button type="button" class="btn btn-block btn-success" ng-click="ordm.Save()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="(ordm.isShow = false)">취소</button>
				</div>
				<div class="popupBtnWrap mb-2" ng-show = "(ordm.isReadonly)">
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="(ordm.isShow = false)">확인</button>
				</div>
			</div>
		</div>
	</section>
	<!--할인률  -->
	<section class="popupSection" ng-show="dscntTemp.isShow" onMouseMove="moveWindow(event,'#oipPopup3')">
		<div class="popupWrap operation_popupWrap height_auto" id="oipPopup3">
			<h3>
				할인율 수정 <span class="popupClose"><i class="xi-close" ng-click="dscntTemp.Cancel()"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="popup_info box-scroll p-1">
					<div class="fixed-table-container w_98 mb-2" style="height: 402px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl" id="" ng-class="{noData : storeFileList.length == 0}">
								<colgroup>
									<col width="25%">
									<col width="25%">
									<col width="25%">
									<col width="25%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="25%"><div class="th-text">연도</div></th>
										<th width="25%"><div class="th-text">물가상승율(%)</div></th>
										<th width="25%"><div class="th-text">명목이자율(%)</div></th>
										<th width="25%"><div class="th-text">실질할인율(%)</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "rate in dscntTemp.List ">
											<td class="font-weight-bold">{{rate.YYYY}}</td>
											<td><input type="text" class="w_100 text-right" ng-readonly="dscntTemp.isReadonly" numbers-only ng-model="rate.PRICE_RAISE_RATIO" ng-blur="dscntTemp.Blur($index)" ng-change="dscntTemp.Change($index)"></td>
											<td><input type="text" class="w_100 text-right" ng-readonly="dscntTemp.isReadonly" numbers-only ng-model="rate.NOMINAL_INTEREST_RATIO" ng-blur="dscntTemp.Blur($index)" ng-change="dscntTemp.Change($index)"></td>
											<td><input type="text" class="w_100 text-right" readonly="readonly" ng-model="rate.REAL_DSCNT_RATIO"></td>
									</tr>
								</tbody>
							</table>
						</div>
							<table class="fixedTbl">
								<colgroup>
									<col width="25%">
									<col width="25%">
									<col width="25%">
									<col width="25%">
								</colgroup>
								<tbody>
									<tr>
										<td class="font-weight-bold">평균</td>
										<td class="font-weight-bold">{{dscntTemp.Info.PRICE}}</td>
										<td class="font-weight-bold">{{dscntTemp.Info.NOMINAL}}</td>
										<td class="font-weight-bold">{{dscntTemp.Info.DSCNT}}</td>
									</tr>
								</tbody>
							</table>
					</div>
					<div class="popup_title">
						<p></p>
					</div>
					<div class="popupBtnWrap mb-2">
						<button type="button" class="btn btn-block btn-success"ng-click="dscntTemp.Save()">저장</button>
						<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="dscntTemp.Cancel()">취소</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<!-- 추가 예정  -->
<section class="popupSection" ng-show="RPNhaederPopup.isShow" onMouseMove="moveWindow(event,'#oipPopup4')">
		<div class="popupWrap operation_popupWrap height_auto" id="oipPopup4">
			<h3>
				RPN 가중치 설정 <span class="popupClose"><i class="xi-close" ng-click="RPNhaederPopup.Cancel()"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="table_wrap p-2">
					<table class="table_basic">
						<colgroup>
							<col width="11%">
							<col width="11%">
							<col width="11%">
							<col width="11%">
							<col width="11%">
							<col width="11%">
							<col width="11%">
							<col width="11%">
							<col width="12%">
						</colgroup>
						<thead>
							<tr class="text-center">
								<th colspan="9">RPN 영향인자 및 가중치(%)</th>
							</tr>
							<tr class="text-center">
								<th colspan="7">Los 연관성</th>
								<th rowspan="3">BRE<br>(점)
								</th>
								<th rowspan="3">자산<br>사용률<br>(%)
								</th>
							</tr>
							<tr class="text-center">
								<th>인력</th>
								<th>시설</th>
								<th>운영</th>
								<th>서비스</th>
								<th>환경</th>
								<th>재정</th>
								<th>합계</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!--인력  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('LOS_MANPOWER')" ng-model="RPNhaederPopup.Info.LOS_MANPOWER"></td>
								<!--시설  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('LOS_FACILITY')" ng-model="RPNhaederPopup.Info.LOS_FACILITY"></td>
								<!--운영  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('LOS_OPERATE')" ng-model="RPNhaederPopup.Info.LOS_OPERATE"></td>
								<!--서비스  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('LOS_SERVICE')" ng-model="RPNhaederPopup.Info.LOS_SERVICE"></td>
								<!--환경  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('LOS_ENV')" ng-model="RPNhaederPopup.Info.LOS_ENV"></td>
								<!--재정  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('LOS_FINANCE')" ng-model="RPNhaederPopup.Info.LOS_FINANCE"></td>
								<!--합계  -->
								<td><input type="text" class="w100" readonly="readonly" ng-model="RPNhaederPopup.Info.LOS_TOTAL"></td>
								<!--bre  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('BRE_VALUE')" ng-model="RPNhaederPopup.Info.BRE_VALUE"></td>
								<!--자산 사용률  -->
								<td><input type="text" class="w100" numbers-only ng-blur="RPNhaederPopup.Blur('ASSET_USAGE_RATE')" ng-model="RPNhaederPopup.Info.ASSET_USAGE_RATE"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="text-left text-danger font-weight-bold small p-2">
					<span>※Los 연관성/BRE/자산사용률 가중치는 각각 1~100 사이값을 상대적 중요도에 따라 입력한다.</span>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="RPNhaederPopup.Save(oipNew.Info)">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="RPNhaederPopup.Cancel()">취소</button>
				</div>
			</div>
		</div>
	</section>
	

<div ng-include="'./view/finance/dscnt_popup.html'" ng-show = "dscntPopup.isShow" ng-controller = "dscntController">
