<div class="conts">
    <div class="contain conts_half left">
        <div class="conts_in left_tab" id="tab1_l">
            <div class="conts_tit">
                <div class="main_conts">
                    <p><i class="fas fa-check-circle"></i> 공통 코드 목록</p>
                </div>
            </div>
            <div class="search_box main_conts">
                <div class="clear tits" style="position: relative">
                    <div class="search_twoForm" style="width: 100% !important;">
                        <div class="form-group" style="width: 80% !important;">
                            <div>
                                <label for=""><span>그룹코드</span></label>
                                <select ng-init="GCODE=''" ng-model="GCODE">
                                    <option value="">전체</option>
                                    <option value="{{opt.code}}" ng-repeat="opt in GCODE_LIST">{{opt.name}}</option>
                                </select>
                            </div>
                            <div>
                                <label for=""><span>코드명칭</span></label>
                                <input kr-input ng-model="codeSearchText"  ng-keypress="onKeyPress($event)">
                            </div>
                        </div>
                    </div>
                    <div class="float_R" style="position: absolute; bottom: 0; right: 0">
                        <button class="btn btn_nv" ng-click="reloadCode(1)">조회</button>
                        <!-- <button id="clearCode" class="btn btn_sky btnEdit" ng-click="clearCode()">등록</button> -->
                        <button id="delete" style="display:none;" class="btn btn-danger btnEdit" ng-hide="IsNewRecord" ng-click="deleteCode()">삭제</button>
                        <button class="btn btn_gr btnView" ng-click="getExcelDownload()">엑셀</button>
                    </div>
                </div>
            </div>

            <div class="grid">
                <table id="list"></table>
            </div>
            <div id="listPager"></div>
            <span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
            <div id="list_page"></div>
        </div>
    </div>
    <div class="contain conts_half right">
        <div class="conts_in right_tab">
            <div class="conts_tit">
                <div class="main_conts">
                    <p>
                        <i class="fas fa-check-circle"></i> 공통 코드 설정
                    </p>
                </div>
            </div>
            <div class="first_box data_twoForm">
                <div class="main_conts">
                    <div class="boxs">
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>등록자</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.INSERT_NAME"
                                           ng-readonly="isReadonly"
                                           ng-disabled="isDisabled"
                                           class="ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>등록일</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.INSERT_DT"
                                           ng-readonly="isReadonly"
                                           ng-disabled="isDisabled"
                                           class="ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>그룹코드</span></label>
                                    <!-- <input kr-input type="text" 
                                           ng-model="Code.C_GCODE"
                                           ng-readonly="isReadonly"
                                           maxlength="4"
                                           class="reset ng-pristine ng-untouched ng-valid"> -->
                                    <select ng-model="Code.C_GCODE" disabled="disabled">
                                    	<option value="{{opt.code}}" ng-repeat="opt in GCODE_LIST">{{opt.name}}</option>
                                	</select>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>코드</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_SCODE"
                                           ng-readonly="isReadonly"
                                           maxlength="10"
                                           class="reset ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>코드명</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_NAME"
                                           ng-readonly="isReadonly"
                                           maxlength="50"
                                           class="reset ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>코드설명</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_MEMO"
                                           ng-readonly="isReadonly"
                                           maxlength="1000"
                                           class="reset ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>데이터1</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_VALUE1"
                                           ng-readonly="isReadonly"
                                           maxlength="38"
                                           class="reset ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>데이터2</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_VALUE2"
                                           ng-readonly="isReadonly"
                                           maxlength="38"
                                           class="reset ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>데이터3</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_VALUE3"
                                           ng-readonly="isReadonly"
                                           maxlength="38"
                                           class="reset ng-pristine ng-untouched ng-valid">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>데이터4</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_VALUE4"
                                           ng-readonly="isReadonly"
                                           maxlength="38"
                                           class="reset ">
                                </div>
                            </div>
                        </div>

                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>문자데이터1</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_CVALUE1"
                                           ng-readonly="isReadonly"
                                           maxlength="200"
                                           class="reset ">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>문자데이터2</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_CVALUE2"
                                           ng-readonly="isReadonly"
                                           maxlength="200"
                                           class="reset ">
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>문자데이터3</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_CVALUE3"
                                           ng-readonly="isReadonly"
                                           maxlength="200"
                                           class="reset ">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>문자데이터4</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_CVALUE4"
                                           ng-readonly="isReadonly"
                                           maxlength="200"
                                           class="reset ">
                                </div>
                            </div>
                        </div>

                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>날짜데이터1</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_DATE1"
                                           ng-readonly="true"
                                           >
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>날짜데이터2</span></label>
                                    <input kr-input type="text" 
                                           ng-model="Code.C_DATE2"
                                           ng-readonly="true"
                                           >
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>사용여부</span></label>
                                    <select  ng-model="Code.C_USEGBN" disabled >
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </div>
                            </div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for="C_SORT"><span>정렬순서</span></label> 
									<input numbers-only ng-model="Code.C_SORT" readonly >
								</div>
							</div>                            
                        </div>
                    </div>
                    <div class="">
                        <div class="text-right p-2 pb-2">
                            <button class="btn btn_sky btnEdit" ng-click="newItem()">신규</button>
                            <button class="btn btn_nv btnEdit" ng-click="editItem()">수정</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	<section id="codeInfoPopup" class="popupSection" style="display:none;" onMouseMove="moveWindow(event,'#codeInfoPopup2')">
		<div class="popupWrap operation_popupWrap height_auto" id="codeInfoPopup2">
			<h3>
				공통 코드 {{(saveMode == 'new')? '등록':'수정'}}<span class="popupClose" ng-click="hideCodeInfoPopup()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="popup_title">
					<p>공통 코드</p>
				</div>
				<div class="popup_info mb-2">
					<div class="clear w_98 mt-2">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>등록자</span></label> 
								<input kr-input type="text"  ng-model="Code2.INSERT_NAME" readonly="readonly" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>등록일</span></label> 
								<input kr-input type="text"  ng-model="Code2.INSERT_DT" readonly="readonly" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>그룹코드 *</span></label> 
                                <select ng-model="Code2.C_GCODE">
                                	<option hidden value="">{{firstSelect.firstSelect}}</option>
                                    <option value="{{opt.code}}" ng-repeat="opt in GCODE_LIST">{{opt.name}}</option>
                                </select>								
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>코드 *</span></label> 
								<input kr-input type="text" id="C_SCODE" ng-model="Code2.C_SCODE"  maxlength="10" ng-disabled="!isNew" placeholder="영문,숫자 / 1~10자">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>코드명 *</span></label> 
								<input kr-input type="text" id="C_NAME" ng-model="Code2.C_NAME"  maxlength="100" placeholder="영문,숫자,특수문자 / 1~100자">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>코드설명</span></label> 
								<input kr-input type="text" id="C_MEMO" ng-model="Code2.C_MEMO" maxlength="1000" placeholder="영문,숫자,한글 / 1~500자">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>데이터1</span></label>
                                <input real-numbers-only id="C_VALUE1" ng-model="Code2.C_VALUE1" maxlength="38" placeholder="숫자">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>데이터2</span></label> 
								<input real-numbers-only id="C_VALUE2" ng-model="Code2.C_VALUE2" maxlength="38" placeholder="숫자">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>데이터3</span></label> 
								<input real-numbers-only id="C_VALUE3" ng-model="Code2.C_VALUE3"  maxlength="38" placeholder="숫자">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>데이터4</span></label> 
								<input real-numbers-only id="C_VALUE4" ng-model="Code2.C_VALUE4"  maxlength="38" placeholder="숫자">
							</div>
						</div>
					</div>

					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>문자데이터1</span></label> 
								<input kr-input type="text" id="C_CVALUE1" ng-model="Code2.C_CVALUE1"  maxlength="200" placeholder="영문,숫자,한글 / 1~100자">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>문자데이터2</span></label> 
								<input kr-input type="text" id="C_CVALUE2" ng-model="Code2.C_CVALUE2"  maxlength="200" placeholder="영문,숫자,한글 / 1~100자">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>문자데이터3</span></label> 
								<input kr-input type="text" id="C_CVALUE3" ng-model="Code2.C_CVALUE3"  maxlength="200" placeholder="영문,숫자,한글 / 1~100자">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>문자데이터4</span></label> 
								<input kr-input type="text" id="C_CVALUE4" ng-model="Code2.C_CVALUE4"  maxlength="200" placeholder="영문,숫자,한글 / 1~100자">
							</div>
						</div>
					</div>

					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>날짜데이터1</span></label> 
								<input kr-input type="text" id="C_DATE1" ng-model="Code2.C_DATE1" ng-readonly="true" class="datePickerToday">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>날짜데이터2</span></label> 
								<input kr-input type="text" id="C_DATE2" ng-model="Code2.C_DATE2" ng-readonly="true" class="datePickerToday">
							</div>
						</div>
					</div>
					
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>사용여부</span></label> 
								<!-- <input kr-input type="text" id="C_USEGBN" ng-model="Code.C_USEGBN" > --> 
								<select id="C_USEGBN" ng-model="Code2.C_USEGBN"  >
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for="C_SORT"><span>정렬순서</span></label> 
								<input numbers-only id="C_SORT" ng-model="Code2.C_SORT"  >
							</div>
						</div>						
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="saveCodeInfo()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="hideCodeInfoPopup()">취소</button>
				</div>
			</div>
		</div>
	</section>
