
M2_FILE
<table>
<tr>
<td>
파일업로드
<table>
<tr><td width="500">
<form id="uploadForm" action="" enctype="multipart/form-data">
	<label for="{{item.name}}" ng-repeat="item in fileItem" >
	<span>{{item.name}}</span>
	<input kr-input id="{{item.name}}" name="{{item.name}}" ng-model="File[item.name]"> 
	</label>
	<input kr-input type="file" name="file1" ng-model="files" ng-file-select="onFileSelect($files,'COM')" > <!-- ng-file-select="onFileSelect($files, 'jpg')"  -->
	<img ng-src="{{previewImg0}}" alt="   " style="width:200px;height:auto;" />
	<select ng-model="SelectFolder" ng-options="x.name for x in FolderList"></select>
</form>
<button ng-click="Download()">파일다운로드</button>
</td></tr>
<tr><td>
<button ng-click="Upload()">Upload</button>
<br>
<button ng-click="addFile()">add</button>
<button ng-click="deleteFile()">delete</button>
<button ng-click="editFile()">edit</button>
<button ng-click="realoadFile()">reload</button>
<button ng-click="clearFile()">clear</button>
</td>
</tr>
</table>
</tr>
<tr>
<td>
파밀목록
	<table border=1>
	<tr>
		<td ng-repeat="item in fileItem" width="{{item.width}}px">
		{{item.name}}
		</td>
	</tr>
	<tr dir-paginate="file in fileList | itemsPerPage:codeListRows" ng-click="selectFile(file)" pagination-id="fileList">
		<td ng-repeat="item in fileItem" style="overflow:hidden;" nowrap>
		{{file[item.name]}}
		</td>
	</tr>
	</table>
	<div class="paging">
		<dir-pagination-controls pagination-id="fileList" max-size="10" direction-links="true" boundary-links="true"  > 
		</dir-pagination-controls>
	</div>	
</td>

</td>
</tr>
</table>
