<div class="wh100">
	<div class="contain main_conts">
		<div class="conts_in height_auto">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 메뉴 권한관리
					</p>
				</div>
			</div>
			<div class="clear mt-1 d-flex align-items-center mt-2 mb-3">
				<div class="half_formB fm_w50" style="width: 25%;">
					<div class="form-group d-flex align-items-center">
						<label for="" class="mb-0 pt-1"><span>권한그룹선택</span></label> 
						<select ng-change="SelectedGroup(AuthGroup)" ng-options="x.G_GNAME for x in authGroup" ng-model="AuthGroup">
						<option hidden value="">{{firstSelect.firstSelect}}</option>
						</select>
					</div>
				</div>
				<div class="float_L pt-1 text-right ml-auto mr-4">
					<!-- <button class="btn btn_nv btnEdit" ng-click="createGroup_Pop()">신규</button> -->
					<button class="btn btn-success btnEdit" ng-click="SaveAuthGroup()">저장</button>
				</div>
			</div>
			<div class="main_conts">
				<div class="contain">
					<div class="conts_in admin_tmn admin_contsIn conts_inHD mx-2" style="border-radius: 0;">
						<div class="w100 dataScrollWrap">
							<!-- 헤더고정 테이블  -->
							<div class="fixed-table-container admin dblTbl" style="height: 660px;">
								<div class="header-bg"></div>
								<div class="table-wrapper">
									<table class="fixedTbl">
										<colgroup>
											<col width="12.5%">
											<col width="12.5%">
											<col width="12.5%">
											<col width="25%">
											<col width="12.5%">
											<col width="12.5%">
											<col width="12.5%">
										</colgroup>
										<thead>
											<tr class="ui-jqgrid-labels">
												<th width="12.5%">
													<div class="th-text">순번</div>
												</th>
												<th width="12.5%">
													<div class="th-text">메뉴코드</div>
												</th>
												<th width="12.5%">
													<div class="th-text">프로그램</div>
												</th>
												<th width="25%">
													<div class="th-text">메뉴명</div>
												</th>
												<th width="12.5%">
													<div class="th-text">사용여부</div>
												</th>
												<th width="12.5%">
													<div class="th-text">출력여부</div>
												</th>
												<th width="12.5%">
													<div class="th-text">수정여부</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="menu in AuthMenuList">
												<td class="ct">{{$index+1}}</td>
												<td class="ct">{{menu.M_MCODE}}</td>
												<td class="ct">{{menu.M_PG_FILE_NAME}}</td>
												<td class="ct">{{menu.M_NAME}}</td>
												<td class="ct">
													<button class="btn btn_nv use btnEdit" ng-show="menu.AuthStat" ng-click="toggle_Auth_Stat(menu)">사용중</button>
													<button class="btn btn_sbl use btnEdit" ng-hide="menu.AuthStat" ng-click="toggle_Auth_Stat(menu)">사용안함</button>
												</td>
												<td class="ct" ng-if="menu.AuthView == 'Y'">
													<button class="btn btn_nv btnEdit" ng-click="toggle_Auth_View(menu)">{{menu.AuthView}}</button>
												</td>
												<td class="ct" ng-if="menu.AuthView == 'N'">
													<button class="btn btn_sky btnEdit" ng-click="toggle_Auth_View(menu)">{{menu.AuthView}}</button>
												</td>
												<td class="ct" ng-if="menu.AuthModify == 'Y'">
													<button class="btn btn_nv btnEdit" ng-click="toggle_Auth_Modify(menu)">{{menu.AuthModify}}</button>
												</td>
												<td class="ct" ng-if="menu.AuthModify == 'N'">
													<button class="btn btn_sky btnEdit" ng-click="toggle_Auth_Modify(menu)">{{menu.AuthModify}}</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- 헤더고정 테이블  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
<div class="main_conts">	
	<div class="clear tits">	
		<p class="explan_tit bl">
			<span><i class="fas fa-angle-double-right"></i> 메뉴 권한관리</span>
		</p>		
	</div>	
</div>
<div class="first_box data_twoForm">
	<div class="main_conts">
		<div class="explan_box adminTopmn">
			<div class="boxs">
				<div class="clear tits">
					<div class="third_form btnWide">
						<div class="form-group Nomg">
							<label for=""><span><i class="fas fa-expand"></i>권한그룹선택</span></label>
							 <select ng-change="SelectedGroup(AuthGroup)" ng-options="x.G_GNAME for x in authGroup" ng-model="AuthGroup"></select>
						</div>
					</div>									
						<div class="float_R mg_L10">
							<button class="btn btn_nv btnEdit" ng-click="createGroup_Pop()">신규</button>
							<button class="btn btn-success btnEdit" ng-click="SaveAuthGroup()">저장</button>
						</div>					
				</div>
				
				<div class="clear tits">
					<div class="third_form">
						<div class="form-group">
					      	<label for=""><span><i class="fas fa-expand"></i>그룹코드</span></label>
					     	<input kr-input ng-model="AuthGroup.G_GCODE">					     									        
					    </div>
					</div>
					<div class="third_form">
						<div class="form-group">
					      	<label for=""><span><i class="fas fa-expand"></i>그룹명</span></label>
							<input kr-input ng-model="AuthGroup.G_GNAME">
							<div class="float_L mg_L10">
								<button class="btn_nv btnEdit" ng-click="SaveAuthGroup()">저장</button>
							</div>						     									        
					    </div>
					</div>										
				</div>
				
			</div>
		</div>
	</div>	
</div>
<div class="main_conts">
	<div class="contain">
		<div class="conts_in admin_tmn admin_contsIn conts_inHD mx-2">			
			<div class="w100 dataScrollWrap">
				헤더고정 테이블 
				<div class="fixed-table-container admin dblTbl">
					<div class="header-bg"></div>
					<div class="table-wrapper">
						<table class="fixedTbl">
							<colgroup>
								<col width="12.5%">
								<col width="12.5%">
								<col width="12.5%">
								<col width="25%">
								<col width="12.5%">
								<col width="12.5%">
								<col width="12.5%">					
							</colgroup>
							<thead>
								<tr class="ui-jqgrid-labels">
									<th width="12.5%">
										<div class="th-text">순번</div>
									</th>
									<th width="12.5%">
										<div class="th-text">메뉴코드</div>
									</th>
									<th width="12.5%">
										<div class="th-text">프로그램</div>
									</th>									
									<th width="25%">
										<div class="th-text">메뉴명</div>
									</th>
									<th width="12.5%">
										<div class="th-text">사용여부</div>
									</th>
									<th width="12.5%">
										<div class="th-text">보기여부</div>
									</th>
									<th width="12.5%">
										<div class="th-text">수정여부</div>
									</th>								
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="menu in AuthMenuList" >
									<td class="ct">{{$index+1}}</td>
									<td class="ct">{{menu.M_MCODE}}</td>
									<td class="ct">{{menu.M_PG_FILE_NAME}}</td>
									<td class="ct">{{menu.M_NAME}}</td>
									<td class="ct">
										<button class="btn btn_nv use btnEdit" ng-show="menu.AuthStat" ng-click="toggle_Auth_Stat(menu)">사용중</button>
										<button class="btn btn_sbl use btnEdit" ng-hide="menu.AuthStat" ng-click="toggle_Auth_Stat(menu)">사용안함</button>
									</td>
									<td class="ct"><button class="btn btn_nv btnEdit" ng-click="toggle_Auth_View(menu)">{{menu.AuthView}}</button></td>
									<td class="ct"><button class="btn btn_sky btnEdit" ng-click="toggle_Auth_Modify(menu)">{{menu.AuthModify}}</button></td>								
								</tr>				
							</tbody>
						</table>
					</div>
				</div>
				헤더고정 테이블 
			</div>			  
		</div>
	</div>	
</div> -->

<!-- <div style="width:100%;height:800px;overflow-y: scroll;padding-left:10px;">
권한코드 선택 <select ng-change="SelectedGroup(AuthGroup)" ng-options="x.G_GNAME for x in authGroup" ng-model="AuthGroup"></select>
<button ng-click="createGroup_Pop()">권한 코드추가</button> -->
<!-- <form>
	GCode : <input kr-input ng-model="AuthGroup.G_GCODE">
	GName : <input kr-input ng-model="AuthGroup.G_GNAME">
	<button ng-click="SaveAuthGroup()">저장</button>	
</form> -->
<!-- <table border=1 style="width:1200px;height:400px;">
	<tr>
		<td>NO</td>
		<td>PG_FILE_NAME</td>
		<td>NAME</td>
		<td>AUTH STAT</td>
		<td>A_VIEW</td>
		<td>A_MANG</td>
	</tr>
	<tr ng-repeat="menu in AuthMenuList" ng-click="selectMenu(menu)">
		<td>{{$index+1}}</td>
		<td>{{menu.M_PG_FILE_NAME}}</td>
		<td>{{menu.M_NAME}}</td>
		<td>
			<button ng-show="menu.AuthStat" ng-click="toggle_Auth_Stat(menu)">사용중</button>
			<button ng-hide="menu.AuthStat" ng-click="toggle_Auth_Stat(menu)">사용안함</button>
		</td>
		<td><button ng-click="toggle_Auth_View(menu)">{{menu.AuthView}}</button></td>
		<td><button ng-click="toggle_Auth_Modify(menu)">{{menu.AuthModify}}</button></td>
	</tr>
</table>

</div> -->
