<div class="wh100">
	<div class="contain main_conts">
		<div class="conts_in height_auto">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 로그 목록
					</p>
				</div>
			</div>
			<div class="clear mt-1 d-flex">
				<div class="half_formB fm_w50" style="width: 25%;">
					<div class="form-group">
						<label for="" class="pt-1"><span>로그 구분</span></label> <select ng-init="LG_OPT=''" ng-model="LG_OPT">
							<option value="">전체</option>
							<option value="1">로그인</option>
							<option value="o">로그아웃</option>
							<option value="F">로그인실패</option>
							<option value="2">엑셀</option>
							<!-- <option value="3">에러</option> -->
							<option value="4">자산등록</option>
							<option value="5">자산수정</option>
							<option value="6">자산삭제</option>
							<option value="7">자산폐기</option>
							<option value="8">자산불용</option>
							<option value="c">사용자생성</option>
							<option value="m">사용자수정</option>
							<option value="d">사용자삭제</option>
							<option value="v">사용자조회</option>
							<option value="p">패스워드변경</option>
						</select>
					</div>
				</div>
				<div class="half_formB fm_w50" style="width: 25%;">
					<div class="form-group">
						<label for="" class="pt-1"><span>기간선택</span></label> 
						<input type=text style="width: 28% !important;" id="start_dt" readonly class="datePicker" ng-model="startDate"> 
						<label for="" style="width: auto !important;" class="pr-1 pl-1 mb-0"><span>~</span></label> 
						<input type=text style="width: 28% !important;" id="end_dt" readonly class="datePicker" ng-model="endDate">
					</div>
				</div>
				<div class="half_formB fm_w50" style="width: 25%;">
					<div class="form-group">
						<label for="" class="pt-1"><span>로그내용</span></label> <input type=text ng-model="searchText" ng-keypress="onKeyPress($event)">
					</div>
				</div>
				<div class="float_L mg_L10 pt-1 text-right ml-auto mr-4">
					<button class="btn btn_nv" ng-click="loadLog()">조회</button>
					<button class="btn btn_gr btnView" ng-click="ExcelReport()">엑셀</button>
				</div>
			</div>
			<div class="main_conts">
				<div class="grid">
					<table id="list">
					</table>
				</div>
				<div id="listPager"></div>
				<span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
				<div id="list_page" class="mb-2"></div>
			</div>
		</div>
	</div>
</div>

