<!-- 메뉴 추가 / 수정 -->
<section class="popupSection" onMouseMove="moveWindow(event,'#menuInfoPopup')"> <!--  ng-show="menuPopupShow" -->
    <div class="popupWrap menu_popupWrap" id="menuInfoPopup"> <!-- ng-show="popupSectionShow" -->
        <h3>
            메뉴 {{popupType}}
            <span class="popupClose"><i class="xi-close" ng-click="cancelPop()"></i></span>
        </h3>
        <div class="popup">
            <div class="menu_info">
                <div class="clear">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for="MenuItem_M_NAME"><span>메뉴명 *</span></label> <input kr-input type="text" id="MenuItem_M_NAME" name="MenuItem_M_NAME" ng-model="MenuItem.M_NAME" maxlength="30" class="ng-pristine ng-valid ng-valid-maxlength ng-touched">
                        </div>
                    </div>
                </div>
                <div class="clear">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for="MenuItem_M_PG_FILE_NAME"><span>PG파일 *</span></label> <input kr-input type="text" id="MenuItem_M_PG_FILE_NAME" name="MenuItem_M_PG_FILE_NAME" ng-model="MenuItem.M_PG_FILE_NAME" maxlength="200" class="ng-pristine ng-valid ng-valid-maxlength ng-touched">
                        </div>
                    </div>
                </div>
                <div class="clear">
                    <div class="w100 Form100" style="display:flex !important;">
                        <div class="form-group" style="width: 20%!important">
                            <label for="advanced" class="advanced" id="advanced_popup" style="width:100% !important; margin-top: 10px;"><span>고급<i class="xi-cog" style="cursor: pointer;" ng-click="advancedPopup();"></i></span></label>
                        </div>
                        <div class="clear_wrap" id="clear_wrap_popup">
                            <div class="clear">
                                <div class="w100 Form100">
                                    <div class="form-group">
                                        <label for="MenuItem_M_MCODE"><span>메뉴코드 *</span></label> <input kr-input type="text" id="MenuItem_M_MCODE" name="MenuItem_M_MCODE" ng-model="MenuItem.M_MCODE" maxlength="4"  ng-disabled="popupType === '수정'">
                                    </div>
                                </div>
                            </div>
                            <div class="clear">
                                <div class="w100 Form100">
                                    <div class="form-group">
                                        <label for="MenuItem_M_SORT"><span>메뉴정렬</span></label> <input numbers-only id="MenuItem_M_SORT" name="MenuItem_M_SORT" ng-model="MenuItem.M_SORT" maxlength="3" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popupBtnWrap">
                <button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveMenu()">저장</button>
<!--
                <button type="button" class="btn btn-block btn-success saveBtn" ng-click="confirmPop()">저장</button>
-->
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="cancelPop()">취소</button>
            </div>
        </div>
    </div>
</section>

<script>
    // $("#advanced_popup").on("click",function(){
    //     // alert('click');
    //     $("#clear_wrap_popup").show();
    // });
</script>