<div class="contain main_conts " id="menu_admin">
	<div class="contain conts_half left">
		<div class="conts_in tab_one">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 메뉴 관리
					</p>
				</div>
				<div class="menu_info">
					<section id="blockPanel-wrapper" class="blockPanel-wrapper">
						<article class="blockPanel" ng-repeat="menu in SampleMenuList |filter:{M_PART:'01'}| filter :{M_LEVEL:0}">
							<div class="blockPanel-heading" style="cursor:pointer;">
									<span class="blockName" data-toggle="collapse" href="#menu{{menu.M_MCODE}}" ng-click="selectMenu(menu)">
										<i class="fas fa-minus"></i>{{menu.M_NAME}} <!--ng-if="menu.MenuList.length>0" -->
									</span>
							</div>
							<ul ng-if="menu.MenuList.length>0" id="menu{{menu.M_MCODE}}" class="list-group panel-collapse collapse show" style="cursor:pointer;">
								<li ng-repeat="sub in menu.MenuList">
									<div class="blockPanel-heading" style="cursor:pointer;">
										<span class="blockName" data-toggle="collapse" href="#sub{{sub.M_MCODE}}" ng-click="selectMenu(sub)">
											<i class="fas fa-minus"></i>{{sub.M_NAME}}</span><!--ng-if="sub.MenuList.length>0" -->
									</div>
									<ul ng-if="sub.MenuList.length>0" id="sub{{sub.M_MCODE}}" class="list-group panel-collapse collapse show" style="cursor:pointer;">
										<li ng-repeat="third in sub.MenuList">
											<div class="blockPanel-heading" style="cursor:pointer;">
												<span ng-click="selectMenu(third)">{{third.M_NAME}}</span>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</article>
					</section>
				</div>
			</div>

		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in tab_one">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 메뉴 정보
					</p>
				</div>
				<div class="menu_info">
					<div class="clear">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for="M_NAME"><span>메뉴명</span></label> <input kr-input type="text" id="M_NAME" name="Menu.M_NAME" ng-model="Menu.M_NAME" maxlength="30" class="ng-pristine ng-valid ng-valid-maxlength ng-touched" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for="M_PG_FILE_NAME"><span>PG파일</span></label> <input kr-input type="text" id="M_PG_FILE_NAME" name="M_PG_FILE_NAME" ng-model="Menu.M_PG_FILE_NAME" maxlength="200" class="ng-pristine ng-valid ng-valid-maxlength ng-touched" readonly>
							</div>
						</div>
					</div>
					<div class="clear">
						<div class="half_formB fm_w50" style="display:flex !important;">
							<div class="form-group" style="width: 40%!important;">
								<label for="advanced" class="advanced" id="advanced" style="width:100% !important;"><span>고급<i class="xi-cog" style="cursor: pointer;" ng-click="advanced();"></i></span></label>
							</div>
							<div class="clear_wrap" id="clear_wrap">
								<div class="clear">
									<div class="w100 Form100">
										<div class="form-group">
											<label for="M_MCODE"><span>메뉴코드</span></label> <input kr-input type="text" id="M_MCODE" name="M_MCODE" ng-model="Menu.M_MCODE" class="ng-pristine ng-untouched ng-valid ng-valid-maxlength" readonly>
										</div>
									</div>
								</div>
								<div class="clear">
									<div class="w100 Form100">
										<div class="form-group">
											<label for="M_SORT"><span>메뉴정렬</span></label> <input kr-input type="text" id="M_SORT" name="M_SORT" ng-model="Menu.M_SORT" maxlength="38" class="ng-pristine ng-untouched ng-valid ng-valid-maxlength" readonly>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="text-right">
							<button class="btn btn_nv btnEdit" ng-click="addPop()">신규</button>
							<button class="btn btn_sky btnEdit" ng-click="editPop()">수정</button>
							<button class="btn btn-danger btnEdit" ng-click="deleteMenu()">삭제</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- 관리자 > 메뉴관리 메뉴 추가 팝업창 -->
<div class="modal_htbl modal_menu" id="dialog-menuPopup" style="display: none;" ng-include="'./view/admin/menuPopup.html'" ></div>