<div class="main_conts">
	<div class="clear tits">
		<p class="explan_tit bl"><span><i class="fas fa-angle-double-right"></i> 메뉴 관리</span></p>
		<div class="float_R">
			<button id="adMenu" class="btn_sky btnS btnEdit" ng-click="selectMenu({})">메뉴추가</button>
		</div>
	</div>
</div>
<div class="contain main_conts">
	<div class="conts_in admin_bsc admin_contsIn conts_inHD">
		<div class="w100 dataScrollWrap">
			<!-- 헤더고정테이블 test -->
			<div class="fixed-table-container admin">
				<div class="header-bg"></div>
				<div class="table-wrapper">
					<table class="fixedTbl">
						<colgroup>
							<col width="8%">
							<col width="8%">
							<col width="8%">
							<col width="8%">
							<col width="8%">
							<col width="8%">
							<col width="8%">
							<col width="18%">
							<col width="18%">
							<col width="8%">
						</colgroup>
						<thead>
							<tr class="ui-jqgrid-labels">
								<th width="8%"><div class="th-text">PG파일</div></th>
								<th width="8%"><div class="th-text">메뉴구분</div></th>
								<th width="8%"><div class="th-text">상위메뉴코드</div></th>
								<th width="8%"><div class="th-text">메뉴레벨</div></th>
								<th width="8%"><div class="th-text">메뉴TOP정렬</div></th>
								<th width="8%"><div class="th-text">메뉴정렬</div></th>
								<th width="8%"><div class="th-text">메뉴코드</div></th>
								<th width="18%"><div class="th-text">메뉴명</div></th>
								<th width="18%"><div class="th-text">메뉴 약식명</div></th>
								<th width="8%"><div class="th-text">도움말 페이지 번호</div></th>
							</tr>
						</thead>
						<tbody>
							<tr class="pointer" ng-repeat="menu in SampleMenuList" ng-dblclick="selectMenu(menu)">
								<td class="ct">{{menu.M_PG_FILE_NAME}}</td>
								<td class="ct">{{menu.M_PART}}</td>
								<td class="ct">{{menu.M_PARENT_MCODE}}</td>
								<td class="ct">{{menu.M_LEVEL}}</td>
								<td class="ct">{{menu.M_TSORT}}</td>
								<td class="ct">{{menu.M_SORT}}</td>
								<td class="ct">{{menu.M_MCODE}}</td>
								<td class="lt">{{menu.M_NAME}}</td>
								<td class="lt">{{menu.M_NAME2}}</td>
								<td class="ct">{{menu.M_HELP_PAGE}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 헤더고정테이블 test -->
		</div>
	</div>
</div>
<!-- 메뉴관리 모달 내용 -->
<div class="modal_htbl" id="admin_menu" style="display: none;" >
	<div class="explan_box" >
		<div class="main_conts">
			<div class="boxs">
				<div class="clear">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="PG_FILE_NAME"><span>PG파일</span></label> <input kr-input type=text id="PG_FILE_NAME" name="PG_FILE_NAME" value="" ng-model="MenuItem.M_PG_FILE_NAME" maxlength="200">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="M_PART"><span>메뉴구분</span></label> <input kr-input type=text id="M_PART" name="M_PART" ng-model="MenuItem.M_PART" maxlength="2">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="PARENT_MCODE"><span>상위메뉴코드</span></label> <input kr-input id="PARENT_MCODE" name="PARENT_MCODE" value="" ng-model="MenuItem.M_PARENT_MCODE" maxlength="4">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="LEVEL"><span>메뉴레벨</span></label> <input kr-input type=text id="LEVEL" name="LEVEL" value="" ng-model="MenuItem.M_LEVEL" maxlength="2">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="TSORT"><span>메뉴TOP정렬</span></label> <input kr-input type=text id="TSORT" name="TSORT" value="" ng-model="MenuItem.M_TSORT" maxlength="38">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="SORT"><span>메뉴정렬</span></label> <input kr-input type=text id="SORT" name="SORT" value="" ng-model="MenuItem.M_SORT" maxlength="38">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="MCODE"><span>메뉴코드</span></label> <input kr-input type="text" id="MCODE" name="MCODE" ng-model="MenuItem.M_MCODE" maxlength="4">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="NAME"><span>메뉴명</span></label> <input kr-input type=text id="NAME" name="NAME" value="" ng-model="MenuItem.M_NAME" maxlength="30">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="NAME2"><span>메뉴 약식명</span></label> <input kr-input type=text id="NAME2" name="NAME2" value="" ng-model="MenuItem.M_NAME2" maxlength="30">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="M_HELP_PAGE"><span>도움말 페이지 번호</span></label> <input kr-input type=text id="M_HELP_PAGE" name="M_HELP_PAGE" value="" ng-model="MenuItem.M_HELP_PAGE" maxlength="3">
						</div>
					</div>
				</div>
				
				<div class="clear btnZone">
					<div class="search_box inputArea_R">
						<div class="float_L">
							<button ng-show="MenuEditMode==1" class="btn_nv btnEdit ct" ng-click="addMenu()">추가</button>
							<button ng-show="MenuEditMode==2" class="btn_nv btnEdit ct" ng-click="editMenu()">수정</button>
							<!-- <button class="btn_nv" ng-click="realoadMenu()">reload</button>
							<button class="btn_nv" ng-click="clearMenu()">clear</button> -->
							&nbsp;&nbsp;
							<button ng-show="MenuEditMode==2" class="btn_nv btnEdit" ng-click="deleteMenu()">삭제</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 메뉴관리 모달 내용 -->
