
<div style="width:100%;overflow-y: scroll;padding-left:10px;">
<table>
<tr><td width="500">
<form action="">
	<label for="{{item.name}}" ng-repeat="item in userItem" >
	<span>{{item.name}}</span>
	<input kr-input id="{{item.name}}" ng-model="User[item.name]"> 
	</label>
</form>
</td></tr>
<tr><td>
<button ng-click="addUser()">add</button>
<button ng-click="deleteUser()">delete</button>
<button ng-click="editUser()">edit</button>
<button ng-click="realoadUser()">reload</button>
<button ng-click="clearUser()">clear</button>
</td>
</tr>
</table>
<br/>
<br/>
page:<input kr-input ng-model = "page" >
rows:<input kr-input ng-model = "rows" >
<button ng-click="getUserList()">getUserList</button>
<br/>
<br/>

records count: {{records}} 
, page : {{page}}/{{total}}
<table border=1 style="width:100%;" >
<tr>
<td>E_ID</td>
<td>E_PW</td>
<td>E_ENUM</td>
<td>E_NAME</td>
<td>E_AFF</td>
<td>E_POS</td>
<td>E_DBIRTH</td>
<td>E_ADDR</td>
<td>E_ZIP</td>
<td>E_JOB</td>
<td>E_PHONE</td>
<td>E_MPHONE</td>
<td>E_FAX</td>
<td>E_EMAIL</td>
<td>E_GCODE1</td>
<td>E_INOFF</td>
<td>E_POTO</td>
<td>E_UDATE</td>
<td>E_UUSER</td>
<td>E_TGRADE</td>
<td>E_SIGN</td>
<td>E_MEMO</td>

</tr>
<tr ng-repeat="user in userList" ng-click="selectUser(user)">
<td>{{user.E_ID}}</td>
<td>{{user.E_PW}}</td>
<td>{{user.E_ENUM}}</td>
<td>{{user.E_NAME}}</td>
<td>{{user.E_AFF}}</td>
<td>{{user.E_POS}}</td>
<td>{{user.E_DBIRTH}}</td>
<td>{{user.E_ADDR}}</td>
<td>{{user.E_ZIP}}</td>
<td>{{user.E_JOB}}</td>
<td>{{user.E_PHONE}}</td>
<td>{{user.E_MPHONE}}</td>
<td>{{user.E_FAX}}</td>
<td>{{user.E_EMAIL}}</td>
<td>{{user.E_GCODE1}}</td>
<td>{{user.E_INOFF}}</td>
<td>{{user.E_POTO}}</td>
<td>{{user.E_UDATE}}</td>
<td>{{user.E_UUSER}}</td>
<td>{{user.E_TGRADE}}</td>
<td>{{user.E_SIGN}}</td>
<td>{{user.E_MEMO}}</td>
</tr>
</table>



</div>
