<section class="popupSection" id = "menuAuthority" style="display: none;" >
	<div class="popupWrap sys_menu_popupWrap">
		<h3>
			업무그룹 메뉴 권한 설정
			<span class="popupClose"><i class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popupInfoWrap">
				<div class="popup_scroll">
					<section id="blockPanel-wrapper" class="blockPanel-wrapper">
						<article class="blockPanel">
							<div class="blockPanel-heading">
								<form action="">
									<input type="checkbox">
								</form>
								<a data-toggle="collapse" aria-expanded="false" href="#blockNav1" class="collapsed">
									<span class="blockName">대시보드</span>
									</a>
								</div>
										<ul id="blockNav1" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">대블록</span>
												</a>
											</li>
										</ul>
									</article>
						
									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav2" class="collapsed">
												<span class="blockName">관리자</span>
											</a>
										</div>
										<ul id="blockNav2" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">급수관로</span>
												</a>
											</li>
										</ul>
									</article>

									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav3" class="collapsed">
												<span class="blockName">정보관리</span>
											</a>
										</div>
										<ul id="blockNav3" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">펌프시설</span>
												</a>
											</li>
										</ul>
									</article>

									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav4" class="collapsed">
												<span class="blockName">운영관리</span>
											</a>
										</div>
										<ul id="blockNav4" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">건물</span>
												</a>
											</li>
										</ul>
									</article>
									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav5" class="collapsed">
												<span class="blockName">평가분석</span>
											</a>
										</div>
										<ul id="blockNav5" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">내용</span>
												</a>
											</li>
										</ul>
									</article>
									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav6" class="collapsed">
												<span class="blockName">재무분석</span>
											</a>
										</div>
										<ul id="blockNav6" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">내용</span>
												</a>
											</li>
										</ul>
									</article>
									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav7" class="collapsed">
												<span class="blockName">지리정보시스템</span>
											</a>
										</div>
										<ul id="blockNav7" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">내용</span>
												</a>
											</li>
										</ul>
									</article>
									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="false" href="#blockNav8" class="collapsed">
												<span class="blockName">통계분석</span>
											</a>
										</div>
										<ul id="blockNav8" class="list-group panel-collapse collapse" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">내용</span>
												</a>
											</li>
										</ul>
									</article>
									<article class="blockPanel">
										<div class="blockPanel-heading">
											<form action="">
												<input type="checkbox">
											</form>
											<a data-toggle="collapse" aria-expanded="true" href="#blockNav9" class="collapsed">
												<span class="blockName">게시판</span>
											</a>
										</div>
										<ul id="blockNav9" class="list-group panel-collapse collapse show" style="">
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">공지사항</span>
												</a>
											</li>
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">질의/응답</span>
												</a>
											</li>
											<li>
												<form action="">
													<input type="checkbox">
												</form>
												<a data-toggle="collapse" class="">
													<span class="blockName">자료실</span>
												</a>
											</li>
										</ul>
									</article>
						
								</section>
				</div>
				<div class="popupBtnWrap">
					<button type="button" class="btn btn-block btn-primary saveBtn" ng-click = "alertifySave()">확인</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click = "cancelMsg('#menuAuthority')">취소</button>
				</div>
			</div>
		</div>
	</div>
</section>