<section class="popupSection" ng-show="pictureSelet">
	<div class="popupWrap sys_image_popupWrap height_auto">
		<h3>
			<span ng-click="test_bt()">사진등록</span>
			<span class="popupClose" ng-click= "pctureCancelMsg('#PicturePopup3')"><i class="xi-close"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popup_info">
				<div class="filebox bs3-primary preview-image">
              		<label for="input_file" class="btn btn-block btn-primary uploadBtn font-weight-bold">파일선택</label> 
              		 <input class="upload-name" value="{{pictureValue}}" disabled="disabled" style="width:290px;" >
              		 <input  type="file" id="input_file" class="upload-hidden" ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
              		 ngf-pattern="'image/*'" accept="image/*" style="width:290px;" > 
              		 
              		<!--  <input kr-input type="file" id="" style="display: none;" 
              		ng-model="file" ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
					ngf-pattern="'image/*'" accept="image/*">
            	  -->
            	</div>
				<p>등록 파일 종류 : JPG, JPEG, PNG, GIF, BMP</p>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-primary saveBtn" ng-click= "pctureSelectMsg()">확인</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click= "pctureCancelMsg()">취소</button>
			</div>
		</div>
	</div>
</section>