<div class="wh100">
	<div class="contain main_conts">
		<div class="conts_in height_auto">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 연계 목록
					</p>
				</div>
			</div>
			<div class="clear mt-1 d-flex align-items-center mt-2 mb-3">
				<div class="half_formB fm_w50" style="width: 25%;">
					<div class="form-group d-flex align-items-center">
						<label for="" class="mb-0 pt-1"><span>구분</span></label>
						<select ng-model="SelectRelayItem">
							<option value="">전체</option>
							<option value="1">관망관리 시스템 - 유량/수압</option>
							<!-- <option value="2">관망관리 시스템 - 수압</option> -->
							<option value="3">관망관리 시스템 - 수질</option>
							<option value="4">관망관리 시스템 - 요금</option>
						</select>
					</div>
				</div>
				<div class="clear d-flex align-items-center font-weight-bold">
					<span class="small font-weight-bold text-center" style="width: 100px;">기간 선택</span>
					<div class="inputRdo p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center" style="height: 46px">
						<div class="custom-control custom-radio" style="width: auto !important;">
							<input type="radio" class="custom-control-input" name="DATE_radio" id="DATE_radio1" ng-model="searchDateType" value="1" ng-change="setWeek()"> 
							<label class="custom-control-label" for="DATE_radio1" style="left: 55%; top: 0;"><span class="pdr_26">최근 1주일</span></label>
						</div>
						<div class="custom-control custom-radio" style="width: auto !important;">
							<input type="radio" class="custom-control-input" name="DATE_radio" id="DATE_radio2" ng-model="searchDateType" value="2"> 
							<label class="custom-control-label" for="DATE_radio2" style="left: 45%; top: 0; padding-right: 10px !important;"><span>사용자 선택</span></label>
						</div>
						<div class="custom-control custom-radio d-flex align-items-center">
							<input kr-input type="text" class="datePicker" ng-model="searchDate.S_DATE" ng-click="changeRadio(2)" style="width: 130px !important;" readonly="readonly"> 
							<label for="" style="padding: 0 5px !important;" class="mb-0"><span>~</span></label> 
							<input kr-input type="text" class="datePicker" ng-model="searchDate.E_DATE" ng-click="changeRadio(2)" style="width: 130px !important;" readonly="readonly">
						</div>
					</div>
				</div>
				<div class="float_L pt-1 text-right ml-auto mr-4">
					<button class="btn btn_nv" ng-click="search()">조회</button>
					<button class="btn btn_gr" ng-click="DownLoadExcel()">엑셀</button>
				</div>
			</div>
			<div class="main_conts">
				<div class="grid">
					<table id="list"></table>
				</div>
				<div id="listPager"></div>
				<div id="list_page" class="mb-2"></div>
			</div>
		</div>
	</div>
</div>
