<div class="min_tab">
	<ul class="tabs">
		<li>
			<button data-tab="tab1" class="{{('tab1'=='tab'+tabid)?'active':''}}">시스템 구성도</button>
		</li>
		<li ng-repeat="tab in TabList">
			<button data-tab="tab{{$index+2}}" data-idx="{{$index}}" class="{{(($index+2)== tabid)?'active':''}}">{{tab.title}}</button>
		</li>
	</ul>
</div>
<!--2019/02/12-->
<div id="tab1" class="conts_box">
	<div class="sys_img">
		<img src="../assets/images/total_monitor.jpg" alt="하수관로 운영관리 시스템 구성도">
	</div>
</div>
<div id="tab{{$index+2}}" class="conts_box" style="display: none;" ng-repeat="tab in TabList">
	<div class="contain conts_third left">
		<div class="conts_in tab_one">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> {{tab.title1}} 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits">
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""><span><span>제품명</span></span></label> <input kr-input type="text" name="s_em_name_{{tab.typeId}}" id="s_em_name_{{tab.typeId}}">
						</div>
						<div class="float_L">
							<button id="reference" class="btn_nv btnView" ng-click="list1_search(tab)">조회</button>
						</div>
					</div>
					<div class="float_R">
						<button id="newEnroll" class="btn_sky btnEdit" ng-click="list1_clearItem(tab)">신규등록</button>
					</div>
				</div>
			</div>
			<!--시스템 / 목록 테이블--->
			<div class="grid">
				<table id="{{tab.gridId1}}">
				</table>
			</div>
			<div id="{{tab.pagerId1}}"></div>
			<div id="{{tab.gridId1}}_page"></div>
			<!--시스템 / 목록 테이블--->
		</div>
	</div>
	<div class="contain conts_third right">
		<div class="conts_in tab_one">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> {{tab.title1}} 사양
					</p>
				</div>
			</div>
			<div class="first_box main_conts">
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>제품번호</span></label>
							<div class="inputFix">
								<p class="IdNum" ng-bind="tab.Grid1_Item.EM_NUM"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="em_name{{tab.typeId}}"><span>제품명 *</span></label> <input kr-input type="text" id="em_name{{tab.typeId}}" name="em_name" ng-model="tab.Grid1_Item.EM_NAME" maxlength="30">
						</div>
						<div class="form-group">
							<label for="em_model{{tab.typeId}}"><span>모델명 *</span></label> <input kr-input type="text" id="em_model{{tab.typeId}}" name="em_model" ng-model="tab.Grid1_Item.EM_MODEL" maxlength="30">
						</div>
						<div class="form-group" ng-show="isTab(tab)">
							<label for="em_license{{tab.typeId}}"><span>라이센스</span></label> <input kr-input type="text" id="em_license{{tab.typeId}}" name="em_license" ng-model="tab.Grid1_Item.EM_LICENSE" maxlength="30">
						</div>
						<div class="form-group">
							<label for="em_maker{{tab.typeId}}"><span>제조/공급사 *</span></label> <input kr-input type="text" id="em_maker{{tab.typeId}}" name="em_maker" ng-model="tab.Grid1_Item.EM_MAKER" maxlength="30">
						</div>
						<div class="form-group">
							<label for="em_phone{{tab.typeId}}"><span>연락처</span></label> <input kr-input type="text" id="em_phone{{tab.typeId}}" name="em_phone" ng-model="tab.Grid1_Item.EM_PHONE" maxlength="20">
						</div>
						<div class="form-group">
							<label for="datetimepicker{{tab.typeId}}"><span>설치일자 *</span></label> <input kr-input type="text" class="datePicker" id="datetimepicker{{tab.typeId}}" name="em_cdate" ng-model="tab.Grid1_Item.EM_CDATE" readonly>
						</div>
					</div>
				</div>
				<div class="clear hiddenBtn">
					<div class="float_R">
						<button class="btn_sky btnEdit" ng-show="btnIsUpdate(tab)" ng-click="list1_crud(tab,'delete')">삭제</button>
						<button class="btn_nv btnEdit" ng-show="btnIsUpdate(tab)" ng-click="list1_crud(tab,'update')">수정</button>
						<button class="btn_nv btnEdit" ng-show="!btnIsUpdate(tab)" ng-click="list1_crud(tab,'insert')">등록</button>
					</div>
				</div>
				<div class="active" style="position: relative;">
					<div class="bar clear"></div>
					<div class="clear tits">
						<p class="explan_tit bl">
							<span><i class="fas fa-angle-double-right"></i> 용량(사양)</span>
						</p>
						<div class="search_box inputArea_R">
							<div class="float_L">
								<button id="newAdd" class="btn_sky btnEdit" ng-click="list2_clearItem(tab)">신규추가</button>
							</div>
						</div>
					</div>
					<!-- 사양 short table-->
					<div class="grid middleTbl">
						<table id="{{tab.gridId2}}"></table>
						<!-- <div id="{{tab.pagerId2}}"> -->
					</div>
					<!-- 사양 short table-->
					<!-- min input wrap / 관리번호 -->
					<div class="clear">
						<div class="fm_w40 min_input">
							<div class="form-group">
								<label for=""><span>관리번호</span></label>
								<div class="inputFix">
									<p class="IdNum" ng-bind="tab.Grid2_Item.ES_SEQ">1</p>
								</div>
							</div>
						</div>
						<div class="fm_w60 min_input">
							<div class="form-group">
								<label for="es_tname{{tab.typeId}}"><span>항목</span></label> <input kr-input type="text" name="es_tname{{tab.typeId}}" id="es_tname{{tab.typeId}}" ng-model="tab.Grid2_Item.ES_TNAME">
							</div>
						</div>
					</div>
					<div class="clear">
						<div class="fm_w100 min_input">
							<div class="form-group">
								<label for="es_tnote{{tab.typeId}}"><span>용량(사양)</span></label> <input kr-input type="text" name="proId" id="es_tnote{{tab.typeId}}" class="btn_input" ng-model="tab.Grid2_Item.ES_TNOTE">
								<div class="float_R mg_0 w_auto">
									<!--<button id="Enroll" class="btn_nv">등록</button> -->
									<button class="btn_nv btnEdit" id="Enroll" ng-show="btnIsUpdate2(tab)" ng-click="list2_crud(tab,'update')">수정</button>
									<button class="btn_nv btnEdit" id="Enroll" ng-show="!btnIsUpdate2(tab)" ng-click="list2_crud(tab,'insert')">등록</button>
								</div>
							</div>
						</div>
					</div>
					<!-- min input wrap / 관리번호 -->
					<div class="tblHide" ng-hide="specShow(tab)"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="contain conts_third right">
		<div class="conts_in tab_one">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 보수이력
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits">
					<div class="float_R">
						<button id="newAdd" class="btn_sky btnEdit" ng-click="list3_clearItem(tab)">신규추가</button>
					</div>
				</div>
			</div>
			<!-- 보수이력 테이블--->
			<div class="grid">
				<table id="{{tab.gridId3}}">
				</table>
			</div>
			<div id="{{tab.pagerId3}}"></div>
			<div id="{{tab.gridId3}}_page"></div>
			<!-- 보수이력 테이블--->
			<div class="first_box main_conts">
				<!-- min input wrap / 이력번호 -->
				<div class="clear">
					<div class="fm_w40 min_input">
						<div class="form-group">
							<label for=""><span>이력번호</span></label>
							<div class="inputFix">
								<p class="IdNum" ng-bind="tab.Grid3_Item.EH_SEQ">
							</div>
						</div>
					</div>
					<div class="fm_w60 min_input">
						<div class="form-group">
							<label for="eh_hdate{{tab.typeId}}"><span>보수일자 *</span></label> <input kr-input type="text" class="datePicker" name="eh_hdate{{tab.typeId}}" id="eh_hdate{{tab.typeId}}" ng-model="tab.Grid3_Item.EH_HDATE" readonly>
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="fm_w100 min_input">
						<div class="form-group">
							<label for="eh_desc{{tab.typeId}}"><span>보수내용 *</span></label> <input kr-input type="text" name="eh_desc{{tab.typeId}}" id="eh_desc{{tab.typeId}}" class="btn_input" ng-model="tab.Grid3_Item.EH_DESC">
							<div class="float_R mg_0 w_auto">
								<button class="btn_nv btnEdit" id="Enroll" ng-show="btnIsUpdate3(tab)" ng-click="list3_crud(tab,'update')">수정</button>
								<button class="btn_nv btnEdit" id="Enroll" ng-show="!btnIsUpdate3(tab)" ng-click="list3_crud(tab,'insert')">등록</button>
							</div>
						</div>
					</div>
				</div>
				<!-- min input wrap / 이력번호 -->
			</div>
		</div>
	</div>
</div>
