<!-- <div class="main_conts">
	<div class="clear tits">
		<p class="explan_tit bl"><span><i class="fas fa-angle-double-right"></i> 사용자관리</span></p>
		<div class="float_R">
			<button id="adMenu" class="btn_sky btnS btnEdit" ng-click="">추가</button>
		</div>
	</div>
</div> -->
<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 사용자 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear">
					<div class="search_twoForm search_three">
						<div class="form-group">
							<label for=""><span>소속</span></label> 
							<select ng-model="SearchInfo.E_AFF" >
								<option value="">전체</option>
								<option ng-repeat="item in names" value="{{item.C_NAME}}">{{item.C_NAME}}</option>
							</select>							
						</div>
						<div class="form-group">
							<label for=""><span>업무그룹</span></label>
							<select class="rank" ng-model="SearchInfo.E_JOB">
								<option value="">전체</option>
								<option value="{{job.C_SCODE}}" ng-repeat="job in storeUsrGroup">{{job.C_NAME}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for=""><span>사용자명</span></label>
							<input kr-input type="text" ng-model="SearchInfo.username" ng-keypress="onKeyPress($event)">
							<!-- <select class="userAdmin" ng-model="SearchInfo.authgroup">
								<option value="">전체</option>
								<option value="{{auth.G_GCODE}}" ng-repeat="auth in storeUsrAuthGroup">{{auth.G_GNAME}}</option>
							</select> -->
						</div>
					</div>
					<div class="float_R pt-1">
                        <button  class="btn btn_nv" ng-click="UserSearch()">조회</button>
                        <button  class="btn btn-danger btnEdit" ng-click="DeleteUser()">삭제</button>
                        <button  class="btn btn-success btnView" ng-click="getExcelDownload()">엑셀</button>
                    </div>
				</div>
				<!-- <div class="clear mb-2">
					<div class="float_R">
                        <button id="" class="btn btn_nv btnView" ng-click="UserSearch()">조회</button>
                        <button id="" class="btn btn-danger btnEdit" ng-click="DeleteUser()">삭제</button>
                        <button id="" class="btn btn-success btnView" ng-click="getExcelDownload()">엑셀</button>
                    </div>
				</div> -->
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
			<div id="list_page"></div>
			<!-- <div id="pager" style="display: none;"></div>
			<div id="paginate" style="width: 900px;"></div> -->
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 사용자 정보
					</p>
				</div>
			</div>
			<div class="first_box data_twoForm">
				<div class="main_conts" style="width:100%">
					<div class="boxs">
						<div class="clear">
							<div class="half_7Box">
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>소속</span></label>
										<select ng-model="UserInfo.E_AFF" style="width: 40% !important" disabled="true" ng-options="item.C_NAME as item.C_NAME for item in names"></select>										 
									</div>
								</div>
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>업무그룹</span></label>
										<select ng-model="UserInfo.E_JOB" style="width: 40% !important" disabled="true">
										<option hidden value="">{{firstSelect.firstSelect}}</option>
										<option value="{{group.C_SCODE}}" ng-repeat="group in storeUsrGroup">{{group.C_NAME}}</option>
									</select>
									</div>
								</div>
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>직급</span></label>
										<select class="userRank" ng-model="UserInfo.E_POS" style="width: 40% !important" disabled="true">
											<option hidden value="">{{firstSelect.firstSelect}}</option>
											<option value="{{pos.C_SCODE}}" ng-repeat="pos in storeUsrPOS">{{pos.C_NAME}}</option>
										</select>
									</div>
								</div>
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>성명</span></label> <input type="text" ng-model="UserInfo.E_NAME" maxlength="30" style="width: 40% !important" readonly="readonly">
									</div>
								</div>
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>연락처</span></label> <input type="text" ng-model="UserInfo.E_MPHONE" maxlength="30" style="width: 40% !important" readonly="readonly">
									</div>
								</div>
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>E-mail</span></label>
										<input type="text"  ng-model="UserInfo.E_EMAIL"  maxlength="50" style="width: 40% !important" readonly="readonly">
									</div>
								</div>								
								<div class="half_7">
									<div class="form-group">
										<label for=""><span>생년월일</span></label>
										<input type="text"  ng-model="UserInfo.E_DBIRTH" maxlength="8" style="width: 40% !important" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="half_3Box" style="position: absolute; right:10px;">
								<div class="half_3">
									<div class="userPicArea" style="width: 380px; height: 305px;">
										<label for="ex_filename" class="pic_upload">
											<p class="user_PicAlign">
												<img ng-show="picLoaded" ng-src="{{previewImg0}}" alt="사진" style="max-height: 300px;"> <b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b>
											<!-- 	 <input kr-input type="file" id="ex_filename" style="display: none;" ng-model="file" ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')" ngf-pattern="'image/*'" accept="image/*">
											 - -->
											 <!-- id="modalGate" -->
											 
											 </p>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="clear">
								<div class="w100 Form100">
									<div class="form-group">
										<label for=""><span>주소</span></label> <input kr-input type="text" ng-model="UserInfo.E_ADDR" maxlength="200" style="width: 79% !important;" readonly="readonly">
									</div>
								</div>
							</div>
						</div>
						<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 시스템 사용 정보
					</p>
				</div>
			</div>
						<!-- <div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>사번 *</span></label>
									<div ng-if="!IsNewRecord" class="inputFix">
										<p class="E_ENUM" ng-bind="UserInfo.E_ENUM"></p>
									</div>
									<input kr-input type="text" id="E_ENUM" ng-model="UserInfo.E_ENUM" maxlength="10">
									ng-if="IsNewRecord" 
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>패스워드 *</span></label> <input kr-input type="text" id="E_PW" ng-if="isAdmin" ng-model="UserInfo.E_PW" maxlength="20"> <input kr-input type="password" id="E_PW" ng-if="!isAdmin" ng-model="UserInfo.E_PW" maxlength="20">
								</div>
							</div>
						</div>
						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for="" name="comTell"><span> 연락처<b class="br">(사무실)</b>
									</span></label> <input kr-input type="text" ng-model="UserInfo.E_PHONE" maxlength="20">
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for="" name="comMob"><span> 연락처<b class="br">(휴대폰)</b>
									</span></label> <input kr-input type="text" ng-model="UserInfo.E_MPHONE" maxlength="20">
								</div>
							</div>
						</div> -->
						<!--<div class="clear">
							  <div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>팩스</span></label> <input kr-input type="text" ng-model="UserInfo.E_FAX" maxlength="20">
								</div>
							</div>-->
							<!-- <div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>이메일</span></label> <input kr-input type="text" id="E_EMAIL" ng-model="UserInfo.E_EMAIL" maxlength="30">
								</div>
							</div> 
						</div>-->
						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group btn_form">
									<label for="" class="w40" ><span> 그룹 권한</span></label>
									<select ng-model="UserInfo.E_GCODE1"disabled="true">
										<option hidden value="">{{firstSelect.firstSelect}}</option>
										<option value="{{auth.G_GCODE}}" ng-repeat="auth in storeUsrAuthGroup">{{auth.G_GNAME}}</option>
									</select>
								</div>
							</div>
							<!-- <div class="half_formB fm_w50">
								<div class="form-group btn_form">
									<button name="btnMngChoice" class="btn_sky btnView" ng-click="" disabled="" style="float: left; margin-left: 3px !important;">권한 설정</button>
								</div>
							</div> -->
						</div>

						<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>상태 정보</span></label>
									<select ng-model="UserInfo.E_INOFF"disabled="true">
										<option hidden value="">{{firstSelect.firstSelect}}</option>
										<option value="{{inoff.C_SCODE}}" ng-repeat="inoff in storeUsrINOFF">{{inoff.C_NAME}}</option>
									</select>
								</div>
							</div>
						</div>
							<div class="clear">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for="">
									<span>아 이 디</span>
									</label>
									<input type="text" input kr-input type="text" ng-model="UserInfo.E_ID" maxlength="20" readonly="readonly">
								</div>
							</div>
							<!-- <div class="half_tform fm_w50">
								<div class="form-group btn_form">
									<button name="btnMngChoice" class="btn_sky btnView" ng-click="chkIdDupl()" style="float: left; margin-left: 3px !important;">중복 확인</button>
								</div>
							</div> -->
							</div>
						<div class="">
							<div class="custom-control custom-checkbox"></div>
							<div class="text-right p-2 pb-2">										<!--#userSave는 html 입니다  -->
								<button  class="btn btn_sky btnEdit" ng-click="NewUserShow()">신규</button>
								<button  class="btn btn_nv btnEdit" ng-click="SetUserShow()">수정</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div ng-include="'./view/system/userSave.html'"></div> -->
<section class="popupSection"  onMouseMove="moveWindow(event,'#userSave')" id="userModalSelet">
	<div class="popupWrap sys_popupWrap height_auto w_815px" id="userSave">
		<h3 >
			사용자 정보 {{(saveMode == 'new')? '등록':'수정'}} <span class="popupClose"><i class="xi-close"
				ng-click="cancelMsg('#userSave')"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popupInfoWrap">
				<div class="sys_info_wrap">
					<div class="sys_info1">
						<div class="popup_title">
							<p>사용자 정보</p>
						</div>
						<div class="first_box data_twoForm">
							<div class="main_conts">
								<div class="boxs w_98">
									<div class="clear">
										<div class="half_7Box">
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>소속 *</span></label> 
													<select id="E_AFF" ng-model="UserInfo2.E_AFF" ng-options="item.C_NAME as item.C_NAME for item in names">
													<option hidden="" value="">{{firstSelect.firstSelect}}</option>
													</select>
													<!-- <input type="text" ng-model="UserInfo2.E_AFF" maxlength="30"> -->
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>업무그룹 *</span></label> <select id="E_JOB" ng-model="UserInfo2.E_JOB">
														<option hidden="" value="">{{firstSelect.firstSelect}}</option>
														<option value="{{group.C_SCODE}}"
															ng-repeat="group in storeUsrGroup">{{group.C_NAME}}</option>
													</select>
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>직급 *</span></label> <select
														class="userRank" id="E_POS" ng-model="UserInfo2.E_POS">
														<option hidden="" value="">{{firstSelect.firstSelect}}</option>
														<option value="{{pos.C_SCODE}}"
															ng-repeat="pos in storeUsrPOS">{{pos.C_NAME}}</option>
													</select>
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>성명 *</span></label> <input kr-input type="text" id="E_NAME" ng-model="UserInfo2.E_NAME"
														maxlength="30" placeholder="성명 (1~30자리  문자)">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>연락처</span></label> <input type="text" id="E_MPHONE" ng-model="UserInfo2.E_MPHONE" maxlength="20" placeholder="연락처 전화번호 형식(0XX-XXXX-XXXX) 최대20자">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>E-mail *</span></label> <input kr-input type="text" id="E_EMAIL"
														placeholder="이메일 형식(e-mail@gmail.com) 최대50자"
														ng-model="UserInfo2.E_EMAIL" maxlength="50">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>생년월일</span></label> 
													<input style="text-align:left;" type="text" placeholder="생년월일형식(yyyy-mm-dd)"
														id="E_DBIRTH"
														ng-model="UserInfo2.E_DBIRTH" maxlength="10" class="datePicker">
												</div>
											</div>
										</div>
										<div class="half_3Box">
											<div class="half_3">
												<div class="userPicArea"
													style="height: 305px; position: absolute; width: 370px;">
													<label for="ex_filename" class="pic_upload" style="position: relative;">
														<p class="user_PicAlign cursor-pointer" ng-click="pctureOpen()">
															<img ng-show="pictureLoaded" ng-src="{{pictureImg0}}"
																alt="사진"> <b class="pic_text"
																ng-hide="pictureLoaded">사진을 업로드해주세요</b> <input
																type="file" style="display: none;"
																ng-model="file"
																ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
																ngf-pattern="'image/*'" accept="image/*">
														</p>
														<i class="far fa-window-close fa-lg img_close" ng-show="pictureLoaded" ng-click="deletePicture()"></i>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="clear">
											<div class="w100 Form100">
												<div class="form-group">
													<label for=""><span>주소</span></label> <input kr-input type="text" id="E_ADDR" ng-model="UserInfo2.E_ADDR" maxlength="200"  placeholder="주소(최대200자리  문자)">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sys_info2">
									<div class="popup_title">
										<p>시스템 사용 정보</p>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group btn_form">
												<label for="" class="w40"><span>그룹 권한 *</span></label> <select
													id="E_GCODE1" ng-model="UserInfo2.E_GCODE1">
													<option hidden="" value="">{{firstSelect.firstSelect}}</option>
													<option value="{{auth.G_GCODE}}"
														ng-repeat="auth in storeUsrAuthGroup">{{auth.G_GNAME}}</option>
												</select>
											</div>
										</div>
									</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""><span>상태 정보 *</span></label> <select
													id="E_INOFF" ng-model="UserInfo2.E_INOFF">
													<option hidden="" value="">{{firstSelect.firstSelect}}</option>
													<option value="{{inoff.C_SCODE}}"
														ng-repeat="inoff in storeUsrINOFF">{{inoff.C_NAME}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""> <span>아 이 디 *</span>
												</label> <input type="text"  id="E_ID"
													ng-model="UserInfo2.E_ID" maxlength="20" ng-disabled="!isNew" ng-change="resetChkIdUser()" placeholder="아이디 (4~10자리  문자 또는 숫자)">
											</div>
										</div>
										<div class="half_form fm_w50">
											<div class="form-group btn_form" ng-show="isNew">
												<button name="btnMngChoice" 
													class="btn btn-block btn_sky btnView"
													ng-click="chkIdUser()"
													style="float: left; margin: 3px!important;">중복	확인</button>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""><span>비밀번호</span></label>
												<button name="btnMngChoice"
													class="btn btn-block btn_sky btnView"
													ng-click="ModalShow('#passwordPopup')" style="float: left; margin: 3px!important;">설정</button>
													 <label ng-show="saveMode == 'new'">비밀번호등록여부({{(UserInfo2.E_PASS_NEW=='')?'N':'Y'}})</label>
											</div>
											
										</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""><span>로그인</span></label>
												<input disabled="disabled" ng-model="UserInfo2.LOGIN_STAT"> 
											</div>
										</div>
										<div class="half_form fm_w50">
											<div class="form-group btn_form">
												<button name="btnMngChoice"
													class="btn btn-block btn_sky btnView"
													ng-disabled="UserInfo2.LOGIN_STAT=='가능'"
													ng-click="initLoginFailCnt()" style="float: left; margin: 3px!important;">잠금 해제</button>
											</div>
										</div>
									</div>
									<!-- <div class="clear">
										<div class="w100 Form100 ">
											<div class="form-group">
												<label for=""><span>로그인</span></label>
												<input readonly style="float:left;width:100px!important;" ng-model="UserInfo2.LOGIN_STAT"> 
												<button name="btnMngChoice"
													class="btn btn-block btn_sky btnView"
													ng-disabled="UserInfo2.LOGIN_STAT=='가능'"
													ng-click="initLoginFailCnt()" style="float: left; margin: 3px!important;">잠금 해제</button>
											</div>
										</div>
									</div> -->
								</div>
							</div>
							<div class="popupBtnWrap mb-1">
								<button type="button" class="btn btn-block btn-success saveBtn"
									ng-click="alertifySave('#userSave')">저장</button>
								<button type="button" class="btn btn-block btn-danger closeBtn"
									ng-click="cancelMsg('#userSave')">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div ng-include="'./view/system/PicturePopup3.html'"></div>
<!-- <div ng-include="'./view/system/passwordPopup.html'"></div>-->
<section class="popupSection" id="passwordPopup" style="display: none;" onmousemove="moveWindow(event,'#passwordPopup1')">
	<div class="popupWrap sys_password_popupWrap" id="passwordPopup1">
		<h3>
			비밀번호 설정
			<span class="popupClose"><i class="xi-close" ng-click = "passCancel('#passwordPopup')"></i></span>
		</h3>
		<div class="popup">
			<div class="password_wrap">
				<div style="font-size:9pt;padding-top:10px;">
					<p>동일한 문자 또는 숫자를 연속해서 3개 이상 사용할 수 없습니다.</p>
					<p>영문, 숫자, 특수문자 2가지 이상 6~15자로 입력해주세요.</p>				
				</div>
				<div class="clear" style="display:none;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>기존비밀번호 *</span></label> 
							<input  type="password" ng-model="E_PW" maxlength="200" ng-disabled="isAdmin">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>신규비밀번호 *</span></label> 
							<input name="loginPw" type="password" ng-model="UserInfo2.E_PASS_NEW" maxlength="200" >
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>비밀번호확인 *</span></label> 
							<input  type="password" ng-model="UserInfo2.E_PASS_CONFIRM" maxlength="200">
						</div>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-primary saveBtn"  ng-click = "passCheck('#passwordPopup')">확인</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click = "passCancel('#passwordPopup')">취소</button>
			</div>
		</div>
	</div>
</section>