<!-- 
<section class="popupSection" ng-show="userModalSelet">
	<div class="popupWrap sys_popupWrap height_auto">
		<h3>
			사용자 정보 등록 <span class="popupClose"><i class="xi-close"
				ng-click="cancelMsg('#userSave')"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popupInfoWrap">
				<div class="sys_info_wrap">
					<div class="sys_info1">
						<div class="popup_title">
							<p>기본정보</p>
						</div>
						<div class="first_box data_twoForm">
							<div class="main_conts">
								<div class="boxs">
									<div class="clear">
										<div class="half_7Box">
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>소속</span></label> <input kr-input=""
														type="text" ng-model="UserInfo2.E_AFF" maxlength="30">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>업무그룹</span></label> <select id="E_JOB"
														ng-model="UserInfo2.E_JOB">
														<option hidden="" value="">{{firstSelect.firstSelect}}</option>
														<option value="{{group.C_SCODE}}"
															ng-repeat="group in storeUsrGroup">{{group.C_NAME}}</option>
													</select>
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>직급</span></label> <select
														class="userRank" id="E_POS" ng-model="UserInfo2.E_POS">
														<option hidden="" value="">{{firstSelect.firstSelect}}</option>
														<option value="{{pos.C_SCODE}}"
															ng-repeat="pos in storeUsrPOS">{{pos.C_NAME}}</option>
													</select>
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>성명</span></label> <input kr-input=""
														type="text" id="E_NAME" ng-model="UserInfo2.E_NAME"
														maxlength="30">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>연락처</span></label> <input kr-input=""
														type="text" ng-model="UserInfo2.E_MPHONE" maxlength="30">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>E-mail</span></label> <input
														kr-input="" type="text" id="E_EMAIL"
														placeholder="e-mail@gmail.com"
														ng-model="UserInfo2.E_EMAIL" maxlength="50">
												</div>
											</div>
											<div class="half_7">
												<div class="form-group">
													<label for=""><span>생년월일</span></label> <input kr-input=""
														type="text" placeholder="yyyymmdd"
														ng-model="UserInfo2.E_DBIRTH" maxlength="8">
												</div>
											</div>
										</div>
										<div class="half_3Box">
											<div class="half_3">
												<div class="userPicArea"
													style="height: 305px; position: absolute;">
													<label for="ex_filename" class="pic_upload" style="position: relative;">
														<p class="user_PicAlign" ng-click="pctureOpen()">
															<img ng-show="pictureLoaded" ng-src="{{pictureImg0}}"
																alt="사진"> <b class="pic_text"
																ng-hide="pictureLoaded">사진을 업로드해주세요</b> <input
																kr-input="" type="file" style="display: none;"
																ng-model="file"
																ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
																ngf-pattern="'image/*'" accept="image/*">
														</p>
														<i class="far fa-window-close fa-lg img_close"></i>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="clear">
											<div class="w100 Form100">
												<div class="form-group">
													<label for=""><span>주소</span></label> <input kr-input=""
														type="text" ng-model="UserInfo2.E_ADDR" maxlength="200">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sys_info2">
									<div class="popup_title">
										<p>시스템 사용 정보</p>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group btn_form">
												<label for="" class="w40"><span> 그룹 권한</span></label> <select
													id="E_GCODE1" ng-model="UserInfo2.E_GCODE1">
													<option hidden="" value="">{{firstSelect.firstSelect}}</option>
													<option value="{{auth.G_GCODE}}"
														ng-repeat="auth in storeUsrAuthGroup">{{auth.G_GNAME}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""><span> 개인 권한</span></label> <select
													id="E_GCODE1" ng-model="UserInfo2.E_GCODE1">
													<option hidden="" value="">{{firstSelect.firstSelect}}</option>
													<option value="{{auth.G_GCODE}}"
														ng-repeat="auth in storeUsrAuthGroup">{{auth.G_GNAME}}</option>
												</select>
											</div>
										</div>

									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""><span>상태 정보</span></label> <select
													id="E_INOFF" ng-model="UserInfo2.E_INOFF">
													<option hidden="" value="">{{firstSelect.firstSelect}}</option>
													<option value="{{inoff.C_SCODE}}"
														ng-repeat="inoff in storeUsrINOFF">{{inoff.C_NAME}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""> <span>아 이 디</span>
												</label> <input type="text"  
													ng-model="UserInfo2.E_ID" maxlength="20">
											</div>
										</div>
										<div class="half_form fm_w50">
											<div class="form-group btn_form" ng-show="isNew">
												<button name="btnMngChoice" 
													class="btn btn-block btn_sky btnView"
													ng-click="chkIdUser()"
													style="float: left; margin: 3px!important;">중복	확인</button>
											</div>
										</div>
									</div>
									<div class="clear">
										<div class="half_formB fm_w50">
											<div class="form-group">
												<label for=""><span>비밀번호</span></label>
												<button name="btnMngChoice"
													class="btn btn-block btn_sky btnView"
													ng-click="ModalShow('#passwordPopup')" style="float: left; margin: 3px!important;">설정</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="popupBtnWrap mb-1">
								<button type="button" class="btn btn-block btn-success saveBtn"
									ng-click="alertifySave('#userSave')">저장</button>
								<button type="button" class="btn btn-block btn-danger closeBtn"
									ng-click="cancelMsg('#userSave')">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- <div ng-include="'./view/system/menuAuthority.html'" ></div> -->
<!-- <div ng-include="'./view/system/PicturePopup3.html'"></div>
<div ng-include="'./view/system/passwordPopup.html'"></div>
-->