.calendar-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: normal;
  width:330px;
  height:316px;
 
  background-color: white;
}
.calendar-content.calendar_days > .calendar-days {
  display: block;
}
.calendar-content.calendar_months .calendar-months {
  display: block;
}
.calendar-content.calendar_years .calendar-years {
  display: block;
}
.calendar-days,
.calendar-months,
.calendar-years,
.calendar-buttons {
  display: none;
}
.calendar-row,
.calendar-head {
  display: table;
  width: 100%;
}
.calendar-row > span,
.calendar-head > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.calendar-days .calendar-row>span:first-child{color:#d18b8b;}
.calendar-header {
  display: table;
  width: 100%;
  height: 15%;
}
.calendar-header > div {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.calendar-prev,
.calendar-next {
  width: 20%;
}
.calendar-caption {
  width: 60%;
}
.calendar-days,
.calendar-months,
.calendar-years {
  height: 85%;
}
.calendar-head {
  height: 13%;
}
.calendar-head span {
  cursor: default;
}
.calendar-body {
  height: 87%;
}
.calendar-body .calendar-row {
  height: 16.66666667%;
}
.calendar-body span {
  width: 44px;
  height: 36px;
  cursor: pointer;
  font-size:14px;
}
.calendar-body span.calendar_otherMonth,
.calendar-body span.calendar_untouchable {
  cursor: default;
}
.calendar-months .calendar-row,
.calendar-years .calendar-row {
  height: 25%;
}
.calendar-months span,
.calendar-years span {
  height: 100%;
  width: 33.3%;
  cursor: pointer;
}
.calendar-months span.calendar_untouchable,
.calendar-years span.calendar_untouchable {
  cursor: default;
}
.calendar_hide {
  display: none !important;
}
.calendar_show {
  display: block !important;
}
.calendar-wrap {
  white-space: nowrap;
  display: none;
  position: absolute;
  z-index:1100;
  border:1px solid #263238;
}
.calendar-wrap,
.calendar-wrap *:focus {
  outline: none;
}
.calendar-wrap * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.calendar-wrap.calendar_isMobile {
  z-index: 99999;
  position: fixed;
  width: 80%;
  height: 80%;
  line-height: 1;
}
.calendar-wrap.calendar_isMobile .calendar-title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -1.5em;
  left: 0;
}
.calendar-wrap.calendar_isMobile .calendar-content {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.calendar-wrap.calendar_isMobile .calendar-content.calendar_show {
  display: block;
}
.calendar-wrap.calendar_isMobile .calendar-header {
  height: 11%;
}
.calendar-wrap.calendar_isMobile .calendar-days,
.calendar-wrap.calendar_isMobile .calendar-months,
.calendar-wrap.calendar_isMobile .calendar-years {
  height: 78%;
}
.calendar-wrap.calendar_isMobile .calendar-buttons {
  display: table;
  height: 11%;
  width: 100%;
}
.calendar-wrap.calendar_isMobile .calendar-buttons > div {
  display: table-cell;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.calendar-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9999;
}
.calendar-input {
  border-bottom:1px solid #ffffff;
  width:100%;
}
.calendar-icon {
  
}
.calendar_active .calendar-input {
 
}
.calendar_active .calendar-icon {
 
}
.calendar-content {
  background-color: #081113;
  color: #ccc;
  
}
.calendar-content span {
  border: 1px dashed transparent;
}
.calendar-content span.calendar_active {
  background-color: #6b6b6b !important;
  color: #fff !important;
  
}

.calendar-content span.calendar_event{
	background-color: #f2403d !important;
}
.calendar-content span.calendar_otherMonth,
.calendar-content span.calendar_untouchable {
  color: #999;
  background-color: inherit;
}
.calendar-content span.calendar_otherMonth:hover,
.calendar-content span.calendar_untouchable:hover,
.calendar-content span.calendar_otherMonth:active,
.calendar-content span.calendar_untouchable:active,
.calendar-content span.calendar_otherMonth.calendar_active,
.calendar-content span.calendar_untouchable.calendar_active {
  background-color: inherit;
  color: #c8c8c8;
}
.calendar-content span.calendar_inRange {
  background-color: #000;
  opacity:0.9;
}
.calendar-content span.calendar_inRange:hover {
  
}
.calendar-content span.calendar_otherMonth.calendar_inRange:hover {
  background-color: #e0f4fb;
}
.calendar-content span.calendar_focus {
  color: #37ab6cc;
}
.calendar-header {
  
  padding:13px 10px;
}
.calendar-prev,
.calendar-next {
  
  width:10px;
  height:19px;
}
.calendar-prev {
  background: url('../images/btn_cal_prev.png') no-repeat 14px center;
}
.calendar-prev.calendar_blocked,
.calendar-prev.calendar_blocked:hover {
  background-image: none;
  cursor: auto;
}
.calendar-prev:hover {
  
}
.calendar-next {
  background: url('../images/btn_cal_next.png') no-repeat 38px center;
}
.calendar-next.calendar_blocked,
.calendar-next.calendar_blocked:hover {
  
  cursor: auto;
}
.calendar-next:hover {
 
}
.calendar-caption {
  color: #fff;
  font-size:14px;
  
}
.calendar-caption:hover {
  
}
.calendar-caption.calendar_blocked,
.calendar-caption.calendar_blocked:hover {
  color: #696969;
  cursor: auto;
}
.calendar-head {
  
  padding-left: 6px;
  padding-right: 6px;
}
.calendar-head span {
  color:#999;
  font-size:12px;
  width:44px;
  height:36px;
}
.calendar-body,
.calendar-months,
.calendar-years {
  padding: 10px;
}
.calendar-body span:hover,
.calendar-months span:hover,
.calendar-years span:hover {
  
}
.calendar-buttons {
  border-top: 1px solid #ebebeb;
}
