@page { size: A4 landscape; margin:0; }
@media print {
	html, body { -webkit-print-color-adjust:exact; width: 99%; height: 99%; }
}
.conts { height: 100%;}
.contain .conts_in .conts_tit .main_conts { padding-left: 0.5rem}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
iframe { 
	outline: none;  
	border:none;
}
.login_wrap button {
	outline: none;
}
.left_nav button, .min_tab button {
	outline: none;
}
.float_R {
	padding: 3px;
}
.menu_info {
	overflow-y: auto;
	overflow-x: hidden;
	height: 95%;
	padding: 5px 10px;
	color: #333 !important;
}
.menu_info .clear_wrap {
	width: 60% !important;
	display: inline-block;
	display:none;
}
.menu_info .clear_wrap .Form100 input {
	width: 75% !important;
}
.menu_info .clear_wrap .Form100 label {
	width: 25% !important;
}
.menu_info .blockPanel-wrapper a {
	color: #333 !important;
	position: relative;
	padding-left: 20px;
}
.menu_info .blockPanel-wrapper .list-group{
	margin-left: 20px !important;
}
.menu_info .blockPanel-wrapper .blockPanel a[aria-expanded="false"]:before,
.menu_info .blockPanel-wrapper .blockPanel a[aria-expanded="true"]:before { 
	content:'\f067';
	font-family: 'Font Awesome 5 Free'; 
	font-weight: 700; 
	font-size: 10px; 
	display: inline-block; 
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	left: 0px;
} 
.menu_info .blockPanel-wrapper .blockPanel a[aria-expanded="true"]:before { 
	content:'\f068'; 
}
section.popupSection .menu_popupWrap {
	width: 20%;
	height: 40%;
}
section.popupSection .menu_popupWrap .popup {
	height: 90%;
}
section.popupSection .menu_popupWrap .popup .menu_info {
	height: 85%;
}
section.popupSection .menu_popupWrap .popup .menu_info .clear_wrap {
	width: 80% !important;
}
section.popupSection .menu_popupWrap .popup .menu_info .clear_wrap label {
	margin-top: -5px;
}
section.popupSection .popup_title p {
	width: 100%;
}
.wh100 {
	width: 100%;
	height: 87.4vh;
}
.wh100 .conts_in {
	height: 81vh;
	overflow-y:hidden;
}
.wh100 .w16 {
	width: 16% !important;
}
.wh100 .w84 {
	width: 84% !important;
}
.wh100 .w23 {
	width: 23% !important;
}
.wh100 .w77 {
	width: 77% !important;
}
.wh100 .conts_in nav {
	width: 93%;
	margin: 0 auto;
}
.wh100 .conts_in nav h6 {
	font-weight: bold;
	font-size: 14px;
}
.wh100 .conts_in .input-group-prepend {
	width: auto;
}
.wh100 .conts_in nav small i {
	line-height: 0.5em;
}
.wh100 .conts_in nav .nav_wrap {
	border:1px solid rgba(213, 220, 226, 0.61); 
	border-radius: 7px; 
	height: 50vh; 
	max-height: 50vh; 
	overflow-y:auto;
	font-size: 13px;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper {
	padding-left: 20px;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel a {
	position: relative;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel a:before {
	content: "\f067";
	font-family: 'Font Awesome 5 free';
	display: block;
	position: absolute;
	left: -40px;
	top: -5px;
	color: #CDCDCD;
	font-size: 12px;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel a[aria-expanded="true"]:before {
	content: "\f068";
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel .blockPanel-heading {
	margin-bottom: -8px;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel ul li {
	padding-left: 18px;
	margin-bottom: -8px;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel ul li ul {
	margin-top: -7px !important;
	margin-bottom: 8px !important;
}
.wh100 .conts_in nav .nav_wrap .blockPanel-wrapper .blockPanel ul ul li {
	padding-left: 36px;
	padding-left: 20px;
	margin-bottom: -8px;
}
.wh100 .conts_in .bx_wrap {
	width: 100%;
	height: 50%;
	display: flex;
}
.wh100 .conts_in .bx_wrap .bx_border {
	border:1px solid rgba(213, 220, 226, 0.61); 
	border-radius: 7px; 
}
.wh100 .conts_in .bx_wrap .w70 {
	width: 70%;
}
.wh100 .conts_in .bx_wrap .w30 {
	width: 30%;
}
.wh100 .conts_in .bx_wrap .font_s_14 {
	font-size: 14px;
}
.font_s_14 { 
	font-size: 14px;
}
.wh100 .conts_in .textareaChk .custom-checkbox {
	width: auto !important;
}


.conts_box .box-scroll {
	overflow-x: hidden;
	overflow-y: auto;
}
.conts_box .box-scroll .img_wrap {
	width: 50%;
	float: left;
}
.conts_box .box-scroll .img_wrap .userPicArea {
	width: 100%;
	height: 200px;
	float: none;
	margin: 0;
}
.conts_box .box-scroll .img_wrap .w100 input {
	width: 100% !important;
}
textarea {resize: none; outline:none;}
textarea.h30 {
	height: 300px;
}
button.btn_left {
	position: absolute;
	left: 10px;
}

.table_scroll_remain > div.ui-widget.ui-widget-content {
	width: 200% !important;
}

.table_scroll > div.ui-widget.ui-widget-content {
	width: 200% !important;
}
.table_scroll_150 > div.ui-widget.ui-widget-content {
	width: 150% !important;
}
.table_scroll_250 > div.ui-widget.ui-widget-content {
	width: 250% !important;
}
.table_scroll_350 > div.ui-widget.ui-widget-content {
	width: 350% !important;
}
.table_scroll_500 > div.ui-widget.ui-widget-content {
	width: 500% !important;
}
.btn_gr2 {
	color: #00c8a1 !important;
	background: #e6fffa !important;
}
.pdr_26 {
	padding-right: 26px;
}
.ui-widget-header {
	border:1px solid #1769e6;
	background: #1769e6;
}
.ui-widget select {
	outline: none !important;
}

.display_flex {
	display: flex;
}
.display_in_b {
	display: inline-block;
}
.w_98 {
	width: 98%;
	margin: 0 auto;
}
.w_100 {
	width: 100% !important;
}

.w_90 { width: 90% !important;}
.w_80 { width: 80% !important;}
.w_70 { width: 70% !important;}
.w_60 { width: 60% !important;}
.w_50 { width: 50% !important;}
.w_40 { width: 40% !important;}
.w_33 { width: 33.33% !important;}
.w_30 { width: 30% !important;}
.w_20 { width: 20% !important;}
.w_10 { width: 10%!important;}
.h_100 { height: 100% !important;}
.h_95 { height: 95% !important;}
.h_90 { height: 90% !important;}
.h_80 { height: 80% !important;}
.h_75 { height: 75% !important;}
.h_70 { height: 70% !important;}
.h_60 { height: 60% !important;}
.h_50 { height: 50% !important;}
.h_40 { height: 40% !important;}
.h_30 { height: 30% !important;}
.h_25 { height: 25% !important;}
.h_20 { height: 20% !important;}
.h_10 { height: 10% !important;}
.mt_05 {
	margin-top: -5px !important;
}
.border_radius0 {
	border-radius:0;
}
.main_conts .image_box_wrap .img_wrap {
	float: none;
	display: inline-block;
	width: 49.7%;
}
.main_conts .image_box_wrap .img_wrap .userPicArea {
	padding:3px;
	width: 100%;
	height: 228px;
	overflow: hidden;
	text-align: center;
}
.main_conts .image_box_wrap .img_wrap .userPicArea img{
	width: 100%;
	height: 100%;
}
.img_close {
	position: absolute;
	top: 5px;
	right: 0px;
	cursor: pointer;
}
.customPaginateBar > div {
	height: auto !important;
}
.min_tab2 li {
	width: 14.25%;
}
.min_tab3 li {
	width: 16.66%;
}
.min_tab4 li {
	width: 20%;
}
.min_tab5 li {
	width: 10%;
	text-align:center;
}
.min_tab6 li {
	width: 9%;
	text-align:center;
}
.fixedTbl td {
	padding: 3px;
}
table.table_style th, table.table_style td {
	padding: 4px 2px;
	height: 22px;
    border: 1px solid rgba(213, 220, 226, 0.61) !important;
    overflow: hidden;
}
/* table.table_style th {
	border: 1px solid #bfbfbf !important;
} */
table.table_style thead {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 999;
}
/* table.table_style {
    width: 100%;
    display:block;
}
table.table_style thead {
    display: inline-block;
    width: 100%;
}
table.table_style tbody {
    height: 220px;
    display: inline-block;
    width: 100%;
    overflow: auto;
} */


table.table_sticky td.td_back_color,table.table_sticky th:first-child, table.table_sticky .left_1 {
	position: -webkit-sticky;
	position: sticky;
	left:129.86px;
	z-index: 99;
}
table.table_sticky td.left_0,table.table_sticky th:first-child {
	left:0;
} 
table.table_sticky .left_1 { 
	left: 129.86px;
}
.tabs_2 button.active {
	border-top-right-radius: 0.5rem !important;
	border-top-left-radius: 0.5rem !important;
	color: white !important;
	background: #4285f4 !important;
	border-bottom: 2px solid #4285f4 !important;
}
.table_slash {
	position: absolute;
	width: 1px;
 	height: 30px;
 	background: #bfbfbf ;
 	transform: rotate(-45deg);
}
table td i { color: black !important;}
table td.text-danger i {color: #f86372!important;}
table td select, table td select option  { font-family: "Font Awesome 5 Free" !important; font-weight:900;} 
.font_icon {font-family: 'Font Awesome 5 Free' !important;}
.position_R {position: relative;}
.image_wrap_input1 {position: absolute; top: 3px; right: 42.5%; width: 60px !important;}
.image_wrap_input2 {position: absolute; top: 50%; right: 32%; width: 45px !important; transform:translateY(-50%);}
.image_wrap_input3 {position: absolute; top: 50%; right: 24%; width: 45px !important; transform:translateY(-50%);}
.image_wrap_input4 {position: absolute; top: 40px; right: 42.5%; width: 60px !important; }
/* .w_70px {width: 70px !important;} */

.clear .w_250px {width: 250px !important;}
.clear .w_150px {width: 150px !important;}
.clear .w_80px {width: 80px !important;}
.clear .border_wrap { width: 517px; height: 28px !important;}
.clear .btn_wrap_right { position:absolute; right: 0.5rem; top: 0.25rem;}
.clear form .search_btn { position: absolute; top: 25%; transform: translateY(-50%); right:0; outline: none;}
.border_radius_10 { border-radius: 10px;}

.table_pop .fixed-table-container td { padding: 0;}
.table_pop .fixed-table-container input { width: 15px; min-width: 15px;}
span.search_icon {position: absolute; right: 0.5rem; cursor: pointer;}
td.td_back_color { font-weight: bold; background-color: #f1f4f9; background-color: #d4dded;}
.tr_border_top { border-top: 2px solid #5f82be;}
.backslash {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="rgba(213, 220, 226, 0.61)" /></svg>');
  background-color:#5f82be;
}
.table_scroll2 > div.ui-widget.ui-widget-content {width: 300% !important; }

/*.d-none{ display: none !important;}*/
.month_wrap { margin-left: 50px; display: flex;}
.month_wrap label { height: 28px; min-height: auto !important; margin-bottom:0; margin-right: 10px;}
.ui-datepicker {z-index:999 !important;}
#loadingSpinner { background: rgba(255, 255, 255, 0.5) !important; display: none;}
.position_center{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
#loadingSpinner .loading_text{ font-size: 20px;}
.nav_cont { min-height: 700px; margin-bottom: 50px;}

.progress_msg { position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%);}
.detailBtn { cursor: pointer;}
.asset_checkbox_wrap {width: 85.5%;}
.asset_checkbox_wrap .textareaChk{ width: 20% !important;}


 /*트리구조*/
 
 .treeviewview,.treeview ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  position:relative;
}

.treeview ul {margin-left:0.5em !important ; padding-top: 5px !important;} /* (indentation/2) */


.treeview ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:8px;
  border-left:1px dashed #AAA;
}

.treeview li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
  padding:0 1.75em; /*간격조정*/
}

.treeview li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px dashed #AAA;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:8px;
}

.treeview li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}
.treeview > ul::before, .treeview > ul > li::before{ display:none;}

.treeview li span {
	text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
    display: block;
    overflow: hidden;
}
/*오른쪽 pager*/
.ui-jqgrid > .ui-jqgrid-pager { width: 100% !important;}
.ui-jqgrid .ui-pg-table .ui-pg-input { vertical-align: middle; font-family: 'NanumSRR' !important; font-weight:  bold;}
.ui-jqgrid .ui-pg-table tr { display: flex; align-items: center; justify-content: space-between; height: 35px; padding-right: 5px; background: #fbfcfd !important;}
.ui-jqgrid .ui-pg-table tr:hover { background: #fbfcfd !important;}
.ui-jqgrid .ui-pg-table td { font-weight: bold !important;}
.ui-jqgrid .ui-pg-table .ui-pg-button { border: 0 !important;}
.ui-jqgrid .ui-jqgrid-pager .ui-pager-control, .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control { border: 1px solid rgba(213, 220, 226, 0.61) !important; border-top: 0 !important;}

/* @media (max-width: 1480px) {
	.wh100 .conts_half, .wh100 .const_in {width:100% !important;}
	.wh100 .conts_in .bx_wrap { display: block !important;}
	.bx_wrap .w70, .bx_wrap .w30 { width: 100% !important;}
} */

.olFramedCloudPopupContent {overflow: auto;background-color:white;font-family:'돋움',dotum, arial, sans-serif;padding:0 0;}
.olFramedCloudPopupContent * {padding:0 0;margin:0 0;box-sizing:border-box;}
.olFramedCloudPopupContent div.title{background-color:white;line-height:22px;padding:4px 2px 2px 4px;margin-bottom:2px;font-family:"Nanum Gothic",'나눔고딕','돋움',dotum, arial, sans-serif;font-size:18px;color:black;font-weight:bold;}
.olFramedCloudPopupContent div.nam{line-height: 130%;font-weight: bold;color: white;padding: 6px 0 3px 7px;border-bottom: 1px #cdcdcd solid;background: #72bbbb;width:40%;display: inline-block;}
.olFramedCloudPopupContent div.val{line-height: 130%;font-weight: normal;padding: 6px 0 3px 10px;border-bottom: 1px #cdcdcd solid;width:60%;display: inline-block;}
.olFramedCloudPopupContent div.val_num{line-height: 130%;text-align:right;clear:right;font-weight: normal;padding: 6px 0 3px 10px;border-bottom: 1px #a8a8a8 solid;width:60%;display: inline-block;}
.olFramedCloudPopupContent div.val_str{line-height: 130%;text-align:center;clear:right;font-weight: normal;padding: 6px 0 3px 10px;border-bottom: 1px #a8a8a8 solid;width:60%;display: inline-block;}
.olFramedCloudPopupContent table td.title {	background-color: white; line-height: 22px; padding: 4px 2px 2px 4px; margin-bottom: 2px; font-family: "Nanum Gothic", '나눔고딕', '돋움', dotum, arial, sans-serif; font-size: 18px; color: black; font-weight: bold; }
.olFramedCloudPopupContent table td.nam { line-height: 130%; font-weight: bold; color: white; padding: 6px 0 3px 7px; border-bottom: 1px #cdcdcd solid; background: #72bbbb; }
.olFramedCloudPopupContent table td.val { line-height: 130%; font-weight: normal; padding: 6px 0 3px 10px; border-bottom: 1px #cdcdcd solid; }
.olFramedCloudPopupContent table td.val_num { line-height: 130%; text-align: right; clear: right; font-weight: normal; padding: 6px 0 3px 10px; border-bottom: 1px #a8a8a8 solid; }
.olFramedCloudPopupContent table td.val_str { line-height: 130%; text-align: center; clear: right; font-weight: normal; padding: 6px 0 3px 10px; border-bottom: 1px #a8a8a8 solid; }

.olFramedCloudPopupContent div.list {padding:0px 15px 0px 15px;background-color:white;margin-bottom:4px;}
.olFramedCloudPopupContent div.navi {clear:left;text-align:center;padding-left:5px;height:22px;font-family:'돋움', dotum,arial, sans-serif;font-size:11px;color:gray;background-color:white;}

.olFramedCloudPopupContent a.navi {margin:0px 5px 0px 3px;font-family:'돋움', dotum,arial, sans-serif;font-size:13px;color:#aaa;font-weight:bold;}
.olFramedCloudPopupContent a.navi_focus {color:#555;font-size:16px;font-weight:bold;text-decoration:underline;}

.olInfoboard .block { margin-bottom:15px; }
.olInfoboard .bl-title {  font-weight:bold;  margin-bottom:3px;  letter-spacing:-1px; }
.olInfoboard .bl-title h3 .icon { position:relative; top:-1px; }
.olInfoboard .bl-title h3 { font-size:14px;  font-weight:bold;  margin-bottom:8px; }
.olInfoboard .bl-title h3 strong { color:#ff4400; }
.olInfoboard .title .btnClose { position:absolute; right:0;  top:0;  margin:11px 15px 0 0;}
.olInfoboard .btnOutside { position:absolute;  margin:-45px 0 0 0; }
.olInfoboard { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.olInfoboard .text {padding: 10px 15px;}
.olInfoboard .text h2 { font-size: 16px; color: #026da5; font-weight: bold;	margin-bottom: 4px; }
.olInfoboard .text h2 img { vertical-align: middle; }
.olInfoboard .text { margin:5px 0; }

.thumnail_txt { margin-top : 10px;}

#progressbar {
	background: #e8eaeb;
	border-radius: 20px !important;
}

#progressbar > .ui-widget-header { 
	display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #498cff;
    transition: width .6s ease;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
}

.vertical-line { width: 1px; height: 30px; background: #DDD; margin: 0px 6px; }


.btn-danger.disabled, .btn-danger:disabled { border-color: transparent;}
.btn-info.disabled, .btn-info:disabled { border-color: transparent;}
/* .btn { line-height: 1.3;} */
.date_delete_btn { position: absolute; top: 50%; transform: translateY(-50%); right: 5px; color: #1769e6; cursor: pointer;}
.ui-jqgrid > .loading {
	height: 50px;
	font-size: 16px !important;
	padding: 6px 20px !important;
	line-height: 35px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.fixed-table-container .fixedTbl tbody tr.active {
	background: #cfe8fb !important;
}
.text_area_ellipsis {
	display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cursor-pointer { cursor: pointer;}
.datePicker { text-align: center;}
.w_100px { width: 100px;}
.w_115px { width: 115px;}
.w_815px { width: 815px !important;}
.h_800 {height: 800px;}
.overflow-y-auto { overflow-y: auto;}
.overflow-hidden { overflow: hidden;}
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels .jqgh_cbox>div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels .jqgh_cbox>div input {
	left: 0 !important;
}
.table_pointer tbody > tr:hover { cursor: pointer;}
/* rmate 로고 및 링크 삭제 */
div[class^="rMateChartH5__TrialMarkBox"]{ display: none !important;}