@charset "utf-8"; 
@import url("normalize.css");
@import url("font.css");

/*  html,body{margin:0 !important;width:100%;height:100%;}
body{margin:0 !important; padding:0 !important; font-family:'NanumSRR' !important; height: 100vh; overflow: hidden;} */
html,body{margin:0 !important; /* width:1900px; height:930px; */ height: 929px;width: 100%; overflow: auto; }
body{margin:0 !important; padding:0 !important; font-family:'NanumSRR' !important; height: 100%;width: 100%; overflow: hidden;} 
svg {  font-family: 'NanumSRR' !important; font-weight:700;}
li{list-style-type:none; -webkit-transition: all 300ms;  transition: all 300ms;}
a{text-decoration:none; color:#333;}
a:focus, a:hover{text-decoration:none !important;}
/* button:focus, button:active{outline:0 !important;font-weight:bold; width:auto; padding:3px 7px; display:inline-block;} */
ul{margin:0 !important; padding:0 !important;}
input:focus,input:visited,input:active{outline:none;}
td { text-overflow: ellipsis; }
*, ::after, ::before {  box-sizing: border-box;}

.wrap{ width: 100%;  position: fixed;  height: 100%;  left: 0;  top: 0;}
.cont{margin:0 auto;}
.hideIn {height:0 !important;}
.main_visual{ overflow: hidden; height: 840px; margin-left: 230px; position: absolute; top: 50px; width: 1690px;}

.contain.left{ border-right: 1px solid #eee; box-sizing: border-box;}
.contain.right .main_conts {overflow:hidden !important;}
.contain .conts_in i,p.explan_tit.bl i{ color:#1769e6;  margin-right: 5px; vertical-align: middle; }
.contain .conts_in .conts_tit{background-color:#f7f7f7; border-bottom: 1px solid #eee; padding: 9px 0; font-size:14px;  max-height: 35px; color: #1769e6; font-weight:bold;}

.conts_half{ position:relative; width: 50%; height: 100%; overflow: hidden; float: left;}
.conts_half.right {float:right;}
.contain .conts_in{ border: 1px solid rgba(213, 220, 226, 0.61);  border-radius: 10px;height: 94%; margin: 10px 15px;overflow-y:auto;overflow-x:hidden;}
.contain .conts_in.tab_one {height:780px;} 
.contain .conts_in.tab_two {height:75%;}
.contain .conts_in.admin_bsc{height:77%; margin: 0 !important; overflow-x:auto;}
.contain .conts_in.admin_pg {height:61%;}
.contain .conts_in.admin_code {height:61%;}
.contain .conts_in.admin_tmn {height:64%;}
.contain .conts_inHD {overflow:hidden;}
.contain .conts_in select,.contain .conts_in input{line-height:0; max-width: none;}

/* .main_visual,footer{margin-left:230px;} */
/* .main_visual{ position: sticky; top: 50px;} */
.top_hd,.footer_Wrap{  overflow-y: auto;background-color:#fff;}
.top_hd { z-index: 9; position: sticky; top:0;}
.top_hd .hd_tit{ display: table;  height: 48px; float:left;}
.top_hd .hd_tit h1{ font-family: 'NanumSRB'; font-size: 23px;  margin: 0;  display: table-cell;  vertical-align: middle;  height: 100%;}
.top_hd .hd_tit h1 img {padding-bottom: 7px;}
.hd_tit { overflow:hidden; font-size: 20px;}
.hd_tit h1 span { color:#636d77; font-family: 'twayair', sans-serif !important; font-weight:400; position: absolute; top: 12px; display:inline-block;}
.hd_tit h1 span b { color:#555;display:inline-block; margin-left:10px;}
.hd_tit h1 a {display:inline-block; padding-top:10px;}
.top_hd .cont,.footer_Wrap .cont{ overflow: hidden; margin: 0;}
.top_hd .hd_right,.copy{float:right; line-height: 3; font-family: 'NanumSRB';}
.copy { line-height: 1.5;}
.top_hd .hd_right .inconts{display:inline-block;}
.top_hd .hd_right .select_wrap{ padding: 20px 0;}
.top_hd .hd_right select{border:1px solid #eaeaea;    padding: 5px 10px;}
.top_hd .hd_right .login_wrap button{  padding: 5px 10px;border-radius: 20px; max-height: 34px;}
.top_hd .hd_right .login_wrap i{margin-right: 5px;}
.top_hd .hd_right .login_wrap .lg_member{ /* background-color: #fff; border: 1px solid #eaeaea; */ padding: 7px 10px;}
.top_hd .hd_right .login_wrap .lg_member i{color:#1769e6;}
.top_hd .hd_right .login_wrap .lg_logout{/* background-color: #ebebeb; border: 1px solid #ebebeb; */padding:3px 9px;}
.top_hd .hd_right .login_wrap .lg_logout i{ /* background-color: #1769e6; border-radius: 100%;  */color: #1769e6; padding: 5px; margin: 0 5px 0 -2px !important; /*  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 3px 0 rgba(0, 0, 0, 0.1); */}
.top_hd .hd_right .login_wrap i{ font-size: 11px;  margin: 0 5px;  vertical-align: baseline;}

/*==footer==*/
.footer_Wrap{ bottom: 0; padding: 10px 0;  border-top: 1px solid rgba(213, 220, 226, 0.61);background-color:#f7f7f7;}
.copy {  font-weight: 600;  font-size: 13px;}
.foot_add {  width: 100%;  position: inherit;  bottom: 0;   left: 0;  background-color: #f7f7f7;  z-index: -1;}

/*loading === loader*/
.loadBG {position: absolute;  width: 100%;  height: 100vh;  background: #000; background-color:#7dadea;  z-index: 10;}
.loading { display: flex; justify-content: center;  position: absolute;  top: 50%;  left: 50%;}
.loading div {  width: 1rem;  height: 1rem;  margin: 2rem 0.3rem;  background: #979fd0;  background: #fff;  border-radius: 50%;
animation: 0.9s bounce infinite alternate;}
.loading div:nth-child(2) {  animation-delay: 0.3s;}
.loading div:nth-child(3) {  animation-delay: 0.6s;}

@keyframes bounce {  
	to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}
 

/*====min gnb=====*/

.min_gnb{ width:100%; position: relative; background-color:#f7f7f7; font-weight:bold; color:#1769e6; overflow: hidden; height: 28px; border: 1px solid rgba(213, 220, 226, 0.61); border-right:none; border-left:none;}
.min_gnb .min_add{ position:relative; float:left;   height: 26px; display: table !important;}
.min_gnb .min_add:first-child {padding-left:0;}
.min_gnb .min_add span { display: table-cell; vertical-align: middle;  height: 100%;}
.min_gnb .min_add .min_ico i {vertical-align: inherit;}
.min_gnb .min_add .min_depth { padding: 0 10px; }
.min_add{font-size:13px;}
.min_add:last-child{ font-weight: 600;}
.min_tab { width: 100%; margin:0 auto; border-bottom:1px solid rgba(213, 220, 226, 0.61);background-color: #fff; box-sizing:border-box;z-index: 3;}

/*====min gnb=====*/
.helpWrap{line-height:1.7;}
.button_help {  background-color: rgba(64, 103, 188, 0.35); color: #ffffff;  border-radius: 1rem; margin-left: 0.5rem !important;  padding: 0.2rem; }
.button_help i{color:#2b457c;margin-right:5px; vertical-align: text-top;}
.left_nav .top_logo {display:none;}
/* .left_nav .top_logo h1{text-align:center;margin:0 auto;height: 76px;background-color:#f8f8f8;}
.left_nav .top_logo h1 img{width: 150px; padding: 5px 0;} */
.left_nav{position:fixed;left:0; top: 50px; width:230px;height:100%;border-right: 1px solid #eee;overflow-x: hidden; overflow-y: auto;background-color: #1769e6;background:#1769e6; border-top: 2px solid #1769e6;}
.left_nav button { outline:none; margin:0 !important;}
.left_nav .nav_cont li {cursor:pointer;}
.left_nav .nav_cont .nav_title{display:none;border-bottom:1px solid #e1edf7;font-size: 14px;}
.left_nav .nav_cont .nav_title .selected{background-color:#e1edf7 !important;border: 0;} 
.left_nav .nav_cont h1.ft_clrBL{ font-size: 15px; text-align: center; margin: 0 !important; padding: 8px 0; border-color: #f7f9fc;max-height: 50px;}
.left_nav .gnb-1{ padding: 0 !important; margin: 0 !important;}
.left_nav .gnb-1 .gnb-sub{display:none;}
.left_nav .gnb-1 .gnb-sub li button{padding-left: 30px !important;line-height: inherit; width: 100%;  text-align: left; color: #fff; padding: 5px 8px;}
.left_nav .gnb-2 .gnb-sub li button{padding-left:50px !important;}
.left_nav .selected .nav_cap{font-weight:bold;}
.left_nav .nav_cap{ position:relative;display:inline-block; width:100%; font-size: 13px !important; padding: 12px 0; padding-left: 30px;/* margin-left:5px; */ box-sizing: border-box; text-align: left;max-height: none; color: #fff;}
.left_nav .nav_cap::after {content:"\f107"; display:inline-block; position:absolute; right:20px; font-family: "Font Awesome 5 Free";  color: rgba(255,255,255,0.8);}
.left_nav .gnb-1 li.nav_ico button.nav_cap{overflow:hidden;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.sysInfo{background-position-y: 10px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.Gis{ background-position-y: -41px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.facility{ background-position-y: -93px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.focus{ background-position-y: -147px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.research{ background-position-y: -213px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.repair{ background-position-y: -272px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.complaints{ background-position-y: -322px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.diagnosis{ background-position-y: -386px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.educations{ background-position-y: -445px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.books{ background-position-y: -508px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.monitor{ background-position-y: -566px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.statistics{ background-position-y: -622px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.integration{ background-position-y: -680px;}
.left_nav .gnb-1 li.nav_ico button.nav_cap.help{ background-position-y: -728px;}
.left_nav .gnb-1 li.nav_ico.on{ background-color: #76a6f0;}
.left_nav .gnb-2 li.on{ background-color: rgba(255,255,255,0.4);}
.left_nav .gnb-3 li.on{ background-color:rgba(125, 194, 251, 0.16);}
.left_nav .gnb-1 li.nav_ico.on .nav_cap{ font-weight: bold;color:#1769e6; background: #fff; border-radius:0px !important;}
.left_nav .gnb-1 li.nav_ico.on .nav_cap::after {content:"\f106"; color: #1769e6;}
.left_nav .gnb-3 .gnb-sub{display:none !important;}

.left_nav .nav_cont .gnb-sub li{line-height:2.5; color: #284f92;}
.left_nav .nav_cont .gnb-sub li i{color: #fff;}
.left_nav .nav_cont .gnb-sub li.on button{font-weight:bold;}
.left_nav .nav_cont .gnb-2 li.on i {color: #1769e6;}
.left_nav .nav_cont .gnb-2 li.on button{color: #02337b;} 
.left_nav .nav_cont .gnb-3 li.on i {color: #000;}
.left_nav .nav_cont .gnb-3 li.on button{color: #000;}
.left_nav .gnb-user .nav_cap{ padding:15px 20px; font-size: 14px !important; }
.left_nav .gnb-user li { border-bottom: 1px solid #e1edf7; }
.left_nav .gnb-user li button:before { content: '*'; position: absolute;  left: 5px; color:#5077ba;  line-height: 1.7;}
.left_nav .gnb-user .nav_ico i {color:#7198e7;}
.left_nav .gnb-user li.nav_ico button.nav_cap {background:none;}
.left_nav .gnb-user .left_nav .nav_cap { padding:15px 10px;}
.left_nav .gnb-user .left_nav span {display:block;position:relative;}
.left_nav .gnb-user .left_nav span:after {content:'>';position:absolute;right:0;}
.left_nav .gnb-user .left_nav span:last-child:after {content:'';}
.left_arr {  margin-right: 10px; }

.min_tab ul{ width: 98%;  height: 100%;  overflow: hidden;  margin: 0 auto !important;}
.min_tab li{display:inline-block;float:left; height: 100%; line-height: 2; box-sizing: border-box;}
.min_tab li button{border:0;color:#808080;display: inline-block;vertical-align: sub; line-height: 1; font-weight:bold; border-radius: 0px;}
.min_tab li button.active{ color:#1769e6; /* font-size: 15px !important; */ border-bottom: 2px solid #1769e6;}



/*jq grid table css*/
table{  border: 1px solid;border-color: rgba(213, 220, 226, 0.61);/* border-right: 0; border-left: 0; */border-spacing: 0; table-layout: fixed; width: 100%; overflow: auto; }
table th{background-color:#5f82be;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{border:1px solid #e3e3e3;}
.ui-widget.ui-widget-content{border: 0 !important; border-radius: 5px !important;}
tr:nth-child(odd){background-color:#fbfcfd;}
table>tbody>tr:hover, table>tbody>tr.active>td, table>tbody>tr.active>th, table>tbody>tr>td.active, table>tbody>tr>th.active, table>tfoot>tr.active>td, table>tfoot>tr.active>th, table>tfoot>tr>td.active, table>tfoot>tr>th.active, table>thead>tr.active>td, table>thead>tr.active>th, table>thead>tr>td.active, table>thead>tr>th.active { background-color: #cfe8fb !important; color:#3a3a3a !important;}
.tbl_min2 tr:hover, .tbl_min2 tr.active>td, .tbl_min2 tr.active>th, .tbl_min2 tr>td.active, .tbl_min2 tr>th.active, .tbl_min2 tr.active>td, .tbl_min2 tr.active>th, .tbl_min2 tr>td.active, .tbl_min2 tr>th.active, .tbl_min2 tr.active>td, .tbl_min2 tr.active>th, .tbl_min2 tr>td.active, .tbl_min2 tr>th.active{background:none !important;}

.grid{width:100%;}
.grid .ui-widget.ui-widget-content{width:100% !important;}
.grid.scrollY tr:last-child td { border-bottom: 0 !important;}
.grid.scrollY tr td:first-child {border-left:0 !important;}
.grid.scrollY tr td {border-left:1px solid;border-bottom:1px solid;}

/* bdiv height : jqgrid 스크롤 생기게 하기 위한 css */
.scrollXS .ui-jqgrid-bdiv{height:195px !important;overflow-y:auto !important;}
.scrollS .ui-jqgrid-bdiv {height:210px !important;overflow-y:auto !important;}
.scrollVH .ui-jqgrid-bdiv {height:270px !important;overflow-y:auto !important;}

/* 유량모니터링 bdiv height : jqgrid 스크롤 생기게 하기 위한 css */
#gview_abResult .ui-jqgrid-bdiv {height:300px !important;}
#gbox_incursion .ui-jqgrid-bdiv {height:278px !important;}

.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div{overflow: hidden; position: relative;  height: auto;  margin: 2px 2px;  padding: 5px 0;}
td{ font-size:12px;  text-align: center; color:inherit; border-color: rgba(213, 220, 226, 0.61) !important; word-break:break-all; overflow:hidden;}
td select,td input {float:none; color:#535353; }
td span {display: inline-block; vertical-align: middle; max-width: 100%;  white-space: nowrap;  overflow: hidden; text-overflow: ellipsis}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { background: #cfe8fb; color: #666666;}
.ui-jqgrid-labels th,.tbl_ltit .tbl_leftRow th{padding: 8px 0; border-right: 1px solid; border-bottom: 1px solid;border-color: rgba(213, 220, 226, 0.61);}
.ui-jqgrid-bdiv{width:100% !important;}
th, .bg {  font-size: 13px;  color: #fff !important;  font-family: 'NanumSRB';}
#pager{width:100% !important;}
.grid .ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr > td{text-align:center;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#e6eff6 !important;background:#cfe8fb !important; color:#777777 !important;}
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-hdiv, .ui-jqgrid > .ui-jqgrid-view{width:100% !important;}
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column, .ui-jqgrid .ui-jqgrid-legacy-subgrid .ui-th-subgrid, .ui-jqgrid-labels .ui-th-column-header{background-color:#5f82be !important;}

.grid td:last-child{border-right:0 !important;}
/*short table (1~6)*/
.grid.shortTbl{ height: 110px; overflow-x: hidden;overflow-y: auto;}
.grid.shortTbl_min{height:90px; margin-bottom: 20px; overflow: hidden;overflow-y: auto;}
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column:last-child{border-right:0;}
#fluxWorkList td:last-child,#gbox_judgment th:last-child,#gbox_abResult th:last-child{border-right:1px solid rgba(213, 220, 226, 0.61) !important;}


/*middle table (7~)*/
.grid.middleTbl{ height: 270px;overflow: hidden;clear:both;}
.grid.middleTbl .ui-jqgrid .ui-jqgrid-bdiv{height:228px !important;}
.ui-jqgrid .ui-jqgrid-bdiv{ overflow-x: hidden !important;}
.contain.left .ui-jqgrid .ui-jqgrid-bdiv {overflow:hidden;} 

/*system*/
.sys_img{width:100%;height:70vh;}
.sys_img img{ max-width: 100%;}


.ft_clrBL{color:#3c5a9a;}
.bg_sbl{background-color:#f5f8fa;}
.clear{overflow:hidden;}
.clear.min_inputWrap { margin: 5px 0;}
.pd_0{padding:0 !important;}
.mg_0 button{margin:0 !important;}
.mg_TB10{margin:10px 0 !important;}
.modal_htbl .form-group label.wave{text-align: center; padding: 0 !important; line-height: 2;font-weight: bold;}


input,select{ border: 1px solid rgba(213, 220, 226, 0.61);height: 28px;}
.inputFix{ display:inline-block;background:#f5f8f8; font-weight: bold; font-size: 13px !important; height: 28px;}
.inputFix.NoBg{background-color: transparent;}
.callValARea{ background:#f5f8f8; text-align:center; }
.bar{width: 100%; margin:5px auto; height: 1px; background-color: #d1d1d1;}

/*checkbox*/
/* [type=checkbox]:checked, [type=checkbox]:not(:checked) {  position: absolute;  pointer-events: none; } 
input[type=checkbox], input[type=radio] { box-sizing: border-box;  padding: 0;}
.custom-control-input { position: absolute;  z-index: -1;  opacity: 0;}
.custom-control-label { position: relative; margin-bottom: 0;  vertical-align: top; padding-left: 10px !important;}
.custom-control-label::before { position: absolute;  top: .25rem;  left: 0;  display: block;  width: 1rem;  height: 1rem;  pointer-events: none;  content: "";  background-color: #fff; border: #adb5bd solid 1px;}
.custom-control-label::after {position: absolute; left: 0;  top: 0.25rem;display: block;width: 1rem;height: 1rem;content: "";background-repeat: no-repeat;background-position: center center;background-size: 50% 50%;}
.custom-control-label::before, .custom-file-label, .custom-select { transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.custom-checkbox .custom-control-label::before { border-radius: .25rem; }
.custom-control-input:checked~.custom-control-label::before { color: #fff; border-color: #63c2de; background-color: #91cada;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after { background-image: url('../images/common/check.svg');}
.custom-control.custom-checkbox {  position: relative;  top: 0; left:0;display:-webkit-inline-box; display:-ms-inline-grid; padding-bottom: 1.5rem; width: 100%; margin: 0 auto;}
.custom-control.custom-checkbox input { width: inherit; }
.custom-control.custom-checkbox label{font-weight:normal;}
table .custom-control.custom-checkbox label.custom-control-label {float:none !important;  position: absolute; top:0rem ;  left: 50%;  transform: translateX(-50%); margin-left: -0.15rem; }
.resultChkTop .custom-control-label {top:0.13rem !important;} */

/*agreeChk 변경할 내용을 확인하였습니다*/
.agreeChk .custom-control-label::before,.agreeChk .custom-control-label::after {top:0.45rem;} 
.agreeChk .custom-control.custom-checkbox{ display: table; float:left; }
.agreeChk .custom-control.custom-checkbox .agreeTxt {height: 28px;  display: table-cell;  vertical-align: middle; padding-left: 15px; font-weight: 600;}
.clear.agreeChk.tits {  width: 95%;  float: right;}

/*radio button*/
[type=radio]:checked, [type=radio]:not(:checked) {  position: absolute;  opacity: 0; left:0;}
input[type=checkbox], input[type=radio] {  box-sizing: border-box;  padding: 0;}
.custom-radio .custom-control-label::before,.custom-radio .custom-control-label::after{  border-radius: 50%; left:-0.25rem;} 
.custom-radio .custom-control-input:checked~.custom-control-label::after {background-image: url('../images/common/radio.svg');}
.custom-control.custom-radio { position:relative; width:100%; padding: 0 !important; margin: 0 auto !important; line-height: 1.8;}
.custom-control.custom-radio  .custom-control-label{position: relative;  top: .25rem;  left: 50%;  transform: translateX(-50%);}
.Form100 .custom-control.custom-radio label{ top:0; width:auto !important; padding-right: 10px !important;}


/*label input textarea Basic*/
label{font-weight: bold; min-height: 28px;  word-break: keep-all;}
input, .inputFix,textarea{padding: 5px 5px !important;}
select {padding:5px 2px !important;}
textarea{border:1px solid rgba(213, 220, 226, 0.61) !important; padding: 5px 7px !important;}
label,input,textarea{font-size:13px !important; float: left; word-break: keep-all;}
select{font-size:12px !important;float: left; word-break: keep-all;}
.search_box label,table label{ background: none; border: 0;}

.form-group label,.dateUnits {display:table !important;}
.form-group label span,.dateUnits span{/* display:table-cell !important; */ vertical-align:middle; word-break:normal; color: black;}
.form-group label span.ct {display:inline-block !important;}
.form-group label span.ct i {color:#1769e6; }
.dateUnits {min-height:29px;}
.dateUnits span{ font-size:13px; font-weight: bold; padding: 0 10px;} 


/*long Upload Label*/
label.LongUptitle {  display:table !important; word-break: keep-all; padding: 0 !important;}
label.LongUptitle p {display:table-cell !important; vertical-align:middle;}
label i {  margin-right: 3px !important;  vertical-align: baseline !important; font-size: 11px;}


/*button*/
.btn_sky{ /* background-color: #3c5a9a; */ background-color: #e4ecf9; color: #4285f4;}
.btn_nv{ /* background-color: #63c2de; */background-color: #4285f4; color: #fff;}
.btn_sbl{ /* background-color: #7dacd9; */background-color: #fff; color: #4285f4; border: 1px solid rgba(213, 220, 226, 0.61);}
.btn_gr { background-color: #50bda6; color:#fff;}
.btn_gd {    background-color: #d0a472; color:#fff;}
.btn_dgr {background-color:#f86372; color: #fff;}
.disable{  background-color: #f1f1f1 !important;  color: #a4a4a4;  border: 1px solid #d9d9d9; box-sizing: border-box;}
.btn_x{background-color: #ebeff2; border-radius: 100%; font-weight: bolder; font-size: 10px !important; background-color: #5f82be;color: #fff;}
.btnS{ padding: 5px 7px !important; margin: 2px 0 !important; height: 28px;}
.btnXS {font-size: 11px !important;  padding: 5px !important;}
.btnSnmg { padding: 5px 7px !important; /* margin:0 !important; */}
button{ padding: 7px 8px;  border-radius: 3px; font-size: 13px !important; max-height: 30px; margin-left: 3px; cursor:pointer; font-weight:bold !important;}
button:first-child {margin-left:0;}
button.use {min-width:50px;}
button:active,button:focus{font-weight:normal;}
td .delete { position: static; font-size: 10px !important;  padding: 3px 5px !important; min-width: auto; min-height: auto; vertical-align: sub;}
.left_nav button {max-height:none;}
.hiddenBtn{margin:3px 0 !important;}
.float_R.mg_0.w_auto{padding:0 !important;}
.file_upArea button{margin:0 !important;}
.rightBtn button{ margin: 4px 0 0; }
.modal_htbl button{margin:0 !important;}
.modal_htbl button.mg_L {margin-left:10px !important;}
.modal_htbl .form-group label.modalLabel, .modal_htbl label.modalLabel{ font-family:"NanumSRB";text-align: center;  padding: 7px 0 !important;  width: 20% !important;}
table button { font-size: 11px !important; padding: 5px; margin-left: 0; }

/*align == float*/
.float_R{float:right !important;}
.float_L{float:left !important;} 
.float_N {float:none !important;}

/*tbl min*/
.tbl_min{position: relative;width:100%;height: 250px;overflow-x:hidden;overflow-y:auto;}
.tbl_min .tbl_box {width:100%; height: 250px;overflow-x:hidden; overflow-y: auto;}
.tbl_min .tbl_box .tbl_add{width: 100%;}
.tbl_min .tbl_box .tbl_add thead tr{position: absolute; top:0; left:0; display: table-row;background-color: #f5f8fa;width: 100%;height: 30px;border-radius: 3px 3px 0 0;}
.tbl_min .tbl_box .tbl_add thead tr th{display: inline-block;float: left;padding: 5px 0;}
.tbl_min .tbl_box .tbl_add thead tr th.min_th1{width: 16%;}
.tbl_min .tbl_box .tbl_add thead tr th.min_th2{width: 38%;}
.tbl_min .tbl_box .tbl_add thead tr th.min_th3{width: 23%;}
.tbl_min .tbl_box .tbl_add thead tr th.min_th4{width: 20%;}
.tbl_min .tbl_box .tbl_add tbody{display: table-row-group;height: 300px;}
.tbl_min .tbl_box .tbl_add tbody tr{height: auto;line-height: 2.5;}
.tbl_min .tbl_box .tbl_add tbody td{text-align: center;font-size: 14px;} 

.tbl_min2{text-align:center;}
.tbl_min2 td{ padding:5px 0; border-right: 1px solid; border-bottom: 1px solid; border-color:rgba(213, 220, 226, 0.61); border-left: 0;}
.tbl_min2 th {height:24px;}
.tbl_min2 td input {  width: 90%; }
.tbl_min2 td input,.tbl_min2 td select {height:27px; padding-top: 3px !important;}
.tbl_min2 th{ background-color: #5f82be !important;  color: #fff !important; padding: 3px 0; border-right: 1px solid #fff; border-bottom: 1px solid;}
.tbl_min2 td,.tbl_min2 th { border-color:rgba(213, 220, 226, 0.61);}
.tbl_min2 th select { border: 0; margin: 0 auto !important;  width: 80% !important;  float: none !important;}
.tbl_min2 tr:last-child td{border-bottom:0;}
.tbl_min2 td:last-child{border-right:0;}
.tbl_min2 .rts td:last-child {  border-right: 1px solid rgba(213, 220, 226, 0.61); }
.tbl_min2 textarea { margin: 0 auto;  display: block; width: 90%;  float: none;}
.tbl_min2 select, .tbl_min2 input{  width: 80%; font-size: 12px !important; padding-left: 0 !important; }


.tbl_min3 .tbl_box .tbl_add thead tr th.min_th1{width: 16%;}
.tbl_min3 .tbl_box .tbl_add thead tr th.min_th2{width: 22%;}
.tbl_min3 .tbl_box .tbl_add thead tr th.min_th3{width: 45%;}

.min_cap{ overflow: hidden; font-weight: bold;}
.min_cap .floatL{display:inline-block; float:left;}
.min_cap .floatL p{ vertical-align: -webkit-baseline-middle;font-size: 15px;}
.min_cap .floatL i{vertical-align: -webkit-baseline-middle; color: #7198e7; margin-right: 5px;}


/*img*/
.full_img img{ display:block; margin:0 auto; max-width: 100%; object-fit: contain;}

/*map conts*/
.map_conts,.map_conts img{width:100%;height:100%;}

/*modal*/
.ui-dialog .ui-dialog-content .custom-control.custom-checkbox label{line-height: 1.8;}
.ui-dialog {  transform: translateY(-50%);}
.modal_htbl .half{width:50%;display:inline-block;float:left;}
.modal_htbl .verti_btnBox{width: 5%; height: 100%; display: inline-block;  float: left;}
.modal_htbl .verti_btnBox .verti_half{display:table;width:100%;height:50%;}
.modal_htbl .verti_btnBox .verti_100{display:table;width:100%;height:100%; min-height: 590px;}
.modal_htbl .verti_btnBox .verti_md { display:table-cell;vertical-align:middle;width: 100%; height: 100%; text-align: center;}
.modal_htbl .verti_btnBox button {padding:0;}
.modal_htbl .verti_btnBox button span {  position: relative; display: inline-block; padding: 0; border-radius: 5px; color: #fff !important; font-family: 'NanumSREB';}
.verti_btnBox button span:before { position: absolute; left: 0; display: flex; justify-content: center; align-items: center;
width: 100%; height: 100%; content: "\f0da";  font-family: 'Font Awesome 5 Free' !important; font-weight: 900;  color: #5f82be; font-size: 6.1rem;  margin-left: 0.35rem; z-index: -1;}
.verti_btnBox .verti_bottom button span:before { margin-left:0; padding-right: 0.5rem; content: "\f0d9"; }
.modal_htbl .addInput{ width: 45%; display: inline-block;  border: 1px solid rgba(213, 220, 226, 0.61);}
.modal_htbl .half .chkmodal,.modal_htbl .verti_btnBox,.modal_htbl .addInput{height:430px;overflow-x:hidden;overflow-y:hidden;}
.verti_100Box { height:100% !important; }
.modal_htbl .half .chkmodal th:first-child,.modal_htbl .half .chkmodal td:first-child, .modal_htbl .addInput th:first-child,.modal_htbl .addInput td:first-child{width:10%;}
.modal_htbl .half .chkmodal thead tr,.modal_htbl .addInput thead tr{background-color: #5f82be;  color: #fff;}
.modal_htbl .half .chkmodal thead th, .modal_htbl .addInput thead th {border-right:1px solid rgba(213, 220, 226, 0.61); }

.modal_htbl .addInput tr {background-color:#fff;color: #777777;}
.modal_htbl .half .modalTblBtn{margin: 10px 0;}
.modal_htbl .half .pop_form .float_C{margin: 20px 0 0;}
.modal_htbl .half button{margin-top:0 !important;}
.modal_htbl .half .pop_form .gisForm{overflow-y: auto; padding-right: 10px;}
.modal_htbl .half .formData {height:500px;overflow:hidden;}
.modal_htbl .half .ui-jqgrid-bdiv {height:460px !important; overflow-y: auto !important;}
.modal_htbl .half .grid, .modal_htbl .addInput{font-size:12px !important;}
.modal_htbl .pop_form .form-group label{width:30% !important;}
.modal_htbl .pop_form .form-group input,.modal_htbl .pop_form .form-group select ,.modal_htbl .pop_form .form-group .inputFix{width:70% !important;}
.modal_htbl .form-group label.ws{ width: 16% !important; display: inline-block; float: left;}
.modal_htbl .form-group button[name=btnSearch] {margin-left:10px !important;}
.modal_htbl .Form100 .form-group input, .modal_htbl .Form100 .form-group div, .modal_htbl .form-group select{width:85%;}
.modal_htbl .gisForm .form-group input, .modal_htbl .gisForm .form-group div, .modal_htbl .gisForm .form-group select{width:70%;}
.modal_htbl .clear{margin:5px 0px;}
.modal_htbl .clear2{margin:10px 0px; overflow: hidden;}
.modal_htbl .clear.Nomg {margin:0;}
.modal_htbl .clear.btnZone{margin:10px 0;}
.modal_htbl .form_txtArea {display:inline-block;}
.modal_htbl .txt_left.form_txtArea,.modal_htbl .txt_left.form_left{width:20% !important;float:left;}
.modal_htbl .Form100 .form-group div.txt_left.form_txtArea label,.modal_htbl .Form100 .form-group div.txt_left.form_left label {width:100% !important;}
.modal_htbl .txt_right.form_txtArea,.modal_htbl .txt_right.form_right { display: flex; width:80% !important; float:right;}
.modal_htbl .txt_right.form_txtArea textarea {width:100%;}
.modal_htbl td .custom-control.custom-checkbox label { margin-left: -0.25rem; }
.modal_htbl .textareaChk .custom-control-label {  transform: translate(0) !important;  left: 0 !important;  margin-left: 1rem !important;}
.modal_htbl .explan_box { padding: 0 5px!important;  border-color: #e7edf6; }
.modal_htbl .ui-widget.ui-widget-content{border:1px solid rgba(213, 220, 226, 0.61) !important; box-sizing: border-box;}
.modal_htbl .half_formB label { display:table; }
.modal_htbl .explan_box label,.bg_none { background: none !important; border: 0 !important; color: #000; }

.modal_dtbl{overflow:hidden;}
.modal_dtbl .half.cap{width:100%;}
.modal_dtbl .half{width:50%;display:inline-block;float:left;}
.modal_dtbl .half70{width:70%;display:inline-block;float:left;}
.modal_dtbl .half30{width:30%;display:inline-block;float:left;}
.modal_dtbl .half_grid img{width:100%;height:100%;}
.modal_htbl img{width:100%;}


.half_formB .txt_left.form_inputs { width: 40% !important; overflow:hidden;display:inline-block;}
.half_formB .txt_right.form_inputs { width: 60% !important; height: 35px; } 
.half_formB.fm_w50.form_wave .txt_left {  width: 40% !important; overflow: hidden;  display: inline-block;}
.txt_left.form_inputs { width: 20% !important; height:35px; float: left;} 
.txt_left.form_inputs label{ display:table; width:100% !important;height: inherit; min-height: 28px; background-color: rgba(190, 205, 230, 0.37); border-bottom: 1px solid rgba(60, 90, 154, 0.06); color: #2d2d2d;}
.txt_left.form_inputs label span,.modal_htbl .half_formB label span{display:table-cell; vertical-align:middle;}
.txt_right.form_inputs {width:80% !important; height: auto; float: right; box-sizing: border-box;  display: flex;  justify-content: center;
align-items: center;   height: 35px;  background-color: #fbfcfd;  border: 1px solid #e7edf6;  padding: 0px 7px;  box-sizing: border-box;}
.txt_right.form_inputs input, .txt_right.form_inputs select {width:100% !important;}


.grid.addInput.ng-scope {  border: 0; }
.wideDateModal {max-width:1200px;}
.ui-dialog .ui-dialog-content { padding: .5em 0.5em; }

.floatC {  display: inline-block;  text-align: center;  width: 100%;}
.topHiddenLabel{padding:0 !important;}

/* .highcharts-selection-marker{ fill:rgba(28, 114, 167, 0.52) !important;} */


/*modal center align*/
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
width: auto; max-width: 90% !important; min-width: 740px;  padding: 0;  overflow: hidden;  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important; overflow: auto;}
.ui-dialog .ui-dialog-content{height:auto !important;}
 

/*margin*/
.mg_0{margin:0 !important;}
.mg_T30{margin-top:30px;}
.mg_L10{margin-left:10px;}
.mg_L20{margin-left:20px;}
.mg_R10{margin-right:10px !important;}
.mg_R20{margin-right:20px !important;}
.mg_W10{margin:0 10px;}

/*vertical half*/
.vHalf {height:50%;overflow:hidden;} 

/*horizontal half*/
.wHalf { display: inline-block; float: left; width:50%; height: 100%;}
.wHalf:first-child { border-right: 1px solid #e0e6f1; }
.wHalf6.wHalf {  width: 60%; }
.wHalf4.wHalf {  width: 40%; }

/*width*/
.Form100 input.w30{width:30% !important;}


/*DataShort Tbl*/
.DataShortTbl .table-wrapper {  border: 0;/*   border-bottom: 1px solid #efefef; */}
.DataShortTbl .fixedTbl {border:0;}

/*vertical align middle*/
.tbl.hAuto{height:unset;}

/*conts box noTab*/
.conts_box.noTab{display:block !important;}

.cellTxt{display: inline-block;    width: 100%;    text-align: right;}
span.left{float: left;padding-left: 10px;}
.w_auto{width:auto !important;}
.unit{font-size:10px !important;font-weight: inherit !important;}
.unit2{font-size:12px !important;}
.grid input[type="text"]{width:90%;}

/*grid (table)*/
.ui-jqgrid .ui-jqgrid-btable { border-left:1px solid; border-right:1px solid;border-color:rgba(213, 220, 226, 0.61);}
.grid tr{height:30px; color: inherit; cursor: pointer;}
tr.ui-jqgrid-labels,table.fixedTbl.noData .ui-jqgrid-labels {  height: 0 !important;}
.ui-jqgrid .ui-jqgrid-hbox,.ui-jqgrid>.ui-jqgrid-view>.ui-jqgrid-hdiv{background-color: #5f82be;}
.grid.scrollY th:last-child,.grid.scrollY td:last-child{border-right:0 !important;}
.fixedTbl.noData {border-collapse:separate !important;}

/*대상 시설물 및 조사결과 등록 th 콘헤드*/
.fixedTbl.noData tbody { position: absolute;  width: 100%;  height: 84%;  display: flex;  justify-content: center;  align-items: center;}
/*대상 시설물 및 조사결과 등록 th 콘헤드*/

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,
.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus {border: 0;background: #ffffff; color: #333333;}
.clear.tits { display: list-item; width: 100%;margin: 10px 0; }
.clear_tits .explan_tit {  margin-top: 8px !important;}
.clear.tits .form-group { margin:0; }
.clear.tits.select .instKind { font-size: 12px !important; max-height: 27px;}
.ui-jqgrid-jquery-ui.ui-jqgrid tr.footrow td {  border-color: rgba(213, 220, 226, 0.61) !important;}
.ui-widget-content{color: inherit;}

/*vertical align middle == table*/
.d_tbl{display:table;}
.tbl_cell{display:table-cell;vertical-align:middle;}

/*header fixed table*/
.fixed-table-container {position: relative; width: 100%;height:195px;padding-top: 30px; } 
.fixed-table-container input {width:30%; min-width:85px; text-align: center;}
.fixed-table-container.fixTableL{ height: 400px;}
.fixed-table-container.Nscroll input {min-width:auto !important;}
.fixed-table-container.Nscroll {height:auto;}
.fixed-table-container.Nscroll .th-text {background-color:#5f82be;}
.fixed-table-container.Nscroll .table-wrapper{ overflow: visible; border:0;}
.fixed-table-container.full {height:83%;}
.fixed-table-container.modalChkLong { height: 430px;}
.header-bg { height: 30px; position: absolute; top: 0; right: 0;  left: 0; background-color: #5f82be;}
/* .fixed-table-container.Nscroll .header-bg {  background: none; } */
.table-wrapper {  overflow-x: hidden; overflow-y: auto; height:100%; border: 1px solid #efefef; border-top-width:0;}
.fixedTbl { width: 100%;    border-collapse: collapse; border-top:0;}
.fixedTbl.noData tr:nth-child(2){display:none;}
.fixedTbl.noData td{border:0;}
.fixedTbl th{height:0;}
.fixedTbl td {    border-bottom: 1px solid rgba(213, 220, 226, 0.61); height:30px; word-break: keep-all; }
.fixedTbl td:first-child { border-top: 1px solid rgba(213, 220, 226, 0.61);border-right: 1px solid rgba(213, 220, 226, 0.61); }
.fixedTbl td + td {  border-left: 1px solid rgba(213, 220, 226, 0.61); }
.fixedTbl th{   padding: 0px;  border-bottom: 0;border-right: 0; /* reset */  }
.th-text {  position: absolute;  top: 0;   width: inherit;height:30px;line-height: 30px; /* header-bg height값 */ border-left: 1px solid #bfbfbf; color: #fff; font-size:inherit;
text-align: center;background-color: #5f82be; }
.bg {background-color:#5f82be;color:#fff;}
th:first-child .th-text {  border-left: none; }
.header-bg .modalChkTotal .custom-control.custom-checkbox { top: 0; width:10.3%; margin:0;}
.header-bg .modalChkTotal .custom-control.custom-checkbox .custom-control-label{ float: none;  width: 100%;  position: absolute;  top: .25rem; left:0;}
.fixed-table-container.modalChkLong table.fixedTbl{border-right:0;}
.modalChkTotal .custom-control-label:before, .modalChkTotal .custom-control-label:after { left: 50% !important; transform: translateX(-50%);top:0.15rem !important}

/*header fixed table --- admin*/
.dataScrollWrap {overflow-x:auto;overflow-y:hidden;}
.fixed-table-container.admin { min-width: 1100px; height: 76.7vh;} 
.fixed-table-container.dblTbl {height:64vh;}
.fixed-table-container.admin .table-wrapper {overflow-y:auto;    border: 0;}
.fixed-table-container.admin table{table-layout: fixed;  width: 100%;  overflow: auto; border: 0;}
.admin_contsIn {margin:10px 0 !important;}

.adminTopmn { background-color: #f7f9fc; border-color: #ecf1f5 !important;}
.adminTopmn label span{  text-align: right;  padding-right: 15px !important;} 
.adminTopmn label span i{margin-right: 10px !important;  vertical-align: inherit;  color: #85abeb;}
.adminTopmn .third_form label{ width: 35% !important; }


/*header fixed table -- min_th1 (국가하수도)*/
.twoTblConts {  width: 100%; height: 100%; min-width:1500px; overflow-x: hidden;  overflow-y: hidden; }
.twoTblConts#twoTblType {min-width: 3500px;}
.twoTblConts#twoTblStatus,.twoTblConts#twoTblSet{min-width: 2500px;}
.twoTblConts .tbl_min2#rowBoxTbl td {  padding: 0 !important;  height: 50px; }
.tblBackground {min-width: 800px;table-layout: fixed;  border: 0; }
.tblBackground th {font-size:12px;}
.tblBackground td { font-size:11px; word-break: normal; padding: 10px 0; border-right: 1px solid rgba(213, 220, 226, 0.61) !important;  border-bottom: 1px solid rgba(213, 220, 226, 0.61) !important;}
.tblBackground td.first {padding:0; background: none;}
.divHeadScroll { width: 100%;  overflow-x: hidden;  overflow-y: hidden; }
.tblHead { table-layout: fixed; background-color: #efefef; padding-top: 4px;  min-width: 800px; height: 30px;  border-collapse: collapse; } 
.divBodyScroll { width: 100%; height: 71.5vh; overflow-x:hidden;  overflow-y: auto;}
.divBodyScroll.data01 {height:64.5vh;}
.divBodyScroll.data02 {height:66.2vh;}
.divBodyScroll.data03 {height:62vh;}
.divBodyScroll.data04{height: 70.5vh;}
.divBodyScroll.maint01 {  height: 66.5vh; }
.divBodyScroll.maint02 { height:66.5vh;}

/*국가 하수도 테이블 세로 스크롤 숨김*/
.divBodyScroll{-ms-overflow-style: none; }
.divBodyScroll::-webkit-scrollbar {display:none;} 
/*국가 하수도 테이블 세로 스크롤 숨김*/
.area_bg {background-color:#f4f8fc;}
.min_area { font-family:'NanumSRB';width: 12px; }
.tblBody {  min-width: 800px; table-layout: fixed;   height: 30px;   border-collapse: collapse;}
.caps { text-align: center; }


.tblBackground.bigData,.tblBackground.bigData .tblHead,.tblBackground.bigData .tblBody {min-width:1500px;}
.tblBackground.midData,.tblBackground.midData .tblHead,.tblBackground.midData .tblBody {min-width:1500px;}
/*국가하수도 table border*/
.th_bdB{ display: flex;  align-items: center; justify-content: center; width: 100%; border-bottom: 1px solid rgba(213, 220, 226, 0.61);
text-overflow: ellipsis;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; }
.td_bdB {border-bottom:1px solid rgba(213, 220, 226, 0.61);}
.td_bdR {border-right:1px solid rgba(213, 220, 226, 0.61);}
.vhfWrap .vhf{padding:3px 0;}
.vhf { display: flex; align-items: center; justify-content: center; height: 50%;}
.vwhf { display:flex; width:50%; height: 100%;  align-items: center; justify-content: center;}


.dark {background-color: #83a7f5;}
.deep {background-color: #b9d8f7;}
.soft {background-color: #dfeefd;}

/*long th fixed Table*/
.th-text.twoLine {line-height:1.3;}

/*시스템정보관리 - 사양*/
.ui-jqgrid-htable,.ui-jqgrid-btable,.ui-jqgrid .ui-jqgrid-ftable {width:100% !important;}


 /*login form*/
.login_dark {  background-color: rgba(0, 0, 0, 0.11);  width: 100%;  height: 100vh;}
.login_visual{ position: absolute; left: 0;  width: 100%;  height: 100vh;  background: url(../images/common/login_t.jpg) no-repeat;
background-size: cover; }    
.login_formWrap,.error_formWrap { position:absolute; top:50%;left:50%; transform:translate(-50%,-50%);}
.login_formWrap{ width: 80%;  max-width: 400px;}
.login_formWrap .login_title { margin: 15px 0 10px;  font-size: 2.3rem;}
.login_formWrap .login_sub { margin-bottom: 33px;  font-size: 19px;}
.login_formWrap .login_copy { font-size: 13px;  margin-bottom: 47px !important;}
.form_titArea { width:100%;  text-align:center; color:#fff; margin-bottom: 10px;  }
.login_position,.login_position { position:absolute;top:50%;left:40%; transform: translate(-50%,-50%); width: 150%;}
.login_form{ padding: 20px 20px; border-radius:10px; border:1px solid rgba(213, 220, 226, 0.61); background-color:#fff;
margin: 0 auto; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); margin-bottom: 55px;}
.loginForm_logo {text-align: center;  margin: 0 0 20px;  line-height: 2;  border-bottom: 1px solid rgba(213, 220, 226, 0.61);}
.loginForm_logo .form_logo { width: 150px;}
.login_form .login_logo img{    width: 120px; display: block; margin: 0 auto;}
.login_form .login_logo { border-bottom: 1px solid #e9e9e9; padding-bottom: 20px;}
.login_form .login_conts .login_cap{   font-weight: bold;  text-align: center;  width: 100%;} 
.login_form ul{overflow:hidden;}
.login_form li {  margin-bottom: 20px; clear:both; line-height: 1.8; overflow: hidden;}
.login_form strong { width: 30%;float:left; font-size: 15px;}
.login_form strong i{ color: rgba(76, 121, 186, 0.34);font-size: 14px; margin:5px 10px; }
.login_form input { width:70%; border: 1px solid #d7e1f1; color: #13158e;  background-color: #f4f9ff; }
.login_form .btn_wrap { width: 100%;}
.login_form .btn_wrap .btn_login { display: block; width: 100%; max-height: none; padding: 10px 0;font-size: 13px; font-weight: bold;color:#fff !important; text-align: center; border-radius: 3px !important; border: 0;color: inherit;
background-color: #4c79ba;     background-color: #7dadea;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
-o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
-webkit-border-radius: .125rem; border-radius: 10px;  cursor: pointer;  text-transform: uppercase; white-space: normal;/*  word-wrap: break-all;  */}
a.btn_login:hover,a.btn_login:active,a.btn_login:focus{ background-color: #63c2de; }

/*error page*/
.error_bg { width: 100%;  height: 100vh;background: #f4f9ff url(../images/pattern.png)repeat;  opacity: 0.2; }
.error_formWrap { background: #fff;   padding: 1rem 2rem 2rem;  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
border-radius: 7px;}
.error_formWrap button {font-size:18px !important;}
.error_tit { margin-top:0; }
.error_num { font-size:6rem; margin:0.67em 0; }
.error_txt{ display: block !important;  font-size: 1.5rem;  text-transform: uppercase;}
.error_add { font-weight: 100;   font-size: 0.9rem;  line-height: 1.5;}
.error_ico { display:block; margin:0 auto; width:65px;}

/*table - grid (short N scroll)*/
.scrollY{overflow:auto;min-height: 217px;}
.lt{text-align:left !important; padding-left: 5px !important;}
.rt {text-align:right !important;}

/*file upload popup*/
.thum100{width:100% !important;}
.thum100 .thum_conts,.fileUpTxt{width:90%;margin:0 auto !important;}
.thum100 .pic_fileTxt{display:table-cell;vertical-align:middle;text-align:center;}
.thum100 .pic_fileTxt i{display:block !important;}
.thum_conts.no_bd{border:0 !important;}
.grid4_Pic .thum_conts.no_bd .thum_img{border:1px solid rgba(213, 220, 226, 0.61) !important;}
/* .pic_upload img {  display: block;  margin: 0 auto 10px; width: 90%; max-width: 600px; } */
.pic_upload img {  display: block; width: auto; max-width: 100%; max-height: 100%; max-height: 290px; margin: 0 auto; }
.thumnail img{ max-width: 400px !important; width:33.3%;}
.thumnail_txt .thum_txt {text-align: left !important; padding: 5px 10px !important; font-size: 12px; margin-bottom: 5px;}
.thumnail_txt .thum_txt1{border: 1px solid rgba(213, 220, 226, 0.61); background-color: #ececec !important; }
.thumnail_txt .thum_txt2{background-color: #fff !important; border: 1px solid rgba(213, 220, 226, 0.61); color: #ddd; padding: 0 !important;}
.thumnail_txt .thum_txt2 input{width: 100%; border: 0; color: #999; padding: 6px 10px !important;}
.thumnail_txt .thum_txt3{background-color:#fff !important; border-bottom: 1px solid rgba(213, 220, 226, 0.61);  font-style: italic; font-size: 12px !important;}
.thumnail_txt .thum_txt4{background-color: #ebf1f5 !important;;}
.thum100 .thum_img { margin-bottom: 5px;}
.fileUpTxt{ text-align: right;}
.fileUpClick:hover,.fileUpBox:hover{  background-color: #ebf1f5;}


label.pic_upload {padding: 0 !important;    height: 100%;}


/*유량모니터링 및 I/I분석 ---침입수 분석 table #baselineData*/

/*실측법 ~ 물사용량 평가*/
.play1 .trData3,.play1 .trData4, .play1 .trData5,.play1 .trData6,.play1 .trData7,.play1 .trData8{ background-color: #e6eff6;}

/*통계법, 유사사례법 ~ 물사용량 평가*/
.play2 .trData1,.play2 .trData2,.play2 .trData5,.play2 .trData6,.play2 .trData7,.play2 .trData8 { background-color: #e6eff6;}
.play2 .thB1 {background:#fff;}

/*통계법, 실측법, 물사용량평가법*/
.play3 .trData1,.play3 .trData2, .play3 .trData3,.play3 .trData4,.play3 .trData7,.play3 .trData8 { background-color: #e6eff6;;}
.play3 .thB1 {background:#fff;}

/*야간생활하수 ~ 유사사례법*/
.play4 .trData1,.play4 .trData2,.play4 .trData3,.play4 .trData4,.play4 .trData5,.play4 .trData6 { background-color: #e6eff6;}



/*boxs*/
.boxs{ position:relative;margin: 10px 0;  overflow: hidden;}
.boxs .w90 { width:90%; margin:0 auto;}
/*star favorit == Rating styles*/
button.button_favorite { padding-right: 0; }
.button_favorite i {color:#bebebe; vertical-align: middle;}
.button_favorite i.selected {color:#7299e7;}

/*etc*/
input:disabled { background-color: #f3f3f3; }
.datePicker { cursor: pointer;}
.inline_b{display:inline-block;}
.Nomg {margin:0 !important;}
.NoPd {padding:0 !important;}
.minSelect {padding: 0 !important; }
.btn_reason {letter-spacing: 5px;}
.w100 {width:100% !important;}
#abResult button {font-weight:bold; color:#000; }
.slash{display:inline-block;}
.slash p {display:table !important; height:28px;padding:0 10px;}
.slash p span {display:table-cell; vertical-align:middle;}
.bg_gray { background-color: #f7f7f7;}
.bar_dashed { border-bottom: 1px dashed #000; }
.form-group.bar_dashed { padding-bottom: 8px; }
.Fix {background-color:#f5f8f8;padding: 8px 10px !important;text-align:left !important; }
td input {float:none !important; text-align:center;}
.hidden{display:none;}
.hidden.active{display:block;}
.pointer{ cursor:pointer;}

/*jqgrid 테이블 hide div*/
.tblHide{position:absolute;left:0px;top:0px;width:100%;height:100%;background-color:#fff;}

/*double tab*/
.tab_conts{display: none;} 
.tab_conts.current{  display: inherit; }


/*higchart credit hide*/
.highcharts-credits {  display: none; }
/*부등호*/
.inequality span{ padding:0 5px; vertical-align: middle;}


/*high chart == bar*/
.chartBar,.chartPie{ height: 300px; max-width: 800px;margin: 0 auto;}

/* Link the series colors to axis colors */
/* .highcharts-color-0 { fill: #63c2de; *//*  stroke: #63c2de;}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {  stroke: #7cb5ec;}
.highcharts-axis.highcharts-color-0 text {  fill: #7cb5ec;}
.highcharts-color-1,.highcharts-color-1, .highcharts-color-1 .highcharts-point{  fill: #207cca !important; color: #207cca !important;  stroke: #207cca; }
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {  stroke: #207cca;}
.highcharts-axis.highcharts-color-1 text {  fill: #90ed7d;}
.highcharts-yaxis .highcharts-axis-line {  stroke-width: 2px;}  */


/*high chart == pie*/
/* .chartPie { min-width: 320px; margin: 0 auto;}
.highcharts-pie-series .highcharts-point {stroke: #EDE; stroke-width: 2px;}
.highcharts-pie-series .highcharts-data-label-connector {  stroke: silver;  stroke-dasharray: 2, 2;  stroke-width: 2px;} */
/* .chart_half {width:50%;display: inline-block;  float: left;}
.highcharts-container {height:100%;}
.chart_twoPie {width:85%;display:inline-block; float: left;}  
.chartLabel label { text-align: left !important;} 
.chartBdArea {padding:0 10px !important;}
.twoPieLegendWrap{  width: 15%; display: inline-block;  float: right;  min-width: 115px;}
.twoPieLegendWrap .towPieLegend{ position: absolute; right: 0; bottom: 1rem;    width: inherit;}
.twoPieLegendWrap .towPieLegend p{width: 100%;  color: #333333; font-size: 12px; font-weight: bold; cursor: pointer; fill: #333333;}
.twoPieLegendWrap .towPieLegend i {margin-right:0 !important; font-size: 12px;}
.twoPieLegendWrap .towPieLegend .sb i { color:#63c2de !important; } 
.twoPieLegendWrap .towPieLegend .bl i { color:#207cca !important; }
.twoPieLegendWrap .towPieLegend .gr i { color:#90ed7d !important; }
.twoPieLegendWrap .towPieLegend .or i { color:#f7a35c !important; }
.twoPieLegendWrap .towPieLegend .bb i { color:#434348 !important; }
.twoPie_box {position:relative;}
  */
 /*dateTimepicker*/
div#ui-datepicker-div { border: 1px solid rgba(213, 220, 226, 0.61) !important; z-index: 9991 !important;
border-radius: 0; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);-webkit-transition: all .2s linear;-o-transition: all .2s linear;transition: all .2s linear;}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { width:100% !important; }
.ui-slider.ui-widget.ui-widget-content { width: 100% !important; border: 1px solid #e1e1e1 !important;  border-radius: 0; }
.ui-timepicker-div .ui-slider-access.ui-controlgroup { display: none; }
dd.ui_tpicker_time {  overflow: hidden; }
dt.ui_tpicker_time_label {  margin-top: 5px; }


/*pager*/
.customPaginateBar {width:100% !important; /* max-height: 26px */;} 
.paging{ text-align: center; margin:10px 0 0px;}
.conts_third:nth-child(1) .paging {margin:17px 0;}
.pagination { width: 100%; display: inline-block !important; padding-left: 0; margin: 0px 0 !important; border-radius: 4px; text-align: center;} 
.pagination > li { display: inline-block;}
.pagination > li > a,
.pagination > li > span {position: relative; float: left; padding: 5px; text-decoration: none;font-family: 'NaNumSRR'; font-weight: 600; font-size: 14px;  border-radius: 100%;
margin: 0 2px; min-width: 25px; text-align: center; display: inline-block;
-webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; outline: 0; border: 0; background-color: transparent; color: #919191 !important;  cursor: pointer;}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;

}
.pagination > li a i{ font-size: 13px; padding: 0; margin: 0 !important; color: #919191 !important;} 
.pagination > li:last-child > a,
.pagination > li:last-child > span {

}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear;  -webkit-border-radius: .125rem; border-radius: .125rem; background-color: #eee;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
 -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); -webkit-transition: all .2s linear;
-o-transition: all .2s linear; transition: all .2s linear; -webkit-border-radius: .125rem; border-radius: .125rem; background-color: #4285f4; color: #fff !important;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor:not-allowed; color:#ddd;
  
}
.bookPagerWrap { position: relative; bottom: 0; width: 100%;  margin: 10px 0;  z-index: 3; }

.bookPager .pagination > .active > a, .bookPager .pagination > .active > span, .bookPager .pagination > .active > a:hover, .bookPager .pagination > .active > span:hover, .bookPager .pagination > .active > a:focus, .bookPager .pagination > .active > span:focus {
    background-color: #deac73;
} 

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  /* padding: 5px 10px; */
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  /* background-color: #fff; */
  border: 1px solid rgba(213, 220, 226, 0.61);
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
} 
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #cdcdcd;
  cursor: not-allowed;
  background-color: #fff;
}
 
/*
jqgrid page customize
*/


.fa{
 font-size: 14px;
 text-align: center;
  padding: 5px; 
}
.faPointer{
 cursor: pointer;
 opacity: 1;
}
.faPointer:hover{
}
 
.customPageNumberBtn{
 margin-left: 5px;
 margin-right: 5px;
 text-align: center;
 padding-top: 4px;
}
.customPageMoveBtn{
 text-align: center;
}


/* .customPaginateBar {
 border: 1px solid #D5D5D5; 
 background-image : url('images/ui-bg_highlight-soft_100_f6f6f6_1x100.png'); 
 background-color : rgb(246, 246, 246);  
 background-color: #5f82be;
 background-position-y : 50%;
 margin-top: -1px;
 height: 35px;
} */

.customPaginateBar table{border:0;}

/* 조회 로딩 */
.wrap_loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 100000;
}

.wrap_loading div {
	position: absolute;
	top: 45%;
	left: 55%;
}


/*로그인 페이지*/
section.login {
	width: 100%;
	height: 100vh;
	background: url('../images/common/login_background.png')no-repeat center;
	background-size: cover;
	/* font-family: 'Noto Sans KR', sans-serif; */
	font-family: 'NanumSRR';
}
.loginWrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.loginWrap .logoImg {
	width: 200px;
	height: 40px;
	position: absolute;
	left: 30px;
	top:30px;
}
.loginWrap .logoImg img {
	width: 100%;
}
.loginWrap .loginText {
	position: absolute;
	width: 100%;
	height: 105px;
	top: 21%;
	text-align: center;
	font-family: 'twayair';
}
.loginWrap .loginText h1 {
	font-size: 35px;
	font-weight: 500;
}
.loginWrap .loginText p {
	font-size: 18px;
	color: #555;
	font-weight: bold;
	margin: 15px 0;
}
.loginWrap .loginText h1 span {
	font-weight: 900;
}
.loginWrap .login {
	border-radius: 10px;
	border: 1px solid #ccc;
	background: white;
	position: absolute;
	width: 845px;
	height: 335px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: auto;
}
.loginWrap .login p {
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 70px;
	line-height: 68px;
	display: block !important;
}
.loginWrap .login .loginInfo {
	display: flex;
}
.loginWrap .login .loginInfo .loginLeft {
	width: 49.5%;
	width: 100%;
	height: 290px;
	padding: 50px 80px;
	padding: 25px 60px;
	display: flex;
	align-items: center;
}
.loginWrap .login .loginInfo .loginLeft input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	/*width: 280px;*/
	outline: none;
	border: 1px solid #BBB;
	border-radius: 5px;
	height: 38px;
	line-height: 35px;
	padding-left: 8px;
}
.loginWrap .login .loginInfo .loginLeft button {
	display: block;
	border-radius: 20px;
	background: #1473e7;
	/*width: 280px;*/
	width: 100%;
	height: 40px;
	max-height: 40px;
	color: white;
	outline: none;
	border: none;
	margin: 25px 0;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.loginWrap .login .loginInfo .loginRight {
	width: 49.5%;
	height: 290px;
}
.loginWrap .login .loginInfo .loginRight .electronicLogin {
	border-radius: 5px;
	background: #52877f;
	width: 290px;
	height: 140px;
	margin: 45px auto;
	padding: 40px;
}
.loginWrap .login .loginInfo .loginRight .electronicLogin a {
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
.loginWrap .login .loginInfo .loginRight .electronicLogin a span {
	display: inline-block;
	width: 140px;
	text-align: center;
	vertical-align: super;
}
.loginWrap .login .loginInfo .loginRight::before {
	content: "";
	height: 230px;
	width: 1px;
	background: #CCC;
	position: absolute;
	left: 50%;
	top: 27%;
	display: block;
}
.loginWrap .loginTextBtm {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,0%);
	width: 845px;
	height: 50px;
	padding: 10px;
	color: #555;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}
.loginWrap .loginTextBtm .address {
	color: #636d77;
	font-style: normal;
}
/*bbs*/
.editorContent {
    cursor: auto;
    text-align: left;
    margin: 5px;
    display: block !important;
    /*vertical-align: top;*/
    font-size: 13px !important;
}

div.editorContent_qna>p {
    cursor: auto;
    width: 80%;
    height: 150px;
    /*margin: 5px;*/
    padding: 5px;
    border: 1px solid rgba(213, 220, 226, 0.61);
    font-size: 13px !important;
    overflow-x: hidden;
    overflow-y: auto;
}

div.editorContent_qna:focus {
    outline: none !important;
}


@media (max-height:720px) {
	.loginWrap .loginText {
		top: 10%;
	}
	.loginWrap .loginTextBtm {
		top: 83%;
	}
}
