@font-face{
    font-family: 'NanumSRL';   
    src: url('../fonts/NanumSR/NanumSquareRoundL.eot');
    src: local('☺'),
        url('../fonts/NanumSR/NanumSquareRoundL.woff') format('woff'),
        url('../fonts/NanumSR/NanumSquareRoundL.otf') format('opentype');
}
@font-face{
    font-family: 'NanumSRR';
    src: url('../fonts/NanumSR/NanumSquareRoundR.eot');
    src: local('☺'),
        url('../fonts/NanumSR/NanumSquareRoundR.woff') format('woff'),
        url('../fonts/NanumSR/NanumSquareRoundR.otf') format('opentype');
}
@font-face{
    font-family: 'NanumSRB';
    src: url('../fonts/NanumSR/NanumSquareRoundB.eot');
    src: local('☺'),
        url('../fonts/NanumSR/NanumSquareRoundB.woff') format('woff'),
        url('../fonts/NanumSR/NanumSquareRoundB.otf') format('opentype');
}
@font-face{
    font-family: 'NanumSREB';
    src: url('../fonts/NanumSR/NanumSquareRoundEB.eot');
    src: local('☺'),
        url('../fonts/NanumSR/NanumSquareRoundEB.woff') format('woff'),
        url('../fonts/NanumSR/NanumSquareRoundEB.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
  	src: url(../fonts/notosan/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
 	 src: url(../fonts/notosan/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/notosan/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/notosan/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
  	src: url(../fonts/notosan/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
  	src: url(../fonts/notosan/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'twayair';
    src: url(../fonts/twayair.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
