/*third conts*/
.contain.conts_third{width:33.3%;display:inline-block;float:left;}
.main_conts{width:100%; overflow-y: hidden; overflow-x: hidden;left:0; position: relative; top:0;}
.main_conts>p {overflow:hidden;}
.first_box.main_conts .clear:first-child{margin-top:5px;}
.search_box .box_in{display:inline-block;float:left; line-height: 0;} 
.search_box .search_twoForm {display:inline-block; float: left;}
.search_box .search_twoForm button{margin:0 0 0 5px;}
.search_box .search_twoForm .form-group{margin-right: 5px; float: left;}
.search_box .search_twoForm .form-group label{display: table;font-size: 13px;text-indent: 0px; min-width: 90px; float: left; text-align: center;}
.search_box .search_twoForm .form-group label span {display:table-cell !important;vertical-align:middle;}
.search_box .search_twoForm .form-group select,.search_box .search_twoForm .form-group input{width:120px; height:28px; font-size: 13px; padding: 3px; box-sizing:border-box;}
.search_box .search_twoForm .form-group input.input_fac{width:180px;}
.search_box .float_R{display:inline-block;}


.conts_half .conts_in .data_twoForm .halfPic{width:79%;float:left; }
.conts_half .half_tform{width:50%;display:inline-block;float:left;}
.half_tform input,.half_tform select{width:65% !important}
.half_tform .btn_form input{width:45% !important}

.half_7Box {width:75%;}
.half_7 { width:100%; }
.half_3Box {width:auto;float:right !important;}
.half_3 { width:100%; }
.half_7Box .btn_form label {width:26.5%;}
.half_7Box .btn_form input,.half_7Box .btn_form select,.half_7Box .btn_form textarea {width:60%;}
.half_7 label {width: 26.5%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 73.5% !important;  display: inline-block;}
.half_7Box,.half_7,.half_3Box,.half_3 { overflow:hidden; display:inline-block; float:left; }

.userPicArea{  width: 80%; height: 180px;  float: right;  margin: 5px 0; width:180px;}
.userPicArea label.pic_upload {  width: 100%;  height: 100%; border:1px solid rgba(213, 220, 226, 0.61);  display: table;}
.user_PicAlign {  display: table-cell !important;  vertical-align: middle;  width: 100%; text-align: center; }


.data_twoForm .fm_w50 label{ width:35%; float:left;}
.fm_w50 .btn_form label{width:40%; float:left;}
.halfPic label{width:22% !important;}
.halfPic .form-group input,.halfPic .form-group div,.halfPic .form-group select{width:74% !important;}
.main_conts .form-group{ overflow:hidden; margin: 5px 0; }
.main_conts .form-group.btn_form button{margin:0 !important;}
.main_conts .btn_form button{float:right;}


/*modal inputForm*/
.modal_inputForm .tits{ font-size: 14px; font-weight: bold; color: #000;}
.modal_inputForm .tits i{ margin-right:5px; color:#7198e7; vertical-align: bottom;}
.clear.tits.selBox select{height:28px;}
.clear.tits.selBox .float_L{padding: 6px 0;}
.modal_inputForm .conts_pd{padding:10px;}
.modal_inputForm .tbl_min2{margin:10px 0;}
.oneline.long .txt_left.form_inputs,.modal_htbl .oneline.long .txt_left.form_txtArea, .modal_htbl .oneline.long .txt_left.form_left {  width: 35% !important; }
.modal_htbl .oneline.long .txt_right.form_txtArea, .modal_htbl .oneline.long .txt_right.form_right, .oneline.long .txt_right.form_inputs {  width: 65% !important; }
.modal_inputForm .tbl_min2 th:last-child {border:0 !important; border-bottom: 1px solid rgba(213, 220, 226, 0.61)!important;}

.rts input {text-align:right; padding-right: 10px !important;}

/*pop(modal) form */
.pop_form .first_box,.pop_form .first_box.main_conts .clear:first-child { margin: 0 !important;}
.modal_htbl label {font-size:14px !important; color: #000;}
.modal_htbl .explan_tit {  color: #000; }
.modal_htbl {overflow-x:hidden !important;min-height:350px;}


.full_form{overflow:hidden;}
.full_form label{width: 17.5%;}
.full_form input,.full_form select{ width: 82.5% !important; }
.half_form {width:50%;display:inline-block; float:left;}
.half_form .btnForm input{width:40% !important;}
.half_form .btnForm .btn_R{width:auto !important;padding:0 !important;}
.half_formB{ width:50%;display:inline-block;float:left;}
.half_formB label,.half_tform.fm_w50 label.w40{width:40% !important;float:left;}
.half_formB.WideLong label {width:70% !important;}
.half_formB .inputSlash {width:25% !important;}
.half_formB .formSlash{width:10% !important;}
.half_tform.fm_w50 label.w15{ display: inline-block; width: 15% !important; float: left;}
.half_tform.fm_w50 label.w12_5{width:12.5% !important;}
.half_formB input,.half_formB select,.half_formB .inputFix{width:60% !important;float:left;}
#dialog-enrollReview .half_formB label {  width: 30% !important;}

/*half> half two input*/
.half_formB .hlf input {width: 27% !important; float: left;}
.half_formB.WideLong .hlf input {width:30% !important; float:left;}
.half_formB .hlf .empty {display: inline-block;  width: 6% !important; height: 28px; float: left; }

.third_form{width:33.3%;display:inline-block;float:left;}
.third_form label{ width: 60% !important; padding:0 !important;}
.third_form input,.third_form select{width:40% !important; display:inline-block;}
.third_form .form-group input {  width: 40% !important;}
.form-group label{ display: inline-block; font-size: 13px;  float: left; font-weight: bold;; text-align:center; padding-top: 0.25rem;}
.conts_half .conts_in .data_twoForm input,.conts_half .conts_in .data_twoForm select,.fileUpBox{display: inline-block; font-size:13px !important; float:left; height: 28px; color: #000;padding: 6px 5px; box-sizing: border-box; }

.inputRdo .custom-control,.Form100 .inputRdo .custom-control.custom-checkbox { display: inline-block; width: auto; padding: 3px 0; }
.inputRdo .custom-control label{padding: 0 20px !important; background: none;  border: 0; line-height:2.3}
.inputRdo .custom-control:first-child label{margin-left:0;}
.inputRdo .custom-control .custom-control-label::before,.inputRdo .custom-radio .custom-control-label::after { top: 0.45rem; left:0; }
.inputRdo.long .custom-control {  margin-right: 10px !important;}
.inputLChk.inputRdo .custom-control, .Form100 .inputRdo .custom-control.custom-checkbox{ top: 0; padding: 0; max-height: 28px;}
.inputLChk.inputRdo .custom-control .custom-control-label::before,.inputLChk.inputRdo .custom-control .custom-control-label::after {top:0.3rem !important;}
.Form100 .inputRdo .custom-control.custom-checkbox .custom-control-label { line-height: 1.8; padding-left: 20px !important;}

 
/*form full*/
.Form100 label{width:20% !important;float:left;word-break: normal;}
.Form100 textarea{width:80%;height:100%;overflow-x:hidden;overflow-y:auto; height: 110px;}
.Form100 textarea.txtArea100 {width:100% !important;} 
.Form100 input,.Form100 select,.Form100 .inputFix,.Form100 .inputRdo, .txtChkR{width:80% !important;float:left;}
.Form100.WideLong label {width:35% !important;}
.inputFix.NoBg.NoPd {  width: 78% !important; height: auto;  max-height: inherit;}
.Form100.WideLong input,.Form100.WideLong select {width:65% !important;}
.Form100 .textareaChk textarea{width:100% !important;}
.Form100 .custom-control.custom-checkbox { width: 25%; float: left;} 
.Form100 .custom-control.custom-checkbox .custom-control-label {  width: auto !important;   padding-left: 30px !important;}
.Form100 .longChkLabel {width:auto !important; min-width: 220px;}
.Form100 .inputRdo.inputLChk {width:auto !important;} 
.Form100 label.fileUpBoxXS {  width: 65% !important;}
.Form100.Wide100 label  {width:35% !important;}
.Form100.Wide100 input,.Form100.Wide100 select,.Form100.Wide100 textarea{width:65% !important;}


/*form full -- small conts*/
.small_conts .Form100 .inputFixB{width:60% !important;float:left;}
.Form100 .float_R {width:auto !important;margin:0 !important; padding:0 !important;}
.Form100 .float_R button{margin:0 !important;}

/*min input*/
.min_input{overflow:hidden;display:inline-block;float:left;}
.min_input .fm_w50{display:inline-block;}
.min_input label {text-align:center;}
.min_input .inputFix{text-align:center;}
.min_input .inputFix,.min_input input,.min_input select {display:inline-block;}
.min_input.fm_w40{width:40%;}
.min_input.fm_w40 label{width:50%;}
.min_input.fm_w40 .inputFix,.min_input.fm_w40 input,.min_input.fm_w40 select{ width: 50% !important;}
.min_input.fm_w60{width:60%;}
.min_input.fm_w60 label{ width: 33.3% !important;}
.min_input.fm_w60 input,.fm_w60 select{width:66.6% !important;}
.min_input.fm_w100{width:100%;}
.min_input.fm_w100 label{width:20%;}
.min_input.fm_w100 .inputFix,.min_input.fm_w100 input,.min_input.fm_w100 select{ width: 70% !important;}
 
/*specForm*/
.specForm label{padding-top:5px;}
.specForm input{vertical-align: bottom;}
.specForm .float_R{padding:6px !important;}

/* left rowspan tbl -- 시스템구축범위 - 하수관로 시설현황 */
.tbl_ltit{width:100%;height: auto;  max-height: 600px;}
.tbl_ltit .tbl_leftRow{ max-height: 300px; overflow-y: auto; overflow-x: hidden;}
.tbl_ltit .tbl_leftRow td{text-align:center; font-size: 14px;  padding: 5px 0;}
.tbl_ltit .tbl_leftRow td:last-child{border-left:1px solid rgba(213, 220, 226, 0.61);}
.tbl_ltit .tbl_leftRow td:last-child span{ display: inline-block; float: right; margin-right: 30px;}
.tbl_ltit .tbl_leftRow th{  color: #000; font-weight: bold;}
.tbl_ltit .tbl_leftRow tr:nth-child(odd){ background-color: #f5f7fa;}


/*Picture grid4*/
.grid4_Pic .thum_conts{ border:1px solid #eee;}
.grid4_Pic .thum{position:relative; width: 50%; display: inline-block; float: left;margin-bottom: 10px;}
.grid4_Pic .thum_img{position:relative;display:table;height:240px !important;text-align:center;width:100%;cursor:pointer; border-bottom: 1px solid #eee;}
.grid4_Pic .thum_img .thum_align{max-width:275px; max-height:230px;display:table-cell;vertical-align:middle;}
.grid4_Pic .thum_img a{ display:table; width:100%; height:100%;} 
.grid4_Pic .thum_img .uptxt{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;display:table; cursor: pointer;}
.grid4_Pic .thum_img p{display:table-cell !important;vertical-align:middle;}
.grid4_Pic .thum_img i{ display: table-cell; vertical-align: middle;  text-align: center;  font-size: 103px; color:rgba(158, 214, 232, 0.48) !important;}
.grid4_Pic .thum img{position:relative; width: 100%; max-height:230px; max-width:inherit;min-height:30px; z-index:3;}
.grid4_Pic .thum_txt{text-align:center; padding: 5px 0; background-color: #f8f8f8;}
.grid4_Pic .thum:nth-child(odd) .thum_conts{margin-left:0; margin: 0px 10px 0 0;}
.grid4_Pic .thum:nth-child(even) .thum_conts { margin: 0px 0 0 10px !important;}
.grid4_Pic button{position: absolute;  top: 10px; right: 15px; padding: 5px 8px; min-width: 22px; min-height: 22px; margin: 0; z-index: 10;}
.btn_x {position: absolute;  top: 10px; right: 15px; padding: 5px 8px; min-width: 22px; min-height: 22px; margin: 0; z-index: 10;}


/*D(dificalt) tbl*/
table .th{background-color:#f5f8fa;}

/*drawing img upload*/
.drawing_img{ position: relative;  display: table; width:100%; height: 275px !important;  text-align: center; cursor: pointer; border: 1px solid #eee;}
.drawing_img .btn_x{position:absolute;right:10px;}
.drawing_img .uptxt{ position: absolute;  top: 0; left: 0; display: table; width: 100%;  height: 100%;  text-align: center; }
.drawing_img .uptxt p{ display: table-cell !important; vertical-align: middle;}
.drawing_img i{ display: table-cell; vertical-align: middle;  text-align: center; font-size: 103px; color: rgba(158, 214, 232, 0.48) !important;}
.drawing_img .drawing_align { position:absolute; top:0; left:0; width:100%; height:100%; display: table;}
.drawing_img .drawing_align:focus {outline: none !important;}
.drawing_img .drawing_align p {display:table-cell !important;vertical-align:middle;} 
.drawing_img .drawing_align img{ max-height: 215px;}

/*explan_box*/
.explan_tit {display: table !important; height: 29px; font-size: 15px; font-weight: bold; float:left;}
.explan_tit.gr {  display: block !important;  width: 100%; }
.explan_tit span {display:table-cell; vertical-align: middle; height:inherit;}
.explan_tit i{ font-size: 12px;/*  vertical-align: unset; */}
.explan_tit i { margin-right: 0 !important; }
.modal_explan.explan_tit i {margin-right:5px !important;}
.explan_tit.gr i { color: #d0d0d0 !important; }
.explan_box{ border: 1px solid #eee; padding: 5px 5px !important; overflow: hidden;}
.explan_box li{ position: relative;  padding-left: 10px;  line-height: 2; font-size: 13px;}
.explan_box li:before{ position: absolute;  left: 0;  top: 10px;  content: '';  width: 3px;  height: 3px;  background-color: #d0d0d0; }
.tits{margin:5px 0;}

/*arr_box*/
.explan_arrBox{display:block;}
.explan_arrBox .arrBox{padding: 12px 0; font-size: 13px;}
.explan_arrBox .arrBox_dep1{  background-color: #547ae9; color: #fff;vertical-align:top; }
.explan_arrBox .arrBox_dep2 { width: 60%; background-color:#ffc93d; color: #282828;vertical-align: top;}
.explan_arrBox .arrBox_dep2 span{   display: block; width: 95%;  margin: 0 auto;}
.explan_arrBox .arrImg.arrNext{ max-width: 40px;  margin: 0px 0;  width: 8%;  vertical-align: middle;}
.explan_arrBox .arrImg.arrDown{ width: 35px; vertical-align: initial;}
.explan_arrBox .arrBox_dep1, .explan_arrBox .DownBox.arrBox{ width:30%;text-align: center;}
.explan_arrBox .DownBox.arrBox{ padding:5px 0 !important; } 
.explan_box.arrBoxXSS .arrBox { padding: 20px 0; }
.explan_box.arrBoxXS .arrBox { padding: 18px 0; }
.explan_box.arrBoxS .arrBox { padding: 13px 0; }
.explan_box.arrBoxSM .arrBox { padding: 11px 0; } 
.explan_box.arrBoxM .arrBox { padding: 9px 0; } 
.arrBoxM .arrImg.arrNext {  max-height: 30px;}

/*계획서 등록*/
.tab_tit{margin-bottom:15px;}
.line{ border: 1px solid #eee; padding: 10px;}
.lineBox{  overflow: auto; display:inline-block; min-height:550px; border: 1px solid #eee;  padding: 5px; overflow:hidden;}
.line .w40{width:40% !important;}
.line button{margin:0 !important;}

/* Modal long Data table*/
.longTblWrap { width:100%; overflow:auto !important;}

input.inputB {  width: 69% !important; }
.min_cap.inlineB{display:inline-block;float:left;}
.inputArea_R,.inputArea_R div{display:inline-block;float:right;width:auto !important }
.inputArea_R .box_in {  max-height: 29px;}
.inputArea_R label{  width: 60px;  padding: 0 !important;}
.inputArea_R select{width:auto;}
.inputArea_R button{margin:0 !important;}

/*excelBtnArea -- 엑셀 업로드 양식 다운로드*/
.min_tab li.excelBtnArea{ display: none; float: right !important;}
#excelUpload{color:#fff; vertical-align: bottom; margin:2px 0 !important;}


/*check Label*/
.form-group.chkLabel .custom-checkbox,.form-group.chkLabel .custom-checkbox label{width:auto !important; display: inline-block; padding: 4px 10px 0px 0 !important;  margin-left: 12px;}


/*table -- check Label*/
.chkTop input, .chkTop select { width: 80%; }
.chkTop .maxSelect{max-width:150px;}

/*tbl radio*/
.tbl_radio label.custom-control-label{padding-left:20px !important;}
.tbl_radio .custom-control.custom-radio{width: auto !important; display: inline-block;}
td .custom-radio .custom-control-label::before, .custom-radio .custom-control-label::after {left:-0.1rem;}
.modal_MngCh .custom-radio label:before, .modal_MngCh .custom-radio label:after {  top: 0 !important; left: -0.2rem;}



/*year file*/
.Form100 label.fileUpLabel {width:80% !important;padding:0 !important; cursor: pointer; border: 1px solid rgba(213, 220, 226, 0.61);}
.yearfileUp { width: 80% !important; padding: 0 !important; float: left;}
.fileUpClick{width:90%;float:left;}
.yearfileUp table,.yearfileUp div{display:inline-block;float:left;}
.yearfileUp table,.yearfileUp .float_R{float:right;}
.fileUpLabel table{border:0;}
.Form100 label.fileUpBox2 { width: 70% !important; border: 1px solid rgba(213, 220, 226, 0.61); background: none; padding: 0 !important; cursor:pointer;}
.Form100 label.fileUpBoxM {width: 68% !important;}
.Form100 label.fileUpBox2.fileUpcctv { width: 63% !important;}
.Form100 label.fileUpBox2.fileUpcctv tr{height:26px;}
.Form100 label.fileUpBoxS{width:66% !important;}
.fileUpBox{border:0; width: 100%; }
.fileUpBox2 table{border:0;}
.fileUpBox2 td { border: 0; text-align: center;  padding: 6px;}
.Form100 .location {width:100% !important;}
.fileUpBox2:hover,.fileUpBox2:hover tr { background-color: #cfe8fb !important;}
.fileUpBox2.bookBox:hover, .fileUpBox2.bookBox:hover tr{background-color:transparent !important;}

/*modal check*/
.textareaChk{width:100% !important;display:inline-block; }
.textareaChk.TopChk { width: 98% !important; }
.textareaChk.TopChk .custom-control.custom-checkbox {top:0; padding-left:5px;padding-bottom: 0; }
.modal_htbl .txt_right.form_txtArea textarea,.textareaChk textarea {  max-height: 100px;  overflow-y: auto;}
.textareaChk .custom-checkbox,.modal_htbl .Form100 .form-group div.textareaChk .custom-control{ top: 0; width: 24% !important; min-height: 20px; min-width: 120px;padding-bottom: 0;  float: left;  display: inline-block;  margin: 0; text-align: left;} 
.modal_htbl .Form100 .form-group div.textareaChk .custom-control {padding-left:5px !important;}
.textareaChk .custom-checkbox.w25ChkInput {width:26% !important;}

.txtChkR .textareaChk .custom-checkbox { padding-left: 0px !important;} 
.txtChkR{ display: inline-block;}
.textareaChk .custom-control-label,.modal_htbl .Form100 .form-group div.textareaChk label{ width:auto !important; padding: 0 0 0 20px !important; line-height: 2; display: flex; align-items: center;}
.modal_htbl .Form100 .form-group div.textareaChk label {margin-left:0 !important;}
.modal_htbl .Form100 .form-group div.textareaChk label { line-height: 1.5;  background: none;  border: 0;}
.modal_htbl .Form100 .form-group div.textareaChk textarea {width:100% !important; margin-top: 5px;}
.textareaChk .custom-radio .custom-control-label::before,.textareaChk .custom-radio .custom-control-label::after{ left:0; }
.textareaChk .custom-checkbox.inputChk {width:50% !important;}
.textareaChk .custom-checkbox.inputChk input{ width: 65%;  margin-left: 10px;}
.textareaChk .custom-checkbox.inputChk .custom-control-label::before, td .textareaChk .custom-checkbox.inputChk .custom-control-label::after{top: 0.1rem;}
.textareaChk .custom-checkbox.inputChk .custom-control-label {  line-height: 0;  vertical-align: unset;}

/*modal checkInput*/
td .textareaChk .custom-checkbox.w50ChkInput {width:50% !important;}
.w50ChkInput input { float: right !important; width: 80% !important; vertical-align: bottom;}
.w25ChkInput input { width:60% !important; float: right !important; vertical-align:bottom;}

/*modal half Date*/
.halfDate {display:inline-block; float:left;}
.halfDateS {width:30%; min-width:250px;}
.halfDateL{width:65%; }
.halfDate .lineBox { width:100%; height:550px; overflow:auto !important; padding: 0 5px;}
.halfDate .longTblWrap { height: 100%; overflow: hidden !important;}
.halfDate .longTblWrap .grid .ui-widget.ui-widget-content {  height: 240px;  overflow-x: hidden;   overflow-y: hidden;} 
.halfDate .ShortTblWrap {height:225px; overflow:hidden;box-sizing: border-box;}
.halfDate .ShortTblWrap .grid {  height:100%; overflow-x: hidden; overflow-y:auto;}
.halfDate .ShortTblWrap .grid .ui-widget.ui-widget-content {  height: 100%;  overflow: hidden;} 
.tblVHalf { height: 50%;  overflow: hidden;  display: block; }
 
/*modal*/
.modal_htbl .clear .modal_explan {  display: inline-block !important; width: 100%;}
.modal_explan { font-size: 14px; color: #000;}
.halfDate .modal_explan button { margin:0 0 0 5px !important; float:right; }
.modal_explan span {  float: left;  font-size: 13px;}  
.minSelectZone span,.minSelectZone label { display:table; width:40%; height:28px; }
.minSelectZone span b {display:table-cell; vertical-align:middle; height:28px;}
.minSelectZone span.inline{ font-size: 13px; color: #000;  display: inline-block;  width: auto; height: 24px; }
.minSelectZone input,.minSelectZone select ,.minSelectZone textarea{ width: 60%;}
.minSelectZone.btnSelect input,.minSelectZone.btnSelect select{width:40%;}
.ico_tit {display:table !important; width:auto; height:24px; float:left; font-size:14px; }
.ico_tit span {display:table-cell; vertical-align:middle;}
.circleBG {  background-color: #f1f1f1; margin-right:5px; padding: 5px;  border-radius: 100%; }

/*table == grid scrollY*/
.grid.scrollY tr td:first-child{border-left:1px solid #ddd;}


/*cctv*/
.cctvWrap {overflow:hidden;}
.cctvWrap .cctvBox {display:inline-block;float:left;}
.cctvTbl {width:70%;}
.cctvVideo{width:30%;background-color:#eee;}
.cctvWrap{float:left;}
.cctvWrap .longLabelForm {margin:0 0 5px;}
.cctv_left {width:60%;display:inline-block;}
.cctv_right{width:40%;display:inline-block; padding-left: 10px;}
.cctv_Video .videos { width: 100%; height: 250px; background-color:#afafaf;}
.cctvWrap .fixed-table-container {height:215px;}

/*book*/
.bookWrap { background-color: #f9f9f9;  border-bottom: 1px solid #eee; border-bottom: 1px solid; border-color:#e7ebf4; }
.bookWrap .fileList tr {background:none;}
.bookWrap label.wave {min-width:auto !important; padding:0 5px;}
.bookWrap select { width: auto !important; min-width: 62px; padding: 0 !important;}
.bookWrap input {  max-width: 130px;}
.bookWrap div,.LongUptitle,.bookBox {height:100%;overflow:hidden !important;}
.bookWrap .search_box .search_twoForm {  margin-right: 15px; padding: 2px 0;    max-height: 32px; }
.bookWrap div.search_box { display: inline-block; float: left;}
.bookWrap .bookBox {border:0 !important;height:32px;background-color:transparent !important; }
.bookWrap .bookBox table{ padding: 3px 0;}
.bookWrap .search_box .float_R {width:auto !important;}
.bookWrap .form-group {margin:0 !important;}
.bookWrap .custom-control.custom-radio{ line-height: 1.8;}
.bookWrap .LongUptitle {max-width:150px;}
.bookWrap .custom-control.custom-radio .custom-control-label {top:0;}
.dataExport .search_twoForm label span:before { font-family: "Font Awesome 5 Free"; content: "\f14a"; color: #82c1f5; margin-right: 5px; font-size: 12px; }
.dataExport .search_twoForm label span.ct:before {content:'';margin:0;}

.clear.leftSearch { display: inline-block;  float: left; }
.library_conts {display:table;}
.libraryWrap {  position: relative; max-width: 2000px; min-height: 500px; height: 700px;}
.libraryWrap .library_in { position:absolute; top:0; left:0; width: 100%;  height: 100%; }
.libraryWrap .library_conts {line-height:0;}
.libraryWrap .library_conts .library_art { position: absolute; display:block; width: 100%; height: 100%; max-height: 1097px; min-height: 250px; overflow: hidden; z-index: 3; } 
.libraryWrap .library_conts .library_art .tbl { width:85%;  margin:0 auto;}
.libraryWrap .library_conts .library_art ul.books{ display:inline-block;  width:100%; height:100%;  margin: 0 auto !important; overflow: hidden;  text-align: center;}
.libraryWrap .library_conts .library_art ul.books li.book_list { display: inline-block; width:165px; padding: 0 20px; margin: 17px 0; }
.libraryWrap .library_conts .library_art ul.books li .book { position: relative;  min-height: inherit; margin:0px auto; background:url("../images/bookList3.png")no-repeat; overflow: hidden; height:185px;background-size: cover;}
.book .clear { display: table;  width: 100%; margin: 10px 0; overflow: hidden; } 
.book .clear .bookTit{ display: table-cell!important;vertical-align:middle;   height: 60px; color: #fff;}
.book .clear .book_txtBox { display: block !important; max-width: 100%;  overflow: hidden; text-overflow: ellipsis;}
.book .clear .bookTit span.book_txt { display: -webkit-box;  -webkit-line-clamp: 3; -webkit-box-orient: vertical; text-align: center;  
font-size: 12px; word-wrap: break-word;  line-height: 1.2em;  height: 3.5em; clear: both; overflow: hidden; text-overflow: ellipsis; 
word-break: break-all; max-width: 80%; margin:0 auto;}
.book .book_btm {position:absolute; bottom:30px; width:100%; text-align:center; color: #e6c895;}
.book .book_btm p{width:100%; line-height: 1.2; font-weight: bold; font-size:12px;} 
.book .book_btm p.date02 {  font-size: 11px; }
.libraryWrap .library_conts .library_art .library_topTit { display:table !important; width: 93%;  height:3%; margin:5px auto 0 !important; }
.libraryWrap .library_conts .library_art .library_topTit span { display:table-cell; vertical-align:middle; color:#fff; font-weight: bold;font-family: 'NanumSRL';}
.libraryWrap .library_conts img {position:absolute; width:100%; height:100%; min-height:250px;}

.bookBtn button { font-size: 11px !important; padding: 4px; margin: 0px 2px;}
.book a {width:auto; display:inline-block;float: none;}
.bookBox.fileUpBox2 td { padding:0 !important;  display: inline-block; float: left;  } 
.bookBox.fileUpBox2 td.select {width:10%;min-width: 155px;}
.bookBox.fileUpBox2 td.search {width:80%;}
.bookBox.fileUpBox2 input {border:0;width: 100% !important; max-width: 100% !important;}
.bookBox input {border:1px solid #e1edf7 !important; text-align:left;}
.min_searchForm {width:42%;overflow:hidden;}
.min_search{ position:relative;width: 100%;  overflow: hidden;}
.min_search .minSearchBtn { position: absolute;  right: 0; width: 25px; height: 100%; padding: 0; background-color: #ebf1f5; border: 1px solid #dde8ff;  text-indent: 3px; -moz-box-shadow: inset 0 0 10px #d4dff3;
-webkit-box-shadow: inset 0 0 10px #d4dff3; box-shadow: inset 0 0 10px #d4dff3;}
.min_search #searchText { width: 100% !important;  border: 1px solid #e8eef5; color: #3c5a9a; background-color: #f5f8f8;}  

.form-group.longLabelForm.Nomg {  margin: 0 !important;height: 32px; }

/*table caption*/
.captions {background-color: #5f82be;  color: #fff;  padding: 6.67px 0;  font-size: 13px; border-bottom: 1px solid rgba(213, 220, 226, 0.61); font-family: 'NanumSRB';}
.captions button { font-size: 11px !important;  padding: 5px 8px;}
.captions .btn_cap {display:table; float: left;}
.captions .btn_cap span { display: table-cell;  vertical-align: middle; height: 22px; font-size: 13px;} 
.btn_captions{padding:3px 0;} 
.DataShortTbl th { padding: 13px 0; border-right: 1px solid rgba(213, 220, 226, 0.61); }
.DataShortTbl #FileList th {padding:0;}


/*pattern switch == graph select button*/
.pattern_switch p{font-size:13px;font-weight:bold;}

/*drag graph*/
.dragWrap{position:relative;}
.dragBox{ position: absolute; top: 0;  width: 100px;  height: 85.5%; background-color: rgba(0, 98, 170, 0.35);  z-index: 1;}

/*계산식 calculation*/
.calculation .cal_inner {display:table;}
.calculation .cal_inner span{padding:0 10px;}
.fraction {display: inline-block; text-align:center; margin:0 5px;line-height: 1.6;}
.fractionT {border-bottom:1px solid #000;}
.cal_variable p {margin-left:20px !important;} 


/*server img Popup*/
.server_ImgWrap {width:100%;text-align:center;}
.server_ImgList {display: inline-block; width:20%; padding: 10px 10px; float:left;}
.server_bg { border: 6px solid #eee;  border-radius: 100%;  padding: 10px 5px; }
.server_img {width:55%; margin:0 auto;}
.server_bg.good {border-color:#648cdb;}
.server_bg.bad {  border-color: #db3636;}
.server_txt { font-size: 12px; }
.server_add{  padding: 5px 0; font-size: 13px; font-weight:bold; }
.server_add.good {color:#648cdb;}
.server_add.bad {color:#db3636;}


.network_ImgArea {width:100%;text-align:center; overflow: hidden;}
.network_ImgWrap {display:inline-block; width:20%; float:left; overflow: hidden; padding: 5px 10px; max-width: 170px;} 
.network_ImgList {border:1px solid #eee; border-radius:10px; min-height: 126px; overflow:hidden;}
.network_ImgList img { width: 50%; display: block;  margin: 0 auto; padding: 10px 0;} 
.network_cap {background-color:#d9d9d9; padding:5px 10px; color:#fff; font-size: 14px;}
.network_cap.good {background-color:#648cdb;} 
.network_cap.bad {background-color: #db3636;}
.network_add{padding: 5px 0;  font-size: 13px; font-weight: bold; }
.network_add.good { color:#648cdb; }
.network_add.bad { color:#db3636; }
.network_empty { display:table;width:100%;}
.network_empty p { display:table-cell !important; vertical-align:middle;}
.network_conts {height:115px;} 

/*유량모니터 th 맞춤*/
th#oneDay_DA_DATE {  border-left: 0 none;  padding: 11px 2px !important;}
th#oneDay_date { padding: 5.5px 2px;}



/* IE 9+10 */
/* @media screen and (min-width:0\0){
table label.custom-control-label {top:-0.35rem;}
.explan_arrBox{display:flex;}
.fixedTbl td{border-left:1px solid rgba(213, 220, 226, 0.61);}
.book .clear .bookTit span.book_txt {display:-ms-inline-grid;}
#workList_JM_MEID_TEXT{border-right:0;}
.agreeChk .custom-control-label::before, .agreeChk .custom-control-label::after{top:0.38rem;}
.half .modalChkTotal .custom-control-label::before, .modalChkTotal .custom-control-label::after {top:0.15rem !important;}
.half .modalChkTotal .custom-control-label::before, .modalChkTotal .custom-control-label::after{left:0.1rem;top:0.1rem !important}
.modal_htbl td .custom-control.custom-checkbox .custom-control-label::before, .modal_htbl td .custom-control.custom-checkbox .custom-control-label::after{top:0.1rem;}
ie th 콘헤드
.tbl_ltit .tbl_leftRow thead{height:30px;}
.tbl_ltit .tbl_leftRow tbody { width:100%;  height:280px; }
.ui-jqgrid .ui-jqgrid-labels > .ui-th-column > .ui-jqgrid-resize {position:absolute !important;}
.ui-jqgrid .ui-th-column > div.ui-jqgrid-sortable {top:0 !important;}
ie th 콘헤드
.Nscroll .custom-control.custom-checkbox {width:15px;}
.modalChkLong .custom-control.custom-checkbox {padding-bottom:1rem;}
.modalChkLong [type=checkbox]:checked,.modalChkLong [type=checkbox]:not(:checked) {position:-ms-device-fixed;}
.ui-dialog .ui-dialog-content .custom-control.custom-checkbox label {line-height:1.3;}
#dialog_EducationUserList td .custom-control-label {top:5px;}

.divBodyScroll.data02 {height:65.9vh;}
.divBodyScroll.data03 {height:61vh;}
.divBodyScroll.data04{height: 70.5vh;}
.divBodyScroll.maint02 {height:66vh;}
.contain .conts_in.admin_code { height:62.8vh;}
.contain .conts_in.admin_pg {height:62.9vh;}
.verti_md button span {padding-bottom:5px !important; padding-left:5px !important;}
.verti_top .verti_md button,.verti_bottom .verti_md button{margin-right:10px !important;}
.verti_top .verti_md button span { padding-left:7px !important;}
.verti_bottom .verti_md button span { padding-left:10px !important;}
.conts_half.left .conts_in, .conts_half.right .conts_in {min-height:200px;}

유량모니터링
.scrollVH .ui-jqgrid-bdiv {height:276px !important;}
.scrollVH #gview_incursion .ui-jqgrid-bdiv,.scrollVH #gview_inflow .ui-jqgrid-bdiv {height:285px !important;}
#gview_abResult .ui-jqgrid-bdiv {height:308px !important;}


} */

/* 
@media (max-width: 2362px){
.conts_half .conts_in .data_twoForm .halfPic { width: 76%;  float: left;}
.halfPic label {  width: 22.5% !important;}
.fileUpClick{width:89%;} 
.Form100 label.fileUpBoxM {width: 66% !important;}
}

@media (max-width: 2160px){
.min_inputWrap .w100 input.btn_input {  width: 75% !important; }
.min_inputWrap .w100 label{width:13.5%;}
.conts_half .conts_in .data_twoForm .halfPic { width: 73%; }
.halfPic label {  width: 24% !important; }
.half_tform .btn_form input { width: 40% !important;}
.Form100 label.fileUpBoxS{width:65% !important;}
.libraryWrap .library_conts .library_art ul.books li .book {height:165px;}
.Form100 label.fileUpBoxM {width: 61% !important;}
}

@media (max-width: 2100px){
.libraryWrap .library_conts .library_art ul.books li.book_list{  margin: 27px 0;}
}

@media (max-width: 1980px){
.Form100 label.fileUpBoxXS {  width: 60% !important; height: 26px !important; display: block !important;}
.DataShortTbl th {  padding: 6px 0; }
.book .book_btm {bottom:25px;}
}

@media (max-width: 1920px){
.conts_half .conts_in .data_twoForm .halfPic {  width: 70%; }
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 73% !important;}
.halfPic label {  width: 25% !important; }
.libraryWrap .library_conts .library_art {max-height:720px;overflow:hidden;}
.libraryWrap .library_conts .library_art .tbl {display:block; height: 96%; overflow:hidden;}
.libraryWrap .library_conts .library_art ul.books{display:block;height:100%;}
.login_visual{ background-position-y: -50px;background-position: center;} 
.half_7Box {  width: 74%;}
.half_7Box .btn_form label,.half_7 label{  width: 27%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 73% !important;}
}

@media (max-width: 1900px){
.search_twoForm.search_three .form-group{margin-bottom:5px;}
}


@media (max-width: 1882px){
.fm_w60 input, .fm_w60 select{  width: 75% !important;}
.fm_w60 label { width: 23% !important;}
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 71% !important; }
.conts_half .conts_in .data_twoForm .half_tform .btn_form input{width:40% !important}
.small_conts .Form100 .inputFixB{ width: 57% !important; }
.Form100 label.fileUpBoxS {  width: 60% !important;}
.chart_twoPie {  width: 80%; }
.twoPieLegendWrap {width:20%;}
.chart_half{width:100% !important;}
.Form100 label.fileUpBoxM {width: 62% !important;}  
.Form100 label.fileUpBoxXS {  width: 60% !important; }

}

@media (max-width: 1860px){
.half_7Box {  width: 72%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 72% !important;}
.half_7Box .btn_form label, .half_7 label { width: 27.5%;}
}

@media (max-width: 1800px){
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 68% !important;}
.conts_half .conts_in .data_twoForm .halfPic { width: 68%;}
.small_conts .Form100 .inputFixB{ width: 55% !important; }
input.inputB { width: 66% !important; }
.half_tform .btn_form input { width: 43% !important;}
.libraryWrap .library_conts .library_art ul.books li.book_list { margin: 20px 0;}
.libraryWrap {height:650px;}
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 57%; }
.bookBox.fileUpBox2 td.search {  width: 75%;}
}

@media (max-width: 1700px){
.longLabel:first-child{padding: 8px 0 !important;}
.libraryWrap .library_conts .library_art .library_topTit {font-size:13px;}
.min_input.fm_w100 .inputFix, .min_input.fm_w100 input, .min_input.fm_w100 select {  width: 68% !important;} 
.half_3Box {  width: auto;  float: right;}
.conts_half .conts_in .data_twoForm .half_tform .btn_form input {  width: 39% !important;}
.half_7Box .btn_form label {  width: 33%;}
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 64%;}
.half_7Box {  width: 70%;}
.half_7Box .btn_form label,.half_7 label{  width: 29.5%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 69% !important;}
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 50%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 70.5% !important;}

}

@media (max-width: 1670px){
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 65% !important;}
.conts_half .conts_in .data_twoForm .halfPic {  width: 65%;}
.halfPic label { width: 26.5% !important; }
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 70% !important;}
.conts_half .conts_in .data_twoForm .half_tform .btn_form input{width:33% !important;float:left;}
.half_tform .btn_form input { width: 42% !important;}
.Form100 label.fileUpBoxS {  width: 58% !important; }
.Form100 label.fileUpBoxM {width: 60% !important;} 
.bookWrap .custom-control-label {  margin: 0 0 !important; }
.Form100 label.fileUpBoxXS {  width: 57% !important; }
.half_7Box {  width: 68%; }
.adminTopmn .third_form{width:50%;}
.float_R.btns{display:block;margin:5px 0; clear: both;}
}

@media (max-width: 1580px){
.Form100 label.fileUpBox2 {width:69% !important;}
.Form100 label.fileUpBoxS {  width: 55% !important; } 
.Form100 label.fileUpBoxM {width: 57% !important;}
.half_7Box {  width: 67%;}
}

@media (max-width: 1560px){
button{font-size:12px; padding:7px 7px; }
.data_twoForm .fm_w50 .form-group div, .data_twoForm .fm_w50 .form-group input, .data_twoForm .fm_w50 .form-group select{font-size: 14px;}
.tbl_min .tbl_box .tbl_add thead tr th{font-size:14px;}
.form-group.form-grop2 { margin-top: 15px;}
.full_form input, .full_form select { width: 82.5% !important; }
button{font-size:12px !important;}
.fm_w40{width:30%;}
.fm_w60{width:70%;}
.min_inputWrap .w100 input.btn_input{width:72% !important;}
.full_form label { width: 16.5%; }
.halfPic label { width: 19% !important;}
.halfPic label {  width: 27.5% !important;}
.conts_half .conts_in .data_twoForm .halfPic { width: 58%;}
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 72% !important;}
.conts_half .conts_in .data_twoForm .halfPic.uploadArea{float:right;margin-right: 7px;}
.form-group div, .form-group input, .form-group select, .min_input .inputFix, .min_input input, .min_input select{width:67%;}
.form-group div.btnArea {width:auto;}
.calculation, .calculation div {  width: auto !important; }
.fileUpBox2 span.ng-binding {  font-size: 12px !important; }
.longLabel { padding: 0 !important;}
.longLabel:first-child {padding:0 !important;}
.Form100 label.fileUpBox2.fileUpcctv { width: 68% !important; }
p.explan_tit.bl.btns {  display: block !important; }
li.book_list p {  font-size: 13px; }
.book .book_btm p.date02 { font-size: 12px; }
.min_searchForm {width:40%;}
.inputSlash input,.slash {width:auto !important;}
.adminTopmn .form-group div {width:auto !important;}
.Form100 label.fileUpBoxXS {  width: 57% !important; }
.search_box .search_twoForm .form-group select, .search_box .search_twoForm .form-group input {width:93px;}
.bookBox.fileUpBox2 td.search {width:69%;}
}

@media (max-width: 1484px){
.form_73 .fm_w100 input {  width: 66% !important; }
.small_conts .Form100 .inputFixB{ width: 53% !important; }
.clear.tits.select .explan_tit{width:100%;clear:both;}
.clear.tits.select .mg_L20 {margin-left:0;}
.cctv_left { width:100%; }
.cctv_right{ width: 80%; max-width: 400px; margin: 0 auto; padding-left: 0; display: block; float: none;  overflow: hidden;  padding-top: 15px;} 
.book .clear button { margin:5px 2px; }
.libraryWrap .library_conts .library_art .library_topTit { font-size: 12px;}
.book .clear {margin:5px 0;}
.half_7Box {  width: 65%;}
.half_7Box .btn_form label, .half_7 label {  width: 30.5%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 69.5% !important; }

}

@media (max-width: 1470px){
.half_form.fm_w50.fm_w40{width:45%;float:right;}
span.detail { display: block;}
.conts_half .conts_in .data_twoForm .fm_w50 label{width:40%;}
.full_form label{width:14%;}
.full_form input, .full_form select{width:85%;}
.left_nav,.top_hd .top_logo{width:250px;}
.top_hd, .main_visual,.footer_Wrap{margin-left:250px;}
.top_hd {margin-left: 0; position: fixed; top: 0; width: 100%;}
.left_nav .nav_cap{font-size:14px; line-height: 1.2;}
label { font-size: 13px; }
.min_cap{font-size:14px;}
.half_form{width:52%;}
span.br {  display: block; }
.contain.conts_third{width:100% !important;}
.contain.conts_third .conts_in{height:auto !important;}
body{overflow-x:hidden;overflow-y:auto !important;} 
.min_inputWrap .w100 label {  width: 15%; }
.min_inputWrap .w100 input.btn_input { width: 79% !important;}
.tbl_min{height:335px !important;}
.fm_w60 input, .fm_w60 select {  width: 76% !important; }
.halfPic label { width: 23.5% !important; }
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 70% !important;}
.full_form input, .full_form select { width: 84.5% !important;}
.form-group div, .form-group input, .form-group select, .min_input .inputFix, .min_input input, .min_input select {width: 72%;}
.fileUpClick{ width: 87%; }
.form-group div.txtChkR { width: 80%; }
.form-group div.calculation, .calculation div {  width: auto !important; }
.min_input.fm_w100 .inputFix, .min_input.fm_w100 input, .min_input.fm_w100 select { width: 75% !important; }
select { font-size: 0.73rem !important; }

}

@media (max-width: 1461px){
#gview_incursion th { padding: 7.5px 0; }
}

@media (max-width: 1450px){
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 67% !important; }
.chart_twoPie {  width: 75%;}
.twoPieLegendWrap {width:25%;}
.min_searchForm {width:28%;}
.Form100 label.fileUpBoxXS {  width: 55% !important; }
}

@media (max-width: 1400px){
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 60% !important; }
.conts_half .conts_in .data_twoForm .halfPic {  width: 54.5%; }
.halfPic label { width: 25.5% !important; }
input.inputB { width: 64% !important; }
.half_tform .btn_form input { width: 40% !important;}
.Form100 label.fileUpBox2{width:68% !important;}
.Form100 label.fileUpBoxS{width:54% !important;}
li.book_list p {font-size:12px;}
.book .book_btm p.date02 {  font-size: 10px; }
.half_7Box {  width: 63%;}
.half_7 label {  width: 31.5%; }
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 66% !important;}
.contain .conts_in {margin:10px 8px;}
.half_7 label {  width: 33%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 68.5% !important;}
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 44%; }
.half_7Box .btn_form label, .half_7 label {  width: 31.5%; }
.Form100 label.fileUpBoxXS {  width: 53% !important; }
}


@media (max-width: 1330px){
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 66% !important;}
.conts_half .conts_in .data_twoForm .halfPic { width: 53.5%; }
.form_73 .fm_w100 input { width: 65% !important; }
.small_conts .Form100 .inputFixB{ width: 50% !important; }
.explan_arrBox .arrBox{font-size:13px;}
.explan_arrBox .arrImg{width:35px !important;}
.Form100 label.fileUpBox2{width:68% !important;}
.Form100 label.fileUpBoxS{width:54% !important;} 
.libraryWrap .library_conts .library_art ul.books {display:block;}
.half_7Box {  width: 60%; }
.half_7Box .btn_form label, .half_7 label {  width: 33%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 67% !important; }
.min_searchForm {  width: 24%; }

}


@media (max-width: 1260px){
.paging{margin:10px 0 !important;}
.conts_half .conts_in .data_twoForm label{font-size:12px;}
.conts_half{width:100%;height:auto;overflow-y:auto;}
.contain .conts_in{height:auto !important;}
.full_form input, .full_form select{width:84%;}
.half_form.fm_w50{width:55%;}
.half_form.fm_w50.fm_w40{width:45%;float:left;}
.tbl_min .tbl_box .tbl_add thead tr th { font-size: 12px;  padding: 10px 0;}
.conts_half.left .conts_in, .conts_half.right .conts_in{height:auto !important;}
.main_visual{height:auto !important;overflow-y:auto !important; overflow-x: hidden;}
.full_form label { width: 14%;}
.full_form input, .full_form select { width: 86% !important; }
.grid4_Pic .thum .thum_img { height: 230px !important; }
.min_inputWrap .w100 input.btn_input{width:78% !important;}
.conts_half .conts_in .data_twoForm .halfPic {  width: 75%;}
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select { width: 77% !important; }
.halfPic label {  width: 19.5% !important;}
.conts_half .conts_in .data_twoForm .halfPic {  width: 73%;}
.main_conts .btn_form button{float:left !important;margin-left: 10px;}
.conts_half .conts_in .data_twoForm .half_tform .btn_form input{width:45% !important;}
.form_73 .fm_w100 input { width: 72% !important; }
.small_conts .Form100 .inputFixB{ width: 64% !important; }
input.inputB { width: 70% !important; }
.main_conts .form-group.btn_form button {margin: 0 !important; float: right !important;}
.form-group div, .form-group input, .form-group select, .min_input .inputFix, .min_input input, .min_input select {width: 72%;}
.half_tform .btn_form input {  width: 47.5% !important;}
.conts_half .conts_in .data_twoForm .halfPic.uploadArea{float:right !important;    margin: 0 !important;}
.third_form input, .third_form select{width:60% !important;}
.clear.tits.select .explan_tit{width:auto;clear:both;}
.clear.tits.select .mg_L20 {margin-left:20px;}
.Form100 label.fileUpBoxS{width:65% !important;} 
.chart_twoPie {  width: 80%; } 
.twoPieLegendWrap {  width: 21%; } 
.explan_tit.bl.btns {  display: table-cell !important; }
.bookWrap .search_box{width:auto !important; float: left; display: inline-block;}
.libraryWrap .library_conts img{min-height:500px;}
.minSelectZone span,.minSelectZone label {display:block;width:100%; clear:both;}
.minSelectZone label { width:100%; min-height:auto;}
.minSelectZone span.inline { display: inline-block !important;  clear: initial;  width: auto;}
.fixed-table-container.longThTbl{min-width:600px;  table-layout: fixed;}
.verti_top.verti_100 i {  display: block; } 
.Form100 label.fileUpBoxM {  width: 65% !important; }
.min_tab li button.active {font-size:13px !important;}
.min_tab li button {padding:7px 13px;}
.wHalf { width:100% !important;height:50%;}
.vHalf { display: inline-block;  width: 100%;  height: 50%;  float: left;}
.explan_tit {font-size:13px;}
.bookWrap select, .bookWrap input{min-width:130px !important;}
.bookWrap .mg_W10 {margin:0 10px 0 0;}
.min_searchForm {  width: 40%; }
.Form100 label.fileUpBoxXS {  width: 64% !important; }
.contain .conts_in .conts_tit {font-size:15px;}
.min_input.fm_w100 .inputFix, .min_input.fm_w100 input, .min_input.fm_w100 select { width: 74% !important; }
.half_7Box {  width: 77%;}
.half_7 label {  width: 26.6%;}
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 73% !important; }
.tbl_ltit {max-height:none !important;}
.half_7Box .btn_form label, .half_7 label {  width: 26%; }
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 62%; }
.scrollXS .ui-jqgrid-bdiv {  height: 210px !important;} 
.minSelectZone input, .minSelectZone select, .minSelectZone textarea {  width: 100%; }
.minSelectZone.btnSelect input, .minSelectZone.btnSelect select {  width: 70%; }
.adminTopmn .third_form input,.adminTopmn .third_form select {  width: 40% !important;}
th, .bg, .tblBackground th { font-size: 12px; }
#excelUpload {margin:1px 0 !important;}
.inputArea_R .float_L {text-align:right; width:inherit}
#gview_incursion th { padding: 0; }
.bookBox.fileUpBox2 td.search {  width: 60%;}
.divBodyScroll {height:690px;}
}


@media (max-width: 1150px){
.form-group.form-grop2{display:block !important;}
.half_form.fm_w50,.half_form.fm_w50.fm_w40{width:100%;}
.data_twoForm .fm_w50 .form-group div, .data_twoForm .fm_w50 .form-group input, .data_twoForm .fm_w50 .form-group select,.full_form input, .full_form select {width:80%;}
.conts_half .conts_in .data_twoForm .clear.responsive label,.full_form label,.conts_half .conts_in .data_twoForm .fm_w50 label{width:18%;}
.conts_half .conts_in .data_twoForm .clear.responsive .btnForm input{width:60% !important;}
.conts_half .conts_in .data_twoForm .clear.responsive .half_form:nth-child(2){margin-top:15px;}
.conts_half .conts_in .data_twoForm .halfPic.uploadArea .pic_upload{float:none;margin:0 auto;}
.grid4_Pic .thum .thum_img {  height: 190px !important;}
.conts_half .conts_in .data_twoForm .clear.responsive label, .full_form label, .conts_half .conts_in .data_twoForm .fm_w50 label { width: 40%; }
.data_twoForm .fm_w50 .form-group div, .data_twoForm .fm_w50 .form-group input, .data_twoForm .fm_w50 .form-group select, .full_form input, .full_form select {width: 71%;}
.full_form label{width:14% !important;}
.full_form input, .full_form select {  width: 85.5% !important; }
.conts_half .conts_in .data_twoForm .halfPic { width: 73.5%; }
.form_73 .fm_w100 input { width: 70% !important; }
.small_conts .Form100 .inputFixB {  width: 60% !important; }
.Form100 input.inputB { width: 69% !important; }
.Form100 input, .Form100 select, .Form100 .inputFix, .txtChkR {  width: 80% !important;}
.Form100 label.fileUpBoxM {  width: 63% !important; }
.Form100 label.fileUpBoxXS {  width:64% !important; }
.min_input.fm_w100 .inputFix, .min_input.fm_w100 input, .min_input.fm_w100 select {  width: 73% !important;}
.half_7Box {  width: 75%;}
.half_7Box .btn_form label, .half_7 label {  width: 26.7%;}
}


@media (max-width: 1082px){
.conts_half .conts_in .data_twoForm .halfPic { width: 71.5%; }
.half_tform .btn_form input {  width: 45.5% !important; }
.Form100 label.fileUpBoxS{width:62% !important;} 
.Form100 label.fileUpBoxM {  width: 63% !important; }
.Form100 label.fileUpBoxXS { width: 63% !important; }
.half_7Box {  width: 72%; } 
.half_7Box .btn_form label, .half_7 label {  width: 27.8%; }
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 72% !important;}
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 59%; }
}

@media (max-width: 1026px){
.conts_half{width:100%;}
.conts_half{height:auto;}
.min_input .inputFix{width:60px !important;}
.min_input .fm_w60 input,.min_input .fm_w60 select{ width: 76% !important; }
.min_inputWrap .w100 input.btn_input{width:77% !important;}
.grid4_Pic .thum .thum_img {  height: 200px !important;}
.conts_half .conts_in .data_twoForm .halfPic { width: 71%; }
.conts_half .conts_in .data_twoForm .half_tform .btn_form input { width: 44.5% !important;}
.contain .conts_in{height:auto !important;}
.top_hd .hd_right .login_wrap i{font-size:10px !important;}
.half_formB input, .half_formB select{ width: 60% !important;}
.third_form input, .third_form select { width: 60% !important;}
.halfDateL {  width: 64%; float: right; }
.Form100 label.fileUpBoxM {  width: 61% !important; }
.Form100 label.fileUpBoxXS {  width: 61% !important; }
.adminTopmn .btnWide {width:100%;}
.adminTopmn .btnWide label {width:17.5% !important;}
.adminTopmn label span {  padding-right: 5px !important;}
}

@media (max-width: 1014px){
.conts_half .conts_in .data_twoForm .halfPic {  width: 70%;}
.half_tform .btn_form input {  width: 44% !important;} 
.bookBox.fileUpBox2 td.search { width: 55%;}
}

@media (max-width: 990px){
.min_inputWrap .w100 input.btn_input { width: 75.5% !important; }
.min_input .fm_w60 input, .min_input .fm_w60 select { width: 75% !important; }
.conts_half .conts_in .data_twoForm .halfPic {  width: 64%;}
.halfPic label { width: 21.5% !important; }
.form_73 .fm_w100 input { width: 68% !important; }
.small_conts .Form100 .inputFixB{  width: 58% !important; }
.Form100 input.inputB { width: 67% !important; }
.conts_half .conts_in .data_twoForm .half_tform .btn_form input { width: 37.5% !important;}
.half_tform .btn_form input {  width: 43% !important;}
.third_form input, .third_form select{width:55% !important;}
.grid4_tit{font-size:14px;}
.Form100 label.fileUpBoxS{width:60% !important;} 
.Form100 label.fileUpBoxXS{width:60% !important;} 
.userPicArea {width:165px;}
.halfDateL {  width: 63%; }
.login_form,.form_titArea {margin-bottom:0;}
.login_formWrap .login_title {  margin: 10px 0 10px; font-size: 2rem;}
.login_formWrap .login_copy { margin-bottom: 35px !important;}
}
@media (max-width: 930px){
.network_conts{height: 115px;}
.halfDateL {  width: 62%; }
.Form100 label.fileUpBoxXS {  width: 57% !important; }
.bookBox.fileUpBox2 td.search { width: 48%;}
}
@media (max-width: 900px){
.min_inputWrap .w100 input.btn_input { width: 74.5% !important; }
.min_input .fm_w60 input, .min_input .fm_w60 select { width: 75% !important; }
.conts_half .conts_in .data_twoForm .halfPic {  width: 63%;}
.conts_half .conts_in .data_twoForm .halfPic.uploadArea{float:right !important;}
.conts_half .conts_in .data_twoForm .halfPic { width: 60%; }
.conts_half .conts_in .data_twoForm .half_tform .btn_form input { width: 43.5% !important; }
.small_conts .Form100 .inputFixB {  width: 55% !important; }
.Form100 input.inputB { width: 65% !important; }
.conts_half .conts_in .data_twoForm .half_tform .btn_form input {  width: 35% !important;}
.half_tform .btn_form input {  width: 40% !important;}
.fileUpClick{width:86%;}
.Form100 label.fileUpBoxS {  width: 58% !important;}
p.explan_tit.bl.btns {  display: block !important; }
.book .book_btm {bottom:25px;}
.Form100 label.fileUpBoxM {  width: 58% !important; }
.search_box .btns { width:100%; display:block; margin: 5px 0;}
.search_box .btns button:first-child {margin-left:0;}
.min_input.fm_w100 .inputFix, .min_input.fm_w100 input, .min_input.fm_w100 select {  width: 71% !important; }
.half_7Box {  width: 65%;}
.half_7 label {  width: 31%; }
.half_7 input, .half_7 select, .half_7 .inputFix {  width: 69% !important;}
.min_searchForm { display: block;  clear: both;  margin: 10px 0 0;  width: 100%;}
.half_7Box .btn_form label, .half_7 label {  width: 31%;}
.half_7Box .btn_form input, .half_7Box .btn_form select, .half_7Box .btn_form textarea {  width: 50%;}
.float_R.btns {  display: block;  width: 100%;   margin-top: 10px;  text-align: right;}
.halfDateL {  width: 59%; }
}

@media (max-width: 858px){	
.halfPic label {  width: 23% !important;}
.conts_half .conts_in .data_twoForm .half_tform .btn_form input { width: 34% !important; }
.form_73 .fm_w100 input { width: 66% !important; }
.small_conts .Form100 .inputFixB {  width: 53% !important; }
.clear.tits.select .explan_tit{width:100%;}
.clear.tits.select .mg_L20 {margin-left:0px;}
.modal_htbl .verti_btnBox .verti_100 button {padding:0 5px;}
.Form100 label.fileUpBoxXS {  width: 57% !important; }
.bookBox.fileUpBox2 td.search {width: 45%;}
.bookBox.fileUpBox2 td.select {min-width:140px;}
}

@media (max-width: 830px){
.conts_half .conts_in .data_twoForm .halfPic { width: 55%; }
.halfPic .form-group input, .halfPic .form-group div, .halfPic .form-group select {  width: 70% !important; }
.halfPic label {  width: 25% !important; }
.conts_half .conts_in .data_twoForm .half_tform .btn_form input { width: 35% !important; }
.small_conts .Form100 .inputFixB{  width: 50% !important; }
.Form100 input.inputB { width: 63% !important; }
div#dialog-form button {  font-size: 11px !important; }
.min_gnb .float_R.mg_R20{ margin:0 !important; }
.min_gnb .float_R.mg_R20 button{font-size:10px !important;}
.left_nav .nav_cap{ font-size:13px !important; margin-left: 0; padding-right: 10px; }
.left_nav .nav_cont h1.ft_clrBL{font-size:15px !important;}
.left_nav, .top_hd .top_logo{width:200px !important;}
.top_hd, .main_visual,.footer_Wrap{margin-left: 200px !important;}
.media_ml_0 {margin-left: 0px !important;}
.modal_htbl th, .modal_htbl input,.tmodal_htbl select,.modal_htbl textarea {  font-size: 12px !important; }
.units {  font-size: 12px;    display: inline-block !important; }
.Form100 label.fileUpBoxM {  width: 58% !important; }
.min_tab li button {  padding: 7px 7px !important; font-size: 11px !important;}
.min_tab li button.active {  font-size: 12px !important;}
.contain .conts_in .conts_tit {font-size:13px;}
label,select,input,td { font-size: 12px !important;}
.bookBox.fileUpBox2 input {font-size: 12px !important;}
.Form100 label.fileUpBoxXS{width:58% !important;}  
.min_input.fm_w100 .inputFix, .min_input.fm_w100 input, .min_input.fm_w100 select {  width: 70% !important; }
.contain .conts_in {  margin: 10px 5px; }
.halfDateL {  width: 59.5%; }
.Form100 label.fileUpBoxXS {  width: 56% !important; }
.search_box .search_twoForm .form-group select, .search_box .search_twoForm .form-group input {width:133px;}
.search_box .search_twoForm button { margin: 0 0 0 2px; }

}

ipad
@media (max-width: 768px){
.top_hd .hd_tit h1{font-size:20px;line-height: 2.3;}
.top_hd .hd_right{  line-height: 2.8; }
.top_hd .hd_right .login_wrap .lg_member{padding:7px 7px;}
.min_inputWrap .w100 input.btn_input { width: 72% !important; }
.grid4_Pic .thum .thum_img { height: 150px !important;}
.grid4_Pic .thum .thum_img i{font-size:70px;}
.form_73 .fm_w100 input { width: 65% !important; }
.Form100 input.inputB { width: 60% !important; }
.Form100 label.fileUpBoxM {  width: 55% !important; }
.Form100 label.fileUpBoxXS { width: 55% !important;}
.modal_htbl .half .formData label {  font-size: 13px !important; }
.halfDateS {min-width:230px;}
.halfDateL {  width: 62%; }
.halfDateS .btnS {  padding: 5px 4px !important;  height: auto;}
.ui-widget.ui-widget-content {min-width:740px;  width: 90% !important;}

} */

/*.ck-editor__editable {*/
/*    min-height: 300px;*/
/*}*/
