@charset "utf-8";

.table.realTimeData>thead>tr.thead>th { background-color: #f2f2f2;}
.table.realTimeData col:nth-of-type(1) { width: 13%;}
.table.realTimeData col:nth-of-type(2) { width: 15%;}
.table.realTimeData col:nth-of-type(3) { width: 14%;}
.table.realTimeData col:nth-of-type(4) { width: 12%;}
.table.realTimeData col:nth-of-type(5) { width: 12%;}
.table.realTimeData col:nth-of-type(6) { width: 19%;}
.table.realTimeData col:nth-of-type(7) {;}
.table.realTimeData th, .table.realTimeData td { text-align: center; line-height: 26px;}
.table.realTimeData tbody td:first-child { vertical-align: middle;}
.table.realTimeData td.sense { text-align: left;}
.table.realTimeData td.sense span { display: inline-block; margin: 0 10px 0 15%; width: 26px; height: 26px; background: no-repeat 0 0; background-size: 26px auto; vertical-align: bottom;}
.table.realTimeData td.sense .sense01 { background-image: url(../../assets/images/mydash/sense01.png);}/*CO2센서*/
.table.realTimeData td.sense .sense02 { background-image: url(../../assets/images/mydash/sense02.png);}/*CO센서*/
.table.realTimeData td.sense .sense03 { background-image: url(../../assets/images/mydash/sense03.png);}/*Default*/
.table.realTimeData td.sense .sense04 { background-image: url(../../assets/images/mydash/sense04.png);}/*LCD*/
.table.realTimeData td.sense .sense05 { background-image: url(../../assets/images/mydash/sense05.png);}/*OLED*/
.table.realTimeData td.sense .sense06 { background-image: url(../../assets/images/mydash/sense06.png);}/*가속도센서*/
.table.realTimeData td.sense .sense07 { background-image: url(../../assets/images/mydash/sense07.png);}/*거리감지*/
.table.realTimeData td.sense .sense08 { background-image: url(../../assets/images/mydash/sense08.png);}/*기압계*/
.table.realTimeData td.sense .sense09 { background-image: url(../../assets/images/mydash/sense09.png);}/*기울기센서*/
.table.realTimeData td.sense .sense10 { background-image: url(../../assets/images/mydash/sense10.png);}/*먼지센서*/
.table.realTimeData td.sense .sense11 { background-image: url(../../assets/images/mydash/sense11.png);}/*모션센서*/
.table.realTimeData td.sense .sense12 { background-image: url(../../assets/images/mydash/sense12.png);}/*배터리*/
.table.realTimeData td.sense .sense13 { background-image: url(../../assets/images/mydash/sense13.png);}/*불꽃센서*/
.table.realTimeData td.sense .sense14 { background-image: url(../../assets/images/mydash/sense14.png);}/*수분센서*/
.table.realTimeData td.sense .sense15 { background-image: url(../../assets/images/mydash/sense15.png);}/*습도센서*/
.table.realTimeData td.sense .sense16 { background-image: url(../../assets/images/mydash/sense16.png);}/*온도센서*/
.table.realTimeData td.sense .sense17 { background-image: url(../../assets/images/mydash/sense17.png);}/*위치센서*/
.table.realTimeData td.sense .sense18 { background-image: url(../../assets/images/mydash/sense18.png);}/*터치센서*/
.table.realTimeData td.sense .sense19 { background-image: url(../../assets/images/mydash/sense19.png);}/*푸쉬스위치*/
.table.realTimeData td.sense .sense20 { background-image: url(../../assets/images/mydash/sense20.png);}/*부저*/
.table.realTimeData td.sense .sense21 { background-image: url(../../assets/images/mydash/sense21.png);}/*소리감지센서*/
.table.realTimeData td.sense .sense22 { background-image: url(../../assets/images/mydash/sense22.png);}/*진동센서*/
.table.realTimeData td.ellipsis { overflow: hidden; width: 100%; text-overflow: ellipsis; white-space: nowrap;}
.table.realTimeData tfoot td:first-child > span { margin: 0;}
.table.realTimeData tfoot td:first-child { border-right-width: 0;}
.table.realTimeData tfoot td:last-child { border-left-width: 0; text-align: left;}
.label-lg { padding: 5px 12px; font-size: 13px;}
.label-group span { display: inline-block; margin-right: -4px; border-radius: 0;}
.label-group span:first-child { border-radius: 3px 0 0 3px;}
.label-group span:last-child { border-radius: 0 3px 3px 0}
.label-step1 { background-color: #00408c;}
.label-step2 { background-color: #ffb900;}
.label-step3 { background-color: #f78145;}
.label-step4 { background-color: #f24e4e;}