<div class="wh100">
	<div class="min_tab min_tab6">
		<ul class="tabs">
			<li>
				<button id="tab1_btn" data-tab="tab1" class="tabs_btn {{(TabId == 1)? 'active': ''}}" ui-sref="010801({tabId:1})">자산</button>
			</li>
			<li>
				<button id="tab2_btn" data-tab="tab2" class="tabs_btn {{(TabId == 2)? 'active': ''}}" ui-sref="010801({tabId:2})">개보수 사업</button>
			</li>
			<li>
				<button id="tab3_btn" data-tab="tab3" class="tabs_btn {{(TabId == 3)? 'active': ''}}" ui-sref="010801({tabId:3})">조사 및 탐사</button>
			</li>
			<li>
				<button id="tab4_btn" data-tab="tab4" class="tabs_btn {{(TabId == 4)? 'active': ''}}" ui-sref="010801({tabId:4})">민원</button>
			</li>
			<li>
				<button id="tab5_btn" data-tab="tab5" class="tabs_btn {{(TabId == 5)? 'active': ''}}" ui-sref="010801({tabId:5})">상태평가</button>
			</li>
			<li>
				<button id="tab6_btn" data-tab="tab6" class="tabs_btn {{(TabId == 6)? 'active': ''}}" ui-sref="010801({tabId:6})">잔존수명</button>
			</li>
			<li>
				<button id="tab7_btn" data-tab="tab7" class="tabs_btn {{(TabId == 7)? 'active': ''}}" ui-sref="010801({tabId:7})">위험도 평가</button>
			</li>
			<li>
				<button id="tab8_btn" data-tab="tab8" class="tabs_btn {{(TabId == 8)? 'active': ''}}" ui-sref="010801({tabId:8})">서비스 수준</button>
			</li>
			<li>
				<button id="tab9_btn" data-tab="tab9" class="tabs_btn {{(TabId == 9)? 'active': ''}}" ui-sref="010801({tabId:9})">생애주기관리</button>
			</li>
			<li>
				<button id="tab10_btn" data-tab="tab10" class="tabs_btn {{(TabId == 10)? 'active': ''}}" ui-sref="010801({tabId:10})">최적투자</button>
			</li>
			<li>
				<button id="tab11_btn" data-tab="tab11" class="tabs_btn {{(TabId == 11)? 'active': ''}}" ui-sref="010801({tabId:11})">재정수지</button>
			</li>
		</ul>
	</div>

	<div ng-if="TabId==1">
		<div ng-include="'./view/statistics/statistics_1.html'" ></div>
	</div>
	<div ng-if="TabId==2">
		<div ng-include="'./view/statistics/statistics_2.html'" ></div>
	</div>
	<div ng-if="TabId==3">
		<div ng-include="'./view/statistics/statistics_3.html'" ></div>
	</div>
	<div ng-if="TabId==4">
		<div ng-include="'./view/statistics/statistics_4.html'" ></div>
	</div>
	<div ng-if="TabId==5">
		<div ng-include="'./view/statistics/statistics_5.html'" ></div>
	</div>				
	<div ng-if="TabId==6">
		<div ng-include="'./view/statistics/statistics_6.html'" ></div>
	</div>				
	<div ng-if="TabId==7">
		<div ng-include="'./view/statistics/statistics_7.html'" ></div>
	</div>
	<div ng-if="TabId==8">
		<div ng-include="'./view/statistics/statistics_8.html'" ></div>
	</div>
	<div ng-if="TabId==9">
		<div ng-include="'./view/statistics/statistics_9.html'" ></div>
	</div>
	<div ng-if="TabId==10">
		<div ng-include="'./view/statistics/statistics_10.html'" ></div>
	</div>
	<div ng-if="TabId==11">
		<div ng-include="'./view/statistics/statistics_11.html'" ></div>
	</div>
</div> 


<div ng-include="'./view/statistics/statistics_popup.html'" ></div> 