<div class="conts_box main_conts p-2" ng-init="getBlockList()">
	<div class="conts border_color border_radius_10">
		<div id="tab10" style="height: 81vh;" class="box-scroll" ng-init="setDatePicker()">
			<div class="input_wrap">
				<div class="clear d-flex align-items-center font-weight-bold my-2">
					<span class="small font-weight-bold text-center" style="width: 100px;">기간 설정</span>
					<div class="inputRdo p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center" style="height: 46px">
						<div class="d-flex align-items-center mr-2">
							<select ng-model="searchUNIT" ng-change="changeRadio(searchUNIT)" style="width: 100px;">
								<option value="YEAR">연단위</option>
								<!-- <option value="MONTH">월단위</option> -->
							</select>
						</div>
						<div class="custom-control custom-radio d-flex align-items-center">
							<input type="text" type="text" class="datePicker" id="searchDate_S_DATE" ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()"> 
							<label class="formSlash" style="min-width: auto !important; text-align: center; padding: 0 5px !important"> <span>~</span>
							</label> 
							<input type="text" class="datePicker" id="searchDate_E_DATE" ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()">
							<!-- <button type="button" class="btn btn_sky ml-4" ng-click="IsShowChkMonth=!IsShowChkMonth">
								<i class="fas fa-cog mr-1"></i>시점설정
							</button>
							<div ng-show="IsShowChkMonth" class="month_wrap" style="flex-wrap: wrap; width: 420px;">
								<input type="checkbox" ng-model="AllMonthChecked" ng-click="checkAllMonth(AllMonthChecked)"> 
								<label style="padding: 0 5px !important">전체</label>
								<div class="d-inline-block" ng-repeat="month in monthList">
									<input type="checkbox" id="chkMonth_{{$index}}" ng-model="month.isChecked" ng-click="checkMonth($index,month)"> 
									<label style="padding: 0 5px !important" for="chkMonth_{{$index}}">{{month.name}}월</label>
								</div>
							</div> -->
						</div>
					</div>
					<div class="p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center ml-3">
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0">
							<span>통계항목</span></label> 
							<select id="FinanceChange" style="width: 100px;" ng-model="selectFinanceCategory" ng-change="selectFinance(selectFinanceCategory)">
								<option value="FINANCIAL_BALANCE">재정수지</option>
								<option value="INCOME_MEASUREMENT">손익계산</option>
							</select>
						</div>
					</div>
					<div class="pr-4 d-flex" style="margin-left: auto;">
						<button type="button" class="btn btn_nv mr-1" ng-click="searchFinancialBalance()">조회</button>
						<button type="button" class="btn btn_gr"  ng-click="ExcelDownLoad(statMinwonList,yearList2,'재정수지.xlsx','재정수지')">엑셀</button>
					</div>
				</div>
			</div>
			<div class="table_wrap table_scroll w_98 table-responsive border_color" id="">
				<table class="table table_basic mb-0 table_style table_sticky" ng-init="searchFinancialBalance()">
					<colgroup>
						<col width="120px;">
						<col width="200px;">
						<col width="120px;" ng-repeat="yyyy in yearList2">
					</colgroup>
					<thead>
						<tr class="text-center">
							<th colspan="2">항목</th>
							<th ng-repeat="yyyy in yearList2">{{yyyy}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in statMinwonList | filter: {ITEM_GB:selectFinance}">
							<th rowspan="{{c.GB_cnt}}" ng-if="c.row_idx==c.idx" class="text-center">
								{{c.FIN_ANLS_GUBUN_NM}}
								<span ng-show="(c.FIN_ANLS_GUBUN_NM == null)">PL</span>
							</th>
							<th class="text-center" style="left:120px; position: sticky; z-index: 99;">{{c.FIN_ANLS_ITEM_NM}}{{c.ACCOUNT_NM}}</th>
							<td ng-repeat="yyyy in yearList2">{{c['\''+yyyy+'\''] | currency: '' : 0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="chartFinancialBalance" class="h_40 border_color w_98 my-2 p-2 overflow-hidden"></div>
		</div>
	</div>
</div>