<div class="conts_box main_conts p-2" ng-init="getBlockList()">
	<div class="conts border_color border_radius_10">
		<div id="tab8" style="height: 81vh;" class="box-scroll" ng-init="setDatePicker()">
				<div class="input_wrap">
					<div class="clear d-flex align-items-center font-weight-bold my-2">
						<span class="small font-weight-bold text-center" style="width: 100px;">기간 설정</span>
						<div class="inputRdo p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center" style="height: 46px">
							<div class="d-flex align-items-center mr-2">
								<select ng-model="searchUNIT" ng-change="changeRadio(searchUNIT)" style="width: 100px;">
									<option value="YEAR">연단위</option>
									<!-- <option value="MONTH">월단위</option> -->
								</select>
							</div>
							<div class="custom-control custom-radio d-flex align-items-center">
								<input type="text" type="text" class="datePicker" id="searchDate_S_DATE" ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()"> 
								<label class="formSlash" style="min-width: auto !important; text-align: center; padding: 0 5px !important"> <span>~</span>
								</label> 
								<input type="text" class="datePicker" id="searchDate_E_DATE" ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()">
								<!-- <button type="button" class="btn btn_sky ml-4" ng-click="IsShowChkMonth=!IsShowChkMonth">
									<i class="fas fa-cog mr-1"></i>시점설정
								</button>
								<div ng-show="IsShowChkMonth" class="month_wrap" style="flex-wrap: wrap; min-width: 420px;">
									<input type="checkbox" ng-model="AllMonthChecked" ng-click="checkAllMonth(AllMonthChecked)"> 
									<label style="padding: 0 5px !important">전체</label>
									<div class="d-inline-block" ng-repeat="month in monthList">
										<input type="checkbox" id="chkMonth_{{$index}}" ng-model="month.isChecked" ng-click="checkMonth($index,month)"> 
										<label style="padding: 0 5px !important" for="chkMonth_{{$index}}">{{month.name}}월</label>
									</div>
								</div> -->
							</div>
						</div>
						<div class="p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center ml-3 mr-3">
							<div class="px-2 d-flex">
								<label class="px-2 d-flex align-items-center m-0"><span>통계항목</span></label> 
								<select style="width: 100px;" ng-model="selectLos"  ng-change="selectLosVal(selectLos)">
									<option value="01">인력</option>
									<option value="02">시설</option>
									<option value="03">운영</option>
									<option value="04">서비스</option>
									<option value="05">환경</option>
									<option value="06">재정</option>
								</select>
							</div>
						</div>
						<div class="pr-4 d-flex" style="margin-left: auto;">
							<button type="button" class="btn btn_nv mr-1" ng-click="searchLos()">조회</button>
							<button type="button" class="btn btn_gr" ng-click="ExcelDownLoad(statMinwonList,[],'서비스수준.xlsx','서비스수준')">엑셀</button>
						</div>
					</div>
				</div>
				<div class="table_wrap table_scroll w_98 table-responsive border_color" style="max-height: 300px;" ng-init="searchLos()">
					<table class="table table_basic mb-0 table_style table_sticky">
						<colgroup>
							<col width="15%">
							<col width="25%">
							<col width="20%">
							<col width="20%">
							<col width="20%">
						</colgroup>
						<thead>
							<tr class="text-center">
								<th colspan="2">항목</th>
								<th>목표</th>
								<th>가장최근년도({{latest_year}})</th>
								<th>가장최근년도 이전({{previous_year}})</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="c in statMinwonList">
								<th class="text-center" rowspan="{{statMinwonList.length}}" ng-if="($index == 0)">{{c.C_NAME}}</th>
								<th class="text-center">{{c.EVALUE_NM}}</th>
								<td>{{c.GOAL}}</td>
								<td>{{c.LATEST}}</td>
								<td>{{c.PREVIOUS}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="chartLos" class="h_40 border_color w_98 mt-2 p-2"></div>
			</div>
	</div>
</div>