<div class="conts_box main_conts p-2" ng-init="searchFinance()" >
	<div class="conts border_color border_radius_10">
		<div id="tab10" style="height: 81vh;" class="box-scroll" ng-init="setDatePicker()">
			<div class="input_wrap">
				<div class="clear d-flex align-items-center font-weight-bold my-2">
					<span class="small font-weight-bold text-center" style="width: 100px;">기간 설정</span>
					<div class="inputRdo p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center" style="height: 46px">
						<div class="d-flex align-items-center mr-2">
							<select ng-model="searchUNIT" ng-change="changeRadio(searchUNIT)" style="width: 100px;">
								<option value="YEAR">연단위</option>
								<!-- <option value="MONTH">월단위</option> -->
							</select>
						</div>
						<div class="custom-control custom-radio d-flex align-items-center">
							<input type="text" type="text" class="datePicker" id="searchDate_S_DATE" ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()"> 
							<label class="formSlash" style="min-width: auto !important; text-align: center; padding: 0 5px !important"> <span>~</span>
							</label> 
							<input type="text" class="datePicker" id="searchDate_E_DATE" ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()">
							<!-- <button type="button" class="btn btn_sky ml-4" ng-click="IsShowChkMonth=!IsShowChkMonth">
								<i class="fas fa-cog mr-1"></i>시점설정
							</button>
							<div ng-show="IsShowChkMonth" class="month_wrap" style="flex-wrap: wrap; width: 420px;">
								<input type="checkbox" ng-model="AllMonthChecked" ng-click="checkAllMonth(AllMonthChecked)"> 
								<label style="padding: 0 5px !important">전체</label>
								<div class="d-inline-block" ng-repeat="month in monthList">
									<input type="checkbox" id="chkMonth_{{$index}}" ng-model="month.isChecked" ng-click="checkMonth($index,month)"> 
									<label style="padding: 0 5px !important" for="chkMonth_{{$index}}">{{month.name}}월</label>
								</div>
							</div> -->
						</div>
					</div>
					<div class="p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center ml-3">
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>통계항목</span></label> 
							<select  style="width: 100px;" ng-model="selectSTAT" ng-change="selectStateVal(selectSTAT)">
								<option value="A">자산</option>
								<option value="B">부서</option>
								<option value="C">주기</option>
								<option value="D">추세분석</option>
							</select>
						</div>
					</div>
					<div class="pr-4 d-flex" style="margin-left: auto;">
						<button type="button" class="btn btn_nv mr-1" ng-click="searchFinance()">조회</button>
						<button type="button" class="btn btn_gr" ng-click="ExcelDownLoad(DataList,yearList2,'최적투자.xlsx',selectSTAT)">엑셀</button>
					</div>
				</div>
			</div>
			<div class="table_wrap table_scroll w_98 table-responsive border_color" id="facility" ng-show="selectSTAT_service == 'A' " >
				<table class="table table_basic mb-0 table_style table_sticky">
					<colgroup>
						<col width="120px">
						<col width="120px">
						<col width="120px" ng-repeat="yyyy in yearList3">
					</colgroup>
					<thead>
						<tr class="text-center">
							<th rowspan="2" colspan="2">항목</th>
							<th colspan="2" ng-repeat="yyyy in yearList2">{{yyyy}}년</th>
						</tr>
						<tr class="text-center">
							<th ng-repeat="yyyy2 in yearList3" ng-class="($index == 0)? 'position-static':''">{{($index%2==1)?"개대체비용(천원)":"자산개수(개)"}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat=" item in DataList">
							<th class="text-center" rowspan="{{item.GB_cnt}}" ng-if="item.row_idx==item.idx" >{{(item.CLASS3_CD=='N')?"관망":"시설"}}</th>
							<th class="text-center" style="left: 120px; position: sticky; z-index: 99;">{{item.LEVEL_NM}}</th>
							<td ng-repeat="yyyy2 in yearList3">{{(item['\''+yyyy2.y+'\''][($index+1)%2])|currency:'':0}}</td>
						</tr>
						<tr>
							<th class="text-center" colspan="2">합계</th>
							<td class="td_back_color position-static" ng-repeat="yyyy2 in yearList3">{{(($index%2)?yearTot[($index-1)/2]:yearTot2[$index/2])|currency:'':0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table_wrap table_scroll w_98 table-responsive border_color" id="department" ng-show="selectSTAT_service == 'B' " >
				<table class="table table_basic mb-0 table_style table_sticky">
					<colgroup>
						<col width="120px">
						<col width="120px">
						<col width="120px" ng-repeat="yyyy in yearList3">

					</colgroup>
					<thead>
						<tr class="text-center">
							<th rowspan="2" colspan="2">항목</th>
							<th colspan="2" ng-repeat="yyyy in yearList2">{{yyyy}}년</th>
						</tr>
						<tr class="text-center">
							<th ng-repeat="yyyy2 in yearList3" ng-class="($index == 0)? 'position-static':''">{{($index%2==1)?"개대체비용(천원)":"자산개수(개)"}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat=" item in DataList">
							<th class="text-center" rowspan="{{item.GB_cnt}}" ng-if="item.row_idx==item.idx" >{{LevelName['0_' + (item.CLASS3_CD)]}}</th>
							<th class="text-center" style="left: 120px; position: sticky; z-index: 99;">{{item.LEVEL_NM}}</th>
							<td ng-repeat="yyyy2 in yearList3">{{(item['\''+yyyy2.y+'\''][($index+1)%2])|currency:'':0}}</td>
						</tr>
						<tr>
							<th class="text-center" colspan="2">합계</th>
							<td class="td_back_color position-static" ng-repeat="yyyy2 in yearList3">{{(($index%2)?yearTot[($index-1)/2]:yearTot2[$index/2])|currency:'':0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table_wrap table_scroll w_98 table-responsive border_color" id="cycle" ng-show="selectSTAT_service == 'C' " >
				<table class="table table_basic mb-0 table_style table_sticky">
					<colgroup>
						<col width="120px">
						<col width="120px">
						<col width="120px" ng-repeat="yyyy in yearList3">
					</colgroup>
					<thead>
						<tr class="text-center">
							<th rowspan="2" colspan="2">항목</th>
							<th colspan="2" ng-repeat="yyyy in yearList2">{{yearGradeInfo(yyyy)}}</th>
						</tr>
						<tr class="text-center">
							<th ng-repeat="yyyy2 in yearList3" ng-class="($index == 0)? 'position-static':''">{{($index%2==1)?"개대체비용(천원)":"자산개수(개)"}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat=" item in DataList">
							<th colspan="2" class="text-center">부안군청</th>
							<td ng-repeat="yyyy2 in yearList3" style="left: 120px; position: sticky; z-index: 99;">{{(item['\''+yyyy2.y+'\''][($index+1)%2])|currency:'':0}}</td>
						</tr>
						<tr>
							<th colspan="2" class="text-center" >합계</th>
							<td class="td_back_color position-static" ng-repeat="yyyy2 in yearList3">{{(($index%2)?yearTot[($index-1)/2]:yearTot2[$index/2])|currency:'':0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table_wrap table_scroll w_98 table-responsive border_color" id="cycle" ng-show="selectSTAT_service == 'D' " >
				<table class="table table_basic mb-0 table_style table_sticky">
					<colgroup>
						<col width="120px">
						<col width="120px">
						<col width="120px" ng-repeat="yyyy in yearList3">
					</colgroup>
					<thead>
						<tr class="text-center">
							<th rowspan="1" colspan="2">항목</th>
							<th colspan="2" ng-repeat="yyyy in yearList2">{{yyyy}}년</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat=" item in DataList">
							<th colspan="2" class="text-center">{{item.C_NAME}}{{(item.C_SCODE=='00')?"":"대상(개수)"}}</th>
							<td colspan="2" ng-repeat="yyyy2 in yearList2">{{(item['\''+yyyy2+'\''][($parent.$index==1)?0:1])|currency:'':0}}</td>
						</tr>
<!-- 						<tr>
							<th colspan="2" class="text-center" >합계</th>
							<td class="td_back_color" ng-repeat="yyyy2 in yearList3">{{(($index%2)?yearTot[($index-1)/2]:yearTot2[$index/2])|currency:'':0}}</td>
						</tr> -->
					</tbody>
				</table>
			</div>			
			<div id="chartFinance" class="h_40 border_color w_98 my-2 p-2 overflow-hidden"></div>
		</div>
	</div>
</div>