<section class="popupSection" id="viewPointMonth" style="display: none;">
	<div class="popupWrap operation_popupWrap height_auto w_10">
		<h3>
			시점 설정 
			<span class="popupClose" ng-click="closeViewPointMonth()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popup_info">
				<div class="input_wrap pt-2">
					<div class="box-scroll border_color search_wrap p-2 w_80 m-auto">
						<div class="textareaChk">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input check_all" id="search_00" value="" ng-model="searchMonth" ng-change="selectMonth(searchMonth)"> 
								<label class="custom-control-label" for="search_00">
									<span>전체</span> 
								</label>
							</div>
						</div>
						<div class="textareaChk" ng-repeat="month in monthList">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input check_all" id="search_{{month}}" value="{{month}}" ng-model="searchMonth" ng-change="selectMonth(searchMonth)"> 
								<label class="custom-control-label" for="search_{{month}}">
									<span>{{month}}월</span> 
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="saveViewPointMonth()">적용</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeViewPointMonth()">취소</button>
			</div>
		</div>
	</div>
</section>

<!-- section class="popupSection" id="loadingSpinner" style="display: none;">
	<div class="text-primary font-weight-bold text-center position_center">
		<i class="xi-spinner-2 xi-spin xi-5x d-block"></i>
		<p class="d-block my-2 loading_text">LOADING</p>
	</div>
</section> -->