<div class="conts_box main_conts p-2" ng-init="setDatePicker()" >
	<div class="conts border_color border_radius_10">
		<div id="tab1" style="height: 81vh;" class="box-scroll" >
			<div class="input_wrap">
				<div class="clear d-flex align-items-center font-weight-bold my-2">
					<span class="small font-weight-bold text-center" style="width: 100px;">기간 설정</span>
					<div class="inputRdo p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center" style="height: 46px">
						<div class="d-flex align-items-center mr-2">
							<select ng-model="searchUNIT" ng-change="changeRadio(searchUNIT);changestr2();" style="width: 100px;">
								<option value="YEAR">연단위</option>
								<option value="MONTH">월단위</option>
							</select>
						</div>
						<div class="custom-control custom-radio d-flex align-items-center">
							<input type="text" type="text" class="datePicker" id="searchDate_S_DATE" ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()"> 
							<label class="formSlash" style="min-width: auto !important; text-align: center; padding: 0 5px !important"> <span>~</span>
							</label> 
							<input type="text" class="datePicker" id="searchDate_E_DATE" ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()">
							<button type="button" class="btn btn_sky ml-4" ng-click="IsShowChkMonth=!IsShowChkMonth">
								<i class="fas fa-cog mr-1"></i>시점설정
							</button>
							<div ng-show="IsShowChkMonth" class="month_wrap" style="flex-wrap: wrap; min-width: 420px;">
								<input type="checkbox" ng-model="AllMonthChecked" ng-click="checkAllMonth(AllMonthChecked)"> 
								<label style="padding: 0 5px !important">전체</label>
								<div class="d-inline-block" ng-repeat="month in monthList">
									<input type="checkbox" id="chkMonth_{{$index}}" ng-model="month.isChecked" ng-click="checkMonth($index,month)"> 
									<label style="padding: 0 5px !important" for="chkMonth_{{$index}}">{{month.name}}월</label>
								</div>
							</div>
						</div>
					</div>
					<div class="p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center ml-3">
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>자산구분</span></label> 
							<select style="width: 100px;" ng-model="selectFN" ng-change="changeSelectST(selectFN)">
								<option value="">전체</option>
								<option value="F">시설</option>
								<option value="N">관망</option>
							</select>
						</div>
					</div>
					<div class="p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center ml-3" ng-show="(selectFN == 'N')">
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>통계항목</span></label> 
							<select id="selectST" style="width: 100px;" ng-model="selectST" ng-change="changeSelectST(selectST)">
								<option value="N">전체</option>
								<option value="관종">관로(관종)</option>
								<option value="관경">관로(구경)</option>
								<option value="계통">관로(계통)</option>
								<option value="용도">관로(용도)</option>
								<option value="재질">밸브(재질)</option>
								<option value="구경1">밸브(구경)</option>
								<option value="종류">밸브(종류)</option>
								<option value="형식">밸브(형식)</option>
								<option value="구경2">계량기(구경)</option>
							</select>
						</div>
					</div>
				</div>
				<div class="clear d-flex align-items-center font-weight-bold mb-2 p-1" ng-show="(selectFN !== 'N')">
					<button class="btn btn_sky btnView ml-3" ng-click="showPopupLevelPath()">자산 경로 선택</button>
					<div class="border_color mx-1 border_wrap w_50">
						<span class="small p-1 text_area_ellipsis">{{level_path_nm}}</span>
					</div>
					<div class="pr-4" style="margin-left: auto;">
						<button type="button" class="btn btn_nv" ng-click="searchAsset();">조회</button>
						<button type="button" class="btn btn_gr" ng-click="ExcelDownLoad(statItemList,yearList2,'asset.xlsx','자산통계')">엑셀</button>
					</div>
				</div>
				<div class="clear d-flex align-items-center font-weight-bold mb-2" id="selectBlock" ng-show="(selectFN == 'N')">
					<span class="small font-weight-bold text-center" style="width: 100px;">블록 선택</span>
					<div class="p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center">
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>대블록</span></label> 
							<select style="width: 100px;" ng-model="daeBlock" ng-options=" block.BL_NAME for block in blockList | filter :{LEV:'1'}" ng-change="daeblock(daeBlock.BL_BCODE)">
								<option value="">전체</option>
							</select>
						</div>
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>중블록</span></label> 
							<select style="width: 100px;" ng-model="jungBlock" ng-options=" block.BL_NAME for block in blockList | filter :{LEV:'2'} | filter :{BL_PBCODE:daeBlock.BL_BCODE}" ng-change="jungblock(jungBlock.BL_BCODE)">
								<option value="">전체</option>
							</select>
						</div>
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>소블록</span></label> 
							<select style="width: 100px;" ng-model="soBlock" ng-options=" block.BL_NAME for block in blockList | filter :{LEV:'3'} | filter :{BL_PBCODE:jungBlock.BL_BCODE} | filter :{M:'0'}" ng-change="soblock(soBlock.BL_BCODE)">
								<option value="">전체</option>
							</select>
						</div>
						<div class="px-2 d-flex">
							<label class="px-2 d-flex align-items-center m-0"><span>관리블록</span></label> 
							<select style="width: 100px;" ng-model="subBlock" ng-options=" block.BL_NAME for block in blockList | filter :{BL_NAME:soBlock.BL_NAME} | filter :{M:'1'}" ng-change="subblock(subBlock.BL_BCODE)">
								<option value="">전체</option>
							</select>
						</div>
					</div>
					<div class="pr-4" style="margin-left: auto;">
						<button type="button" class="btn btn_nv" ng-click="searchAsset()">조회</button>
						<button type="button" class="btn btn_gr" ng-click="ExcelDownLoad(statItemList,yearList2,'asset.xlsx','자산통계')">엑셀</button>
					</div>
				</div>
			</div>
			<div class="table_wrap w_98 table-responsive" style="max-height: 300px;" ng-init="searchAsset()">
					<table class='table table_basic'  >
						<colgroup>
							<col width="120px">
							<col width="120px">
							<col width="80px" ng-repeat="yyyy in yearList2">
							<col width="120px">
						</colgroup>
						<thead class="text-center">
							<tr style="height: 80px;" ng-if="(selectFN == 'N')">
								<th>구분</th>
								<th class="backslash">
									<span class="w_100 d-inline-block px-2 text-right">매설연도</span>
									<span class="w_100 d-inline-block px-2 text-left">{{selectST_Name}}</span>
								</th>
								<th ng-repeat="yyyy in yearList2">{{DisplayYearMonth(''+yyyy)}}</th>
								<th>합계</th>
							</tr>
							<tr style="height: 80px;" ng-if="!(selectFN == 'N')">
								<th class="backslash">
									<span class="w_100 d-inline-block px-2 text-right">매설연도</span>
									<span class="w_100 d-inline-block px-2 text-left">구분</span>
								</th>
								<th ng-if="(selectFN == 'N')">{{selectST_Name}}</th>
								<th ng-repeat="yyyy in yearList2">{{DisplayYearMonth(''+yyyy)}}</th>
								<th>합계</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="c in statItemList">
								<th rowspan="{{statItemList.length}}" ng-if="$index==0" class="text-center">자산 개수</th>
								<th class="text-center" ng-if="(selectFN == 'N' && (selectST!='관종' && selectST!='관경' && selectST!='계통' ))">{{c.COL_NM}}</th> <!-- 사업 (개)  -->
								<th class="text-center" ng-if="(selectFN == 'N' && selectST=='관종')">{{(ComCodeList['MOP'] | filter:{C_SCODE:c.COL_NM})[0].C_NAME }}</th> <!-- 사업 (개)  -->
								<th class="text-center" ng-if="(selectFN == 'N' && selectST=='관경')">{{(ComCodeList['CN21'] | filter:{C_SCODE:c.COL_NM})[0].C_NAME }}</th> <!-- 사업 (개)  -->
								<th class="text-center" ng-if="(selectFN == 'N' && selectST=='계통')">{{(ComCodeList['SAA'] | filter:{C_SCODE:c.COL_NM})[0].C_NAME }}</th> <!-- 사업 (개)  -->
								<td ng-repeat="yyyy in yearList2">{{c['\''+yyyy+'\''] | currency: '' : 0}}</td>
								<td class="td_back_color">{{c.tot | currency: '' : 0}}</td>
							</tr>
							<tr>
								<th class="text-center" colspan="{{(selectFN == 'N')? '2': ''}}">합계</th>
								<td class="td_back_color" ng-repeat="yyyy in yearList2" style="position: unset">{{yearTot[$index] | currency: '' : 0}}</td>
								<td class="td_back_color">{{total | currency: '' : 0}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="chartAsset" class="h_40 border_color w_98 mt-2 p-2"></div>
			</div>
	</div>
</div>