<div class="conts_box main_conts p-2" ng-init="setDatePicker()">
	<div class="conts border_color border_radius_10">
		<div id="tab6" style="height: 81vh;" class="box-scroll" >
			<div class="input_wrap">
				<div class="clear d-flex align-items-center font-weight-bold my-2">
					<span class="small font-weight-bold text-center" style="width: 100px;">기간 설정</span>
					<div class="inputRdo p-2 border_color border_radius_10 border_radius_10-lg d-flex align-items-center" style="height: 46px">
						<div class="d-flex align-items-center mr-2">
							<select ng-model="searchUNIT" ng-change="changeRadio(searchUNIT)" style="width: 100px;">
								<option value="YEAR">연단위</option>
							</select>
						</div>
						<div class="custom-control custom-radio d-flex align-items-center">
							<input type="text" type="text" class="datePicker" id="searchDate_S_DATE" ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()"> 
							<label class="formSlash" style="min-width: auto !important; text-align: center; padding: 0 5px !important"> <span>~</span>
							</label> 
							<input type="text" class="datePicker" id="searchDate_E_DATE" ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly="readonly" ng-change="changestr()">
							<!-- <button type="button" class="btn btn_sky ml-4" ng-click="IsShowChkMonth=!IsShowChkMonth">
								<i class="fas fa-cog mr-1"></i>시점설정
							</button> -->
							<!-- <div ng-show="IsShowChkMonth" class="month_wrap">
								<input type="checkbox" ng-model="AllMonthChecked" ng-click="checkAllMonth(AllMonthChecked)"> 
								<label style="padding: 0 5px !important">전체</label>
								<div class="d-inline-block" ng-repeat="month in monthList">
									<input type="checkbox" id="chkMonth_{{$index}}" ng-model="month.isChecked" ng-click="checkMonth($index,month)"> 
									<label style="padding: 0 5px !important" for="chkMonth_{{$index}}">{{month.name}}월</label>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="clear d-flex align-items-center font-weight-bold mb-2 p-1">
						<button class="btn btn_sky btnView ml-3" ng-click="showPopupLevelPath()">자산 경로 선택</button>
						<div class="border_color mx-1 border_wrap w_50">
							<span class="small p-1 text_area_ellipsis">{{level_path_nm}}</span>
						</div>
						<div class="pr-4" style="margin-left: auto;">
							<button type="button" class="btn btn_nv" ng-click="searchRemain()">조회</button>
							<button type="button" class="btn btn_gr" ng-click="ExcelDownLoad(statMinwonList,yearList2,'잔존수명.xlsx','잔존수명')">엑셀</button>
						</div>
					</div>
				</div>
				<div class="table_wrap w_98 table-responsive" style="max-height: 300px;" ng-init="searchRemain()">
					<table class='table table_basic'>
						<colgroup>
							<col width="120px">
							<col width="120px" ng-repeat="yyyy in yearList2">
						</colgroup>
						<thead class="text-center">
							<tr>
								<th rowspan="2">항목</th>
								<th colspan="{{yearList2.length}}">잔존수명</th>
							</tr>
							<tr>
								<th ng-repeat="yyyy in yearList2">{{yyyy}}년</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="c in statMinwonList">
								<th class="text-center">자산개수</th>
								<td ng-repeat="yyyy in yearList2">{{c[yyyy] | currency: '' : 0}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="chartRemain" class="h_40 border_color w_98 mt-2 p-2"></div>
			</div>
	</div>
</div>