<section class="popupSection" onMouseMove="moveWindow(event,'#bbsPopup')" >
    <div class="popupWrap w_815px" style="height: 85%;" id="bbsPopup">
        <h3 ng-if="bbs_group_cd === 'notice'">
            공지사항 {{bbsType === 'new'? '신규' : '수정'}}
            <span class="popupClose"><i class="xi-close" ng-click="cancelPop();"></i></span>
        </h3>
        <h3 ng-if="bbs_group_cd === 'qna'">
            질의/응답 {{bbsType === 'new'? '신규' : '수정'}}
            <span class="popupClose"><i class="xi-close" ng-click="cancelPop();"></i></span>
        </h3>
        <h3 ng-if="bbs_group_cd === 'pbb'">
            자료실 {{bbsType === 'new'? '신규' : '수정'}}
            <span class="popupClose"><i class="xi-close" ng-click="cancelPop();"></i></span>
        </h3>

        <div class="popup" >
            <div class="box-scroll m-2 pb-2"
                 style="height: 98%; border: 1px solid #DDD; border-radius: 8px;">
                <div class="conts_in">
                    <div class="conts_box main_conts" id="test_id_visible">
                        <div class="first_box data_twoForm">
                            <div class="main_conts">
                                <div class="boxs">
                                    <div class="clear w_98">
                                        <div class="w100 Form100">
                                            <div class="form-group">
                                                <label for="SUBJECT"><span>제목 *</span></label>
                                                <!-- 제목 -->
                                                <input
                                                        kr-input type="text" name="SUBJECT"
                                                        ng-model="answerPlaceholder"
                                                        ng-show="answerPlaceholder != '' && answerPlaceholder != undefined" disabled
                                                        maxlength="100" style="margin-top: 0px;"
                                                        class="reset ng-pristine ng-untouched ng-valid ng-hide"
                                                        placeholder="문자/1~100자">
                                                <!-- 댓글일 경우 원글 제목에 re: 붙여서 보여줌 -->
                                                <input
                                                        class="ng-pristine ng-valid ng-valid-maxlength ng-touched"
                                                        kr-input type="text" name="SUBJECT"
                                                        ng-model="grid_item.SUBJECT"
                                                        ng-hide="answerPlaceholder != '' && answerPlaceholder != undefined" maxlength="100" style="margin-top: 0px;" placeholder="문자/1~100자">
                                                <!-- 부모글 번호 (hidden) -->
                                                <input kr-input="" type="hidden" id="PARENT_BBS_SID"
                                                       name="PARENT_BBS_SID" ng-model="grid_item.PARENT_BBS_SID"
                                                       class="ng-pristine ng-untouched ng-valid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear w_98 d-flex align-items-center justify-content-around" ng-show="bbs_group_cd=='notice'">
                                    	<div class="form-group d-flex align-items-center">
                                    		<label class="mb-0 pr-2" style="width: 148px;"><span>게시여부 *</span></label>
                                    		<select style="width: 50px;" ng-model="grid_item.GUBUN">
                                    			<option value="공지">Y</option>
                                    			<option value="미공지">N</option>
                                    		</select>
                                    	</div>
                                    	<div class="form-group d-flex align-items-center">
                                    		<label class="mb-0 pr-2" style="width: 120px;">
                                    			<span>게시기간 <span ng-show="grid_item.GUBUN == '공지'">*</span></span>
                                    		</label>
                                    		<input type="text" class="datePicker" readonly style="float: none; width: 110px;" ng-model="grid_item.E_VALUE1">
                                    		<span class="px-2">~</span>
                                    		<input type="text" class="datePicker" readonly style="float: none; width: 110px;" ng-model="grid_item.E_VALUE2">
                                    	</div>
                                    	<div class="form-group d-flex align-items-center">
                                    		<label class="mb-0 pr-2" style="width: 120px;">
                                    			<span>게시순서 <span ng-show="grid_item.GUBUN == '공지'">*</span></span>
                                    		</label>
                                    		<select style="width: 50px;" ng-model="grid_item.E_VALUE3">
                                    			<option value="01">1</option>
                                    			<option value="02">2</option>
                                    			<option value="03">3</option>
                                    			<option value="04">4</option>
                                    			<option value="05">5</option>
                                    			<option value="06">6</option>
                                    			<option value="07">7</option>
                                    			<option value="08">8</option>
                                    			<option value="09">9</option>
                                    			<option value="10">10</option>
                                    			<!-- 10 -->
                                    		</select>
                                    	</div>
                                    </div>
                                    <div class="clear px-2">
                                        <div class="form-group">
                                            <!-- html 에디터 (스마트에디터2)
                                            ng-model="grid_item.CONTENT"
                                            -->
                                            <textarea
                                                    class="w100 form100 ng-pristine ng-untouched ng-valid"
                                                    id="CONTENT_EDITOR" name="CONTENT_EDITOR" cols="30" rows="15"
                                                    ng-model="grid_item.CONTENT"
                                                    style="width: 100%;">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                 <div class="clear mg_TB10">
                                    <div class="search_box inputArea_R">
                                        <div class="float_L pr-3">
                                            <button id="save" class="btn-success" ng-click="saveItem();">저장</button>
                                            <button id="cancel" class="btn-danger" ng-click="cancelPop();">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 첨부파일 업로드 -->
                            <div class="clear pr-3" ng-hide="bbs_group_cd=='qna'">
                                <div class="w100 Form100">
                                    <div class="form-group longLabelForm">
                                        <label class="LongUptitle" for="">
                                            <p>
                                                <span class="ct"><i class="fas fa-file-export" style="color:#1769e6;"></i>
                                                    첨부파일
                                                </span>
                                            </p>
                                        </label>
                                        <label class="fileUpBox2" for="ex_filename_2">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="lt">
                                                        <!--<span>{{ (file2 != null && file2 != [] && file2.length != 0)? file2[0].name : '파일을 선택해주세요.'}}</span>-->
                                                        <span>{{ (uploadfilename === null || uploadfilename === '')? '파일을 선택해주세요' : uploadfilename}}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </label>
                                        <input  type="file" id="ex_filename_2"
                                                    style="display: none;"
                                                    ng-file-select="onFileSelect($files, 'xls|xlsx|pdf|hwp')"
                                                    ngf-pattern="'.xls,.xlsx,.pdf,.hwp'"
                                                    accept=".xls,.xlsx,.pdf,.hwp"
                                                    class="ng-pristine ng-untouched ng-valid">
                                        <div class="float_R">
                                            <button id="rowAdd" class="btn_sky btnEdit" ng-click="fileUpload(2)">업로드</button>
                                        </div>
                                    </div>
                                    <p class="text-right small font-weight-bold d-block">
                                        첨부파일 최대 개수 : {{fileListLimit}}개 / 첨부파일 개별 최대 용량 : {{MaxUploadSize / 1024 / 1024}}MB
                                    </p>
                                </div>
                            </div>
                            <!-- 첨부파일 업로드 -->
                            <!-- 헤더고정테이블 test -->
                            <div class="fixed-table-container w_98" ng-hide="bbs_group_cd=='qna'">
                                <div class="table-wrapper">
                                    <table class="fixedTbl" id="popupStoreFileList"
                                           ng-class="{noData : popupStoreFileList.length == 0}">
                                        <colgroup>
                                            <col width="10%">
                                            <col width="60%">
                                            <col width="20%">
                                            <col width="10%">
                                        </colgroup>
                                        <thead>
                                        <tr class="ui-jqgrid-labels">
                                            <th width="10%">
                                                <div class="th-text">순번</div>
                                            </th>
                                            <th width="60%">
                                                <div class="th-text">첨부파일명</div>
                                            </th>
                                            <th width="20%">
                                                <div class="th-text">사이즈(Byte)</div>
                                            </th>
                                            <th width="10%">
                                                <div class="th-text">삭제</div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-if="(file.RNUM > 0)" ng-repeat="file in popupStoreFileList">
                                            <td class="ct">{{file.RNUM}}</td>
                                            <td class="ct">{{file.F_TITLE}}</td>
                                            <td class="ct">{{file.F_SIZE | number : 0}}</td>
<!--                                             <td class="ct" ng-if="file.F_SIZE >= 1024*1024">{{file.F_SIZE / 1024*1024 | number : 0}}MB</td>
                                            <td class="ct" ng-if="file.F_SIZE >= 1024 && file.F_SIZE < 1024*1024">{{file.F_SIZE / 1024 | number : 0}}KB</td>
                                            <td class="ct" ng-if="file.F_SIZE < 1024">{{file.F_SIZE | number : 0}}Byte</td> -->
                                            <td class="ct">
                                                <button title="삭제" ng-show="(file.F_NUM > 0)" class="btn btn_nv delete btnEdit" ng-click="deleteFile(file,$event)">X</button>
                                            </td>
                                        </tr>
                                        <tr ng-if="popupStoreFileList.length == 0">
                                            <td class="ct" colspan="4">데이터가 없습니다.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 헤더고정테이블 test -->
                        </div>
                    </div>
                    <!-- <div class="popupBtnWrap mt-2">
                    	<button id="save" type="button" class="btn-success" ng-click="saveItem();">저장</button>
                        <button id="cancel" type="button" class="btn-danger" ng-click="cancelPop();">취소</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


