
<div class="conts">
    <!-- 왼쪽영역 -->
    <div class="contain conts conts_half left">
        <div class="conts_in left_tab">
            <div class="conts_tit">
                <div class="main_conts">
                    <p><i class="fas fa-check-circle"></i> 자료실 목록</p>
                </div>
            </div>
            <div class="search_box main_conts">
                <div class="clear tits">
                    <div class="search_twoForm">
                        <div class="form-group">
                            <label for="searchText"><span>제목</span></label>
                            <input kr-input type="text" id="searchText" class="input_fac" ng-model="searchSubject" ng-keypress="onKeyPress($event)">
                        </div>
                    </div>
                    <div class="float_R">
                    	<button id="select2" class="btn btn_nv btnView" ng-click="search(1)">조회</button>
                        <button id="delete" class="btn btn-danger btnEdit" ng-click="deleteItem()">삭제</button>
                    </div>
                </div>
            </div>
            <!--자료실 목록 테이블--->
            <div class="grid workList">
                <table id="workList"></table>
            </div>
            <div id="workPager"></div>
            <span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
            <div id="workList_page"></div>
            <!--자료실 목록 테이블--->
        </div>
    </div>
    <!-- 왼쪽영역 -->
    <!-- 오른쪽영역 -->
    <div class="contain conts conts_half right">
        <div class="conts_in">
            <div class="conts_box main_conts" id="tab1">
                <div class="first_box data_twoForm">
                    <div class="main_conts">
                        <div class="boxs">
                            <div class="clear w_98">
                                <div class="w100 Form100">
                                    <div class="form-group">
                                        <label for="SUBJECT"><span>제목</span></label>
                                        <input kr-input type="text" readonly id="SUBJECT" name="SUBJECT" ng-model="ResultInfo.SUBJECT" maxlength="40">
                                        <input type="hidden" id="BBS_SID" name="BBS_SID" ng-model="ResultInfo.BBS_SID">
                                    </div>
                                </div>
                            </div>
                            <div class="clear w_98">
                                <div class="half_formB fm_w50 btn_form">
                                    <div class="form-group">
                                        <label for="CREATEUSER"><span>작성자</span></label>
                                        <input kr-input type="text" readonly id="CREATEUSER" name="CREATEUSER" ng-model="ResultInfo.CREATEUSER">
                                    </div>
                                </div>
                                <div class="half_formB fm_w50">
                                    <div class="form-group">
                                        <label for="CREATEDT"><span>작성일</span></label>
                                        <input kr-input class="dateTimePicker" readonly id="CREATEDT" name="CREATEDT" type="text" ng-model="ResultInfo.CREATEDT">
                                    </div>
                                </div>
                            </div>
                            <div class="clear w_98">
                                <div class="w100 Form100">
                                    <div class="form-group drawing_img">
                                        <!-- textarea 안에 html 태그가 들어갈 수 없어서 div로 대체함 -->
                                        <div ng-bind-html="trustedHtml" contenteditable="false" class="drawing_align editorContent" disabled id="CONTENT" name="CONTENT"
                                             style="overflow: auto; pointer-events: none;" onkeydown="event.returnValue = false;">
                                        </div>
                                </div>
                            </div>

                            <div class="boxs">
                                <!--헤더고정 테이블-->
                                <div class="clear" ng-hide="bbs_group_cd=='qna'">
                                    <div class="w100 Form100">
                                        <div class="form-group longLabelForm">
                                            <label class="LongUptitle" for="">
                                                <p><span class="ct"><i class="fas fa-file-export"></i> 첨부파일</span></p>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="fixed-table-container">
                                    <div class="header-bg"></div>
                                    <div class="table-wrapper">
                                        <table class="fixedTbl" id="storeFileList" ng-class="{noData : storeFileList.length == 0}">
                                            <colgroup>
                                                <col width="10%">
                                                <col width="60%">
                                                <col width="20%">
                                                <col width="10%">
                                            </colgroup>
                                            <thead>
                                            <tr class="ui-jqgrid-labels">
                                                <th width="10%"><div class="th-text">순번</div></th>
                                                <th width="60%"><div class="th-text">첨부파일명</div></th>
                                                <th width="20%"><div class="th-text">사이즈(Byte)</div></th>
                                                <th width="10%"><div class="th-text">다운로드</div></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-if="(file.RNUM > 0)" ng-repeat="file in storeFileList">
                                                <td class="ct">{{file.RNUM}}</td>
                                                <td class="ct">{{file.F_TITLE}}</td>
                                                <td class="ct">{{file.F_SIZE | number : 0}}</td>
<!--                                                 <td class="ct" ng-if="file.F_SIZE >= 1024*1024">{{file.F_SIZE / 1024*1024 | number : 0}}MB</td>
                                                <td class="ct" ng-if="file.F_SIZE >= 1024 && file.F_SIZE < 1024*1024">{{file.F_SIZE / 1024 | number : 0}}KB</td>
                                                <td class="ct" ng-if="file.F_SIZE < 1024">{{file.F_SIZE | number : 0}}Byte</td> -->
                                                <td class="ct">
                                                    <button class="btn btn_nv download btnView" ng-click="getCmFileDown(file)">다운로드</button>
                                                </td>
                                            </tr>
                                            <tr ng-if="storeFileList.length == 0">
                                                <td class="ct" colspan="4">데이터가 없습니다.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right p-2 pb-2">
                                <button id="newEnroll" name="newEnroll" class="btn btn_sky btnEdit" ng-click="newTempItem()">신규</button>
                                <button id="save" class="btn btn_nv btnEdit" ng-click="updateItemPopup()" ng-show="isAdmin || (loginId === ResultInfo.E_ID)">수정</button>
                                <!-- <button class="btn btn-info btnView" ng-click="ExcelDownload()">출력</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 오른쪽영역 -->
</div>
</div>
<!-- 게시글 신규, 수정 모달창 -->
<!--<div ng-include="'./view/bbs/bbsPopup.html'" style="display: none;"></div>-->
<!-- 게시글 신규, 수정 모달창 -->

