
<div class="conts">
	<!-- 왼쪽영역 -->
	<div class="contain conts conts_half left">
		<div class="conts_in left_tab">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 질의 응답 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits">
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""><span>제목</span></label> 
							<input kr-input type="text" id="searchText" class="input_fac" ng-model="searchSubject" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R">
						<button id="select2" class="btn btn_nv btnView" ng-click="search(1)">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="deleteItem()">삭제</button>
					</div>
				</div>
			</div>
			<!--질의응답 목록 테이블--->
			<div class="grid workList">
				<table id="workList"></table>
			</div>
			<div id="workPager"></div>
			<span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
			<div id="workList_page"></div>
			<!--질의응답 목록 테이블--->
		</div>
	</div>
	<!-- 왼쪽영역 -->
	<!-- 오른쪽영역 -->
	<div class="contain conts conts_half right">
		<div class="conts_in">
			<div class="conts_box main_conts" id="tab1">
				<div class="first_box data_twoForm">
					<div class="main_conts">
						<div class="boxs">
							<div class="clear w_98">
								<div class="w100 Form100">
									<div class="form-group">
										<label for="SUBJECT"><span>제목</span></label> 
										<input kr-input type="text" readonly id="SUBJECT" name="SUBJECT" ng-model="ResultInfo.SUBJECT" maxlength="40"> <input type="hidden" id="BBS_SID" name="BBS_SID" ng-model="ResultInfo.BBS_SID">
										<!--
                                        <input type="hidden" id="PARENT_BBS_SID" name="PARENT_BBS_SID" ng-model="ResultInfo.PARENT_BBS_SID">
-->
									</div>
								</div>
							</div>
							<div class="clear w_98">
								<div class="half_formB fm_w50 btn_form">
									<div class="form-group">
										<label for="CREATEUSER"><span>작성자</span></label> 
										<input kr-input type="text" readonly id="CREATEUSER" name="CREATEUSER" ng-model="ResultInfo.CREATEUSER">
									</div>
								</div>
								<div class="half_formB fm_w50">
									<div class="form-group">
										<label for="CREATEDT"><span>작성일</span></label> 
										<input kr-input class="dateTimePicker" readonly id="CREATEDT" name="CREATEDT" type="text" ng-model="ResultInfo.CREATEDT">
									</div>
								</div>
							</div>
							<div class="clear w_98">
								<div class="w100 Form100">
									<div class="form-group">
										<label for="CONTENT">내용</label>
										<!-- textarea 안에 html 태그가 들어갈 수 없어서 div로 대체함 -->
										<!--                                        <div ng-bind-html="trustedHtml" contenteditable="true" class="editorContent_qna" readonly id="CONTENT" name="CONTENT"-->
										<!--                                             style="width: 100%; pointer-events: none;" onkeydown="event.returnValue = false;">-->
										<!--                                        </div>-->
										<div class="editorContent_qna" readonly id="CONTENT" name="CONTENT" style="width: 100%;">
											<p ng-bind-html="trustedHtml" contenteditable="false"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- 댓글 -->
				<div class="main_conts" ng-if="(reply.BBS_SID > 0)" ng-repeat="reply in replyList">
					<div class="boxs">
						<div class="clear w_98">
							<div class="w100 Form100">
								<div class="form-group">
									<label for="REPLY_CONTENT">re:</label>
									<!--                                    <textarea class="w80" readonly id="REPLY_CONTENT" name="CONTENT" cols="30" rows="10" ng-model="reply.CONTENT"></textarea>-->
									<div class="editorContent_qna" readonly name="CONTENT" style="width: 100%;">
										<p ng-bind-html="reply.CONTENT" contenteditable="false"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="clear w_98">
							<div class="half_formB fm_w50 btn_form">
								<div class="form-group">
									<label for="REPLY_CREATEUSER"><span>작성자</span></label> 
									<input kr-input type="text" readonly id="REPLY_CREATEUSER" name="CREATEUSER" ng-model="reply.CREATEUSER">
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for="REPLY_CREATEDT"><span>작성일</span></label> 
									<input kr-input class="dateTimePicker" readonly id="REPLY_CREATEDT" name="CREATEDT" type="text" ng-model="reply.CREATEDT">
								</div>
							</div>
						</div>
						<div class="clear tits">
							<div class="text-right pr-2">
								<button id="REPLY_save" class="btn btn_nv btnEdit" ng-click="updateItemPopup(reply)" ng-show="isAdmin || (loginId == reply.E_ID)">수정</button>
								<button id="REPLY_reply" class="btn btn-danger btnEdit" ng-click="deleteItem(reply)" ng-show="isAdmin || (loginId == reply.E_ID)">삭제</button>
							</div>
						</div>
					</div>
				</div>
				<div class="text-right p-2 pb-2">
					<button id="newEnroll" name="newEnroll" class="btn btn_sky btnView" ng-click="newTempItem()">신규</button>
					<button id="save" class="btn btn_nv btnEdit" ng-click="updateItemPopup()" ng-show="(isAdmin || (loginId == ResultInfo.E_ID)) && gubun == '질의'">수정</button>
					<button id="reply" class="btn btn-info btnEdit" ng-click="insertReply()" ng-show="gubun == '질의'">댓글</button>
					<!-- <button class="btn btn-info btnView" ng-click="ExcelDownload()">출력</button> -->
				</div>
			</div>
		</div>
		<!-- 오른쪽영역 -->
	</div>
</div>


<!-- 게시글 신규, 수정 모달창 -->
<!--<div ng-include="'./view/bbs/bbsPopup.html'" style="display: none;"></div>-->
<!-- 게시글 신규, 수정 모달창 -->