<div class="box-scroll p-1 mt-2 mb-1"
	style="height: 490px; border: 1px solid #DDD; border-radius: 5px;">
	<div class="img_wrap p-1">
		<div class="userPicArea">
			<label for="ex_filename" class="pic_upload">
				<p class="user_PicAlign">
					<img ng-show="picLoaded" ng-src="" alt="사진" class="ng-hide">
					<b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b> <input
						kr-input="" type="file" id="ex_filename" style="display: none;"
						ng-model="file"
						ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
						ngf-pattern="'image/*'" accept="image/*"
						class="ng-pristine ng-untouched ng-valid">
				</p>
			</label>
		</div>
		<div>
			<div class="w100 Form100 mb-2">
				<input type="text" placeholder="내용을 입력하세요">
			</div>
		</div>
	</div>
	<div class="img_wrap p-1">
		<div class="userPicArea">
			<label for="ex_filename" class="pic_upload">
				<p class="user_PicAlign">
					<img ng-show="picLoaded" ng-src="" alt="사진" class="ng-hide">
					<b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b> <input
						kr-input="" type="file" id="ex_filename" style="display: none;"
						ng-model="file"
						ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
						ngf-pattern="'image/*'" accept="image/*"
						class="ng-pristine ng-untouched ng-valid">
				</p>
			</label>
		</div>
		<div>
			<div class="w100 Form100">
				<input type="text" placeholder="내용을 입력하세요">
			</div>
		</div>
	</div>
	<div class="img_wrap p-1">
		<div class="userPicArea">
			<label for="ex_filename" class="pic_upload">
				<p class="user_PicAlign">
					<img ng-show="picLoaded" ng-src="" alt="사진" class="ng-hide">
					<b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b> <input
						kr-input="" type="file" id="ex_filename" style="display: none;"
						ng-model="file"
						ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
						ngf-pattern="'image/*'" accept="image/*"
						class="ng-pristine ng-untouched ng-valid">
				</p>
			</label>
		</div>
		<div>
			<div class="w100 Form100">
				<input type="text" placeholder="내용을 입력하세요">
			</div>
		</div>
	</div>
	<div class="img_wrap p-1">
		<div class="userPicArea">
			<label for="ex_filename" class="pic_upload">
				<p class="user_PicAlign">
					<img ng-show="picLoaded" ng-src="" alt="사진" class="ng-hide">
					<b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b> <input
						kr-input="" type="file" id="ex_filename" style="display: none;"
						ng-model="file"
						ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
						ngf-pattern="'image/*'" accept="image/*"
						class="ng-pristine ng-untouched ng-valid">
				</p>
			</label>
		</div>
		<div>
			<div class="w100 Form100">
				<input type="text" placeholder="내용을 입력하세요">
			</div>
		</div>
	</div>
	<div class="img_wrap p-1">
		<div class="userPicArea">
			<label for="ex_filename" class="pic_upload">
				<p class="user_PicAlign">
					<img ng-show="picLoaded" ng-src="" alt="사진" class="ng-hide">
					<b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b> <input
						kr-input="" type="file" id="ex_filename" style="display: none;"
						ng-model="file"
						ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
						ngf-pattern="'image/*'" accept="image/*"
						class="ng-pristine ng-untouched ng-valid">
				</p>
			</label>
		</div>
		<div>
			<div class="w100 Form100">
				<input type="text" placeholder="내용을 입력하세요">
			</div>
		</div>
	</div>
	<div class="img_wrap p-1">
		<div class="userPicArea">
			<label for="ex_filename" class="pic_upload">
				<p class="user_PicAlign">
					<img ng-show="picLoaded" ng-src="" alt="사진" class="ng-hide">
					<b class="pic_text" ng-hide="picLoaded">사진을 업로드해주세요</b> <input
						kr-input="" type="file" id="ex_filename" style="display: none;"
						ng-model="file"
						ng-file-select="onFileSelect($files, 'jpg|jpeg|png|gif|bmp')"
						ngf-pattern="'image/*'" accept="image/*"
						class="ng-pristine ng-untouched ng-valid">
				</p>
			</label>
		</div>
		<div>
			<div class="w100 Form100">
				<input type="text" placeholder="내용을 입력하세요">
			</div>
		</div>
	</div>
</div>