<!-- <!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="https://kit.fontawesome.com/9c756a01bf.js"
	crossorigin="anymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
<link rel="stylesheet" href="XEIcon/xeicon.min.css">
<link rel="stylesheet" href="css/boot.css">
<link rel="stylesheet" href="css/font.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/gis_popup.css">
<link rel="stylesheet" href="css/common2.css">

</head>
<body>
	<section class="popupSection">
		<div class="popupWrap diagnosis3_popupWrap height_auto">
			<h3>
				자산 사진 <span class="popupClose"><i
					class="xi-close"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="popup_info">
					<div class="no_image_wrap border_color text-center mb-2">
						<img src="images/no_image.png" alt="이미지 없음">
					</div>
					<div class="clear">
						<div class="w100 Form100">
							<input type="text" placeholder="내용을 입력하세요" style="width: 100% !important;">
						</div>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn_nv">수정</button>
					<button type="button" class="btn btn-block btn-danger">삭제</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html> -->

<section class="popupSection">
	<div class="popupWrap w_80">
		<h3>
			자산 사진 <span class="popupClose"><i class="xi-close"ng-click = "photo.Cancel()"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info m-2 mb-0" style="height: 93%;">
				<div class="no_image_wrap border_color text-center mb-2 h_90">
					<img src="{{photo.Info.src}}">
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<input type="text" readonly="readonly" placeholder="내용을 입력하세요" style="width: 100% !important;" ng-model ="photo.Info.F_DESC">
					</div>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn_nv"ng-click="photo.Correction()">수정</button>
				<button type="button" class="btn btn-block btn-danger"ng-click="photo.Remove()">삭제</button>
				<button type="button" class="btn btn-block btn-secondary" ng-click="photo.Cancel()">닫기</button>
			</div>
		</div>
	</div>
</section>