<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 자산 인벤토리 경로 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative">
					<div class="search_twoForm">
						<div class="form-group">
							<div>
								<label><span>레벨명</span></label> <input kr-input type="text"
									ng-model="levelNm" class="input_fac"
									ng-keypress="onKeyPress($event)" maxlength="40">
							</div>
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 0; right: 0">
						<button class="btn btn_nv" ng-click="searchItem()">조회</button>
						<button class="btn btn-danger btnEdit"
							ng-click="deleteAssetPath()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="getExcelDownload()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid table-responsive table_scroll">
				<table id="list" class="table"></table>
			</div>
			<div id="listPager"></div>
			<span class="font-weight-bold pr-2 float_R">전체 경로 : {{ count|currency:'':0}}</span>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right h_800 overflow-y-auto">
		<div class="conts_in h-auto">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 자산 인벤토리 경로 설정
					</p>
				</div>
			</div>
			<div class="search_box inputArea_R">
				<div class="float_L" style="padding: 8px 5px 3px;">
					<button class="btn btn_sky btnEdit" ng-click="openMaxLevelModal()">
						<i class="fas fa-cog"></i> 최대 레벨 설정
					</button>
				</div>
			</div>
			<div class="first_box data_twoForm">
				<div class="main_conts" style="width: 100%;">
					<div class="boxs">
						<div class="clear w_98">
							<div ng-show="PathInfo['CLASS'+($index+1)+'_NM'].length>0"
								class="half_formB fm_w50"
								ng-repeat="x in [].constructor(MaxLevel) track by $index">
								<div class="form-group">
									<label for="'CLASS{{ $index+1 }}_NM'"><span>레벨{{
											$index+1 }}</span></label> <input kr-input type="text"
										id="'CLASS{{ $index+1 }}_NM'"
										ng-model="PathInfo['CLASS'+($index+1)+'_NM']" readonly>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="conts_in h-auto">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 자산 정보 항목 설정
					</p>
				</div>
			</div>
			<div class="min_tab mb-1">
				<ul class="tabs tabs_2">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1"
							ng-click="showTab('tab1',$event)">표준 항목</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2"
							ng-click="showTab('tab2',$event)">상태 항목</button>
					</li>
					<li>
						<button id="tab3_btn" data-tab="tab3"
							ng-click="showTab('tab3',$event)">사용자 정의 항목</button>
					</li>
				</ul>
			</div>
			<div class="tab_conts_area">
				<div class="conts_box main_conts" id="tab1">
					<div class="hidden active" style="display: flex">
						<div class="fixed-table-container w_98 h-auto">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl"
									ng-class="{ noData : StandardList.length == 0 }"
									id="StandardList1">
									<thead>
										<tr class="ui-jqgrid-labels">
											<th style="width: 50%">
												<div class="th-text">항목명</div>
											</th>
											<th style="width: 50%">
												<div class="th-text">항목명</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in StandardList" ng-if="$index%2 == 0">
											<td class="ct">{{ item.ITEM_NM }}</td>
											<td class="ct">{{ ($index < StandardList.length-1) ?
												StandardList[$index+1].ITEM_NM : "" }}</td>
										</tr>
										<tr ng-show="StandardList.length == 0">
											<td>데이터 없음</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="conts_box main_conts" id="tab2" style="display: none">
					<div class="hidden active" style="display: flex">
						<div class="fixed-table-container w_98 h-auto">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl"
									ng-class="{ noData : StatusList.length == 0 }" id="StatusList1">
									<thead>
										<tr class="ui-jqgrid-labels">
											<th style="width: 50%">
												<div class="th-text">항목명</div>
											</th>
											<th style="width: 50%">
												<div class="th-text">항목명</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in StatusList" ng-if="$index%2 == 0">
											<td class="ct">{{ item.ITEM_NM }}</td>
											<td class="ct">{{ $index < StatusList.length-1 ?
												StatusList[$index+1].ITEM_NM : "" }}</td>
										</tr>
										<tr ng-show="StatusList.length == 0">
											<td>데이터 없음</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="conts_box main_conts" id="tab3" style="display: none">
					<div class="hidden active" style="display: flex">
						<div class="fixed-table-container w_98 h-auto">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl"
									ng-class="{ noData : CustomList.length == 0 }" id="CustomList1">
									<thead>
										<tr class="ui-jqgrid-labels">
											<th style="width: 50%">
												<div class="th-text">항목명</div>
											</th>
											<th style="width: 50%">
												<div class="th-text">항목명</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in CustomList" ng-if="$index%2 == 0">
											<td class="ct">{{ item.ITEM_NM }}</td>
											<td class="ct">{{ $index < CustomList.length-1 ?
												CustomList[$index+1].ITEM_NM : "" }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="my-2">
				<div class="text-right pr-2">
					<button id="createF" class="btn btn_sky btnEdit" ng-click="openFNModal('F')">시설 신규</button>
					<button id="createN" class="btn btn_sky btnEdit" ng-click="openFNModal('N')">관망 신규</button>
					<button id="delete" class="btn btn_nv btnEdit" ng-click="openFNEditModal()">수정</button>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="popupSection" style="display: none;" id="popup_modal2" onMouseMove="moveWindow(event,'#inventoryPopup')">
	<div class="popupWrap item_popupWrap" style="height: auto" id="inventoryPopup">
		<h3>
			인벤토리 경로 및 항목 {{(saveMode == 'new')? '등록':'수정'}} <span class="popupClose" ng-click="closeItemModal()"><i
				class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="main_conts">
				<div class="popup_title">
					<p ><span style="float:left;align:left;">{{("FN_val == 'N'")?"관망":"시설"}} 자산 인벤토리 경로 설정 
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;
					GIS LAYER:
					</span>
					<span style="float:left;align:right;">
					<select ng-model="AssetLevel.LAYER_NM" >
					<option></option>
					<option>WTL_PIPE_LM</option>
					<option>WTL_FIRE_PS</option>
					<option>WTL_MANH_PS</option>
					<option>WTL_VALV_PS</option>
					<option>WTL_PRES_PS</option>
					<option>WTL_RSRV_PS</option>
					<option>WTL_FLOW_PS</option>
					<option>WTL_META_PS</option>
					<option>WTL_STPI_PS</option>
					</select>
					&nbsp;&nbsp;&nbsp;&nbsp;
					 LAYER_CD :
					</span>
					<span style="float:left;align:right;">
					<input type=text ng-model="AssetLevel.LAYER_CD" style="float:left;width:50px;"/>
					&nbsp;&nbsp;&nbsp;&nbsp;
					FTR_CDE :
					</span>					
					<span style="float:left;align:right;">
					<input type=text ng-model="AssetLevel.FTR_CDE" style="float:left;width:50px;"/>
					</span>
					</p>
				</div>
				<div>
					<div class="half_formB fm_w50 mb-3" style="width: 400px;">
						<div class="form-group"
							ng-repeat="x in [].constructor(MaxLevelModal) track by $index"
							style="overflow: initial; margin-bottom: 1rem;">
							<label for="'CLASS{{ $index+1 }}_CD'"><span>레벨{{
									$index+1 }} *</span></label> <select class="asset_level"
								ng-attr-id="{{ 'asset_level_' + ($index+1) }}"
								ng-change="optionChanged($index+1)"
								ng-model="AssetLevel['CLASS'+($index+1)+'_CD']"
								data-placeholder="자산을 선택하세요." ng-if="isNewAsset"
								style="overflow: auto;"></select> <input
								ng-show="PathInfo['CLASS'+($index+1)+'_NM'].length>0" kr-input
								type="text" class="asset-level-modal-input"
								ng-model="PathInfo['CLASS'+($index+1)+'_NM']"
								ng-if="!isNewAsset" readonly style="float: none">
						</div>
						<div ng-if="isNewAsset"
							class="text-left text-danger font-weight-bold small w_98 px-2">
							<span>※레벨 설정 시 모두 선택해야 저장 가능</span>
						</div>
					</div>
				</div>
				<div class="popup_title">
					<p>자산 정보 항목 설정</p>
				</div>
				<div>
					<div class="min_tab w_98 d-flex">
						<ul class="tabs tabs_2">
							<li>
								<button id="tab1_btn2" data-tab="tab_1" class="active p-2"
									ng-click="showTab2('tab_1',$event)">표준 항목</button>
							</li>
							<li>
								<button id="tab2_btn2" data-tab="tab_2" class="p-2"
									ng-click="showTab2('tab_2',$event)">상태 항목</button>
							</li>
							<li>
								<button id="tab3_btn2" data-tab="tab_3" class="p-2"
									ng-click="showTab2('tab_3',$event)">사용자 정의 항목</button>
							</li>
						</ul>
						<button type="button" id="custom-item-add-button"
							class="btn btn_sky btnEdit mt-1 mr-1"
							ng-show="showItemAddButton" ng-click="addCustomItem()"
							style="float: right">항목 추가</button>
					</div>
					<div class="popup_content main_conts" id="tab_1">
						<div class="hidden active mt-1 display_flex">
							<div class="fixed-table-container w_98">
								<div class="header-bg"></div>
								<div class="table-wrapper">
									<table class="fixedTbl" id="StandardModalList1">
										<thead>
											<tr class="ui-jqgrid-labels">
												<th style="width: 25%">
													<div class="th-text">항목명</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">사용여부</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">항목명</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">사용여부</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in StandardModalList"
												ng-if="$index%2 == 0">
												<td class="ct">{{ item.ITEM_NM }}</td>
												<td class="ct">
													<div>
														<input id="item_{{item.ITEM_CD}}"
															ng-click="IsFixed(item.ITEM_CD)" type="checkbox"
															class="modal-standard-checkbox" ng-model="item.isChecked"
															style="width: 10%; min-width: initial">
													</div>
												</td>
												<td class="ct">{{ $index < StandardModalList.length-1 ?
													StandardModalList[$index+1].ITEM_NM : "" }}</td>
												<td class="ct">
													<div>
														<input id="item_{{StandardModalList[$index+1].ITEM_CD}}"
															ng-click="IsFixed(StandardModalList[$index+1].ITEM_CD)"
															type="checkbox" class="modal-standard-checkbox"
															ng-model="StandardModalList[$index+1].isChecked"
															style="width: 10%; min-width: initial">
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="popup_content main_conts" id="tab_2"
						style="display: none;">
						<div class="hidden active mt-1 display_flex">
							<div class="fixed-table-container w_98">
								<div class="header-bg"></div>
								<div class="table-wrapper">
									<table class="fixedTbl" id="StatusModalList1">
										<thead>
											<tr class="ui-jqgrid-labels">
												<th style="width: 25%">
													<div class="th-text">항목명</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">사용여부</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">항목명</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">사용여부</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in StatusModalList" ng-if="$index%2 == 0">
												<td class="ct">{{ item.ITEM_NM }}</td>
												<td class="ct">
													<div>
														<input type="checkbox" ng-model="item.isChecked"
															style="width: 10%; min-width: initial">
													</div>
												</td>
												<td class="ct">{{ $index < StatusModalList.length-1 ?
													StatusModalList[$index+1].ITEM_NM : "" }}</td>
												<td class="ct">
													<div>
														<input type="checkbox"
															ng-model="StatusModalList[$index+1].isChecked"
															style="width: 10%; min-width: initial">
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="popup_content main_conts" id="tab_3"
						style="display: none;">
						<div class="hidden active mt-1 display_flex">
							<div class="fixed-table-container w_98">
								<div class="header-bg"></div>
								<div class="table-wrapper" style="border: none">
									<table class="fixedTbl" id="custom-items-table">
										<thead>
											<tr class="ui-jqgrid-labels">
												<th style="width: 10%">
													<div class="th-text">번호</div>
												</th>
												<th style="width: 65%">
													<div class="th-text">항목명</div>
												</th>
												<th style="width: 25%">
													<div class="th-text">삭제</div>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr id="custom-item-tr-1" class="custom-item-tr"
												ng-if="isNewAsset">
												<td class="ct">1</td>
												<td class="ct"><input kr-input type="text"
													class='custom-item-input' style="width: 100%"></td>
												<td class="ct"><span data-id="1"
													class="custom-item-delete-button"
													ng-click="removeCustomItem($event)"><button class="btn btn-danger">삭제</button></span></td>
											</tr>
											<tr id="custom-item-tr-1" class="custom-item-tr"
												ng-repeat="item in CustomModalList track by $index"
												ng-if="!isNewAsset">
												<td class="ct">{{ $index+1 }}</td>
												<td class="ct"><input kr-input type="text"
													ng-model="item.ITEM_NM" class='custom-item-input'
													style="width: 100%"></td>
												<td class="ct"><button data-id="1"
													class="custom-item-delete-button btn btn-danger"
													ng-click="removeCustomItem($event)">삭제</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success saveBtn"
						ng-click="saveAsset()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn"
						ng-click="closeItemModal()">취소</button>
				</div>
			</div>
		</div>
	</div>
</section>