<section class="popupSection" onMouseMove="moveWindow(event,'#maxLevelPopup')">
    <div class="popupWrap level_popupWrap" style="height: auto" id="maxLevelPopup">
        <h3>
            최대 레벨 설정
            <span class="popupClose" ng-click="closeMaxLevelModal()"><i class="xi-close"></i></span>
        </h3>
        <div class="popup" style="padding-bottom: 0.5rem">
            <div class="popup_info">
                <div class="popup_info_1">
                    <div class="explan_box">
                        <div class="contain conts_half left" style="padding-right: 4px;">
                            <div class="boxs">
                                <div class="clear">
                                    <div class="conts_tit">
                                        <div class="main_conts" style="margin-bottom: 0">
                                            <div class="popup_title" style="display: flex; justify-content: space-between">
                                                <span class="font-weight-bold" style="font-size: 14px;">시설 자산</span>
                                                <span>
                                                    <button type="button" class="btn btn-block btn-primary" ng-click="addMaxLevel('F')"><i class="fas fa-angle-down" style=""></i>&nbsp;레벨 추가</button>
                                                    <button type="button" class="btn btn-block btn-primary" ng-click="deleteMaxLevel('F')"><i class="fas fa-angle-up"></i>&nbsp;레벨 삭제</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid">
                                    <table id="list_F"></table>
                                </div>
                            </div>
                        </div>
                        <div class="contain conts_half right" style="padding-left: 4px;">
                            <div class="boxs">
                                <div class="clear">
                                    <div class="conts_tit">
                                        <div class="main_conts" style="margin-bottom: 0">
                                            <div class="popup_title"  style="display: flex; justify-content: space-between">
                                                <span class="font-weight-bold" style="font-size: 14px;">관망 자산</span>
                                                <span>
                                                    <button type="button" class="btn btn-block btn-primary" ng-click="addMaxLevel('N')"><i class="fas fa-angle-down"></i>&nbsp;레벨 추가</button>
                                                    <button type="button" class="btn btn-block btn-primary" ng-click="deleteMaxLevel('N')"><i class="fas fa-angle-up"></i>&nbsp;레벨 삭제</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid table">
                                    <table id="list_N"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w_98">
            	<span class="text-danger font-weight-bold small">※Max : 15 레벨</span>
            </div>
            <div class="popupBtnWrap mt-2">
                <button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveLevelFN()">저장</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeMaxLevelModal()">취소</button>
            </div>
        </div>
    </div>
</section>