<!--<section class="popupSection" id="dialog_asset_level_code">-->
<!--    <div class="popupWrap level_popupWrap" style="height: auto">-->
<!--        <h3>-->
<!--            레벨 코드 등록-->
<!--            <span class="popupClose" ng-click="closeLevelModal()"><i class="xi-close"></i></span>-->
<!--        </h3>-->
<!--        <div class="popup">-->
<!--            <div class="popup_title">-->
<!--                <p>레벨 코드 정보</p>-->
<!--            </div>-->
<!--            <div class="explan_box">-->
<!--                <div class="main_conts">-->
<!--                    <div class="boxs">-->
<!--                        <div class="clear">-->
<!--                            <div class="half_formB fm_w50">-->
<!--                                <div class="form-group">-->
<!--                                    <label>-->
<!--                                        <span>레벨 선택</span>-->
<!--                                    </label>-->
<!--                                    <select ng-model="LevelInfoModal.LEVEL_STEP" ng-change="checkFN(LevelInfoModal)" ng-disabled="!LevelInfoModal.isNew" style="margin-top: 1px;">-->
<!--                                        <option value="">선택</option>-->
<!--                                        <option {{(($index+1)==LevelInfoModal.LEVEL_STEP)?'selected':''}} ng-repeat="x in [].constructor(MaxLevel) track by $index " value="{{ ($index+1) }}"> {{ '레벨'+($index+1) }}</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="half_formB fm_w50">-->
<!--                                <div class="form-group">-->
<!--                                    <label>-->
<!--                                        <span>레벨 설정 코드</span>-->
<!--                                    </label>-->
<!--                                    <input class="reset" id="LEVEL_CD" type="text" maxlength="20" ng-disabled="isDisabled" style="margin-top: 1px;">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="clear">-->
<!--                            <div class="half_formB fm_w50">-->
<!--                                <div class="form-group">-->
<!--                                    <label>-->
<!--                                        <span>레벨 명칭</span>-->
<!--                                    </label>-->
<!--                                    <input class="reset ng-pristine ng-untouched ng-valid ng-valid-maxlength" type="text" ng-model="LevelInfoModal.LEVEL_NM" maxlength="20" style="margin-top: 1px;">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="half_formB fm_w50">-->
<!--                                <div class="form-group">-->
<!--                                    <label>-->
<!--                                        <span>자산 분류 코드</span>-->
<!--                                    </label>-->
<!--                                    <input class="reset reset ng-pristine ng-untouched ng-valid ng-valid-maxlength" type="text" ng-change="checkLength()" ng-model="LevelInfoModal.CLASS_CD" maxlength="20" style="margin-top: 1px;">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="clear" ng-style="{'visibility' : isFN ? 'visible' : 'hidden'}">-->
<!--                            <div class="half_formB fm_w50">-->
<!--                                <div class="inputRdo">-->
<!--                                    <label class="radio_label">-->
<!--                                        <span>시설/관망 유무</span>-->
<!--                                    </label>-->
<!--                                    <div class="custom-control custom-radio">-->
<!--                                        <input kr-input type="radio" class="custom-control-input" name="" id="FN_CD_F" ng-model="LevelInfoModal.FN_CD" value="F" ng-checked="'F' == LevelInfoModal.FN_CD" ng-click="checkMaxLevel(LevelInfoModal.LEVEL_STEP)" ng-disabled="blockF">-->
<!--                                        <label class="custom-control-label" for="FN_CD_F">시설</label>-->
<!--                                    </div>-->
<!--                                    <div class="custom-control custom-radio">-->
<!--                                        <input kr-input type="radio" class="custom-control-input" name="" id="FN_CD_N" ng-model="LevelInfoModal.FN_CD" value="N" ng-checked="'N' == LevelInfoModal.FN_CD" ng-click="checkMaxLevel(LevelInfoModal.LEVEL_STEP)" ng-disabled="blockN">-->
<!--                                        <label class="custom-control-label" for="FN_CD_N">관망</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="popupBtnWrap">-->
<!--                        <button type="button" class="btn btn-block btn-success saveBtn" ng-click="validationCheck()">저장</button>-->
<!--                        <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeLevelModal()">취소</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->