<div class="conts">
    <div class="contain conts_half left" id="asset_level_code1">
        <div class="conts_in left_tab" id="tab1_l">
            <div class="conts_tit">
                <div class="main_conts">
                    <p><i class="fas fa-check-circle"></i> 레벨 코드 목록</p>
                </div>
            </div>
            <div class="search_box main_conts">
                <div class="clear tits" style="position: relative">
                    <div class="search_twoForm" style="width:100% !important;">
                        <div class="clear">
                            <div class="form-group">
                                <label>
                                    <span>자산 구분</span>
                                </label>
                                <select ng-model="fn">
                                    <option value="">없음</option>
                                    <option value="F">시설자산</option>
                                    <option value="N">관망자산</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span>레벨</span>
                                </label>
                                <select class="" ng-model="levelStep">
                                    <option value="">전체</option>
                                    <option value="{{ ($index+1) }}" ng-repeat="x in [].constructor(MaxLevel) track by $index" >{{ '레벨'+($index+1) }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear">
                            <div class="form-group">
                                <label>
                                    <span>레벨명</span>
                                </label>
                                <input kr-input type="text" ng-model="levelNm" maxlength="40" ng-keypress="onKeyPress($event)" style="width: 335px">
                            </div>
                            <div class="popupBtnWrap pr-1" style="display: flex; justify-content: flex-end">
                                <button type="button" class="btn btn_nv btnView" ng-click="searchLevelCode()">조회</button>
                                <button type="button" class="btn btn-danger btnEdit" ng-click="deleteLevelCode()">삭제</button>
                                <button type="button" class="btn btn_gr btnView" ng-click="getExcelDownload()">엑셀</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <table id="list"></table>
            </div>
            <div id="listPager"></div>
            <span class="font-weight-bold pr-2 float_R">전체 레벨 코드 : {{ count|currency:'':0 }}</span>
            <div id="list_page"></div>
        </div>
    </div>
    <div class="contain conts_half right">
        <div class="conts_in tab_one">
            <div class="conts_tit">
                <div class="main_conts">
                    <p>
                        <i class="fas fa-check-circle"></i> 레벨 코드 정보
                    </p>
                </div>
            </div>
            <div class="first_box data_twoForm">
                <div class="main_conts">
                    <div class="boxs">
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>레벨</span></label>
                                    <input class="reset" kr-input type="text" ng-model="LevelInfo.LEVEL_STEP" maxlength="20" readonly>
                                </div>
                            </div>
                            <input class="reset"  type="hidden" ng-model="LevelInfo.LEVEL_CD" maxlength="20" ng-disabled="isDisabled">
                            <!-- <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>레벨 설정 코드</span></label>
                                    <input class="reset" kr-input type="text" ng-model="LevelInfo.LEVEL_CD" maxlength="20" ng-disabled="isDisabled">
                                </div>
                            </div> -->
                             <div class="half_formB fm_w50">
                            <div class="form-group">
                            <label><span>시설/관망 구분</span></label>
                                <div class="inputRdo" style="padding-left: 3rem">
                                    <div class="custom-control custom-radio">
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input kr-input type="radio" class="custom-control-input" name="" id="FN_radio1" ng-model="LevelInfo.FN_CD" value="F" ng-disabled="isDisabled">
                                        <label class="custom-control-label" for="FN_radio1" style="top:0;">시설</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input kr-input type="radio" class="custom-control-input" name="" id="FN_radio2" ng-model="LevelInfo.FN_CD" value="N" ng-disabled="isDisabled">
                                        <label class="custom-control-label" for="FN_radio2" style="top:0;">관망</label>
                                    </div>
                                </div>
                            </div>
                        	</div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>레벨 명칭</span></label>
									<input class="reset" kr-input type="text" id="LEVEL_NM" ng-model="LevelInfo.LEVEL_NM" maxlength="20" readonly>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>자산 분류 코드</span></label>
                                    <input class="reset" kr-input type="text"  ng-model="LevelInfo.CLASS_CD" maxlength="20" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="clear w_98">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>상위레벨</span></label>
									<input class="reset" kr-input type="text"  ng-model="LevelInfo.P_LEVEL_STEP" maxlength="20" readonly>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>상위자산코드</span></label>
                                    <input class="reset" kr-input type="text"  ng-model="LevelInfo.P_CLASS_CD" maxlength="20" readonly>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label><span>자산분류체계</span></label>
                                    <input class="reset" kr-input type="text"  ng-model="LevelInfo.PATH_CD" maxlength="20" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="text-right p-2 pb-2">
                                <button class="btn btn_sky btnEdit" ng-click="showNewLevelCodeModal()">신규</button>
                                <button class="btn btn_nv btnEdit" ng-click="showEditLevelCodeModal()">수정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="popupSection" id="dialog_asset_level_code" style="display: none" onMouseMove="moveWindow(event,'#levelCodePopup')">
    <div class="popupWrap level_popupWrap" style="height: auto" id="levelCodePopup">
        <h3>
            레벨 코드 {{(LevelInfoModal.isNew)?"등록":"수정"}}
            <span class="popupClose" ng-click="closeLevelModal()"><i class="xi-close"></i></span>
        </h3>
        <div class="popup">
            <div class="popup_title">
                <p>레벨 코드 정보</p>
            </div>
            <div class="explan_box">
                <div class="main_conts">
                    <div class="boxs">
                        <div class="clear">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label>
                                        <span>레벨 선택 *</span>
                                    </label>
                                    <select ng-model="LevelInfoModal.LEVEL_STEP" ng-change="checkFN(LevelInfoModal)" ng-disabled="!LevelInfoModal.isNew" style="margin-top: 1px;">
                                        <option value="">선택</option>
                                        <option {{(($index+1)==LevelInfoModal.LEVEL_STEP)?'selected':''}} ng-repeat="x in [].constructor(MaxLevel) track by $index " value="{{ ($index+1) }}"> {{ '레벨'+($index+1) }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
<!--                                 <div class="form-group">
                                    <label>
                                        <span>레벨 설정 코드</span>
                                    </label>
                                    <input class="reset" id="LEVEL_CD" type="text" maxlength="20" ng-disabled="isDisabled" style="margin-top: 1px;">
                                </div> -->
	                            <div class="half_formB fm_w50"  >
	                                <div class="form-group " style="width:350px;">
	                                    <label class="radio_label m-0">
	                                        <span>자산 구분 *</span>
	                                    </label>
	                                    <div class="inputRdo" ng-style="{'visibility' : isFN ? 'visible' : 'hidden'}">
		                                    <div class="custom-control custom-radio" style="float:left; left: 7px;">
		                                        <input  type="radio" class="custom-control-input" id="FN_CD_F" ng-model="LevelInfoModal.FN_CD" value="F" ng-checked="'F' == LevelInfoModal.FN_CD" ng-click="checkMaxLevel(LevelInfoModal.LEVEL_STEP)" ng-disabled="blockF">
		                                        <label class="custom-control-label" for="FN_CD_F" style="top:0;">시설</label>
		                                    </div>
		                                    <div class="custom-control custom-radio" style="float:left; left: 7px;">
		                                        <input  type="radio" class="custom-control-input" id="FN_CD_N" ng-model="LevelInfoModal.FN_CD" value="N" ng-checked="'N' == LevelInfoModal.FN_CD" ng-click="checkMaxLevel(LevelInfoModal.LEVEL_STEP)" ng-disabled="blockN">
		                                        <label class="custom-control-label" for="FN_CD_N" style="top:0;">관망</label>
		                                    </div>
	                                    </div>
	                                </div>
	                            </div>
                                                        
                            </div>
                        </div>
                        <div class="clear">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label>
                                        <span>레벨 명칭 *</span>
                                    </label>
                                    <input type="text" ng-model="LevelInfoModal.LEVEL_NM" maxlength="20" style="margin-top: 1px;">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label>
                                        <span>자산 분류 코드 *</span>
                                    </label>
                                    <input type="text" ng-change="checkLength()" ng-model="LevelInfoModal.CLASS_CD" maxlength="20" style="margin-top: 1px;" placeholder="{{levelCd_length}}">
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label>
                                        <span>상위레벨</span>
                                    </label>
                                    <select ng-model="LevelInfoModal.P_LEVEL_STEP" ng-change="makePathCd(LevelInfoModal)">
                                    	<option value="">선택안함</option>
                                    	<option ng-if="step < LevelInfoModal.LEVEL_STEP" ng-repeat="step in stepList">{{step}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label>
                                        <span>상위자산코드</span>
                                    </label>
                                    <select ng-disabled = "LevelInfoModal.P_LEVEL_STEP==''" ng-model="LevelInfoModal.P_CLASS_CD" class="asset_level" ng-change="makePathCd(LevelInfoModal)">
                                    	<option value="">선택안함</option>
                                    	<option ng-repeat="level in AssetLevelList |filter : {FN_CD : LevelInfoModal.FN_CD}|filter : {LEVEL_STEP : LevelInfoModal.P_LEVEL_STEP } " 
                                    			ng-selected="level.LEVEL_CD==LevelInfoModal.P_CLASS_CD" 
                                    			value="{{level.LEVEL_CD}}">{{level.LEVEL_NM}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label>
                                        <span>자산분류체계</span>
                                    </label>
                                    <input type="text" readonly ng-model="LevelInfoModal.PATH_CD" >
                                </div>
                            </div>
                        </div>
<!--                         <div class="clear" ng-style="{'visibility' : isFN ? 'visible' : 'hidden'}">
                            <div class="half_formB fm_w50">
                                <div class="inputRdo">
                                    <label class="radio_label">
                                        <span>시설/관망 유무</span>
                                    </label>
                                    <div class="custom-control custom-radio">
                                        <input  type="radio" class="custom-control-input" id="FN_CD_F" ng-model="LevelInfoModal.FN_CD" value="F" ng-checked="'F' == LevelInfoModal.FN_CD" ng-click="checkMaxLevel(LevelInfoModal.LEVEL_STEP)" ng-disabled="blockF">
                                        <label class="custom-control-label" for="FN_CD_F">시설</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input  type="radio" class="custom-control-input" id="FN_CD_N" ng-model="LevelInfoModal.FN_CD" value="N" ng-checked="'N' == LevelInfoModal.FN_CD" ng-click="checkMaxLevel(LevelInfoModal.LEVEL_STEP)" ng-disabled="blockN">
                                        <label class="custom-control-label" for="FN_CD_N">관망</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="popupBtnWrap py-1">
                        <button type="button" class="btn btn-block btn-success saveBtn" ng-click="validationCheck()">저장</button>
                        <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeLevelModal()">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>