<section class="popupSection" onMouseMove="moveWindow(event,'#diagnosisPopup5')">
	<div class="popupWrap operation_popupWrap h-auto" id="diagnosisPopup5">
		<h3>
			{{TITLE}} <span class="popupClose"><i class="xi-close" ng-click="basic_popup.Cancel()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="clear w_98">
				<div class="w100 Form100">
					<div class="form-group">
						<label for=""><span>평가명</span></label> <input type="text"
							maxlength="200" readonly="readonly"
							ng-model="basic_popup.Info.EST_NM">
					</div>
				</div>
			</div>
			<div class="grid w_98">
				<table id="list4"></table>
			</div>
			<div id="listPager4"></div>
			<div id="list4_page"></div>	
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="basic_popup.Select()">선택</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="basic_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>