<section class="popupSection" onMouseMove="moveWindow(event,'#diagnosisPopup7')">
	<div class="popupWrap operation_popupWrap height_auto w_20" id="diagnosisPopup7">
		<h3>
			평가항목 선택 <span class="popupClose"><i class="xi-close" ng-click="newLos_popup.Cancel()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="clear w_98 w_90">
				<div class="w100 Form100">
					<div class="form-group">
						<label><span>사업장</span></label> 
						<input type="text" ng-model="newLos_popup.Info.LOS_MEMO">
					</div>
				</div>
			</div>
			<div class="clear w_98 w_90">
				<div class="w100 Form100">
					<div class="form-group">
						<label><span>평가항목</span></label> 
						<select ng-model="newLos_popup.Info.LOS_ITEM_CD" 
                           	ng-options="option.LOS_ITEM_CD as option.LOS_ITEM_NM for option in newLos_popup.OptionList" >
                             </select>
					</div>
				</div>
			</div>
			<div class="clear w_98 w_90">
				<div class="w100 Form100">
					<div class="form-group">
						<label><span>평가년도</span></label> 
						<select ng-model="newLos_popup.Info.LOS_YEAR">
							<option >2022</option>
							<option >2021</option>
							<option >2020</option>
						</select>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap my-2">
				<button type="button" class="btn btn-block btn-success" ng-click="newLos_popup.Save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="newLos_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>