<section class="popupSection" onMouseMove="moveWindow(event,'#diagnosisPopup1')">
		<div class="popupWrap operation_popupWrap w_815px" id="diagnosisPopup1">
			<h3>
				서비스 수준 분석 <span class="popupClose"><i class="xi-close" ng-click="diagnosis_popup.Cancel()"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info box-scroll">
					<div class="popup_title">
						<p>분석항목 선택 및 목표 값 설정</p>
					</div>
					<div class="clear" style="width: 98%; margin: 5px auto 0;">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label ><span>사 업 장 *</span></label> 
								<input type="text"
								ng-model="diagnosis_popup.Info.LOS_MEMO">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가년도 *</span></label> 
								<select ng-model="diagnosis_popup.Info.LOS_YEAR">
								<option>2022년</option>
								<option>2021년</option>
								<option>2020년</option>
								<option>2019년</option>
								<option>2018년</option>
								</select>
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작 성 자</span></label> 
								<input type="text" disabled="disabled" 
								ng-model="diagnosis_popup.Info.INSERT_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> 
								<input type="text" disabled="disabled" 
								ng-model="diagnosis_popup.Info.INSERT_DT">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>수 정 자</span></label> 
								<input type="text" disabled="disabled" 
								ng-model="diagnosis_popup.Info.UPDATE_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>수정일자</span></label> 
								<input type="text" disabled="disabled" 
								ng-model="diagnosis_popup.Info.UPDATE_DT">
							</div>
						</div>
					</div>
					<div class="min_tab w_98">
						<ul class="tabs tabs_2 tabs_icon">
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 0]" ng-click="tep.Click(0)">설정 및 목표 <i ng-show="(tep.Page == 0)" ng-click="tep.Add()" class="xi-plus-circle-o"></i></button>
							</li>
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 1]" ng-click="tep.Click(1)">인력 <i ng-show="(tep.Page == 1)" ng-click="tep.Add()" class="xi-plus-circle-o"></i></button>
							</li>
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 2]" ng-click="tep.Click(2)">시설 <i ng-show="(tep.Page == 2)" ng-click="tep.Add()" class="xi-plus-circle-o"></i> </button>
							</li>
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 3]" ng-click="tep.Click(3)">운영 <i ng-show="(tep.Page == 3)" ng-click="tep.Add()" class="xi-plus-circle-o"></i></button>
							</li>
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 4]" ng-click="tep.Click(4)">서비스 <i ng-show="(tep.Page == 4)" ng-click="tep.Add()" class="xi-plus-circle-o"></i></button>
							</li>
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 5]" ng-click="tep.Click(5)">환경 <i ng-show="(tep.Page == 5)" ng-click="tep.Add()" class="xi-plus-circle-o"></i></button>
							</li>
							<li>
								<button ng-class="{true : 'active', false : ''}[tep.Page == 6]" ng-click="tep.Click(6)">재정 <i ng-show="(tep.Page == 6)" ng-click="tep.Add()" class="xi-plus-circle-o"></i></button>
							</li>
						</ul>
					</div>
					<div class="w_98" ng-show="(tep.Page == 0)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="10%">
										<col width="10%">
										<col width="15%">
										<col width="35%">
										<col width="15%">
										<col width="15%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="10%"><div class="th-text">범위</div></th>
											<th width="10%"><div class="th-text">평가선택</div></th>
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="35%"><div class="th-text">평가 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">목표 값</div></th>
										</tr>
									</thead>
									<tbody id="{{'service_body_' + $index}}" ng-repeat = "xxx in diagnosis_popup.ListArray[0] track by $index">
										<tr ng-show="xxx.length>0">
											<td rowspan="{{xxx.length + 1}}">{{xxx[0].LOS_ITEM_NM}}</td>
										</tr>
										<tr ng-repeat = "power in xxx track by $index" title="{{power.FUNCTION_FORMULA}}" ng-click="diagnosis_popup.Click($parent.$index, $index + 1, power)">
											<td><input type="checkbox" style="min-width: 15px;" ng-model="power.EVALUE_USE_YN" ng-change="diagnosis_popup.ParamShow(power)"></td>
											<td>{{power.EVALUE_CD}}</td>
											<td class="text-left">{{power.EVALUE_NM}}</td>
											<td>{{power.EVALUE_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only 
												ng-model="power.GOAL_VAL"
												ng-show = "power.EVALUE_USE_YN">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(true)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
							<button type="button" class="btn btn_sky" ng-click="diagnosis_popup.Import()">
							가져오기<i class="xi-help-o xi-x text-info" style="cursor: pointer;" title="평가년도 기준  마지막으로 분석한 정보를 가져옵니다."></i>
							</button>
							
						</div>
					</div>
					<div class="w_98" ng-show="(tep.Page == 1)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="15%">
										<col width="45%">
										<col width="15%">
										<col width="15%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="45%"><div class="th-text">변수 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">입력</div></th>
											<th width="10%"><div class="th-text">신뢰도</div></th>
										</tr>
									</thead>
									<tbody id="param_body_1">
										<tr ng-repeat = "power in diagnosis_popup.ListArray[1] track by $index" ng-click="diagnosis_popup.ParamClick(tep.Page, $index, power)">
											<td>{{power.PARAM_CD}}</td>
											<td>{{power.PARAM_NM}}</td>
											<td>{{power.PARAM_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only  
												ng-model="power.PARAM_VAL" 
												ng-show = "power.EVALUE_USE_YN">
											</td>
											<td>
												<select ng-model="power.TRUST_DEGREE" 
												ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption" 
												ng-show = "power.EVALUE_USE_YN"></select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(false)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
						</div>
					</div>
					<div class="w_98" 
					ng-show="(tep.Page == 2)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="15%">
										<col width="45%">
										<col width="15%">
										<col width="15%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="45%"><div class="th-text">변수 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">변수값</div></th>
											<th width="10%"><div class="th-text">신뢰도</div></th>
										</tr>
									</thead>
									<tbody id="param_body_2">
										<tr ng-repeat = "power in diagnosis_popup.ListArray[2] track by $index" ng-click="diagnosis_popup.ParamClick(tep.Page, $index, power)">
											<td>{{power.PARAM_CD}}</td>
											<td>{{power.PARAM_NM}}</td>
											<td>{{power.PARAM_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only  
												ng-model="power.PARAM_VAL"
												ng-show = "power.EVALUE_USE_YN">
											</td>
											<td>
												<select ng-model="power.TRUST_DEGREE" 
												ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption" 
												ng-show = "power.EVALUE_USE_YN"></select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(false)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
						</div>
					</div>
					<div class="w_98" 
					ng-show="(tep.Page == 3)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="15%">
										<col width="45%">
										<col width="15%">
										<col width="15%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="45%"><div class="th-text">변수 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">변수값</div></th>
											<th width="10%"><div class="th-text">신뢰도</div></th>
										</tr>
									</thead>
									<tbody id="param_body_3">
										<tr ng-repeat = "power in diagnosis_popup.ListArray[3] track by $index" ng-click="diagnosis_popup.ParamClick(tep.Page, $index, power)">
											<td>{{power.PARAM_CD}}</td>
											<td>{{power.PARAM_NM}}</td>
											<td>{{power.PARAM_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only  
												ng-model="power.PARAM_VAL"
												ng-show = "power.EVALUE_USE_YN">
											</td>
											<td>
												<select ng-model="power.TRUST_DEGREE" 
												ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption" 
												ng-show = "power.EVALUE_USE_YN"></select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(false)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
						</div>
					</div>
					<div class="w_98"  
					ng-show="(tep.Page == 4)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="15%">
										<col width="45%">
										<col width="15%">
										<col width="15%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="45%"><div class="th-text">변수 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">변수값</div></th>
											<th width="10%"><div class="th-text">신뢰도</div></th>
										</tr>
									</thead>
									<tbody id="param_body_4">
										<tr ng-repeat = "power in diagnosis_popup.ListArray[4] track by $index" ng-click="diagnosis_popup.ParamClick(tep.Page, $index, power)">
											<td>{{power.PARAM_CD}}</td>
											<td>{{power.PARAM_NM}}</td>
											<td>{{power.PARAM_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only  
												ng-model="power.PARAM_VAL"
												ng-show = "power.EVALUE_USE_YN">
											</td>
											<td>
												<select ng-model="power.TRUST_DEGREE" 
												ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption" 
												ng-show = "power.EVALUE_USE_YN"></select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(false)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
						</div>
					</div>
					<div class="w_98" 
					ng-show="(tep.Page == 5)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="15%">
										<col width="45%">
										<col width="15%">
										<col width="15%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="45%"><div class="th-text">변수 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">변수값</div></th>
											<th width="10%"><div class="th-text">신뢰도</div></th>
										</tr>
									</thead>
									<tbody id="param_body_5">
										<tr ng-repeat = "power in diagnosis_popup.ListArray[5] track by $index" ng-click="diagnosis_popup.ParamClick(tep.Page, $index, power)">
											<td>{{power.PARAM_CD}}</td>
											<td>{{power.PARAM_NM}}</td>
											<td>{{power.PARAM_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only  
												ng-model="power.PARAM_VAL"
												ng-show = "power.EVALUE_USE_YN">
											</td>
											<td>
												<select ng-model="power.TRUST_DEGREE" 
												ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption" 
												ng-show = "power.EVALUE_USE_YN"></select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(false)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
						</div>
					</div>
					<div class="w_98" ng-show="(tep.Page == 6)">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 480px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="15%">
										<col width="45%">
										<col width="15%">
										<col width="15%">
										<col width="10%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="15%"><div class="th-text">코드</div></th>
											<th width="45%"><div class="th-text">변수 항목</div></th>
											<th width="15%"><div class="th-text">단위</div></th>
											<th width="15%"><div class="th-text">변수값</div></th>
											<th width="10%"><div class="th-text">신뢰도</div></th>
										</tr>
									</thead>
									<tbody id="{{'param_body_6'}}">
										<tr ng-repeat = "power in diagnosis_popup.ListArray[6] track by $index" ng-click="diagnosis_popup.ParamClick(tep.Page, $index, power)">
											<td>{{power.PARAM_CD}}</td>
											<td>{{power.PARAM_NM}}</td>
											<td>{{power.PARAM_UNIT}}</td>
											<td>
												<input type="text" class="w100" style="min-width: 100%;" 
												numbers-only  
												ng-model="power.PARAM_VAL"
												ng-show = "power.EVALUE_USE_YN">
											</td>
											<td>
												<select ng-model="power.TRUST_DEGREE" 
												ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption" 
												ng-show = "power.EVALUE_USE_YN"></select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="w_98 text-right mt-2">
							<button class="btn btn-primary" ng-click="diagnosis_popup.Revision(false)">수정</button>
							<button class="btn btn-success" ng-click="diagnosis_popup.Save()">저장</button>
						</div>
					</div>
				</div>
				<div class="popupBtnWrap mb-2" style="position: relative;">
					<button type="button" class="btn btn-block btn-primary saveBtn" ng-click="diagnosis_popup.Analyze()">분석하기</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="diagnosis_popup.Cancel()">취소</button>
				</div>
			</div>
		</div>
</section>

<section class="popupSection" ng-show="param_popup.isShow" onMouseMove="moveWindow(event,'#diagnosisPopup2')">
	<div class="popupWrap diagnosis3_popupWrap h-auto" id="diagnosisPopup2">
		<h3>
			{{param_popup.TITLE}}
			<span class="popupClose"><i class="xi-close" ng-click="param_popup.Cancel()"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info pr-2">
				<div class="clear">
					<div class="half_formB fm_w50">
                      	<div class="form-group">
                           	<label>
                               	<span>항목*</span>
                           	</label>
                         	 	<select ng-disabled="(param_popup.isNew)"
	                        	ng-model="param_popup.Info.Page"  
	                           	ng-options="option.LOS_ITEM_CD_SID as option.LOS_ITEM_CD for option in param_popup.PageStrList" 
	                           	ng-change="param_popup.UpdateCode(param_popup.Info.Page)">
                             </select>
                        </div>
                    </div>
				</div>
				<div class="clear">
					<div class="half_formB fm_w50">
                      	<div class="form-group">
                           	<label>
                               	<span>코드</span>
                           	</label>
                           	<input type="text" readonly="readonly"
                           	ng-model="param_popup.Info.PARAM_CD">
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                      	<div class="form-group">
                           	<label>
                               	<span>단위*</span>
                           	</label>
                           	<input type="text" ng-model="param_popup.Info.PARAM_UNIT">
                        </div>
                    </div>
				</div>
				<div class="clear" style="margin: -1rem 0 0.5rem;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>정의</span></label>
							<textarea ng-model="param_popup.Info.C_MEMO"></textarea>
						</div>
					</div>
				</div>
				<div class="clear" ng-show="(tep.Page=== 0)">
            		<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명*</span></label> 
							<input kr-input type="text" style="width: 69% !important" readonly="readonly"
							ng-model="param_popup.Info.PARAM_NM">
							<button type="button" class="btn btn-block btn-primary mt-1" 
							ng-click="param_popup.Add()">만들기</button>
						</div>
					</div>
				</div>
				<div class="clear" ng-show="(tep.Page !== 0)">
            		<div class="half_formB fm_w50">
						<div class="form-group">
							<label><span>평가명*</span></label> 
							<input kr-input type="text"
							ng-model="param_popup.Info.PARAM_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label><span>신뢰도 <i class="far fa-question-circle" aria-hidden="true" ng-click="param_popup.Reliability()"></i></span></label> 
							<select ng-model="param_popup.Info.TRUST_DEGREE" 
							ng-options="option.Name as option.value for option in diagnosis_popup.SelectOption"></select>
						</div>
					</div>
            	</div>
			</div>
			<div class="popupBtnWrap mb-2"><!--  -->
				<button type="button" class="btn btn-block btn-success saveBtn" ng-click="param_popup.Save()">저장</button>
				<button type="button" class="btn btn-block btn-primary" ng-show="(param_popup.isNew && tep.Page === 0)" ng-click="param_popup.Delete()">삭제</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="param_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>

<section class="popupSection" ng-show="function_popup.isShow" onMouseMove="moveWindow(event,'#diagnosisPopup3')">
	<div class="popupWrap diagnosis2_popupWrap h-auto" id="diagnosisPopup3">
		<h3>
			분석 함수 만들기
			<span class="popupClose"><i class="xi-close" ng-click="function_popup.Cancel()"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info">
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>코드</span></label> 
							<input kr-input type="text" readonly="readonly"
							ng-model="function_popup.Info.PARAM_CD">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명*</span></label> 
							<input kr-input type="text" ng-model="function_popup.Info.PARAM_NM">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>연산식*</span></label> 
							<input kr-input type="text" readonly="readonly"
							ng-model="function_popup.Info.FUNCTION_FORMULA">
						</div>
					</div>
				</div>
				<div class="clear mt-2">
					<div class="w100 Form100">
						<div class="form-group d-flex align-items-center">
							<label for=""><span></span></label>
							<div class="operator text-center ml-0" style="width: 70% !important;">
								<span ng-click="function_popup.Click('+')">&#43;</span>
								<span ng-click="function_popup.Click('-')">&#45;</span>
								<span ng-click="function_popup.Click('*')">&#215;</span>
								<span ng-click="function_popup.Click('/')">&#47;</span>
								<span ng-click="function_popup.Click('(')">&#40;</span>
								<span ng-click="function_popup.Click(')')">&#41;</span>
								<br>
								<span ng-click="function_popup.Click('0')">0</span>
								<span ng-click="function_popup.Click('1')">1</span>
								<span ng-click="function_popup.Click('2')">2</span>
								<span ng-click="function_popup.Click('3')">3</span>
								<span ng-click="function_popup.Click('4')">4</span>
								<span ng-click="function_popup.Click('5')">5</span>
								<span ng-click="function_popup.Click('6')">6</span>
								<span ng-click="function_popup.Click('7')">7</span>
								<span ng-click="function_popup.Click('8')">8</span>
								<span ng-click="function_popup.Click('9')">9</span>
								
							</div>
							<button ng-click="function_popup.Delete()" class="btn btn-danger">삭제</button>
						</div>
					</div>
				</div>
				<div class="clear">
						<div class="w100 Form100">
							<div class="form-group">
								<label for=""><span></span></label>
								<div id="treeScroll" class="border_color treeview" style="height: 130px; overflow: auto;">
									<ul class="font-weight-bold" style="height: 130px; font-size: 12px;">
										<li>
											<span>변수</span>
											<ul>
												<li ng-repeat = "root in tree.Root track by $index">
													<span ng-click="tree.Click($index)">{{root.name}}</span>
													<ul>
														<li ng-repeat = "node in root.node track by $index" style="cursor: pointer;">
															<span ng-click="tree.NodeClick(node.PARAM_CD)">{{node.PARAM_CD}} / {{node.PARAM_NM}}</span>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success saveBtn" ng-click="function_popup.Save()">적용</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="function_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>

	<section class="popupSection" ng-show="isReliability" onMouseMove="moveWindow(event,'#diagnosisPopup4')">
		<div class="popupWrap diagnosis3_popupWrap remain2_popupWrap" id="diagnosisPopup4">
			<h3>
				신뢰도 입력 기준 <span class="popupClose"><i class="xi-close" ng-click="popup_Scope.Cancel('isReliability')"></i></span>
			</h3>
			<div class="popup">
				<div class="table_wrap mt-4">
					<table>
						<thead>
						<colgroup>
							<col width="15%">
							<col width="75%">
							<col width="10%">
						</colgroup>
						</thead>
						<tbody>
							<tr>
								<th class="text-center">신뢰도 단계</th>
								<th class="text-center">정의</th>
								<th class="text-center">입력값</th>
							</tr>
							<tr>
								<td>높음</td>
								<td class="text-left">운영일지, 민원처리접수현황, 통계자료 등 문서상으로 기록되어 있는
									자료<br>(정확도 75% 이상)
								</td>
								<td>3</td>
							</tr>
							<tr>
								<td>중간</td>
								<td class="text-left">기존의 유사 자료로부터 조합 및 추출을 통해 새로이 생성된 자료<br>(정확도
									50% 이상)
								</td>
								<td>2</td>
							</tr>
							<tr>
								<td>낮음</td>
								<td class="text-left">문서상으로 기록되어져 있는 데이터가 아니고 신뢰도 중간 단계보다
									신뢰도가 낮으면 담당자의 추측에 의한 자료(정확도 25% 이상)
								</td>
								<td>1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	
	<div ng-include="'./view/new_diagnosis/basic_popup.html'" ng-show = "isImport_popup" ng-controller = "import_popupController"></div>