<div id ="item_popup3">
	<div class="form-group position_R">
		<span class="icon search_icon" ng-click="del()"><i class="fa fa-search"></i></span> 
		<input kr-input type="search"
			class="ng-pristine ng-valid ng-valid-maxlength ng-touched btn-block mb-2"
			placeholder="검색"
			ng-model="modal.SerchName">
	</div>			
				
	<div class="box_scoll border_color mb-2 mt-1 search_wrap px-2 py-1" style="height: 150px; overflow-x:auto;">
		<!-- 대메뉴 -->
		<div class="blockPanel-heading">
			<div class="textareaChk" ng-repeat = "item in modal.List">
				<div class="custom-control custom-checkbox" ng-click="modal.Checked(item.index)"> 
					<input type="checkbox" class="custom-control-input"
						ng-checked = "item.checked">
					<!-- 체크박스 -->
					<label class="custom-control-label"style="padding: 0 !important"> 
						<a class="collapsed"> 
						<span class="blockName">{{item.name}}</span>
					</a>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<button type="button" class="btn btn_nv saveBtn"ng-click="modal.Confirm()">확인</button>
		<button type="button" class="btn btn-danger closeBtn"ng-click="modal.Cancel()">취소</button>
	</div>
</div>
