<style>
.grid2 .ui-jqgrid>.ui-jqgrid-view>.ui-jqgrid-hdiv {
	width: 1200px !important;
}

.grid2 .ui-jqgrid-bdiv {
	width: 1200px !important;
}

.grid2 .ui-jqgrid-sdiv {
	width: 1200px !important;
}
</style>

<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 생애주기비용(LCC) 분석 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important;padding-right: 30px !important;" ng-click="Serch.Select(1)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==1"> <label
										class="custom-control-label" style="left: 35%; top: 0;">
										<span class="pdr_26">연도</span>
									</label> <select style="width: 100px !important;"
										ng-model="Serch.Info.YEAR">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==Serch.Info.YEAR" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;"
									ng-click="Serch.Select(2)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==2"> <label
										class="custom-control-label" style="left: 13%; top: 0;">
										<span class="pr-2">기간선택</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;"
										ng-model="Serch.Info.START_DT" id="Serch_START_DT"> <label
										class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;" ng-model="Serch.Info.END_DT" id="Serch_END_DT">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>분석명</span></label> <input kr-input
								type="text" ng-model="Serch.Info.EST_NM" maxlength="10"
								style="width: 538px;" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView"
							ng-click="Serch.Lookup()">조회</button>
						<button id="delete" class="btn btn-danger btnEdit"
							ng-click="Serch.Delete()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="Serch.Output()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="conts_box main_conts" id="tab1" style="width: 100%;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 생애주기 비용 분석
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>분 석 명</span></label> <input type="text" readonly="readonly" ng-model="lcc.Info.LCC_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작 성 자</span></label> <input type="text" readonly="readonly" ng-model="lcc.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작 성 일</span></label> <input type="text" readonly="readonly" ng-model="lcc.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="form-group">
						<div class="half_formB fm_w50">
							<label for=""><span>분 석 일</span></label>
								<input type="text" readonly="readonly" ng-model="lcc.Info.LCC_DT">
						</div>
					</div>
				</div>
				<div class="min_tab text-center position_R min_tab4">
					<ul class="tabs tabs_2">
						<li>
							<button ng-class="{true : 'active', false : ''}[Page == 0]" ng-click="(Page = 0)">시설</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[Page == 1]" ng-click="(Page = 1)">관망</button>
						</li>
						<li>
							<button ng-class="{true : 'active', false : ''}[Page == 2]" ng-click="(Page = 2)">세부</button>
						</li>
					</ul>
					<span class="font-weight-bold small" style="position: absolute; right: 15px; bottom: 3px;">단위 : 원</span>
				</div>
				<div ng-show="(Page == 0)">
					<!-- 그리드 -->
				<div class="clear w_98 mt-2">
					<div class="grid grid2 table-responsive">
						<table id="list1" class="table table_2"></table>
					</div>
					<div id="list1Pager"></div>
					<div id="list1_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnEdit" ng-click="lcc.New()">신규분석</button>
					 <button class="btn btn_nv" ng-click="lcc.Details()">상세보기</button> 
					<button class="btn btn-info btnView" ng-click="lcc.Report()">보고서</button>
				</div>
			</div>
			<div ng-show="(Page == 1)">
					<!-- 그리드 -->
				<div class="clear w_98 mt-2">
					<div class="grid grid2 table-responsive">
					<table id="list2" class="table table_2"></table>
				</div>
				<div id="list2Pager"></div>
				<div id="list2_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnEdit" ng-click="lcc.New()">신규분석</button>
					 <button class="btn btn_nv" ng-click="lcc.Details()">상세보기</button> 
					<button class="btn btn-info btnView" ng-click="lcc.Report()">보고서</button>
				</div>
			</div>
			<div ng-show="(Page == 2)">
					<!-- 그리드 -->
				<div class="clear w_98">
					<div class="form-group">
						<div class="clear w_98 d-flex">
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>구 분</span></label> 
									<select type="text"  ng-model="CLASS3_CD" >
										<option value="">전체</option>
										<option value="F">시설</option>
										<option value="N">관망</option>
									</select>
								</div>
							</div>
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>사업장/계통</span></label> 
									<select type="text" ng-model="CLASS4_CD" 
									ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  CLASS3_CD}">
										<option value="">전체</option>
									</select>
								</div>
							</div>
							<button class="btn btn_nv mt-1 mr-1 btnView" style="margin-left: auto;"ng-click="ModalCheck()">조회</button>
						</div>
					</div>
					<div class="grid grid2 table-responsive">
						<table id="list3" class="table table_2"></table>
					</div>
					<div id="list3Pager"></div>
					<div id="list3_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnView" ng-click="ModalSearch()">검색</button>
					<button class="btn btn_sky btnEdit" ng-click="lcc.New()">신규분석</button>
					<button class="btn btn_nv btnEdit" ng-click="lcc.Details()">상세보기</button>
					<button class="btn btn-info btnView" ng-click="lcc.Report()">보고서</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  -->
</div>

<section class="popupSection" ng-show = "lccDetails.isShow" onMouseMove="moveWindow(event,'#lccPopup1')">
	<div class="popupWrap operation_popupWrap height_auto w_815px" id="lccPopup1">
		<h3>
			생애주기 비용분석 <span class="popupClose"><i class="xi-close" ng-click="lccDetails.Cancel()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popup_info box-scroll">
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>분 석 명</span></label> <input type="text" disabled="disabled" 
							ng-model="lcc.Info.LCC_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" disabled="disabled"
							ng-model="lcc.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text" disabled="disabled"
							ng-model="lcc.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>분석일</span></label> <input type="text" disabled="disabled"
							ng-model="lcc.Info.LCC_DT">
						</div>
					</div>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
				<div class="table_wrap my-1" style="height: 340px;">
					<div class="clear w_98 d-flex justify-content-between align-items-center p-2 pt-0">
						<span class="font-weight-bold small">- {{lccDetails.Info.TITLE}}</span>
						<span class="font-weight-bold small">단위 : 원</span>
					</div>
					<div class="fixed-table-container w_98" style="height: 260px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="11%"><div class="th-text">연도</div></th>
										<th width="11%"><div class="th-text">초기투자비</div></th>
										<th width="11%"><div class="th-text">운영비</div></th>
										<th width="11%"><div class="th-text">유지비</div></th>
										<th width="11%"><div class="th-text">수리비</div></th>
										<th width="11%"><div class="th-text">개량비</div></th>
										<th width="11%"><div class="th-text">해체폐기비</div></th>
										<th width="11%"><div class="th-text">연간합계</div></th>
										<th width="11%"><div class="th-text">연간누적</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "Detail in lccDetails.List track by $index">
											<td class="font-weight-bold">{{Detail.YYYY}}</td>
											<td class="font-weight-bold">{{Detail.INIT_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.OP_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.MT_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.RE_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.IMP_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.DI_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.TOTAL_COST | number:0}}</td>
											<td class="font-weight-bold">{{Detail.TOTAL | number:0}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div style="padding-right:18px;">
							<table class="fixedTbl">
								<tbody>
									<tr>
										<td class="font-weight-bold">합계</td>
										<td class="font-weight-bold">{{lccDetails.Sum.INIT_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.OP_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.MT_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.RE_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.IMP_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.DI_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.TOTAL_COST | number:0}}</td>
										<td class="font-weight-bold">{{lccDetails.Sum.TOTAL | number:0}}</td>
									</tr>
								</tbody>
							</table>
							</div>
					</div>
				</div>
				<div id="Graph" class="border_color w_98 mb-2 mt-1 p-1" style="height: 260px;width:730px;"></div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-info" ng-click="lccDetails.Report()">보고서</button>
				<button type="button" class="btn btn-block btn-primary" ng-click="lccDetails.Confirm()">확인</button>
			</div>
		</div>
	</div>
	</div>
</section>
<section class="popupSection" ng-show="lccNew.isShow" onMouseMove="moveWindow(event,'#lccPopup2')">
		<div class="popupWrap operation_popupWrap height_auto w_815px" id="lccPopup2">
			<h3>
				생애주기 비용분석 <span class="popupClose"><i class="xi-close" ng-click="lccNew.X_Cancel()"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="popup_info box-scroll" style="height: 94%;">
					<div class="clear w_98">
						<div class="w100 Form100">
							<div class="form-group">
								<label for=""><span>분석명*</span></label> 
								<input type="text" 
								ng-model="lccNew.Info.LCC_NM">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> 
								<input type="text" disabled="disabled"
								ng-model="lccNew.Info.INSERT_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일</span></label> 
								<input type="text" disabled="disabled"
								ng-model="lccNew.Info.INSERT_DT">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>분석일*</span></label>
								<input type="date" ng-model="lccNew.Info.LCC_DATE" class="ng-pristine ng-valid ng-touched">
							</div>
						</div>
					</div>
					<div class="popup_title">
						<p></p>
					</div>
					<div id="progressbar" class="ui-progressbar ui-corner-all ui-widget ui-widget-content mb-2 bg-secondary" style="position: relative;">
						<span class="progress_msg font-weight-bold text-white small">
						{{lccNew.Info.Msg}}
						</span>
					</div>
					<div class="btn_wrap text-center mb-2">
						<button type="button" class="btn btn-block btn-primary" ng-click="lccNew.Start()">분석시작</button>
						<button type="button" class="btn btn-block btn_sky" ng-click="lccNew.Pause()">분석중지</button>
						<button type="button" class="btn btn-block btn-danger" ng-click="lccNew.Cancel()">취소</button>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- <div ng-include="'./view/new_diagnosis/lcc_details_popup.html'" ></div>
<div ng-include="'./view/new_diagnosis/lcc_dscnt_popup.html'" ng-show = "dscntPopup.isShow" ng-controller = "dscntController"></div> -->
