<section class="popupSection" onMouseMove="moveWindow(event,'#lccPopup3')">
	<div class="popupWrap operation_popupWrap height_auto w_40" id="lccPopup3">
		<h3>
			생애주기 비용분석 <span class="popupClose"><i class="xi-close" ng-click="lccDetails.Cancel()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="popup_info box-scroll" style="height: 720px;">
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>분 석 명</span></label> <input type="text" readonly="readonly" ng-model="lcc.Info.LCC_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" readonly="readonly" ng-model="lcc.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text" readonly="readonly" ng-model="lcc.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="table_wrap my-1">
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">{{lccDetails.Info.ASSET_NM}}</div>
						</div>
					</div>
					<div class="fixed-table-container" style="height: 260px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
									<col width="11%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="11%"><div class="th-text">연도</div></th>
										<th width="11%"><div class="th-text">초기투자비</div></th>
										<th width="11%"><div class="th-text">운영비</div></th>
										<th width="11%"><div class="th-text">유지비</div></th>
										<th width="11%"><div class="th-text">수리비</div></th>
										<th width="11%"><div class="th-text">개량비</div></th>
										<th width="11%"><div class="th-text">해체폐기비</div></th>
										<th width="11%"><div class="th-text">연간합계</div></th>
										<th width="11%"><div class="th-text">연간누적</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="Detail in lccDetails.List track by $index">
										<td class="font-weight-bold">{{Detail.YYYY}}</td>
										<td class="font-weight-bold">{{Detail.INIT_COST}}</td>
										<td class="font-weight-bold">{{Detail.OP_COST}}</td>
										<td class="font-weight-bold">{{Detail.MT_COST}}</td>
										<td class="font-weight-bold">{{Detail.RE_COST}}</td>
										<td class="font-weight-bold">{{Detail.IMP_COST}}</td>
										<td class="font-weight-bold">{{Detail.DI_COST}}</td>
										<td class="font-weight-bold">{{Detail.YYYY_TOTAL}}</td>
										<td class="font-weight-bold">{{Detail.TOTAL}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div style="padding-right: 18px;" class="mb-5">
							<table class="fixedTbl">
								<tbody>
									<tr>
										<td class="font-weight-bold">합계</td>
										<td class="font-weight-bold">초기투자비용</td>
										<td class="font-weight-bold">운영비</td>
										<td class="font-weight-bold">유지비</td>
										<td class="font-weight-bold">수리비</td>
										<td class="font-weight-bold">개량비</td>
										<td class="font-weight-bold">해체폐기비</td>
										<td class="font-weight-bold">연간합계</td>
										<td class="font-weight-bold">연간누적</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div id="Graph" class="border_color p-2" style="height: 260px;"></div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="lccDetails.Report()">보고서</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="lccDetails.Confirm()">확인</button>
				</div>
			</div>
		</div>
	</div>
</section>