<section class="popupSection" onMouseMove="moveWindow(event,'#lifePopup3')">
		<div class="popupWrap operation_popupWrap w_815px h-auto" id="lifePopup3">
			<h3>
				물리적 잔존수명 조정요율표 설정 <span class="popupClose"><i
					class="xi-close" ng-click="Life_Spec_Popup.Cancel()"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info">
					<div class="popup_title">
						<p>물리적 잔존수명 조정요율표 설정</p>
					</div>
					<div class="clear w_98 mt-2">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가기준명 *</span></label> 
								<input type="text"
								ng-model = "Life_Spec_Popup.Info.EST_SPEC_NM">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자 *</span></label> 
								<input type="text" class="datePicker" readonly="readonly"
								ng-model="Life_Spec_Popup.Info.APPLY_DT">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> 
								<input type="text" disabled="disabled"
								ng-model="Life_Spec_Popup.Info.INSERT_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> 
								<input type="text" disabled="disabled"
								ng-model="Life_Spec_Popup.Info.INSERT_DT">
							</div>
						</div>
					</div>
					<div class="min_tab min_tab4">
						<ul class="tabs tabs_2">
							<li>
								<button id="tab2_1_btn_p" class="active" data-tab="tab2_1_p">CAP1(단순)</button>
							</li>
							<li>
								<button id="tab2_2_btn_p" data-tab="tab2_2_p">CAP1(다중)</button>
							</li>
							<li>
								<button id="tab2_3_btn_p" data-tab="tab2_3_p">CAP2</button>
							</li>
						</ul>
					</div>
					<div id="tab2_1_p">
						<div class="table_wrap w_98 mt-2">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="10%">
									<col width="15%">
									<col width="25%">
									<col width="25%">
									<col width="25%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th rowspan="2">상태등급</th>
										<th rowspan="2">상태판단</th>
										<th>초기</th>
										<th>중기</th>
										<th>말기</th>
									</tr>
									<tr class="text-center">
										<th>내구연한<br>35% 미만</th>
										<th>내구연한<br>35% 이상 65% 이하</th>
										<th>내구연한<br>65% 초과</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="CAP1 in Life_Spec_Popup.CAP1List track by $index">
										<td class="td_back_color">{{CAP1.LIFE_STATE_GRADE}}</td>
										<td class="td_back_color">{{CAP1.CAP1_STATE_NM}}</td>
										<td><input type="text" class="w100" numbers-only ng-model = "CAP1.EARLY"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "CAP1.MIDDLE"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "CAP1.LATE"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="tab2_2_p" style="display: none;">
						<div class="table_wrap w_98 mt-2">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="10%">
									<col width="30%">
									<col width="30%">
									<col width="30%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th rowspan="2">상태등급</th>
										<th>초기</th>
										<th>중기</th>
										<th>말기</th>
									</tr>
									<tr class="text-center">
										<th>내구연한<br>35% 미만</th>
										<th>내구연한<br>35% 이상 65% 이하</th>
										<th>내구연한<br>65% 초과</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="CAP1_1 in Life_Spec_Popup.CAP1_1List track by $index">
										<td class="td_back_color">{{CAP1_1.LIFE_STATE_GRADE}}</td>
										<td><input type="text" class="w100" numbers-only ng-model = "CAP1_1.EARLY"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "CAP1_1.MIDDLE"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "CAP1_1.LATE"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="w_98 font-weight-bold small">※ CAP1(다중) 상태등급 판단기준</p>
						<div class="table_wrap w_98" style="height: 200px; overflow-y: auto;">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="10%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th>구분</th>
										<th>1</th>
										<th>3</th>
										<th>5</th>
										<th>7</th>
										<th>9</th>
										<th>10</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>물리적<br>상태</td>
										<td>현재 요구사항을 충분히 초과</td>
										<td>현재 요구사항을 초과</td>
										<td>현재 요구사항을 충족하지만 개선 여지가 있음</td>
										<td>명백한 우려. 비용/이익 의문</td>
										<td>기능부족. 효과아 없어짐(폐물)</td>
										<td>고장. 필요한 성능을 유지할 능력이 없음</td>
									</tr>
									<tr>
										<td>운영적<br>성능</td>
										<td>무시할 만한 주의가 필요 함</td>
										<td>현재 요구사항을 초과함</td>
										<td>현재 요구사항을 충족하지만 개선 여지가 있음</td>
										<td>명백한 우려. 비용/이익 의문</td>
										<td>성능 유지가 어려움</td>
										<td>고장. 필요한 성능을 유지할 능력이 없음</td>
									</tr>
									<tr>
										<td>신뢰성</td>
										<td>제조업체가 지정한 대로 작동</td>
										<td>가끔 고장</td>
										<td>수시 고장</td>
										<td>주기적 고장</td>
										<td>지속적, 반복적 고장</td>
										<td>사실상 작동 불능</td>
									</tr>
									<tr>
										<td>유효성</td>
										<td>실제로 항상 작동</td>
										<td>매우 짧은 기간 동안만 서비스가 중단됨</td>
										<td>적당한 기간 동안 서비스가 중단됨. 서비스로 돌아가기 다소 어려움</td>
										<td>서비스로 다시 돌아오기가 점점 어려워짐. 부품에 문제가 됨.</td>
										<td>광범위한 중단 시간. 서비스하기에 어려움. 부품 조달 곤란. 특수한 기술이 요구됨.</td>
										<td>서비스로 복귀하는 것은 사실상 불가능. 더 이상 사용할 수 없는 부품.</td>
									</tr>
									<tr>
										<td>유지<br>보수성</td>
										<td>오직 예방 유지보수. 기본 모니터링</td>
										<td>대다수 PM. 약간의 수리</td>
										<td>사소한 교정. 유지 보수 필요 증가. 모니터링 간격 단축</td>
										<td>예측 및 교정 유지 보수가 위주가 됨. 작업 지시 빈도가 크게 증가 함.</td>
										<td>작업 유형은 자산유형에 대해 평균 이상. 쟆발성 사소한 수선. 근접 모니터링 필요.</td>
										<td>교정 유지보수는 반복되는 고장 패턴에서 빈번함. 자산은 사실상 끊임없이 모니터링 되거나 "고장 날때까지 운영" 대응이 준비되어 있어야함.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="tab2_3_p" style="height: 280px; display: none;">
						<div class="table_wrap w_98 mt-2">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th>종합<br>평가<br>점수</th>
										<th>0~10</th>
										<th>11-20</th>
										<th>21~30</th>
										<th>31~40</th>
										<th>41~50</th>
										<th>51~60</th>
										<th>61~70</th>
										<th>71~80</th>
										<th>81~90</th>
										<th>91~100</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="td_back_color">조정요율</td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.J"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.Y"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.H"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.G"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.F"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.E"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.D"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.C"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.B"></td>
										<td><input type="text" class="w100" numbers-only ng-model = "Life_Spec_Popup.CAP2.A"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="Life_Spec_Popup.Save()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="Life_Spec_Popup.Cancel()">취소</button>
				</div>
			</div>
		</div>
	</section>