<section class="popupSection" onMouseMove="moveWindow(event,'#lifePopup2')">
	<div class="popupWrap operation_popupWrap risk_popupWrap w_815px h-auto" id="lifePopup2">
		<h3>
			상태등급 관리
			<span class="popupClose"><i class="xi-close" ng-click="Life_Ranking_popup.Cancel()"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info box-scroll">
				<div></div>
				<div class="clear mt-3 w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>작 성 자</span></label>
                            <input type="text" 
                            disabled="disabled"
                            ng-model = "Life_Ranking_popup.Info.UPDATE_ID">
                         </div>
                    </div>
                    <div class="half_formB fm_w50"> 
                        <div class="form-group">
                            <label for=""><span>작성일자</span></label>
                            <input type="text"
                            disabled="disabled"
                            ng-model = "Life_Ranking_popup.Info.UPDATE_DT">
                        </div>
                   </div>
                </div>
                <!-- 그리드 -->
                <div class="grid table-responsive table_scroll">
           		<div class="grid" class="table">
           		</div>
				<table id="list5"></table>
			</div>
			<div id="listPager5"></div>
			<div id="list5_page"></div>
				<div class="btn_wrap pr-1 mt-2">
					<button type="button" class="btn btn-block btn-danger" ng-click="Life_Ranking_popup.Reset()">초기화</button>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success"ng-click="Life_Ranking_popup.Save()">저장</button>
				 <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="Life_Ranking_popup.Cancel()">취소</button> 
			</div>
		</div>
	</div>
</section>