<section class="popupSection" onMouseMove="moveWindow(event,'#lifePopup1')">
	<div class="popupWrap operation_popupWrap risk_popupWrap w_90 h-auto" id="lifePopup1">
		<h3>
			잔존수명 예측 평가
			<span class="popupClose"><i class="xi-close" ng-click="Life_popup.Cancel()"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info box-scroll">
				<div class="popup_title">
					<p>잔존수명 예측 평가</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명 *</span></label> 
							<input type="text" maxlength="200"
							 ng-model = "Life_popup.Info.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>작성자</span></label>
                            <input type="text" 
                            disabled="disabled"
                            ng-model = "Life_popup.Info.INSERT_ID">
                         </div>
                    </div>
                    <div class="half_formB fm_w50"> 
                        <div class="form-group">
                            <label for=""><span>작성일자</span></label>
                            <input type="text"
                            disabled="disabled"
                            ng-model = "Life_popup.Info.INSERT_DT">
                        </div>
                   </div>
                </div>
                <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>평가년월 *</span></label>
                            <select style="width:35% !important; margin-right: 3px;"
                            ng-model = "Life_popup.Info.YEAR"
                            ng-change="Life_popup.YYYYMMChange()">
                            	<option value="2022">2022년</option>
                            	<option value="2021">2021년</option>
                            	<option value="2020">2020년</option>
                            	<option value="2019">2019년</option>
                            </select>
                            <select style="width:24.5% !important;"
                             ng-model = "Life_popup.Info.MONTH"
                             ng-change="Life_popup.YYYYMMChange()">
                            	<option value="01">01월</option>
                            	<option value="02">02월</option>
                            	<option value="03">03월</option>
                            	<option value="04">04월</option>
                            	<option value="05">05월</option>
                            	<option value="06">06월</option>
                            	<option value="07">07월</option>
                            	<option value="08">08월</option>
                            	<option value="09">09월</option>
                            	<option value="10">10월</option>
                            	<option value="11">11월</option>
                            	<option value="12">12월</option>
                            </select>
                         </div>
                    </div>
                </div>
                <!-- 그리드 -->
        	<div class="grid table-responsive">
				<table id="list3"></table>
			</div>
			<div id="listPager3"></div>
			<div id="list3_page"></div>
				<div class="btn_wrap mt-2">
					<button type="button" class="btn btn-block btn-primary" ng-click="Life_popup.Import()">가져오기</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="Life_popup.Output()">양식출력</button>
					<!-- <button type="button" class="btn btn-block btn-primary" ng-click="Life_popup.Result()">결과등록</button> -->
					<input type="file" tabindex="-1" __afu_gen__="true" style="width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;">
					<button type="button" class="btn btn-block btn-primary" 
					for="input_result" id="input_result" __refelem__="true" style="overflow: hidden;"
					ng-file-select="Life_popup.OnFileSelect($files, 'xls|xlsx|pdf|hwp',2)" 
					ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" 
					accept=".xls,.xlsx,.pdf,.hwp" >결과등록</button>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success"ng-click="Life_popup.Start()">평가시작</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="Life_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>