
<section class="popupSection" onMouseMove="moveWindow(event,'#losPopup3')">
	<div class="popupWrap operation_popupWrap w_815px" id="losPopup3">
		<h3>
			가중치 결과 {{saveType}}<span class="popupClose"><i class="xi-close" ng-click="Los_popup2.Cancel()"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info">
				<div class="popup_title">
					<p>가중치 결과 및 선택</p>
				</div>
				<div class="clear w_98 mt-2">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>기준명 *</span></label> 
							<input type="text" 
							ng-model="Los_popup2.Info.WEIGHT_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>가중치 적용</span></label>
							<select ng-model="Los_popup2.Info.CHOICE_YN" 
							ng-options="option.Value as option.Name for option in Los_popup2.SelectOption">
							</select>
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> 
							<input type="text" disabled="disabled"
							ng-model="Los_popup2.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> 
							<input type="text" disabled="disabled"
							ng-model="Los_popup2.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>수정자</span></label> 
							<input type="text" disabled="disabled"
							ng-model="Los_popup2.Info.UPDATE_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>수정일자</span></label> 
							<input type="text" disabled="disabled"
							ng-model="Los_popup2.Info.UPDATE_DT">
						</div>
					</div>
				</div>
				<div class="table_wrap m-2">
					<table class="table_basic">
						<colgroup>
							<col width="10%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
						</colgroup>
						<thead>
							<tr>
								<th class="text-center" colspan="7">가중치 (적용 값)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="font-weight-bold">분석항목</td>
								<td>상수도 <br>인력</td>
								<td>상수도 <br>시설 점검</td>
								<td>상수도 <br>운영 효율</td>
								<td>민원<br>서비스</td>
								<td>수도시설 <br>환경문제 저감</td>
								<td>수도사업소<br> 재정 확보</td>
							</tr>
							<tr>
								<td class=" font-weight-bold">가중치</td>
								<td>{{Los_popup2.WeightInfo[0].WEIGHT_VAL}}</td>
								<td>{{Los_popup2.WeightInfo[1].WEIGHT_VAL}}</td>
								<td>{{Los_popup2.WeightInfo[2].WEIGHT_VAL}}</td>
								<td>{{Los_popup2.WeightInfo[3].WEIGHT_VAL}}</td>
								<td>{{Los_popup2.WeightInfo[4].WEIGHT_VAL}}</td>
								<td>{{Los_popup2.WeightInfo[5].WEIGHT_VAL}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="table_wrap mt-2 w_98 table_wrap table-responsive table_scroll border_color mb-2" style="height: 410px;">
					<table class="table table_basic table_style table_sticky mb-0">
						<colgroup>
							<col width="32.5%">
							<col width="7%">
							<col width="7%">
							<col width="7%">
							<col width="7%">
							<col width="7%">
							<col width="32.5%">
						</colgroup>
						<thead>
							<tr class="text-center">
								<th rowspan="2" class="">항목</th>
								<th colspan="5" class="">상대적 중요도</th>
								<th rowspan="2" class="">항목</th>
							</tr>
							<tr class="text-center">
								<th class="">3</th>
								<th class="">2</th>
								<th class="">1</th>
								<th class="">2</th>
								<th class="">3</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="WEIGHT in Los_popup2.WeightOptionList track by $index">
								<td>{{WEIGHT.LOS_ITEM_NM}}</td>
								<td ng-repeat="WEIGHTbox in WEIGHT.WEIGHT_YN track by $index">
									<div>
										<input class="h-auto align-text-bottom" type="checkbox" 
										ng-model="WEIGHT.WEIGHT_YN[$index]" 
										ng-change="Los_popup2.Change(WEIGHT, $index, $parent.$index)">
									</div>
								</td>
								<td>{{WEIGHT.COMPARE_ITEM_NM}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<p class="font-weight-bold text-danger small m-2" ng-show="Los_popup2.isConsistency">일관성이 없습니다. 다시
					선택해 주십시오</p>
				<p class="font-weight-bold text-danger small m-2" ng-show="Los_popup2.isSelect">항목을 선택해 주세요</p>
					
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn_nv" ng-disabled="Los_popup2.isConsistency" ng-click="Los_popup2.Analysis()">분석</button>
				<button type="button" class="btn btn-block btn-success" ng-click="Los_popup2.Save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="Los_popup2.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>