
	<section class="popupSection" onMouseMove="moveWindow(event,'#losPopup1')">
		<div class="popupWrap operation_popupWrap" id="losPopup1">
			<h3>
				가중치 분석 <span class="popupClose"><i class="xi-close" ng-click="los_popup.Cancel()"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info">
					<div class="popup_title">
						<p>분석 항목 가중치 설정</p>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>사업장</span></label> <input type="text" 
								ng-model="los_popup.Info.xx">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>분석일자</span></label> <input type="text" readonly="readonly"
								ng-model="los_popup.Info.YYYYMMDD">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text" readonly="readonly"
								ng-model="los_popup.Info.INSERT_ID">
							</div>
						</div>
					</div>
					<div class="table_wrap mt-2 w_98 box-scorll" style="height: 79%;">
						<table class="fixedTbl table_basic">
							<thead>
							<colgroup>
								<col width="32.5%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="32.5%">
							</colgroup>
							</thead>
							<tbody>
								<tr class="text-center">
									<th rowspan="2" class="p-1">항목</th>
									<th colspan="5" class="p-1">상대적 중요도</th>
									<th rowspan="2" class="p-1">항목</th>
								</tr>
								<tr class="text-center">
									<th class="p-1">3</th>
									<th class="p-1">2</th>
									<th class="p-1">1</th>
									<th class="p-1">2</th>
									<th class="p-1">3</th>
								</tr>
								<tr ng-repeat="WEIGHT in los_popup.List track by $index">
									<td class="p-1">{{WEIGHT.CATEGORY_01}}</td>
									<td class="p-1" ng-repeat="WEIGHTbox in WEIGHT.WEIGHT_YN track by $index">
										<div>
											<input type="checkbox" ng-model="WEIGHT.WEIGHT_YN[$index]"ng-change="los_popup.Change(WEIGHT, $index, $parent.$index)">
										</div>
									</td>
									<td class="p-1">{{WEIGHT.CATEGORY_02}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="font-weight-bold text-danger small m-2" ng-if="los_popup.isNext">일관성이 없습니다. 다시
						선택해 주십시오</p>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn_sky" ng-click="los_popup.Load()">불러오기</button>
					<button type="button" class="btn btn-block btn-success" ng-disabled="los_popup.isNext" ng-click="los_popup.Save()">분석/저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="los_popup.Cancel()">취소</button>
				</div>
			</div>
		</div>
	</section>
	
	<section class="popupSection" ng-show="los_Result_popup.Show" onMouseMove="moveWindow(event,'#losPopup2')">
		<div class="popupWrap operation_popupWrap" style="width: 50%;" id="losPopup2">
			<h3>
				가중치 결과 <span class="popupClose"><i class="xi-close" ng-click="los_Result_popup.Cancel()"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info">
					<div class="popup_title">
						<p>가중치 결과 및 선택</p>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>사업장</span></label> <input
									type="text" readonly="readonly">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>사용자</span></label> <input
									type="text" readonly="readonly" ng-model="los_Result_popup.Info.INSERT_ID">
							</div>
						</div>
					</div>
					<div class="table_wrap m-2">
						<table class="table_basic">
							<thead>
								<colgroup>
									<col width="10%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
								</colgroup>	
							</thead>
							<tbody>
								<tr>
									<th class="text-center p-1" rowspan="3">가중치</th>
									<th class="text-center p-1" colspan="6">가중치 (적용 값)</th>
								</tr>
								<tr>
									<td class="p-1 font-weight-bold">분석항목</td>
									<td class="p-1">상수도 인력</td>
									<td class="p-1">상수도 시설 점검</td>
									<td class="p-1">상수도 운영 효율</td>
									<td class="p-1">수도시설 환경문제 저감</td>
									<td class="p-1">수도사업소 재정 확보</td>
								</tr>
								<tr>
									<td class="p-1 font-weight-bold">가중치</td>
									<td class="p-1">{{los_Result_popup.picInfo.WEIGHT_VAL[0]}}</td>
									<td class="p-1">{{los_Result_popup.picInfo.WEIGHT_VAL[1]}}</td>
									<td class="p-1">{{los_Result_popup.picInfo.WEIGHT_VAL[2]}}</td>
									<td class="p-1">{{los_Result_popup.picInfo.WEIGHT_VAL[3]}}</td>
									<td class="p-1">{{los_Result_popup.picInfo.WEIGHT_VAL[4]}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table_wrap box-scroll m-2 mt-0">
						<table class="fixedTbl table_basic">
						<colgroup>
									<col width="5%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="15%">
									<col width="15%">
									<col width="15%">
							</colgroup>
							<thead>
								<tr>
									<th class="p-1 text-center">선택</th>
									<th class="p-1 text-center">분석일</th>
									<th class="p-1 text-center">작성자</th>
									<th class="p-1 text-center" colspan="6">가중치</th>
								</tr>
							</thead>
							<tbody ng-repeat = "Result in los_Result_popup.List track by $index" ng-click="los_Result_popup.Click($index)">
								<tr>
									<td class="p-1" rowspan="2"><input type="checkbox" ng-model="Result.YN"></td>
									<td class="p-1" rowspan="2">{{Result.YYYYMMDD}}</td>
									<td class="p-1" rowspan="2">{{Result.INSERT_ID}}</td>
									<td class="p-1 font-weight-bold">분석항목</td>
									<td class="p-1">상수도 인력</td>
									<td class="p-1">상수도 시설 점검</td>
									<td class="p-1">상수도 운영 효율</td>
									<td class="p-1">수도시설 환경문제 저감</td>
									<td class="p-1">수도사업소 재정 확보</td>
								</tr>
								<tr>
									<td class="p-1 font-weight-bold">가중치</td>
									<td class="p-1">{{Result.WEIGHT_VAL[0]}}</td>
									<td class="p-1">{{Result.WEIGHT_VAL[1]}}</td>
									<td class="p-1">{{Result.WEIGHT_VAL[2]}}</td>
									<td class="p-1">{{Result.WEIGHT_VAL[3]}}</td>
									<td class="p-1">{{Result.WEIGHT_VAL[4]}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="popupBtnWrap mb-2" style="position: relative;">
					<button type="button" class="btn btn-block btn-danger btn_left">삭제</button>
					<button type="button" class="btn btn-block btn-success">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="los_Result_popup.Cancel()">취소</button>
				</div>
			</div>
		</div>
	</section>