<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 서비스 분석 결과
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear position_R">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio" style="width: auto !important;">
									<input kr-input type="radio" class="custom-control-input" name="" id="FN_radio0" ng-model="LevelInfo.FN_CD" value="" ng-disabled="isDisabled" disabled="disabled"> <label class="custom-control-label" for="FN_radio0" style="left: 30%; top: 0;"><span class="pdr_26">연도</span></label> 
									<select ng-init="GCODE=''" style="width: 130px !important;">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==selectYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio" style="width: auto !important; height: 29px;">
									<input type="radio" class="custom-control-input
										name=" id="FN_radio1" ng-model="LevelInfo.FN_CD" value="F" ng-disabled="isDisabled" disabled="disabled"> <label class="custom-control-label" for="FN_radio1" style="left: 13%; top: 0;"><span class="pr-2">기간선택</span></label> <input type="text" class="datePicker" id="sm_cdate" name="sm_cdate" style="width: 130px !important;"> <label class="formSlash" style="min-width: auto !important; text-align: center;"> <span>~</span>
									</label> <input type="text" class="datePicker" id="sm_cdate" name="sm_cdate" style="width: 130px !important;">
								</div>
							</div>
						</div>
						<div class="text-right" style="position: absolute; top: 50%; transform: translateY(-60%); right: 0;">
							<button class="btn btn_nv" ng-click="">조회</button>
							<button class="btn btn-danger" ng-click="">삭제</button>
							<button class="btn btn_gr" ng-click="">엑셀</button>
						</div>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button id="tab1_btn_M" class="active" data-tab="tab1_M">평가관리</button>
					</li>
					<li>
						<button id="tab2_btn_M" data-tab="tab2_M">가중치 관리</button>
					</li>
				</ul>
			</div>
			<div class="conts_box" id="tab1_M">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 서비스 수준 분석
						</p>
					</div>
				</div>
				<div class="clear w_98 mt-2">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>사업장</span></label> <input type="text">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가년도</span></label> <input type="text">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>수정자</span></label> <input type="text">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>수정일자</span></label> <input type="text">
						</div>
					</div>
				</div>
				<div class="min_tab min_tab3 text-center">
					<ul class="tabs tabs_2">
						<li>
							<button id="tab1_btn" class="active" data-tab="tab1">인력</button>
						</li>
						<li>
							<button id="tab2_btn" data-tab="tab2">시설</button>
						</li>
						<li>
							<button id="tab3_btn" data-tab="tab3">운영</button>
						</li>
						<li>
							<button id="tab4_btn" data-tab="tab4">서비스</button>
						</li>
						<li>
							<button id="tab5_btn" data-tab="tab5">환경</button>
						</li>
						<li>
							<button id="tab6_btn" data-tab="tab6">재정</button>
						</li>
					</ul>
				</div>
				<div class="conts_box" id="tab1">
					<div class="fixed-table-container w_98 mb-2 mt-1" style="height: 300px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="5%">
									<col width="25%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
									<col width="15%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="5%"><div class="th-text">순번</div></th>
										<th width="25%"><div class="th-text">서비스 평가 항목</div></th>
										<th width="10%"><div class="th-text">단위</div></th>
										<th width="10%"><div class="th-text">목표</div></th>
										<th width="10%"><div class="th-text">결과</div></th>
										<th width="10%"><div class="th-text">신뢰도</div></th>
										<th width="15%"><div class="th-text">가중치</div></th>
										<th width="15%"><div class="th-text">LoS 결과</div></th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					<div class="border_color w_98 mb-2" style="height: 200px;">그래프</div>
				</div>
				<div class="conts_box" id="tab2" style="display: none;">
					<div class="border_color w_98 mb-2" style="height: 200px;">그래프</div>
				</div>
				<div class="conts_box" id="tab3" style="display: none;">
					<div class="border_color w_98 mb-2" style="height: 200px;">그래프</div>
				</div>
				<div class="conts_box" id="tab4" style="display: none;">
					<div class="border_color w_98 mb-2" style="height: 200px;">그래프</div>
				</div>
				<div class="conts_box" id="tab5" style="display: none;">
					<div class="border_color w_98 mb-2" style="height: 200px;">그래프</div>
				</div>
				<div class="conts_box" id="tab6" style="display: none;">
					<div class="border_color w_98 mb-2" style="height: 200px;">그래프</div>
				</div>
				<div class="text-right" style="padding-right: 10px;">
					<button class="btn btn_sky" ng-click="">신규평가</button>
					<button class="btn btn_nv" ng-click="">이어하기</button>
					<button class="btn btn-info" ng-click="">보고서</button>
				</div>
			</div>
			<div class="conts_box" id="tab2_M" style="display: none;">
				<div class="conts_in" style="height: 500px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 가중치 분석
							</p>
						</div>
					</div>
					<div class="clear w_98 mt-2">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>기준명</span></label> <input type="text">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용여부</span></label> <input type="text">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input type="text">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>수정자</span></label> <input type="text">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>수정일자</span></label> <input type="text">
							</div>
						</div>
					</div>
					<div class="table_wrap w_98">
						<table class="table_basic">
							<colgroup>
								<col width="15%">
								<col width="17%">
								<col width="17%">
								<col width="17%">
								<col width="17%">
								<col width="17%">
							</colgroup>
							<thead>
								<tr>
									<th class="text-center" colspan="6">가중치 (적용 값)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="font-weight-bold">분석항목</td>
									<td>상수도 인력</td>
									<td>상수도 시설 점검</td>
									<td>상수도 운영 효율</td>
									<td>수도시설 환경문제 저감</td>
									<td>수도사업소 재정 확보</td>
								</tr>
								<tr>
									<td class=" font-weight-bold">가중치</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table_wrap mt-2 w_98 table_wrap table-responsive table_scroll border_color mb-2" style="height: 210px;">
						<table class="table table_basic table_style table_sticky mb-0">
							<colgroup>
								<col width="32.5%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="7%">
								<col width="32.5%">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th rowspan="2" class="">항목</th>
									<th colspan="5" class="">상대적 중요도</th>
									<th rowspan="2" class="">항목</th>
								</tr>
								<tr class="text-center">
									<th class="">3</th>
									<th class="">2</th>
									<th class="">1</th>
									<th class="">2</th>
									<th class="">3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>상수도 선택</td>
									<td><input type="checkbox" class="h-auto align-text-bottom" disabled></td>
									<td><input type="checkbox" class="h-auto align-text-bottom" disabled></td>
									<td><input type="checkbox" class="h-auto align-text-bottom" disabled></td>
									<td><input type="checkbox" class="h-auto align-text-bottom" disabled></td>
									<td><input type="checkbox" class="h-auto align-text-bottom" disabled></td>
									<td>상수도 시설 변경</td>
								</tr>
								<tr>
									<td>상수도 선택</td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td>상수도 시설 변경</td>
								</tr>
								<tr>
									<td>상수도 선택</td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td>상수도 시설 변경</td>
								</tr>
								<tr>
									<td>상수도 선택</td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td>상수도 시설 변경</td>
								</tr>
								<tr>
									<td>상수도 선택</td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td>상수도 시설 변경</td>
								</tr>
								<tr>
									<td>상수도 선택</td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td><input type="checkbox" class="h-auto align-text-bottom"></td>
									<td>상수도 시설 변경</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="float_R" style="padding-right: 10px;">
						<button class="btn btn_sky">신규</button>
						<button class="btn btn_nv">수정</button>
					</div>
				</div>
				<div class="conts_in" style="height: 205px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 가중치 분석 이력 관리
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1" style="height: 120px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="10%">
									<col width="45%">
									<col width="20%">
									<col width="10%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="45%"><div class="th-text">평가기준명</div></th>
										<th width="20%"><div class="th-text">적용여부</div></th>
										<th width="10%"><div class="th-text">작성자</div></th>
										<th width="15%"><div class="th-text">작성일자</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in storeFileList">
										<td class="ct"></td>
										<td class="ct"></td>
										<td class="ct"></td>
										<td class="ct"></td>
										<td class="ct"></td>
									</tr>
									<tr ng-if="storeFileList.length == 0">
										<td class="ct" colspan="4">데이터가 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="float_R" style="padding-right: 10px;">
						<button class="btn btn-info">출력</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
