<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 자산가치 재평가 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
									<div class="custom-control custom-radio"
									style="width: auto !important;padding-right: 30px !important;" 
									ng-click="Serch.Select(1)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==1"> <label
										class="custom-control-label" 
										style="left: 35%; top: 0;"> <span class="pdr_26">연도</span>
									</label>
									<select style="width: 100px !important;"
										ng-model="Serch.Info.YEAR">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==Serch.Info.YEAR" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;"
									ng-click="Serch.Select(2)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==2">
										<label class="custom-control-label" style="left: 13%; top: 0;"> <span class="pr-2">기간선택</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;"
										ng-model="Serch.Info.START_DT" id="Serch_START_DT"> 
										<label class="formSlash" style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" readonly class="datePicker" 
										style="width: 130px !important;"
										ng-model="Serch.Info.END_DT" id="Serch_END_DT">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>평가명</span></label> <input kr-input
								type="text" ng-model="Serch.Info.EST_NM" maxlength="10"
								style="width: 538px;" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView" ng-click="Serch.Lookup()">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="Serch.Delete()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="Serch.Output()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1">평가
							관리</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2">물가지수 관리</button>
					</li>
<!-- 					<li>
						<button id="tab3_btn" data-tab="tab3">가중치 기준 관리</button>
					</li> -->
				</ul>
			</div>
			
			<div class="conts_box main_conts" id="tab1" style="width: 100%;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 자산가치 재평가
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명</span></label> 
							<input type="text"maxlength="200" readonly="readonly" 
							ng-model="Evaluation_Management.Info.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> 
							<input type="text"maxlength="200" readonly="readonly" 
							ng-model="Evaluation_Management.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> 
							<input type="text"maxlength="200" readonly="readonly" 
							ng-model="Evaluation_Management.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가년월</span></label> 
							<input type="text"style="width: 34% !important; margin-right: 3px;" readonly="readonly" 
							ng-model="Evaluation_Management.Info.EST_YYYY">
							<input type="text" style="width: 25% !important;"readonly="readonly" 
							ng-model="Evaluation_Management.Info.EST_MM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>가중치기준</span></label> 
							<input type="text" readonly="readonly" ng-model="Evaluation_Management.Info.WEIGHT_SPEC_NM">
						</div>
					</div>
				</div>
				<div class="min_tab text-center min_tab4">
					<ul class="tabs tabs_2">
						<li>
							<button id="tab1_1_btn" ng-click="(PAGE = 1)" data-tab="tab1_1" class="active">시설</button>
						</li>
						<li>
							<button id="tab1_2_btn" ng-click="(PAGE = 2)" data-tab="tab1_2">관망</button>
						</li>
						<li>
							<button id="tab1_3_btn" ng-click="(PAGE = 3)" data-tab="tab1_3">세부</button>
						</li>
					</ul>
				</div>
				<div id="tab1_1">
					<div class="table_wrap table-responsive table_scroll w_98 my-2" style="height: 450px;">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">항목</th>
									<th colspan="5">자산가치별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>50만원 미만</th>
									<th>50만원 이상 ~<br> 100만원 미만</th>
									<th>100만원 이상 ~<br> 500만원 미만</th>
									<th>500만원 이상</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" item in AssetGroupList1">
									<th class="text-center">{{item.LEVEL_NM}}</th>
									<td>{{item.G1}}</td>
									<td>{{item.G2}}</td>
									<td>{{item.G3}}</td>
									<td>{{item.G4}}</td>
									<td>{{item.G1+item.G2+item.G3+item.G4}}</td>
								</tr>
								<tr>
									<th class="text-center">합계</th>
									<td>{{tot1G1}}</td>
									<td>{{tot1G2}}</td>
									<td>{{tot1G3}}</td>
									<td>{{tot1G4}}</td>
									<td>{{tot1G1 + tot1G2 + tot1G3 + tot1G4}}</td>
								</tr>								
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab1_2" style="display: none;">
					<div class="table_wrap table-responsive table_scroll w_98 my-2">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">항목</th>
									<th colspan="5">자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>50만원 미만</th>
									<th>50만원 이상 ~<br>100만원 미만</th>
									<th>100만원 이상 ~<br> 500만원 미만</th>
									<th>500만원 이상</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" item in AssetGroupList2">
									<th class="text-center">{{item.LEVEL_NM}}</th>
									<td>{{item.G1}}</td>
									<td>{{item.G2}}</td>
									<td>{{item.G3}}</td>
									<td>{{item.G4}}</td>
									<td>{{item.G1 + item.G2 + item.G3 + item.G4}}</td>
								</tr>
								<tr>
									<th class="text-center">합계</th>
									<td>{{tot2G1}}</td>
									<td>{{tot2G2}}</td>
									<td>{{tot2G3}}</td>
									<td>{{tot2G4}}</td>
									<td>{{tot2G1 + tot2G2 + tot2G3 + tot2G4}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab1_3" style="display: none;">
				
				<div class="clear w_98 mt-2 p-1 d-flex">
					<div class="clear w_98 d-flex">
						<div class="half_formB fm_w50 w_40">
							<div class="form-group">
								<label for=""><span>구 분</span></label> 
								<select type="text" ng-model="CLASS3_CD" class="ng-pristine ng-untouched ng-valid">
									<option value="">전체</option>
									<option value="F">시설</option>
									<option value="N">관망</option>
								</select>
							</div>
						</div>
						<div class="half_formB fm_w50 w_40">
							<div class="form-group">
								<label for=""><span>사업장/계통</span></label> 
								<select type="text" ng-model="CLASS4_CD" 
								ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  CLASS3_CD}">
								<option value="">전체</option>
								</select>
							</div>
						</div>
						<button class="btn btn_nv mt-1 mr-1 btnView" style="margin-left: auto;" ng-click="ModalCheck()">조회</button>
					</div>
				</div>
					
					<div class="grid table-responsive table_scroll_150 w_98">
						<table id="list2" class="table"></table>
					</div>
					<div id="listPager2"></div>
					<div id="list2_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnView" ng-show="(PAGE == 3)" ng-click="ModalSearch()">검색</button>
					<button class="btn btn_sky btnEdit" ng-click="Evaluation_Management.New()">신규평가</button>
					<button class="btn btn-info btnView" ng-click="Evaluation_Management.Report()">보고서</button>
				</div>
			</div>
			
			<div class="conts_box main_conts" id="tab2"
				style="display: none; width: 100%;">
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>항 목</span></label> 
								<input type="text"maxlength="200" readonly="readonly" 
								ng-model="Price_Index.Info.BASIC_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>기준지수</span></label> 
								<input type="text" readonly="readonly" 
								ng-model="Price_Index.Info.BASIC_ITEM_NM">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> 
								<input type="text" readonly="readonly" 
								ng-model="Price_Index.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> 
								<input type="text" readonly="readonly" 
								ng-model="Price_Index.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="fixed-table-container w_98 mb-2"
						style="height: 600px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="6%">
									<col width="8.32%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="6%"><div class="th-text">순번</div></th>
										<th width="8.32%"><div class="th-text backslash">년&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;월</div></th>
										<th width="7.14%"><div class="th-text">1</div></th>
										<th width="7.14%"><div class="th-text">2</div></th>
										<th width="7.14%"><div class="th-text">3</div></th>
										<th width="7.14%"><div class="th-text">4</div></th>
										<th width="7.14%"><div class="th-text">5</div></th>
										<th width="7.14%"><div class="th-text">6</div></th>
										<th width="7.14%"><div class="th-text">7</div></th>
										<th width="7.14%"><div class="th-text">8</div></th>
										<th width="7.14%"><div class="th-text">9</div></th>
										<th width="7.14%"><div class="th-text">10</div></th>
										<th width="7.14%"><div class="th-text">11</div></th>
										<th width="7.14%"><div class="th-text">12</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "yyyymm in Price_Index.List track by $index">
										<td>{{$index + 1}}</td>
										<td>{{yyyymm.YYYY}}</td>
										<td>{{yyyymm.M01 | number:3}}</td>
										<td>{{yyyymm.M02 | number:3}}</td>
										<td>{{yyyymm.M03 | number:3}}</td>
										<td>{{yyyymm.M04 | number:3}}</td>
										<td>{{yyyymm.M05 | number:3}}</td>
										<td>{{yyyymm.M06 | number:3}}</td>
										<td>{{yyyymm.M07 | number:3}}</td>
										<td>{{yyyymm.M08 | number:3}}</td>
										<td>{{yyyymm.M09 | number:3}}</td>
										<td>{{yyyymm.M10 | number:3}}</td>
										<td>{{yyyymm.M11 | number:3}}</td>
										<td>{{yyyymm.M12 | number:3}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_nv btnEdit" ng-click="Price_Index.Modify()">수정</button>
				</div>
			</div>
			<div class="conts_box verti_mid" id="tab3"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 480px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 가중치 평가기준 관리
							</p>
						</div>
					</div>
					<div class="clear w_98">
						<div class="w100 Form100">
							<div class="form-group">
								<label for=""><span>평가기준명</span></label> 
								<input type="text" readonly="readonly"
								ng-model="Weight_Standard.Info.WEIGHT_SPEC_NM">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> 
								<input type="text" readonly="readonly"
								ng-show="(Weight_Standard.Info.UPDATE_ID == null)"
								ng-model="Weight_Standard.Info.INSERT_ID"> 
								
								<input type="text" readonly="readonly"
								ng-show="(Weight_Standard.Info.UPDATE_ID != null)"
								ng-model="Weight_Standard.Info.UPDATE_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성/수정일</span></label> 
								<input type="text" readonly="readonly"
								ng-show="(Weight_Standard.Info.UPDATE_DT == null)"
								ng-model="Weight_Standard.Info.INSERT_DT"> 
								
								<input type="text" readonly="readonly"
								ng-show="(Weight_Standard.Info.UPDATE_DT != null)"
								ng-model="Weight_Standard.Info.UPDATE_DT">
							</div>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 310px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="15%">
									<col width="25%">
									<col width="10%">
									<col width="15%">
									<col width="10%">
									<col width="25%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="15%"><div class="th-text">가중치</div></th>
										<th width="85%" colspan="5"><div class="th-text">자산
												가치 구분(백만원)</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="fixprobability in Weight_Standard.List track by $index">
										<td class="ct">{{fixprobability.WEIGHT_NUM | number:1}}</td>
										<td class="ct">{{fixprobability.INPUT_VAL1 | number:0}}</td>
										<td class="ct">{{fixprobability.INPUT_SIGN1}}</td>
										<td>Data</td>
										<td class="ct">{{fixprobability.INPUT_SIGN2}}</td>
										<td class="ct">{{fixprobability.INPUT_VAL2 | number:0}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right p-2 pb-2">
						<button class="btn btn_sky btnEdit" ng-click="Weight_Standard.New()">신규</button>
						<button class="btn btn_nv btnEdit" ng-click="Weight_Standard.Modify()">수정</button>
					</div>
				</div>
				<div class="conts_in" style="height: 220px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 가중치 평가기준 목록 관리
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 135px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl" id="storeFileList"
								ng-class="{noData : storeFileList.length == 0}">
								<colgroup>
									<col width="10%">
									<col width="60%">
									<col width="10%">
									<col width="20%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="60%"><div class="th-text">평가기준명</div></th>
										<th width="10%"><div class="th-text">작성자</div></th>
										<th width="20%"><div class="th-text">작성/수정일자</div></th>
									</tr>
								</thead>
								<tbody>
								<tr ng-click="Weight_Standard.WeightListClick($index);clickTable($event)"  class="{{($index == 0)? 'active': ''}}" ng-repeat="Weight in Weight_Standard.WeightList track by $index">
										<td class="ct">{{$index + 1}}</td>
										<td class="ct">{{Weight.WEIGHT_SPEC_NM}}</td>
										
										<td class="ct" ng-show = "(Weight.UPDATE_ID==null)">{{Weight.INSERT_ID}}</td>
										<td class="ct" ng-show = "(Weight.UPDATE_DT==null)">{{Weight.INSERT_DT}}</td>
										
										<td class="ct" ng-show = "(Weight.UPDATE_ID!=null)">{{Weight.UPDATE_ID}}</td>
										<td class="ct" ng-show = "(Weight.UPDATE_DT!=null)">{{Weight.UPDATE_DT}}</td>
								</tr>
									<!-- ngRepeat: file in storeFileList -->
									<!-- ngIf: storeFileList.length == 0 -->
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right p-2 pb-2">
						<button class="btn btn_gr btnView" ng-click="Weight_Standard.Output()">엑셀</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'./view/new_diagnosis/reevaluation_popup.html'" ng-show = "isReevaluation_popup" ng-controller = "reeval_popupController"></div>
<div ng-include="'./view/new_diagnosis/reevaluation_popup3.html'" ng-show = "isReevaluation_popup3" ng-controller = "reeval_popup3Controller"></div>
<div ng-include="'./view/new_diagnosis/reevaluation_popup4.html'" ng-show = "isReevaluation_popup4" ng-controller = "reeval_popup4Controller"></div>