<section class="popupSection" onMouseMove="moveWindow(event,'#reEvalPopup1')">
	<div class="popupWrap operation_popupWrap risk_popupWrap w_815px h-auto" id="reEvalPopup1">
		<h3>
			자산가치 재평가
			<span class="popupClose" ng-click="reeval_popup.Cancel()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info">
				<div class="popup_title">
					<p>자산가치 재평가</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명 *</span></label> 
							<input type="text" maxlength="200"
							ng-model="reeval_popup.Info.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                       	<div class="form-group">
                            <label for=""><span>작성자</span></label>
                           	<input type="text" disabled="disabled" 
                           	ng-model="reeval_popup.Info.INSERT_ID">
                         </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                           	<label for=""><span>작성일자</span></label>
                            <input type="text" disabled="disabled"
                            ng-model="reeval_popup.Info.INSERT_DT">
                        </div>
                   	</div>
               	 </div>
               	 <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>평가년월</span></label>
                            <input type="text" style="width:35% !important; margin-right: 3px;" readonly="readonly"
                            ng-model="reeval_popup.Info.EST_YYYY">
                            <input type="text" style="width:24% !important;" readonly="readonly"
                            ng-model="reeval_popup.Info.EST_MM">
                         </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                           	<label for=""><span>가중치기준</span></label>
                           	<select ng-model="reeval_popup.Info.WEIGHT_SPEC_SID" 
                           	ng-options="option.WEIGHT_SPEC_SID as option.WEIGHT_SPEC_NM for option in reeval_popup.OptionList">
                            <!-- <select ng-model="reeval_popup.Info.WEIGHT_SPEC_SID">
                            <option ng-selected="{{option.WEIGHT_SPEC_SID == reeval_popup.Info.WEIGHT_SPEC_SID}}" ng-repeat = "option in reeval_popup.OptionList" value ="{{option.WEIGHT_SPEC_SID}}">{{option.WEIGHT_SPEC_NM}}</option>
                            -->
                             </select>
                        </div>
                   	</div>
               	</div>
               	<!-- 그리드 -->
	         	<div class="grid table-responsive" >
					<table id="list3" class="table"></table>
				</div>
				<div id="listPager3"></div>
				<div id="list3_page"></div>
				<div class="btn_wrap pr-2 mt-2">
					<button type="button" class="btn btn-block btn-primary"
					ng-click="reeval_popup.Import()">가져오기</button>
					<!-- <button type="button" class="btn btn-block btn-danger"
					ng-click="reeval_popup.Delete()">삭제</button> -->
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success"
				ng-click="reeval_popup.Start()">평가시작</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"
				ng-click="reeval_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>
<div ng-include="'./view/new_diagnosis/basic_popup.html'" ng-show = "isBasic_popup" ng-controller = "basic_popupController"></div>