<section class="popupSection" onMouseMove="moveWindow(event,'#reEvalPopup4')">
	<div class="popupWrap operation_popupWrap" id="reEvalPopup4">
		<h3>
			{{TITLE}} <span class="popupClose" ng-click="reeval_popup4.Cancel()"><i
				class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info box-scroll" style="height: 94.5%;">
				<div class="popup_title">
					<p>가중치 평가기준 관리</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가기준명 *</span></label> <input type="text"
								maxlength="200" ng-model="reeval_popup4.Info.WEIGHT_SPEC_NM">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;" ng-show="(reeval_popup4.Info.UPDATE_DT)">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input
								type="text" readonly="readonly"
								ng-model="reeval_popup4.Info.UPDATE_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성/수정일</span></label> <input
								type="text" readonly="readonly"
								ng-model="reeval_popup4.Info.UPDATE_DT">
						</div>
					</div>
				</div>
				<div class="fixed-table-container w_98 mt-1 mb-1"style="height: 570px;">
					<div class="header-bg"></div>
					<div class="table-wrapper">
						<table class="fixedTbl">
							<colgroup>
								<col width="15%">
								<col width="25%">
								<col width="10%">
								<col width="15%">
								<col width="10%">
								<col width="25%">
							</colgroup>
							<thead>
								<tr class="ui-jqgrid-labels">
									<th width="15%"><div class="th-text">가중치</div></th>
									<th width="85%" colspan="5"><div class="th-text">자산
											가치 구분(백만원)</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="fixprobability in reeval_popup4.List track by $index">
									<td class="ct"><input type="text" 
										class="w100" style="min-width: 100%;"
										numbers-only
										ng-model="fixprobability.WEIGHT_NUM"
										ng-blur="FormatFloat(fixprobability,'WEIGHT_NUM',1)"></td>
										
									<td class="ct"><input type="text" 
										class="w100" style="min-width: 100%;"
										numbers-only
										ng-model="fixprobability.INPUT_VAL1"
										ng-blur="FormatFloat(fixprobability,'INPUT_VAL1',0)"></td>
										
									<td><select class="w100 ng-pristine ng-valid ng-touched" ng-model="fixprobability.INPUT_SIGN1" ng-options="sign for sign in signStore"></select></td>
									
									<td>Data</td>
									
									<td><select class="w100 ng-pristine ng-valid ng-touched" ng-model="fixprobability.INPUT_SIGN2" ng-options="sign for sign in signStore"></select></td>
									
									<td class="ct"><input type="text"
										class="w100" style="min-width: 100%;"
										numbers-only
										ng-model="fixprobability.INPUT_VAL2"
										ng-blur="FormatFloat(fixprobability,'INPUT_VAL2',0)"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-primary"
					ng-click="reeval_popup4.Add()">추가</button>
				<button type="button" class="btn btn-success"
					ng-click="reeval_popup4.Save()">저장</button>
				<button type="button" class="btn btn-danger closeBtn"
					ng-click="reeval_popup4.Cancel()">취소</button>
			</div>
		</div>
	</div>
	</div>
</section>