<section class="popupSection" onMouseMove="moveWindow(event,'#reEvalPopup2')">
	<div class="popupWrap operation_popupWrap risk_popupWrap w_50" id="reEvalPopup2">
		<h3>
		{{TITLE}}
			<span class="popupClose" ng-click="reeval_popup3.Cancel()"><i class="xi-close"></i></span>
		</h3>
		
		<div class="popup">
			<div class="popup_info pt-2">
				<div class="clear" style="width: 98%; margin: 0 auto;">
				  <div class="half_formB fm_w50">
                       	<div class="form-group">
                            <label for=""><span>항 목 *</span></label>
                           	<input type="text" 
                           	ng-model="reeval_popup3.Info.BASIC_NM">
                         </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                           	<label for=""><span>기준지수 *</span></label>
                            <input type="text" 
                            ng-model="reeval_popup3.Info.BASIC_ITEM_NM">
                        </div>
                   	</div>
                    <div class="half_formB fm_w50">
                       	<div class="form-group">
                            <label for=""><span>작성자</span></label>
                           	<input type="text" disabled="disabled"
                           	ng-model="reeval_popup3.Info.INSERT_ID">
                         </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                           	<label for=""><span>작성일자</span></label>
                            <input type="text" disabled="disabled"
                            ng-model="reeval_popup3.Info.INSERT_DT">
                        </div>
                   	</div>
               	 </div>
               	<!-- 그리드 -->
               	<div class="fixed-table-container w_98 mb-2"
						style="height: 550px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="6%">
									<col width="8.32%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
									<col width="7.14%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="6%"><div class="th-text">순번</div></th>
										<th width="8.32%"><div class="th-text backslash">년&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;월</div></th>
										<th width="7.14%"><div class="th-text">1</div></th>
										<th width="7.14%"><div class="th-text">2</div></th>
										<th width="7.14%"><div class="th-text">3</div></th>
										<th width="7.14%"><div class="th-text">4</div></th>
										<th width="7.14%"><div class="th-text">5</div></th>
										<th width="7.14%"><div class="th-text">6</div></th>
										<th width="7.14%"><div class="th-text">7</div></th>
										<th width="7.14%"><div class="th-text">8</div></th>
										<th width="7.14%"><div class="th-text">9</div></th>
										<th width="7.14%"><div class="th-text">10</div></th>
										<th width="7.14%"><div class="th-text">11</div></th>
										<th width="7.14%"><div class="th-text">12</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "yyyymm in reeval_popup3.List track by $index">
										<td>{{$index + 1}}</td>
										<td>{{yyyymm.YYYY}}</td>
									<!-- 	<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M01" ng-blur="FormatFloat(yyyymm,'M01')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M02" ng-blur="FormatFloat(yyyymm,'M02')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M03" ng-blur="FormatFloat(yyyymm,'M03')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M04" ng-blur="FormatFloat(yyyymm,'M04')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M05" ng-blur="FormatFloat(yyyymm,'M05')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M06" ng-blur="FormatFloat(yyyymm,'M06')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M07" ng-blur="FormatFloat(yyyymm,'M07')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M08" ng-blur="FormatFloat(yyyymm,'M08')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M09" ng-blur="FormatFloat(yyyymm,'M09')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M10" ng-blur="FormatFloat(yyyymm,'M10')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M11" ng-blur="FormatFloat(yyyymm,'M11')" style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M12" ng-blur="FormatFloat(yyyymm,'M12')" style="min-width: 100%;"></td> -->
									
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M01"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M02"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M03"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M04"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M05"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M06"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M07"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M08"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M09"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M10"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M11"  style="min-width: 100%;"></td>
										<td><input type="text"  numbers-only class="w100" ng-model="yyyymm.M12"  style="min-width: 100%;"></td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
				<div class="btn_wrap pr-2">
					<button type="button" class="btn btn-block btn-primary" ng-click="reeval_popup3.Add()">연도추가</button>
					<button type="button" class="btn btn-block btn-info" ng-click="reeval_popup3.FormOutput()">양식출력</button>
					<button type="button" class="btn btn-block btn-success" 
					for="input_result" id="input_result" __refelem__="true" style="overflow: hidden;"
					ng-file-select="reeval_popup3.OnFileSelect($files, 'xls|xlsx|pdf|hwp',2)" 
					ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" 
					accept=".xls,.xlsx,.pdf,.hwp" >결과등록</button>
					<!-- <button type="button" class="btn btn-block btn-primary" ng-click="reeval_popup3.RegisterResults()">결과등록</button> -->
				</div>
				<div class="popup_title">
					<p></p>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success" ng-click="reeval_popup3.Save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="reeval_popup3.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>

<section class="popupSection" ng-show="reeval_popup3_YYYY.IsReeval_popup3_YYYY" onMouseMove="moveWindow(event,'#reEvalPopup3')">
	<div class="popupWrap operation_popupWrap height_auto w-auto" id="reEvalPopup3">
		<h3>
			연도 입력 <span class="popupClose"><i class="xi-close" ng-click="reeval_popup3_YYYY.Cancel()"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="p-2 my-2">
				<input type="text" maxlength="4" numbers-only
				ng-model="reeval_popup3_YYYY.YYYY">
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="reeval_popup3_YYYY.Ok()">확인</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="reeval_popup3_YYYY.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>