<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 잔존수명 예측 평가 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important; padding-right: 30px !important;" ng-click="Serch.Select(1)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==1"> <label
										class="custom-control-label" style="left: 35%; top: 0;">
										<span class="pdr_26">연도</span>
									</label> <select style="width: 100px !important;"
										ng-model="Serch.Info.YEAR">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==Serch.Info.YEAR" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;"
									ng-click="Serch.Select(2)">
									<input kr-input="" type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										ng-checked="Serch.Info.OPTION==2"> <label
										class="custom-control-label" style="left: 13%; top: 0;">
										<span class="pr-2">기간선택</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;"
										ng-model="Serch.Info.START_DT" id="Serch_START_DT"> <label
										class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" readonly class="datePicker"
										style="width: 130px !important;" ng-model="Serch.Info.END_DT" id="Serch_END_DT">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>평가명</span></label> <input kr-input
								type="text" ng-model="Serch.Info.EST_NM" maxlength="10"
								ng-keypress="onKeyPress($event)"
								style="width: 538px;">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView"
							ng-click="Serch.Lookup($state.current.name)">조회</button>
						<button id="delete" class="btn btn-danger btnEdit"
							ng-click="Serch.Delete()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="Serch.Output()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1">평가
							관리</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2">평가항목 관리</button>
					</li>
					<li>
						<button id="tab3_btn" data-tab="tab3">상태등급 관리</button>
					</li>
				</ul>
			</div>
			<div class="conts_box main_conts" id="tab1" style="width: 100%;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 잔존수명 예측 평가
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명</span></label> <input type="text"
								maxlength="200" readonly
								ng-model="Life.Info.EST_NM">
						</div>
					</div>
				</div>
				<!-- <div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label><span>모델선택</span></label>
							<div class="inputRdo" style="margin: -5px 0 0 -16px;">
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input"
										ng-checked="Life.Info.OPTION==1"> <label
										class="custom-control-label"
										ng-click="Life.Option(1)">확정적 모델 </label> <i
										class="far fa-question-circle pl-3"
										ng-click="Life.Alert('상수도시설 자산에 대한 직접조사(기술진단)에 의해 자산의 상태를 파악하여 잔존수명예측')"></i>
								</div>
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input"
										ng-checked="Life.Info.OPTION==2"> <label
										class="custom-control-label"
										ng-click="Life.Option(2)">통계적모델 </label> <i
										class="far fa-question-circle pl-3"
										ng-click="Life.Alert('개별자산의 파손의 원인을 분석하여 노후도모델과 파손예측모델을 개발하여 적용')"></i>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text"
								readonly ng-model="Life.Info.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text"
								readonly ng-model="Life.Info.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가년월</span></label> <input type="text"
								readonly style="width: 34% !important; margin-right: 3px;"
								readonly ng-model="Life.Info.YEAR"> <input
								type="text" style="width: 25% !important;" readonly
								ng-model="Life.Info.MONTH">
						</div>
					</div>
					<!-- <div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>자산구분</span></label> <input
								type="text" id="" ng-readonly="isReadonly"
								ng-disabled="isDisabled">
						</div>
					</div> -->
				</div>
				<div class="min_tab text-center min_tab4">
					<ul class="tabs tabs_2">
						<li>
						<button ng-class="{true : 'active', false : ''}[Life.Page == 0]" ng-click="Life.ModalSet(0)">
							<!-- <button id="tab1_1_btn" data-tab="tab1_1" class="active"> -->시설</button>
						</li>
						<li>
						<button ng-class="{true : 'active', false : ''}[Life.Page == 1]" ng-click="Life.ModalSet(1)">
							<!-- <button id="tab1_2_btn" data-tab="tab1_2"> -->관망</button>
						</li>
						<li>
						<button ng-class="{true : 'active', false : ''}[Life.Page == 2]" ng-click="Life.ModalSet(2)">
							<!-- <button id="tab1_3_btn" data-tab="tab1_3"> -->세부</button>
						</li>
					</ul>
				</div>
				<div ng-show="(Life.Page == 0)">
					<div class="table_wrap table-responsive table_scroll w_98 my-2" style="height: 450px;">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">항목</th>
									<th colspan="5">잔존 수명 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>1년 미만</th>
									<th>1년 이상 ~ 3년 미만</th>
									<th>3년 이상 ~ 5년 미만</th>
									<th>5년 이상</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="list in Life.F_List track by $index">
									<th class="text-center">{{list.LEVEL_NM}}</th>
									<td>{{list.LIFE_NUM1 | number: 0}}</td>
									<td>{{list.LIFE_NUM2 | number: 0}}</td>
									<td>{{list.LIFE_NUM3 | number: 0}}</td>
									<td>{{list.LIFE_NUM4 | number: 0}}</td>
									<td>{{list.TOTAL | number: 0}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div ng-show="(Life.Page == 1)">
					<div class="table_wrap table-responsive table_scroll w_98 my-2">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">항목</th>
									<th colspan="5">자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>1년 미만</th>
									<th>1년 이상 ~ 3년 미만</th>
									<th>3년 이상 ~ 5년 미만</th>
									<th>5년 이상</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="list in Life.N_List track by $index">
									<th class="text-center">{{list.LEVEL_NM}}</th>
									<td>{{list.LIFE_NUM1 | number: 0}}</td>
									<td>{{list.LIFE_NUM2 | number: 0}}</td>
									<td>{{list.LIFE_NUM3 | number: 0}}</td>
									<td>{{list.LIFE_NUM4 | number: 0}}</td>
									<td>{{list.TOTAL | number: 0}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div ng-show="(Life.Page == 2)">
					<div class="clear w_98 mt-2 p-1 d-flex">
						<div class="clear w_98 d-flex">
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>구 분</span></label> 
									<select type="text" ng-model="CLASS3_CD" class="ng-pristine ng-untouched ng-valid">
										<option value="">전체</option>
										<option value="F">시설</option>
										<option value="N">관망</option>
									</select>
								</div>
							</div>
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>사업장/계통</span></label> 
									<select type="text" ng-model="CLASS4_CD" 
									ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  CLASS3_CD}">
									<option value="">전체</option>
									</select>
								</div>
							</div>
							<button class="btn btn_nv mt-1 mr-1 btnView" style="margin-left: auto;" ng-click="ModalCheck()">조회</button>
						</div>
					</div>
					<div class="grid w_98 my-2 table-responsive table_scroll">
						<table id="list2" class="table"></table>
					</div>
					<div id="listPager2"></div>
					<div id="list2_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button class="btn btn_sky btnView" ng-show="(Life.Page==2)" ng-click="ModalSearch()">검색</button>
					<button class="btn btn_sky btnEdit" ng-click="Life.New()">신규평가</button>
					<!-- <button class="btn btn_sky btnEdit" ng-click="Life.Result()">결과보기</button> -->
					<button class="btn btn-info btnView"
						ng-click="Life.Report()">보고서</button>
				</div>
			</div>
			<div class="conts_box main_conts" id="tab2"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 480px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 물리적 잔존수명 조정요율표
							</p>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가기준명</span></label> <input type="text"
									readonly ng-model="Life_Spec.Info.EST_SPEC_NM">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자</span></label> <input type="text"
									readonly ng-model="Life_Spec.Info.APPLY_DT">
							</div>
						</div>
					</div>
					<div class="clear" style="width: 98%; margin: 0 auto;">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text"
									readonly ng-model="Life_Spec.Info.INSERT_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input type="text"
									readonly ng-model="Life_Spec.Info.INSERT_DT">
							</div>
						</div>
					</div>
					<!-- 기획변경 -->
					<div class="min_tab min_tab4">
						<ul class="tabs tabs_2">
							<li>
								<button id="tab2_1_btn" class="active" data-tab="tab2_1">CAP1(단순)</button>
							</li>
							<li>
								<button id="tab2_2_btn" data-tab="tab2_2">CAP1(다중)</button>
							</li>
							<li>
								<button id="tab2_3_btn" data-tab="tab2_3">CAP2</button>
							</li>
						</ul>
					</div>
					<div id="tab2_1" style="height: 255px;">
						<div class="table_wrap w_98 mt-2">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="10%">
									<col width="15%">
									<col width="25%">
									<col width="25%">
									<col width="25%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th rowspan="2">상태등급</th>
										<th rowspan="2">상태판단</th>
										<th>초기</th>
										<th>중기</th>
										<th>말기</th>
									</tr>
									<tr class="text-center">
										<th>내구연한<br>35% 미만</th>
										<th>내구연한<br>35% 이상 65% 이하</th>
										<th>내구연한<br>65% 초과</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="CAP1 in Life_Spec.CAP1List track by $index">
										<td class="td_back_color">{{$index +1}}</td>
										<td class="td_back_color">{{CAP1.CAP1_STATE_NM}}</td>
										<td>{{CAP1.EARLY}}</td>
										<td>{{CAP1.MIDDLE}}</td>
										<td>{{CAP1.LATE}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="tab2_2" style="height: 255px; display:none;">
						<div class="table_wrap w_98 mt-2">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="10%">
									<col width="30%">
									<col width="30%">
									<col width="30%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th rowspan="2">상태등급</th>
										<th>초기</th>
										<th>중기</th>
										<th>말기</th>
									</tr>
									<tr class="text-center">
										<th>내구연한<br>35% 미만</th>
										<th>내구연한<br>35% 이상 65% 이하</th>
										<th>내구연한<br>65% 초과</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="CAP1_1 in Life_Spec.CAP1_1List track by $index">
										<td class="td_back_color">{{CAP1_1.LIFE_STATE_GRADE}}</td>
										<td>{{CAP1_1.EARLY}}</td>
										<td>{{CAP1_1.MIDDLE}}</td>
										<td>{{CAP1_1.LATE}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="tab2_3" style="height: 255px; display:none;">
						<div class="table_wrap w_98 mt-2">
							<table class="table table_basic table_style">
								<colgroup>
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
									<col width="9.09%">
								</colgroup>
								<thead>
									<tr class="text-center">
										<th>종합<br>평가<br>점수</th>
										<th>0~10</th>
										<th>11-20</th>
										<th>21~30</th>
										<th>31~40</th>
										<th>41~50</th>
										<th>51~60</th>
										<th>61~70</th>
										<th>71~80</th>
										<th>81~90</th>
										<th>91~100</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="td_back_color">조정요율</td>
										<td>{{Life_Spec.CAP2.J}}</td>
										<td>{{Life_Spec.CAP2.Y}}</td>
										<td>{{Life_Spec.CAP2.H}}</td>
										<td>{{Life_Spec.CAP2.G}}</td>
										<td>{{Life_Spec.CAP2.F}}</td>
										<td>{{Life_Spec.CAP2.E}}</td>
										<td>{{Life_Spec.CAP2.D}}</td>
										<td>{{Life_Spec.CAP2.C}}</td>
										<td>{{Life_Spec.CAP2.B}}</td>
										<td>{{Life_Spec.CAP2.A}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right p-2 pb-2">
						<button class="btn btn_sky btnEdit" ng-click="Life_Spec.New()">신규</button>
						<button class="btn btn_nv btnEdit" ng-click="Life_Spec.Modify()">수정</button>
					</div>
				</div>
				<div class="conts_in" style="height: 230px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 물리적 잔존수명 조정요율표 이력 관리
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 135px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="11%">
									<col width="40%">
									<col width="23%">
									<col width="13%">
									<col width="13%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="11%"><div class="th-text">순번</div></th>
										<th width="40%"><div class="th-text">평가기준명</div></th>
										<th width="23%"><div class="th-text">적용일자</div></th>
										<th width="13%"><div class="th-text">작성자</div></th>
										<th width="13%"><div class="th-text">작성일자</div></th>
									</tr>
								</thead>
								<tr
									ng-repeat="History in Life_Spec.List track by $index"
									ng-click="Life_Spec.ListClick($index);clickTable($event)"  class="{{($index == 0)? 'active': ''}}">
									<td class="ct">{{$index + 1}}</td>
									<td class="ct">{{History.EST_SPEC_NM}}</td>
									<td class="ct">{{History.APPLY_DT}}</td>
									<td class="ct">{{History.INSERT_ID}}</td>
									<td class="ct">{{History.INSERT_DT}}</td>
								</tr>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right p-2 pb-2">
						<button class="btn btn_gr"
							ng-click="Life_Spec.Output()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="conts_box main_conts" id="tab3"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 710px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 자산 상태등급 관리
							</p>
						</div>
					</div>
					<div class="clear" style="width: 98%; margin: 0 auto;">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>이전 수정자</span></label> <input type="text"
									readonly ng-model="Life_Ranking.Info.INSERT_ID">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>이전 수정일자</span></label> <input type="text"
									readonly ng-model="Life_Ranking.Info.INSERT_DT">
							</div>
						</div>
					</div>
					<!--그리드  -->
					<div class="grid table-responsive" id="grid4_4">
						<table id="list4" class="table"></table>
					</div>
					<div id="listPager4"></div>
					<div id="list4_page"></div>

					<div class="text-right p-2 pb-2">
						<button class="btn btn_nv btnEdit"
							ng-click="Life_Ranking.Modify()">수정</button>
						<button class="btn btn_gr"
							ng-click="Life_Ranking.Excel()">엑셀</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 사진대지 이미지 뷰어 내용-->
<!-- 		<div class="modal_htbl modal_gisFocus" id="dialog_commonImagPopup" title="이미지 뷰어" style="display: none;">
			<div class="pic_upload">
				<img ng-src="{{showPicture.URL}}" alt="사진" onclick="showMaximize(this)">
			</div>
			<div class="thumnail_txt">
				<div class="thum_txt thum_txt4">
					<span>{{showPicture.DESC}}</span>
				</div>
			</div>
			<div class="pic_upload">
				<div class="thum_txt fileUpTxt">		
				<button  class="btn_sky btnEdit" ng-click="updatePic()" >수정</button>
				<button class="btn_nv" ng-click="deletePic()" >삭제</button>
				</div>
			</div>
		</div>  -->

<!-- 차트 영역 -->
<div id="monthGraph" style="width: 1220px; height: 320px; margin: 0 auto;"></div>

<div ng-include="'./view/new_diagnosis/life_popup.html'" ng-show="Life_popup.isShow" ng-controller="Life_popupController"></div>
<div ng-include="'./view/new_diagnosis/Life_Ranking.html'" ng-show="Life_Ranking_popup.isShow" ng-controller="Life_RankingController"></div>

<div ng-include="'./view/new_diagnosis/Life_Spec_Popup.html'"
	ng-show="Life_Spec_Popup.isShow" ng-controller="Life_Spec_PopupController"></div>
	
<!-- <section class="popupSection ng-scope" id="loadingSpinner" >
	<div class="text-primary font-weight-bold text-center position_center">
		<i class="xi-spinner-2 xi-spin xi-5x d-block"></i>
		<p class="d-block my-2 loading_text">LOADING</p>
	</div>
</section> -->