<section class="popupSection" onMouseMove="moveWindow(event,'#remainPopup2')">
	<div class="popupWrap operation_popupWrap risk_popupWrap" id="remainPopup2">
		<h3>
			상태등급 진단
			<span class="popupClose"><i class="xi-close" ng-click="remain_popup2.Cancel()"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info box-scroll">
				<div class="popup_title">
					<p>자산 상태등급 진단</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>작 업 명</span></label> 
							<input type="text" maxlength="200"
							 ng-model = "remain_popup2.Info.EST_STATE_NM">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>작 성 자</span></label>
                            <input type="text" 
                            readonly
                            ng-model = "remain_popup2.Info.INSERT_ID">
                         </div>
                    </div>
                    <div class="half_formB fm_w50"> 
                        <div class="form-group">
                            <label for=""><span>작성일자</span></label>
                            <input type="text"
                            readonly
                            ng-model = "remain_popup2.Info.INSERT_DT">
                        </div>
                   </div>
                </div>
                <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>평 가 년</span></label>
                            <select style="width:35% !important; margin-right: 3px;"
                            ng-model = "remain_popup2.Info.EST_YEAR"
                            ng-change = "remain_popup2.SelectYear(remain_popup2.Info.EST_YEAR)">
                            	<option>2021년</option>
                            	<option>2020년</option>
                            	<option>2019년</option>
                            </select>
                         </div>
                    </div>
                </div>
                <!-- 그리드 -->
                <div class="grid table-responsive table_scroll">
           		<div class="grid" class="table">
           		</div>
				<table id="list5"></table>
			</div>
			<div id="listPager5"></div>
			<div id="list5_page"></div>
				<div class="btn_wrap">
					<button class="btn btn_sky ml-1" ng-click="remain_popup2.Search()">검색</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="remain_popup2.AssetSelection()">자산선택</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="remain_popup2.Import()">가져오기</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="remain_popup2.Output()">양식출력</button>
					<!-- <button type="button" class="btn btn-block btn-primary" ng-click="remain_popup2.Result()">결과등록</button> -->
					<input type="file" tabindex="-1" __afu_gen__="true" style="width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;">
					<button type="button" class="btn btn-block btn-primary" 
					for="input_result" id="input_result" __refelem__="true" style="overflow: hidden;"
					ng-file-select="remain_popup2.OnFileSelect($files, 'xls|xlsx|pdf|hwp',2)" 
					ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" 
					accept=".xls,.xlsx,.pdf,.hwp" >결과등록</button>
					<button type="button" class="btn btn-block btn-danger" ng-click="remain_popup2.Delete()">삭제</button>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success"ng-click="remain_popup2.Save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="remain_popup2.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>