<section class="popupSection" onMouseMove="moveWindow(event,'#remainPopup1')">
	<div class="popupWrap operation_popupWrap risk_popupWrap" id="remainPopup1">
		<h3>
			잔존수명 예측 평가
			<span class="popupClose"><i class="xi-close" ng-click="remain_popup.Cancel()"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info box-scroll">
				<div class="popup_title">
					<p>잔존수명 예측 평가</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명</span></label> 
							<input type="text" maxlength="200"
							 ng-model = "remain_popup.Info.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
                        <div class="form-group">
                             <label><span>모델선택</span></label>
                             <div class="inputRdo" style="margin: -5px 0 0 -16px;">
                                 <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" 
                                    ng-checked = "remain_popup.Info.OPTION==1">
                                    <label class="custom-control-label"
                                     ng-click = "remain_popup.Option(1)">확정적 모델 </label>
                                    <i class="far fa-question-circle pl-3" 
                                    ng-click = "remain_popup.Alert('상수도시설 자산에 대한 직접조사(기술진단)에 의해 자산의 상태를 파악하여 잔존수명예측')"></i>
                                 </div>
                                 <div class="custom-control custom-radio"  >
                                    <input type="radio" class="custom-control-input" 
                                    ng-checked = "remain_popup.Info.OPTION==2">
                                    <label class="custom-control-label"
                                    ng-click = "remain_popup.Option(2)">통계적모델 </label>
                                    <i class="far fa-question-circle pl-3"
                                     ng-click = "remain_popup.Alert('개별자산의 파손의 원인을 분석하여 노후도모델과 파손예측모델을 개발하여 적용')"></i>
                                 </div>
                             </div>
                        </div>
                    </div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>작성자</span></label>
                            <input type="text" 
                            readonly
                            ng-model = "remain_popup.Info.INSERT_ID">
                         </div>
                    </div>
                    <div class="half_formB fm_w50"> 
                        <div class="form-group">
                            <label for=""><span>작성일자</span></label>
                            <input type="text"
                            readonly
                            ng-model = "remain_popup.Info.INSERT_DT">
                        </div>
                   </div>
                </div>
                <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>평가년월</span></label>
                            <select style="width:35% !important; margin-right: 3px;"
                            ng-model = "remain_popup.Info.YEAR">
                            	<option>2021년</option>
                            	<option>2020년</option>
                            	<option>2019년</option>
                            </select>
                            <select style="width:23% !important;"
                             ng-model = "remain_popup.Info.MONTH">
                            	<option>01월</option>
                            	<option>02월</option>
                            	<option>03월</option>
                            	<option>04월</option>
                            	<option>05월</option>
                            	<option>06월</option>
                            	<option>07월</option>
                            	<option>08월</option>
                            	<option>09월</option>
                            	<option>10월</option>
                            	<option>11월</option>
                            	<option>12월</option>
                            </select>
                         </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>자산구분</span></label>
                            <select>
                            	<option>시설자산</option>
                            	<option>관망자산자산</option>
                            </select>
                        </div>
                   </div>
                </div>
                <!-- 그리드 -->
        	<div class="grid table-responsive table_scroll">
				<table id="list3"></table>
			</div>
			<div id="listPager3"></div>
			<div id="list3_page"></div>
				<div class="btn_wrap">
					<button class="btn btn_sky ml-1" ng-click="remain_popup.Search()">검색</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="remain_popup.AssetSelection()">자산선택</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="remain_popup.Import()">가져오기</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="remain_popup.Output()">양식출력</button>
					<!-- <button type="button" class="btn btn-block btn-primary" ng-click="remain_popup.Result()">결과등록</button> -->
					<input type="file" tabindex="-1" __afu_gen__="true" style="width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;">
					<button type="button" class="btn btn-block btn-primary" 
					for="input_result" id="input_result" __refelem__="true" style="overflow: hidden;"
					ng-file-select="remain_popup.OnFileSelect($files, 'xls|xlsx|pdf|hwp',2)" 
					ngf-pattern="'.xls,.xlsx,.pdf,.hwp'" 
					accept=".xls,.xlsx,.pdf,.hwp" >결과등록</button>
					<button type="button" class="btn btn-block btn-danger" ng-click="remain_popup.Delete()">삭제</button>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success"ng-click="remain_popup.Start()">평가시작</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="remain_popup.Cancel()">취소</button>
			</div>
		</div>
	</div>
</section>