<section class="popupSection" onMouseMove="moveWindow(event,'#remainPopup5')">
	<div class="popupWrap operation_popupWrap risk_popupWrap" id="remainPopup5">
		<h3>
			상태등급 진단 <span class="popupClose"><i class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info">
				<div class="popup_title">
					<p>자산 상태등급 진단</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>작업명</span></label> <input
								type="text" maxlength="200">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input
								type="text" id="" ng-readonly="isReadonly"
								ng-disabled="isDisabled">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input
								type="text" id="" ng-readonly="isReadonly"
								ng-disabled="isDisabled">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가년</span></label> <input
								type="text" id="" ng-readonly="isReadonly"
								ng-disabled="isDisabled">
						</div>
					</div>
				</div>
				<div class="clear">
					<div class="grid"></div>
					<div class="pager"></div>
					<div class="btn_wrap">
						<button type="button" class="btn btn-block btn-primary">자산선택</button>
						<button type="button" class="btn btn-block btn-primary">가져오기</button>
						<button type="button" class="btn btn-block btn-primary">양식출력</button>
						<button type="button" class="btn btn-block btn-primary">결과등록</button>
						<button type="button" class="btn btn-block btn-danger">삭제</button>
					</div>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
				<div class="popupBtnWrap">
					<button type="button" class="btn btn-block btn-success saveBtn">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn">취소</button>
				</div>
			</div>
		</div>
	</div>
</section>