<div class="conts ng-scope">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 위험도 평가 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important;padding-right: 30px !important;">
									<input kr-input type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										name="DATE_radio" id="DATE_radio1" ng-model="searchDateType"
										value="1"> <label class="custom-control-label"
										for="DATE_radio1" style="left: 35%; top: 0;"> <span
										class="pdr_26">연도</span>
									</label> <select class="instKind" ng-model="selectedCurrYear"
										ng-init="selectedCurrYear = option[0]"
										ng-click="changeRadio(1)" style="width: 100px !important;">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==selectedCurrYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;">
									<input kr-input type="radio"
										class="custom-control-input ng-pristine ng-untouched ng-valid"
										name="DATE_radio" id="DATE_radio2" ng-model="searchDateType"
										value="2"> <label class="custom-control-label"
										for="DATE_radio2" style="left: 13%; top: 0;"> <span
										class="pr-2">기간선택</span>
									</label> <input type="text"
										class="datePicker"
										ng-click="changeRadio(2)" id="searchDate_S_DATE"
										ng-model="searchDate.S_DATE" style="width: 130px !important;" readonly>
									<label class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text"
										class="datePicker"
										ng-click="changeRadio(2)" id="searchDate_E_DATE"
										ng-model="searchDate.E_DATE" style="width: 130px !important;" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>평가명</span>
							</label> <input kr-input type="text" ng-model="searchText" maxlength="10"
								style="width: 538px;" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView" ng-click="search();">조회</button>
						<button id="delete" class="btn btn-danger btnEdit"
							ng-click="deleteRisk();">삭제</button>
						<button class="btn btn_gr btnView" ng-click="DownLoadExcel(0)">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list_risk"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_risk_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
	<div class="conts_in">
		<div class="min_tab">
			<ul class="tabs">
				<li>
					<button id="tab1_btn" class="active" data-tab="tab1">평가 관리</button>
				</li>
				<li>
					<button id="tab2_btn" data-tab="tab2">평가항목 관리</button>
				</li>
				<li>
					<button id="tab3_btn" data-tab="tab3">파괴심각도 관리</button>
				</li>
			</ul>
		</div>
		<div class="conts_box main_conts" id="tab1" style="width: 100%;">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 위험도 평가
					</p>
				</div>
			</div>
			<div class="clear w_98 mt-1">
				<div class="w100 Form100">
					<div class="form-group">
						<label for=""><span>평가명</span></label> <input type="text" readonly ng-model="SelectedRiskInfo.EST_NM">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>작성자</span></label> <input type="text" readonly ng-model="SelectedRiskInfo.E_NAME">
					</div>
				</div>
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>작성일자</span></label> <input type="text" readonly ng-model="SelectedRiskInfo.INSERT_DT">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>평가년월</span></label> 
						<input type="text" readonly value="{{SelectedRiskInfo.EST_YYYYMM.substring(0,4)}}"
							style="width: 34% !important; margin-right: 3px;"> 
						<input
							type="text" readonly value="{{SelectedRiskInfo.EST_YYYYMM.substr(-2)}}" 
							style="width: 25% !important;">
					</div>
				</div>
			</div>
			<div class="min_tab text-center min_tab4">
				<ul class="tabs tabs_2">
					<li>
						<button id="tab1_1_btn" ng-click="(PAGE = 1)"data-tab="tab1_1" class="active">시설</button>
					</li>
					<li>
						<button id="tab1_2_btn" ng-click="(PAGE = 2)" data-tab="tab1_2">관망</button>
					</li>
					<li>
						<button id="tab1_3_btn" ng-click="(PAGE = 3)" data-tab="tab1_3">세부</button>
					</li>
				</ul>
			</div>
			<div id="tab1_1">
				<div class="table_wrap table-responsive table_scroll w_98 m-2" style="height: 450px;">
						<table class="table table_basic mb-0 table_sticky table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">항목</th>
									<th colspan="3">BRE 점수 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>양호 (1~20점)</th>
									<th>주의 (21~59점)</th>
									<th>위험 (60~100점)</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in Asset1Group">
									<td class="td_back_color left_0">{{item.GROUP_NM}}</td>
									<td>{{item.CNT1}}</td>
									<td>{{item.CNT2}}</td>
									<td>{{item.CNT3}}</td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
			<div id="tab1_2" style="display: none;">
				<div class="table_wrap table-responsive table_scroll w_98 m-2" style="height: 450px;">
						<table class="table table_basic mb-0 table_sticky table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">항목</th>
									<th colspan="3">BRE 점수 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>양호 (1~20점)</th>
									<th>주의 (21~59점)</th>
									<th>위험 (60~100점)</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in Asset2Group">
									<td class="td_back_color left_0">{{item.GROUP_NM}}</td>
									<td>{{item.CNT1}}</td>
									<td>{{item.CNT2}}</td>
									<td>{{item.CNT3}}</td>
								</tr>
							</tbody>
						</table>
					</div>			
			</div>
			<div id="tab1_3" class="p-2" style="display: none;">
				<div class="clear w_98 mt-2 p-1 d-flex">
					<div class="clear w_98 d-flex">
						<div class="half_formB fm_w50 w_40">
							<div class="form-group">
								<label for=""><span>구 분</span></label> 
								<select type="text" ng-model="CLASS3_CD" class="ng-pristine ng-untouched ng-valid">
									<option value="">전체</option>
									<option value="F">시설</option>
									<option value="N">관망</option>
								</select>
							</div>
						</div>
						<div class="half_formB fm_w50 w_40">
							<div class="form-group">
								<label for=""><span>사업장/계통</span></label> 
								<select type="text" ng-model="CLASS4_CD" 
								ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  CLASS3_CD}">
								<option value="">전체</option>
								</select>
							</div>
						</div>
						<button class="btn btn_nv mt-1 mr-1" style="margin-left: auto;" ng-click="ModalCheck()">조회</button>
					</div>
				</div>
				<div class="grid">
					<table id="list2" class="table"></table>
				</div>
				<div id="listPager2"></div>
				<div id="list2_page"></div>
			</div>
			<div class="text-right m-1 mr-2">
				<button class="btn btn_sky btnView" ng-show="(PAGE == 3)"ng-click="ModalSearch()">검색</button>
				<button class="btn btn_sky btnEdit" ng-click="NewItem()">신규평가</button>
				<button class="btn btn_sky btnEdit" ng-click="ShowResult()">결과보기</button>
				<button class="btn btn-info btnView" ng-click="DownloadReport()">보고서</button>
			</div>
		</div>
		<div class="conts_box main_conts" id="tab2"
			style="width: 100%; display: none;">
			<div class="conts_in" style="height: 480px;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 고장 확률 등급 관리
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가기준명</span></label> <input type="text" readonly ng-model="selectedFactor.RISK_PROB_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98 mt-1">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" readonly ng-model="selectedFactor.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> <input type="text" readonly ng-model="selectedFactor.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>수정자</span></label> <input type="text" readonly ng-model="selectedFactor.UPDATE_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>최종수정일</span></label> <input type="text" readonly ng-model="selectedFactor.UPDATE_DT">
						</div>
					</div>
				</div>
				<div class="fixed-table-container w_98 mt-1 mb-2"
					style="height: 250px;">
					<div class="header-bg"></div>
					<div class="table-wrapper">
						<table class="fixedTbl">
							<colgroup>
								<col width="15%">
								<col width="20%">
								<col width="10%">
								<col width="25%">
								<col width="10%">
								<col width="20%">
							</colgroup>
							<thead>
								<tr class="ui-jqgrid-labels">
									<th width="15%"><div class="th-text">고장확률</div></th>
									<th width="85%" colspan="5"><div class="th-text">사용률 (%)</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in factorDetail">
									<td>{{data.PROB_GRADE}}</td>
									<td ng-bind="data.INPUT_VAL1"></td>
									<td ng-bind="data.INPUT_SIGN1"></td>
									<td>Data</td>
									<td ng-bind="data.INPUT_SIGN2"></td>
									<td ng-bind="data.INPUT_VAL2"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="text-right m-1 mr-2">
					<button class="btn btn_sky btnEdit" ng-click="newFactorItem()">신규</button>
					<button class="btn btn_nv btnEdit" ng-click="editFactorItem()">수정</button>
				</div>
			</div>
			<div class="conts_in" style="height: 220px;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 고장 확률 등급 이력 관리
						</p>
					</div>
				</div>
				<div class="fixed-table-container w_98 mt-1 mb-1"
					style="height: 135px;">
					<div class="header-bg"></div>
					<div class="table-wrapper">
						<table class="fixedTbl" id="storeFileList"
							ng-class="{noData : storeFileList.length == 0}">
							<colgroup>
								<col width="10%">
								<col width="60%">
								<col width="10%">
								<col width="20%">
							</colgroup>
							<thead>
								<tr class="ui-jqgrid-labels">
									<th width="10%"><div class="th-text">순번</div></th>
									<th width="60%"><div class="th-text">평가기준명</div></th>
									<th width="10%"><div class="th-text">작성자</div></th>
									<th width="20%"><div class="th-text">작성일자</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="storeFileList.length == 0" class="ng-scope">
									<td class="ct" colspan="4">데이터가 없습니다.</td>
								</tr>
								<tr ng-repeat="factor in factorList " ng-click="factorSelect(factor);clickTable($event)"  class="{{($index == 0)? 'active': ''}}">
										<td>{{factor.RISK_PROB_SID}}</td>
										<td>{{factor.RISK_PROB_NM}}</td>
										<td>{{factor.INSERT_ID}}</td>
										<td>{{factor.INSERT_DT}}</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="text-right m-1 mr-2">
					<button class="btn btn_gr" ng-click="DownLoadExcel(1)">엑셀</button>
				</div>
			</div>
		</div>
		<div class="conts_box main_conts" id="tab3"
			style="width: 100%; display: none;">
			<div class="conts_in" style="height: 480px;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 파괴 심각도 등급 관리
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가기준명</span></label> <input type="text" readonly ng-model="SelectedGradeInfo.EST_SPEC_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98 mt-1">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" readonly ng-model="SelectedGradeInfo.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일</span></label> <input type="text" readonly ng-model="SelectedGradeInfo.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>수정자</span></label> <input type="text" readonly ng-model="SelectedGradeInfo.UPDATE_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>최종수정일</span></label> <input type="text" readonly ng-model="SelectedGradeInfo.UPDATE_DT">
						</div>
					</div>
				</div>
				<div class="box-scroll w_98 mt-1 mb-2" style="height: 250px;">
					<table class="table_style text-center">
						<colgroup>
							<col width="15%">
							<col width="30%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th width="15%" rowspan="2">등급</th>
								<th width="30%" rowspan="2">내용</th>
								<th width="45%" colspan="3">피해정도</th>
								<th width="10%" rowspan="2">대응조치</th>
							</tr>
							<tr>
								<th width="15%">단수인구</th>
								<th width="15%">단수시간</th>
								<th width="15%">급수중단비율</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in gradeDetail">
								<td>{{data.GRADE_NM}}</td>
								<td ng-if="data.row_idx==data.idx" rowspan="{{data.GB_cnt}}" class="text-left pl-1" ng-bind="data.SPEC_DESC"></td>
								<td ng-bind="data.STOP_WATER_PERSON"></td>
								<td ng-bind="data.STOP_WATER_TIME"></td>
								<td ng-bind="data.STOP_WATER_RATIO"></td>
								<td ng-if="data.row_idx==data.idx" rowspan="{{data.GB_cnt}}" ng-bind="data.ACTION_TXT"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="text-right m-1 mr-2">
					<button class="btn btn_sky btnEdit" ng-click="newGradeItem()">신규</button>
					<button class="btn btn_nv btnEdit" ng-click="editGradeItem()">수정</button>
				</div>
			</div>
			<div class="conts_in" style="height: 220px;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 파괴 심각도 이력 관리
						</p>
					</div>
				</div>
				<div class="fixed-table-container w_98 mt-1 mb-1"
					style="height: 135px;">
					<div class="header-bg"></div>
					<div class="table-wrapper">
						<table class="fixedTbl" id="storeFileList"
							ng-class="{noData : storeFileList.length == 0}">
							<colgroup>
								<col width="10%">
								<col width="60%">
								<col width="10%">
								<col width="20%">
							</colgroup>
							<thead>
								<tr class="ui-jqgrid-labels">
									<th width="10%"><div class="th-text">순번</div></th>
									<th width="60%"><div class="th-text">평가기준명</div></th>
									<th width="10%"><div class="th-text">작성자</div></th>
									<th width="20%"><div class="th-text">작성일자</div></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="storeFileList.length == 0" class="ng-scope">
									<td class="ct" colspan="4">데이터가 없습니다.</td>
								</tr>
								<tr ng-repeat="grade in gradeList" ng-click="gradeSelect(grade);clickTable($event)"  class="{{($index == 0)? 'active': ''}}">
									<td>{{grade.RISK_SPEC_SID}}</td>
									<td>{{grade.EST_SPEC_NM}}</td>
									<td>{{grade.INSERT_ID}}</td>
									<td>{{grade.INSERT_DT}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="text-right m-1 mr-2">
					<button class="btn btn_gr btnView" ng-click="DownLoadExcel(2)">엑셀</button>
				</div>
			</div>
		</div>
	</div>
</div>

</div>

<!-- 위험도평가 팝업 -->
<section class="popupSection" id="newRiskPopup" style="display: none;" onMouseMove="moveWindow(event,'#riskPopup1')">
	<div class="popupWrap operation_popupWrap risk_popupWrap w_815px h-auto" id="riskPopup1">
		<h3>
			위험도 평가
			<span class="popupClose" ng-click="closeNewItemPopup()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info">
				<div class="popup_title">
					<p>위험도 평가</p>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명 *</span></label> 
							<input type="text" maxlength="50" ng-model="EditInfo.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98" ng-show="false">
                    <div class="half_formB fm_w50">
                       	<div class="form-group">
                            <label for=""><span>작성자</span></label>
                           	<input type="text" ng-model="EditInfo.INSERT_ID" readonly>
                         </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                           	<label for=""><span>작성일자</span></label>
                            <input type="text" ng-model="EditInfo.INSERT_DT" readonly>
                        </div>
                   	</div>
               	 </div>
               	 <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>평가년월 *</span></label>
                            <input type="text" ng-model="EditInfo.YYYY" style="width:35% !important; margin-right: 3px;" numbers-only maxlength="4">
                            <select ng-model="EditInfo.MM" style="width:23.5% !important;" >
                            	<option ng-repeat="mon in MonthList">{{mon}}</option>
                            </select>
                         </div>
                    </div>
               	</div>
               	<!-- 그리드 -->
				<div class="table_wrap mb-2" style="height: 66%;">
					<div class="grid">
						<table id="list2popup"></table>
					</div>
					<div id="list2popupPager"></div>
				</div>               	
				<div class="btn_wrap mt-2">
					<button type="button" class="btn btn-block btn-primary" ng-click="showRemainLifeEstListPopup()">가져오기</button>
					<button type="button" class="btn btn-block btn-danger" ng-click="deleteSelectedAsset()">삭제</button>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="SaveRiskResult()">평가시작</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeNewItemPopup()">취소</button>
			</div>
		</div>
	</div>
</section>

<!-- 잔수명 평가 목록 팝업 -->
<section class="popupSection" id="remainLifeEstListPopup" style="display: none;" onMouseMove="moveWindow(event,'#riskPopup2')">
	<div class="popupWrap operation_popupWrap risk_popupWrap h-auto" id="riskPopup2">
		<h3>
			잔존수명 리스트
			<span class="popupClose" ng-click="closeRemainLifeEstListPopup()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info">
				
               	<!-- 그리드 -->
				<div class="table_wrap my-2" style="height: 66%;">
					<div class="grid">
						<table id="list3popup"></table>
					</div>
					<div id="list3popupPager"></div>
				</div>               	
			</div>
			<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-primary" ng-click="setAssetList()">확인</button>
					<button type="button" class="btn btn-block btn-danger" ng-click="closeRemainLifeEstListPopup()">취소</button>
			</div>
		</div>
	</div>
</section>
<!-- 평가항목 관리 팝업 -->
<section class="popupSection" id="newRiskFactorPopup" style="display: none;" onMouseMove="moveWindow(event,'#riskPopup3')">
		<div class="popupWrap operation_popupWrap w_815px h-auto" id="riskPopup3">
			<h3>
				고장 확률 등급 {{saveType=='new'? '등록':'수정'}} <span class="popupClose" ng-click="closeRiskFactor()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup h-auto">
				<div class="popup_info box-scroll">
					<div class="popup_title">
						<p>고장 확률 등급 관리</p>
					</div>
					<div class="clear w_98">
						<div class="w100 Form100">
							<div class="form-group">
								<label for=""><span>평가기준명 *</span></label> <input type="text" ng-model="EditFactorInfo.RISK_PROB_NM" maxlength="50">
							</div>
						</div>
					</div>
					<div class="clear w_98 mt-1" ng-show="saveType!='new'">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text"  ng-model="EditFactorInfo.INSERT_ID" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일</span></label> <input type="text"  ng-model="EditFactorInfo.INSERT_DT" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="clear w_98" ng-show="saveType!='new'">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>수정자</span></label> <input type="text" ng-model="EditFactorInfo.UPDATE_ID" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>최종수정일</span></label> <input type="text"  ng-model="EditFactorInfo.UPDATE_DT" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-2 h-auto">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="15%">
									<col width="20%">
									<col width="10%">
									<col width="25%">
									<col width="10%">
									<col width="20%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="15%"><div class="th-text">고장확률</div></th>
										<th width="85%" colspan="5"><div class="th-text">사용률
												(%)</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="data in popupFactorDetail">
										<td>{{data.PROB_GRADE}}</td>
										<td><input type="text" numbers-only class="w100" style="min-width: 100%;" ng-model="data.INPUT_VAL1"></td>
										<td><select class="w100" ng-model="data.INPUT_SIGN1" ng-options="sign for sign in signStore"></select></td>
										<td>Data</td>
										<td><select class="w100" ng-model="data.INPUT_SIGN2" ng-options="sign for sign in signStore"></select></td>
										<td><input type="text" numbers-only class="w100" style="min-width: 100%;" ng-model="data.INPUT_VAL2"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="saveRiskFactor()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeRiskFactor()">취소</button>
				</div>
			</div>
		</div>
	</section>
	
	<!-- 파괴심각도 관리 -->
	
	<section class="popupSection" id="newRiskGradePopup" style="display: none;" onMouseMove="moveWindow(event,'#riskPopup4')">
		<div class="popupWrap operation_popupWrap w_815px h-auto" id="riskPopup4">
			<h3>
				파괴 심각도 등급 {{saveType=='new'? '등록':'수정'}} <span class="popupClose" ng-click="closeRiskGrade()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info">
					<div class="popup_title">
						<p>파괴 심각도 등급 관리</p>
					</div>
					<div class="clear w_98">
						<div class="w100 Form100">
							<div class="form-group">
								<label for=""><span>평가기준명 *</span></label> <input type="text"  ng-model="EditGradeInfo.EST_SPEC_NM" maxlength="50">
							</div>
						</div>
					</div>
					<div class="clear w_98 mt-1" ng-show="saveType!='new'">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text" ng-model="EditGradeInfo.INSERT_ID" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일</span></label> <input type="text" ng-model="EditGradeInfo.INSERT_DT" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="clear w_98" ng-show="saveType!='new'">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>수정자</span></label> <input type="text"  ng-model="EditGradeInfo.UPDATE_ID" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>최종수정일</span></label> <input type="text"   ng-model="EditGradeInfo.UPDATE_DT" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="table_wrap mt-2 table-responsive table_scroll" style="height: 520px;">
						<table class="table table_basic table_style mb-0">
							<colgroup>
								<col width="11%">
								<col width="30%">
								<col width="16%">
								<col width="16%">
								<col width="16%">
								<col width="11%">
							</colgroup>
							<thead>
								<tr class="text-center">
									<th rowspan="2" class="pt-1 pb-1">등급</th>
									<th rowspan="2" class="pt-1 pb-1">내용</th>
									<th colspan="3" class="pt-1 pb-1">피해정도</th>
									<th rowspan="2" class="pt-1 pb-1">대응<br>조치
									</th>
								</tr>
								<tr class="text-center">
									<th class="pt-1 pb-1">단수인구</th>
									<th class="pt-1 pb-1">단수시간</th>
									<th class="pt-1 pb-1">급수중단비율</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in popupGradeDetail" style="height: 110px;">
									<td class="p-1">{{data.GRADE_NM}}</td>
									<td ng-if="data.row_idx==data.idx" rowspan="{{data.GB_cnt}}" class="text-left p-1"><textarea class="w100 h_100" ng-model="data.SPEC_DESC"></textarea>
									</td>
									<td class="p-1"><input type="text" class="w100" ng-model="data.STOP_WATER_PERSON"></td>
									<td class="p-1"><input type="text" class="w100" ng-model="data.STOP_WATER_TIME"></td>
									<td class="p-1"><input type="text" class="w100" ng-model="data.STOP_WATER_RATIO"></td>
									<td ng-if="data.row_idx==data.idx" rowspan="{{data.GB_cnt}}" class="p-1"><textarea class="w100 h_100" ng-model="data.ACTION_TXT"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success" ng-click="saveRiskGrade()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeRiskGrade()">취소</button>
				</div>
			</div>
		</div>
	</section>
	
	<section class="popupSection" id="RiskResultPopup" style="display:none;" onMouseMove="moveWindow(event,'#riskPopup5')">
		<div class="popupWrap operation_popupWrap height_auto w_40" id="riskPopup5">
			<h3>
				위험도 평가 결과보기 <span class="popupClose" ng-click="CloseResult()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup height_auto">
				<div class="popup_title">
					<p>BRE</p>
				</div>
				<div class="table_wrap w_98 mt-2">
					<table class="table table_basic">
						<colgroup>
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
							<col width="8.33%">
						</colgroup>
						<thead>
							<tr class="text-center">
								<th rowspan="2" colspan="2">BRE</th>
								<th colspan="10">고장확률</th>
							</tr>
							<tr class="text-center">
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
								<th>5</th>
								<th>6</th>
								<th>7</th>
								<th>8</th>
								<th>9</th>
								<th>10</th>
							</tr>
						</thead>
						<tbody class="text-center font-weight-bold">
							<tr ng-repeat="result in RiskResult">
								<th ng-if="$index==0" rowspan="10" style="writing-mode: vertical-rl; text-orientation: mixed;">파괴심각도</th>
								<th>{{result.SERIOUS_GRADE1}}</th>
								<td class="{{(($parent.$index+1) * ($index+1) >= 21)?((($parent.$index+1) * ($index+1) < 60)?'bg-success':'bg-danger'):'bg-primary'}}" ng-repeat="p in  probList " >{{RiskResult[$parent.$index][p]}}</td>
								
							</tr>
						</tbody>
					</table>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="CloseResult()">취소</button>
				</div>
			</div>
		</div>
	</section>
	
<!-- 	<section class="popupSection ng-scope" id="loadingSpinner" style="display: none;">
	<div class="text-primary font-weight-bold text-center position_center">
		<i class="xi-spinner-2 xi-spin xi-5x d-block"></i>
		<p class="d-block my-2 loading_text">LOADING</p>
	</div>
	</section> -->
