<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 간접 상태평가 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important; padding-right: 30px !important;">
									<input type="radio" class="custom-control-input"
										name="searchOption" id="FN_radio0"
										ng-checked="searchOption==1" ng-click="SearchOption(1)">
									<label class="custom-control-label" for="FN_radio0"
										style="left: 35%; top: 0;"><span class="pdr_26">연도</span></label>
									<select ng-init="selectYear=''" style="width: 100px !important;" ng-model="selectYear"	>
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==selectYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;">
									<input type="radio" class="custom-control-input"
										name="searchOption" id="FN_radio1"
										ng-checked="searchOption!=1" ng-click="SearchOption(2)">
									<label class="custom-control-label" for="FN_radio1"
										style="left: 13%; top: 0;"><span class="pr-2">기간선택</span></label>
									<input type="text" class="datePicker" id="start_dt"
										ng-model="StartDt" name="start_dt" readonly
										style="width: 130px !important;"> <label
										class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" class="datePicker" id="end_dt"
										ng-model="EndDt" name="end_dt" readonly
										style="width: 130px !important;">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>평가명</span></label> <input type="text"
								style="width: 538px;" ng-model="searchText" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView" ng-click="SearchList()">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="DeleteItem()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="DownLoadExcel(0)">엑셀</button>
					</div>
				</div>

			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1">평가
							관리</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2">평가항목 관리</button>
					</li>
					<li>
						<button id="tab3_btn" data-tab="tab3">개량방안 관리</button>
					</li>
				</ul>
			</div>
			<div class="conts_box main_conts" id="tab1" style="width: 100%;">
				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 간접 상태평가
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명</span></label> <input type="text"
								readonly ng-model="EstimationInfo.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text"
								readonly ng-model="EstimationInfo.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text"
								readonly ng-model="EstimationInfo.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가일</span></label> <input type="text"
								readonly ng-model="EstimationInfo.EST_START_DT">
						</div>
					</div>
				</div>
				<div class="min_tab text-center min_tab4">
					<ul class="tabs tabs_2">
						<li>
							<button id="tab1_1_btn" data-tab="tab1_1" class="active">계통</button>
						</li>
						<li>
							<button id="tab1_2_btn" data-tab="tab1_2">블록</button>
						</li>
						<li>
							<button id="tab1_3_btn" data-tab="tab1_3">세부</button>
						</li>
					</ul>
				</div>
				<div id="tab1_1">
					<div class="table_wrap table-responsive table_scroll w_98 my-2">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">계통</th>
									<th colspan="4">평가등급 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>Ⅰ 등급</th>
									<th>Ⅱ 등급</th>
									<th>Ⅲ 등급</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in EstGroupList1">
									<th class="text-center">{{item.GROUP_NM}}</th>
									<td>{{item.G1}}</td>
									<td>{{item.G2}}</td>
									<td>{{item.G3}}</td>
									<td>{{item.tot}}</td>
								</tr>
								<tr>
									<th class="text-center">합계</th>
									<td>{{Tab1Tot.G1}}</td>
									<td>{{Tab1Tot.G2}}</td>
									<td>{{Tab1Tot.G3}}</td>
									<td>{{Tab1Tot.G1+Tab1Tot.G2+Tab1Tot.G3}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab1_2" style="display: none;">
					<div class="table_wrap table-responsive table_scroll w_98 my-2" style="height: 450px;">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th colspan="2">블록</th>
									<th colspan="4">평가등급 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>중블록</th>
									<th>소블록</th>
									<th>Ⅰ 등급</th>
									<th>Ⅱ 등급</th>
									<th>Ⅲ 등급</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in EstGroupList2">
									<th class="text-center">{{item.GROUP_NM1}}</th>
									<th class="text-center">{{item.GROUP_NM2}}</th>
									<td>{{item.G1}}</td>
									<td>{{item.G2}}</td>
									<td>{{item.G3}}</td>
									<td>{{item.tot}}</td>
								</tr>							
								<tr>
									<th colspan="2" class="text-center">합계</th>
									<td>{{Tab2Tot.G1}}</td>
									<td>{{Tab2Tot.G2}}</td>
									<td>{{Tab2Tot.G3}}</td>
									<td>{{Tab2Tot.G1+Tab2Tot.G2+Tab2Tot.G3}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab1_3" style="display: none;">
					<div class="clear w_98 mt-2 p-1 d-flex">
						<div class="clear w_98 d-flex">
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>관로계통</span></label> 
<!-- 									<select type="text" ng-model="CLASS3_CD" class="ng-pristine ng-untouched ng-valid">
										<option value="">전체</option>
										<option value="F">시설</option>
										<option value="N">관망</option>
									</select> -->
									<select type="text" ng-model="CLASS4_CD" >
									<!-- ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  'N' }" -->
									<option value="">전체</option>
									<option value="T">송수</option>
									<option value="D">배수</option>
									</select>									
								</div>
							</div>
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>블록</span></label> 
									<select type="text" ng-model="BL_INFO" 
									ng-options="block.BL_BCODE as block.BL_NAME for block in blockList  ">
									<option value="">전체</option>
									</select>
								</div>
							</div>
							<button class="btn btn_nv mt-1 mr-1 btnView" style="margin-left: auto;" ng-click="ModalCheck()">조회</button>
						</div>
					</div>
					<div class="grid w_98 mt-2 table-responsive table_scroll_150">
						<table id="list2" class="table"></table>
					</div>
					<div id="listPager2"></div>
					<div id="list_page2"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button ng-show="tab1Id==3" class="btn btn_sky btnView" ng-click="ModalSearch()">검색</button>
					<button class="btn btn_sky btnEdit" ng-click="NewItem()">신규평가</button>
					<button class="btn btn_sky btnEdit" ng-click="ShowResult()">결과보기</button>
					<button class="btn btn-info btnView" ng-click="DownloadReport()">보고서</button>
				</div>
			</div>
			<div class="conts_box main_conts" id="tab2"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 480px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 평가항목 및 기준 설정
							</p>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가기준명</span></label> <input type="text" ng-model="selectedFactor.EST_SPEC_NM" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자</span></label> <input type="text" ng-model="selectedFactor.APPLY_DT" readonly>
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text" ng-model="selectedFactor.INSERT_ID" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input type="text" ng-model="selectedFactor.INSERT_DT" readonly>
							</div>
						</div>
					</div>
					<div class="min_tab text-center min_tab2">
						<ul class="tabs tabs_2">
							<li ng-repeat="category in  factorCategory">
								<button id="cd{{category.GB}}{{category.cd}}"
									class="{{(selectedTab2Id==(category.GB + category.cd))?'active':''}}"
									ng-click="tab2Click(category.GB +category.cd)">{{category.name}}</button>
							</li>
						</ul>
					</div>
					<div>
						<div class="box-scroll w_98 mt-1 mb-1" style="height: 265px;">
							<table class="text-center table_style">
								<colgroup>
									<col width="15%">
									<col width="20%">
									<col width="10%">
									<col width="7.5%">
									<col width="10%">
									<col width="7.5%">
									<col width="10%">
									<col width="10%">
									<col width="10%">
								</colgroup>
								<thead>
									<tr>
										<th width="15%" rowspan="2">구분</th>
										<th width="20%" rowspan="2">평가항목</th>
										<th width="55%" colspan="6">평가방법</th>
										<th width="10%" rowspan="2">가중치</th>
									</tr>
									<tr>
										<th width="45%" colspan="5">기준</th>
										<th width="10%">조건값</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="detail in  factorDetail | filter :{PIPE_GB:selectedTab2Id.substr(0,1)} | filter :{PIPE_TYPE:selectedTab2Id.substr(1,1)} " >
										<td ng-if="detail.GROUP_RN==detail.RN" rowspan="{{detail.GROUP_ROW_SPAN}}">{{detail.GROUP_NM}}</td>
										<td ng-if="detail.ITEM_RN==detail.RN"  rowspan="{{detail.ROW_SPAN}}">{{detail.ITEM_NM}}</td>
										<td >{{detail.INPUT_VAL1|currency:'':0}}</td>
										<td ><span class="w100"  ng-bind="detail.INPUT_SIGN1"></span></td>
										<td >Data</td>
										<td ><span class="w100"  ng-bind="detail.INPUT_SIGN2"></span></td>
										<td >{{detail.INPUT_VAL2|currency:'':0}}</td>
										<td >{{detail.CONDITION_VAL}}</td>
										<td ng-if="detail.ITEM_RN==detail.RN" rowspan="{{detail.ROW_SPAN}}">{{detail.WEIGHT_VAL}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="text-right mt-2 pr-2">
						<button class="btn btn_sky btnEdit" ng-click="newFactorItem()">신규</button>
						<button class="btn btn_nv btnEdit" ng-click="editFactorItem()">수정</button>
					</div>
				</div>
				<div class="conts_in" style="height: 220px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 평가항목 및 기준 목록
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 135px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl"	ng-class="{noData : factorList.length == 0}">
								<colgroup>
									<col width="10%">
									<col width="45%">
									<col width="20%">
									<col width="10%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="45%"><div class="th-text">평가기준명</div></th>
										<th width="20%"><div class="th-text">적용일자</div></th>
										<th width="10%"><div class="th-text">작성자</div></th>
										<th width="15%"><div class="th-text">작성일자</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="factor in factorList " ng-click="factorSelect(factor);clickTable($event)" class="{{($index == 0)? 'active': ''}}">
										<td>{{factor.EST_SPEC_SID}}</td>
										<td>{{factor.EST_SPEC_NM}}</td>
										<td>{{factor.APPLY_DT}}</td>
										<td>{{factor.INSERT_ID}}</td>
										<td>{{factor.INSERT_DT}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right mt-2 pr-2">
						<button class="btn btn_gr" ng-click="DownLoadExcel(1)">엑셀</button>
					</div>
				</div>
			</div>

			<div class="conts_box main_conts" id="tab3"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 480px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 상태등급에 따른 개량 방안
							</p>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>개량방안명</span></label> <input type="text" ng-model="SelectedGradeInfo.EST_IMP_NM" maxlength="30">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자</span></label> <input type="text"  readonly ng-model="SelectedGradeInfo.APPLY_DT" maxlength="10">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text" ng-model="SelectedGradeInfo.INSERT_ID" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input type="text" ng-model="SelectedGradeInfo.INSERT_DT" readonly>
							</div>
						</div>
					</div>
					<div class="min_tab">
						<ul class="tabs tabs_2">
							<li>
								<button id="tab3_1_btn" ng-click="showGradeTab('S','tab3_1_btn')" class="active">송수관로</button>
							</li>
							<li>
								<button id="tab3_2_btn" ng-click="showGradeTab('D','tab3_2_btn')">배수관로</button>
							</li>
						</ul>
					</div>
					<div >
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 265px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="10%">
										<col width="20%">
										<col width="7%">
										<col width="7%">
										<col width="7%">
										<col width="7%">
										<col width="7%">
										<col width="35%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="10%"><div class="th-text">관종</div></th>
											<th width="20%"><div class="th-text">상태등급</div></th>
											<th width="35%" colspan="5"><div class="th-text">간접평가점수</div></th>
											<th width="35%"><div class="th-text">개량방안</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="detail in gradeDetail | filter :{PIPE_GB:selectedTab3Id} ">
											<td>{{imp_plan_pipe_nm(detail.PIPE_TYPE)}}</td>
											<td>{{imp_plan_grade_nm(detail.STATUS_GRADE)}}</td>
											<td>{{detail.INPUT_VAL1}}</td>
											<td>{{detail.INPUT_SIGN1}}</td>
											<td>Data</td>
											<td>{{detail.INPUT_SIGN2}}</td>
											<td>{{detail.INPUT_VAL2}}</td>
											<td>{{detail.PLAN_TXT}}</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<div class="text-right mt-2 pr-2">
						<button class="btn btn_sky btnEdit" ng-click="newGradeItem()">신규</button>
						<button class="btn btn_nv btnEdit" ng-click="editGradeItem()">수정</button>
					</div>
				</div>
				
				<div class="conts_in" style="height: 220px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 개량방안 이력 관리
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 135px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="10%">
									<col width="45%">
									<col width="20%">
									<col width="10%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="45%"><div class="th-text">평가기준명</div></th>
										<th width="20%"><div class="th-text">적용일자</div></th>
										<th width="10%"><div class="th-text">작성자</div></th>
										<th width="15%"><div class="th-text">작성일자</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="grade in gradeList " ng-click="gradeSelect(grade);clickTable($event)" class="{{($index == 0)? 'active': ''}}">
										<td>{{grade.EST_IMP_SID}}</td>
										<td>{{grade.EST_IMP_NM}}</td>
										<td>{{grade.APPLY_DT}}</td>
										<td>{{grade.INSERT_ID}}</td>
										<td>{{grade.INSERT_DT}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right mt-2 pr-2">
						<button type="button" class="btn btn_gr" ng-click="DownLoadExcel(2)">엑셀</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ------------------------팝업 창  -->

<section class="popupSection" id="newIndirEstimationPopup"	style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup')">
	<div class="popupWrap operation_popupWrap w_815px" id="stateDiagPopup">
		<h3>
			간접 상태평가 <span class="popupClose" ng-click="closeNewItemPopup()"><i
				class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info ">
				<div class="popup_title">
					<p>간접 상태평가</p>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명 *</span></label> <input type="text"
								maxlength="200" ng-model="EditInfo.EST_NM">
						</div>
					</div>
				</div>
				<div ng-hide="EditInfo.Mode=='new'" class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text"
								ng-model="EditInfo.INSERT_ID" readonly>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text"
								ng-model="EditInfo.INSERT_DT" readonly>
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가일 *</span></label> <input type="text"
								id="est_start_dt" readonly ng-model="EditInfo.EST_START_DT"
								class="datePicker">
						</div>
					</div>
				</div>
				<div class="table_wrap mb-2">
					<div class="grid">
						<table id="list2popup"></table>
					</div>
					<div id="list2popupPager"></div>
				</div>
				<div class="btn_wrap pr-2">
					<button type="button" class="btn btn-block btn-primary"
						ng-click="showGisPopup()">관로선택</button>
					<button type="button" class="btn btn-block btn-danger"
						ng-click="deleteSelectedAsset()">삭제</button>
				</div>
				<!-- <div class="popup_title">
						<p></p>
					</div> -->
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success"
					ng-click="SaveAssetResult()">평가시작</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="closeNewItemPopup()">취소</button>
			</div>
		</div>
	</div>
</section>


<section class="popupSection" id="DetailResultIndirEstimationPopup"	style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup1')">
	<div class="popupWrap state_popupWrap state2_popupWrap height_auto"
		style="width: 40%;" id="stateDiagPopup1">
		<h3>
			상태평가(간접평가) 세부항목 결과 <span class="popupClose"
				ng-click="closeDetailResultIndirEstimation()"><i
				class="xi-close"></i></span>
		</h3>
		<div class="popup height_auto">
			<div class="table_wrap p-2">
				<p class="font-weight-bold mb-1">상태평가(간접평가) 세부항목 별 결과</p>
				<table class="table_basic">
					<thead>
					<colgroup>
						<col width=20%;>
						<col width=20%;>
						<col width=20%;>
						<col width=20%;>
						<col width=20%;>
					</colgroup>
					</thead>
					<tbody>
						<tr>
							<th class="text-center">평가항목</th>
							<th class="text-center">측정값</th>
							<th class="text-center">조건값</th>
							<th class="text-center">가중치</th>
							<th class="text-center">f*w</th>
						</tr>
						<tr ng-repeat="result in EstIndirAssetInfo">
							<td>{{result.C_NAME}}</td>
							<td>{{result.ITEM_VAL}}</td>
							<td>{{result.CONDTION}}</td>
							<td>{{result.WEIGHT_VAL}}</td>
							<td>{{result.FW}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="image_wrap p-2 m-2 py-1 text-center position_R">
				<img src="/assets/images/code4.gif" alt="공식" class="w_70"> <span
					class="font-weight-bold small">: {{stateGrade}} </span> 
					<input readonly
					type="text" class="image_wrap_input1" ng-model="sum_fw">
					<input readonly
					type="text" class="image_wrap_input2" ng-model="dp">
					<input readonly
					type="text" class="image_wrap_input3" ng-model="result">
					<input readonly
					type="text" class="image_wrap_input4" ng-model="sum_weight">
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="closeDetailResultIndirEstimation()">닫기</button>
			</div>
		</div>
	</div>
</section>

<!-- 평가항목 및 기준 (신규/수정)팝업 -->
<section class="popupSection" id="newIndirEstFactorPopup" style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup2')">
	<div class="popupWrap operation_popupWrap" style="width: 900px;" id="stateDiagPopup2">
		<h3>
			평가항목 및 기준 {{saveType == 'new'? '등록' : '수정'}}<span class="popupClose" ng-click="closeIndirEstFactor()"><i
				class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info box-scroll">
				<div class="popup_title">
					<p>평가항목 및 기준 설정</p>
				</div>
				<div class="clear" style="width: 98%; margin: 5px auto; 0">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가기준명 *</span></label> <input type="text"
								ng-model="popupEditFactorInfo.EST_SPEC_NM" maxlength="30" >
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>적용일자 *</span></label> <input type="text"
								ng-model="popupEditFactorInfo.APPLY_DT" maxlength="10" class="datePicker" id="factor_aply_start_dt" readonly>
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;" ng-hide="saveType == 'new'">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text"
								readonly ng-model="popupEditFactorInfo.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text"
								readonly ng-model="popupEditFactorInfo.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 5px auto;">
					<div class="min_tab text-center min_tab2">
						<ul class="tabs tabs_2">
							<li ng-repeat="category in  factorCategory">
								<button id="cd{{category.GB}}{{category.cd}}"
									class="{{(popupSelectedTab2Id==(category.GB+category.cd))?'active':''}}"
									ng-click="popupTab2Click(category.GB+category.cd)">{{category.name}}</button>
							</li>
						</ul>
					</div>
				</div>
				<div>
					<div class="box-scroll w_98 mt-1 mb-1 border_color" style="height: 540px;">
						<table class="text-center table_style">
							<colgroup>
								<col width="15%">
								<col width="20%">
								<col width="10%">
								<col width="7.5%">
								<col width="10%">
								<col width="7.5%">
								<col width="10%">
								<col width="10%">
								<col width="10%">
								<col width="5%">
							</colgroup>
							<thead>
								<tr>
									<th width="15%" rowspan="2">구분</th>
									<th width="20%" rowspan="2">평가항목</th>
									<th width="55%" colspan="6">평가방법</th>
									<th width="10%" rowspan="2">가중치</th>
									<th width="5%" rowspan="2">선택</th>
								</tr>
								<tr>
									<th width="45%" colspan="5">기준</th>
									<th width="10%">조건값</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="detail in  popupFactorDetail | filter : {PIPE_GB:popupSelectedTab2Id.substr(0,1)} | filter : {PIPE_TYPE:popupSelectedTab2Id.substr(1,1)}">
									<td ng-if="detail.GROUP_RN==detail.RN" rowspan="{{detail.GROUP_ROW_SPAN}}">{{detail.GROUP_NM}}</td>
									<td ng-if="detail.ITEM_RN==detail.RN" rowspan="{{detail.ROW_SPAN}}">{{detail.ITEM_NM}}</td>
									<td><input type=text class="w100" ng-model="detail.INPUT_VAL1"/></td>
									<td><select class="w100" ng-model="detail.INPUT_SIGN1" ng-options="sign for sign in signStore"></td>
									<td>Data</td>
									<td><select class="w100" ng-model="detail.INPUT_SIGN2" ng-options="sign for sign in signStore"></td>
									<td><input numbers-only type=text class="w100" ng-model="detail.INPUT_VAL2"/></td>
									<td><input numbers-only type=text class="w100" ng-model="detail.CONDITION_VAL"/></td>
									<td ng-if="detail.ITEM_RN==detail.RN" rowspan="{{detail.ROW_SPAN}}">
										<input numbers-only type=text class="w100" ng-model="detail.WEIGHT_VAL"/>
									</td>
									<td ng-if="detail.ITEM_RN==detail.RN" rowspan="{{detail.ROW_SPAN}}">
										<input type="checkbox" class="" ng-click="setUseItem(detail)" ng-model="detail.IsActive">
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success saveBtn"
					ng-click="saveIndirEstFactor()">저장</button>
				<button type="button" class="btn btn-block btn-primary"
					ng-click="showAddIndirEstFactorPopup()">항목추가</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="closeIndirEstFactor()">취소</button>
			</div>
		</div>
	</div>
</section>

<section class="popupSection" id="AddIndirEstFactorPopup" style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup3')">
	<div class="popupWrap diagnosis3_popupWrap remain2_popupWrap height_auto"
		style="width: 900px;" id="stateDiagPopup3">
		<h3>
			평가항목 추가 <span class="popupClose"
				ng-click="closeAddIndirEstFactorPopup()"><i class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="min_tab text-center min_tab2">
				<ul class="tabs tabs_2">
					<li ng-if="$index==0" ng-repeat="category in  factorCategory ">
						<button id="cd{{category.GB}}{{category.cd}}"
							class="{{(popupSelectedTab2Id==(category.GB + category.cd))?'active':''}}"
							ng-click="popupTab2Click(category.GB + category.cd)">{{category.name}}</button>
					</li>
				</ul>
			</div>
			<div class="grid_wrap p-2">
				<table class="text-center table_style">
					<colgroup>
						<col width="15%">
						<col width="20%">
						<col width="10%">
						<col width="7.5%">
						<col width="10%">
						<col width="7.5%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
					</colgroup>
					<thead>
						<tr>
							<th width="15%" rowspan="2">구분</th>
							<th width="20%" rowspan="2">평가항목</th>
							<th width="55%" colspan="6">평가방법</th>
							<th width="10%" rowspan="2">가중치</th>
						</tr>
						<tr>
							<th width="45%" colspan="5">기준</th>
							<th width="10%">조건값</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in  AddFactorList">
							<td ng-if="$index==0" rowspan="{{AddFactorList.length}}">{{detail.ITEM_GCD}}</td>
							<!-- <td ng-if="$index==0" rowspan="{{AddFactorList.length}}">{{detail.ITEM_CD}}</td> -->
							<td ng-if="$index==0" rowspan="{{AddFactorList.length}}">
								<select class="w_100" ng-model="detail.ITEM_CD" >
								<option ng-repeat=" item in AllInfoItemList | filter : {ITEM_GB:'1'}" value="{{item.ITEM_CD}}"> {{item.ITEM_NM }}</option>
								</select>
							</td>
							<td>{{detail.INPUT_VAL1}}</td>
							<td>{{detail.INPUT_SIGN1}}</td>
							<td>Data</td>
							<td>{{detail.INPUT_SIGN2}}</td>
							<td>{{detail.INPUT_VAL2}}</td>
							<td>{{detail.CONDITION_VAL}}</td>
							<td ng-if="$index==0" rowspan="{{AddFactorList.length}}">{{detail.WEIGHT_VAL}}</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<div class="text-right w_98">
				<button type="button" class="btn btn_nv" ng-click="addRowItem()">+ 행 추가</button>
				<button type="button" class="btn btn_nv" ng-click="removeRowItem()">- 행 삭제</button>
			</div>
			<div class="popupBtnWrap my-2">
				<button type="button" class="btn btn-block btn-success saveBtn"
					ng-click="AddIndirEstFactorPopup()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="closeAddIndirEstFactorPopup()">취소</button>
			</div>
		</div>
	</div>
</section>


<section class="popupSection" id="newIndirEstGradePopup" style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup4')">
	<div class="popupWrap operation_popupWrap h-auto w_815px" id="stateDiagPopup4">
		<h3>
			개량방안  {{saveType == 'new'? '등록' : '수정'}}<span class="popupClose" ng-click="closeIndirEstGrade()"><i
				class="xi-close"></i></span>
		</h3>
		<div class="popup h-auto">
			<div class="popup_info box-scroll">
				<div class="popup_title">
					<p>상태등급에 따른 개량방안</p>
				</div>
				<div class="clear" style="width: 98%; margin: 5px auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>개량방안명 *</span></label> <input type="text" ng-model="EditGradeInfo.EST_IMP_NM" maxlength="30">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>적용일자 *</span></label> <input type="text" class="datePicker" id="grade_aply_start_dt"  ng-model="EditGradeInfo.APPLY_DT"	maxlength="10">
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;" ng-hide="EditGradeInfo.Mode=='new'">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text" ng-model="EditGradeInfo.INSERT_ID" readonly>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text" ng-model="EditGradeInfo.INSERT_DT" readonly>
						</div>
					</div>
				</div>
				<!-- 테이블 표시 영역 -->

				<div class="min_tab">
					<ul class="tabs tabs_2">
						<li>
							<button id="popTab3_1_btn" ng-click="popupShowGrade('S','popTab3_1_btn')" class="active">송수관로</button>
						</li>
						<li>
							<button id="popTab3_2_btn" ng-click="popupShowGrade('D','popTab3_2_btn')">배수관로</button>
						</li>
					</ul>
				</div>
				<div >
					<div class="fixed-table-container w_98 mt-1 mb-1 h-auto">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl">
								<colgroup>
									<col width="10%">
									<col width="20%">
									<col width="8%">
									<col width="8%">
									<col width="8%">
									<col width="8%">
									<col width="8%">
									<col width="30%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">관종</div></th>
										<th width="20%"><div class="th-text">상태등급</div></th>
										<th width="40%" colspan="5"><div class="th-text">간접평가점수</div></th>
										<th width="30%"><div class="th-text">개량방안</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="detail in popupGradeDetail | filter :{PIPE_GB:popupSelectedTab3Id} ">
										<td>{{imp_plan_pipe_nm(detail.PIPE_TYPE)}}</td>
										<td>{{imp_plan_grade_nm(detail.STATUS_GRADE)}}</td>
										<td><input numbers-only style="min-width:30px;width:30px;" ng-model="detail.INPUT_VAL1" value="{{detail.INPUT_VAL1}}" maxlength="2" ></td>
										<td><select ng-model="detail.INPUT_SIGN1" class="w_100" ng-options="sign for sign in signStore"></select></td>
										<td>Data</td>
										<td><select ng-model="detail.INPUT_SIGN2" class="w_100" ng-options="sign for sign in signStore"></select></td>
										<td><input numbers-only style="min-width:30px;width:30px;" ng-model="detail.INPUT_VAL2" value="{{detail.INPUT_VAL2}}" maxlength="2"></td>
										<td><input type=text ng-model="detail.PLAN_TXT" maxlength="100" class="w_100"></td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>


			<!-- 테이블 표시 영역 -->

			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success saveBtn"
					ng-click="saveIndirEstGrade()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="closeIndirEstGrade()">취소</button>
			</div>
		</div>
	</div>
</section>


