<div class="conts">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="tab1_l">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 직접 상태평가 목록
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important;padding-right: 30px !important;">
									<input type="radio" class="custom-control-input"
										name="searchOption" id="FN_radio0"
										ng-checked="searchOption==1" ng-click="SearchOption(1)">
									<label class="custom-control-label" for="FN_radio0"
										style="left: 35%; top: 0;"><span class="pdr_26">연도</span></label>
									<select ng-init="selectYear=''" style="width: 100px !important;" ng-model="selectYear"	>
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==selectYear" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;">
									<input type="radio" class="custom-control-input"
										name="searchOption" id="FN_radio1"
										ng-checked="searchOption!=1" ng-click="SearchOption(2)">
									<label class="custom-control-label" for="FN_radio1"
										style="left: 13%; top: 0;"><span class="pr-2">기간선택</span></label>
									<input type="text" class="datePicker" id="start_dt"
										ng-model="StartDt" name="start_dt" readonly
										style="width: 130px !important;"> <label
										class="formSlash"
										style="min-width: auto !important; text-align: center;">
										<span>~</span>
									</label> <input type="text" class="datePicker" id="end_dt"
										ng-model="EndDt" name="end_dt" readonly
										style="width: 130px !important;">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>평가명</span></label> <input type="text"
								style="width: 538px;" ng-model="searchText" ng-keypress="onKeyPress($event)">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv btnView" ng-click="SearchList()">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="DeleteItem()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="DownLoadExcel(0)">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts_half right">
		<div class="conts_in">
			<div class="min_tab">
				<ul class="tabs">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1">평가
							관리</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2">평가항목 관리</button>
					</li>
					<li>
						<button id="tab3_btn" data-tab="tab3">개량방안 관리</button>
					</li>
				</ul>
			</div>
			<div class="conts_box main_conts" id="tab1" style="width: 100%;">

				<div class="conts_tit">
					<div class="main_conts">
						<p>
							<i class="fas fa-check-circle"></i> 직접 상태평가
						</p>
					</div>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>평가명</span></label> <input type="text"
								readonly ng-model="EstimationInfo.EST_NM">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성자</span></label> <input type="text"
								readonly ng-model="EstimationInfo.INSERT_ID">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>작성일자</span></label> <input type="text"
								readonly ng-model="EstimationInfo.INSERT_DT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가시작일</span></label> <input type="text"
								readonly ng-model="EstimationInfo.EST_START_DT">
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>평가종료일</span></label> <input type="text"
								readonly ng-model="EstimationInfo.EST_END_DT">
						</div>
					</div>
				</div>
				<div class="min_tab text-center min_tab4">
					<ul class="tabs tabs_2">
						<li>
							<button id="tab1_1_btn" data-tab="tab1_1" class="active">계통</button>
						</li>
						<li>
							<button id="tab1_2_btn" data-tab="tab1_2">블록</button>
						</li>
						<li>
							<button id="tab1_3_btn" data-tab="tab1_3">세부</button>
						</li>
					</ul>
				</div>
				<div id="tab1_1">
					<div class="table_wrap table-responsive table_scroll w_98 my-2">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th rowspan="2">블록</th>
									<th colspan="6">평가등급 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>Ⅰ 등급</th>
									<th>Ⅱ 등급</th>
									<th>Ⅲ 등급</th>
									<th>Ⅳ 등급</th>
									<th>Ⅴ 등급</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in EstGroupList1">
									<th class="text-center">{{item.GROUP_NM}}</th>
									<td>{{item.G1}}</td>
									<td>{{item.G2}}</td>
									<td>{{item.G3}}</td>
									<td>{{item.G4}}</td>
									<td>{{item.G5}}</td>
									<td>{{item.tot}}</td>
								</tr>
								<tr>
									<th class="text-center">합계</th>
									<td>{{Tab1Tot.G1}}</td>
									<td>{{Tab1Tot.G2}}</td>
									<td>{{Tab1Tot.G3}}</td>
									<td>{{Tab1Tot.G4}}</td>
									<td>{{Tab1Tot.G5}}</td>
									<td>{{Tab1Tot.G1 + Tab1Tot.G2 + Tab1Tot.G3 + Tab1Tot.G4 +Tab1Tot.G5}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab1_2" style="display: none;">
					<div class="table_wrap table-responsive table_scroll w_98 my-2" style="height: 450px;">
						<table class="table table_basic mb-0 table_style">
							<thead>
								<tr class="text-center">
									<th colspan="2">블록</th>
									<th colspan="6">평가등급 별 자산 개수</th>
								</tr>
								<tr class="text-center">
									<th>중블록</th>
									<th>소블록</th>
									<th>Ⅰ 등급</th>
									<th>Ⅱ 등급</th>
									<th>Ⅲ 등급</th>
									<th>Ⅳ 등급</th>
									<th>Ⅴ 등급</th>
									<th>합계</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in EstGroupList2">
									<th colspan="1" class="text-center">{{item.GROUP_NM1}}</th>
									<th colspan="1" class="text-center">{{item.GROUP_NM2}}</th>
									<td>{{item.G1}}</td>
									<td>{{item.G2}}</td>
									<td>{{item.G3}}</td>
									<td>{{item.G4}}</td>
									<td>{{item.G5}}</td>
									<td>{{item.tot}}</td>
								</tr>
								<tr>
									<th colspan="2" class="text-center">합계</th>
									<td>{{Tab2Tot.G1}}</td>
									<td>{{Tab2Tot.G2}}</td>
									<td>{{Tab2Tot.G3}}</td>
									<td>{{Tab2Tot.G4}}</td>
									<td>{{Tab2Tot.G5}}</td>
									<td>{{Tab2Tot.G1 + Tab2Tot.G2 + Tab2Tot.G3 + Tab2Tot.G4 +Tab2Tot.G5}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab1_3" style="display: none;">
					<div class="clear w_98 mt-2 p-1 d-flex">
						<div class="clear w_98 d-flex">
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>관로계통</span></label> 
<!-- 									<select type="text" ng-model="CLASS3_CD" class="ng-pristine ng-untouched ng-valid">
										<option value="">전체</option>
										<option value="F">시설</option>
										<option value="N">관망</option>
									</select> -->
									<select type="text" ng-model="CLASS4_CD" >
									<!-- ng-options="block.LEVEL_CD as block.LEVEL_NM for block in assetLevelList  | filter :{LEVEL_STEP:4, FN_CD:  'N' }" -->
									<option value="">전체</option>
									<option value="T">송수</option>
									<option value="D">배수</option>
									<option value="S">급수</option>
									<option value="I">취수</option>
									<option value="U">도수</option>									
									</select>										
								</div>
							</div>
							<div class="half_formB fm_w50 w_40">
								<div class="form-group">
									<label for=""><span>블록</span></label> 
									<select type="text" ng-model="BL_INFO" 
									ng-options="block.BL_BCODE as block.BL_NAME for block in blockList  ">
									<option value="">전체</option>
									</select>
								</div>
							</div>
							<button class="btn btn_nv mt-1 mr-1 btnView" style="margin-left: auto;" ng-click="ModalCheck()">조회</button>
						</div>
					</div>
					<div class="grid w_98 my-2 table-responsive table_scroll_150">
						<table id="list2" class="table"></table>
					</div>
					<!-- <div id="listPager2"></div>
					<div id="list_page2"></div> -->
					<div id="listPager2"></div>
					<div id="list2_page"></div>
				</div>
				<div class="text-right p-2 pb-2">
					<button ng-show="tab1Id==3" class="btn btn_sky btnView" ng-click="ModalSearch()">검색</button>
					<button class="btn btn_sky btnEdit" ng-click="NewItem()">신규평가</button>
					<button class="btn btn_sky btnEdit" ng-click="ShowResult()">결과보기</button>
					<button class="btn btn-info btnView" ng-click="DownloadReport()">보고서</button>
				</div>
			</div>
			<div class="conts_box main_conts" id="tab2"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 480px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 직접 상태평가 평가항목
							</p>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가기준명</span></label> <input type="text" ng-model="selectedFactor.EST_SPEC_NM" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자</span></label> <input type="text" ng-model="selectedFactor.APPLY_DT" readonly>
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text" ng-model="selectedFactor.INSERT_ID" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input type="text" ng-model="selectedFactor.INSERT_DT" readonly>
							</div>
						</div>
					</div>
					<div class="box-scroll w_98 mt-1 mb-1" style="height: 303px;">
						<table class="text-center table_basic table_style">
							<colgroup>
								<col width="15%">
								<col width="20%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
							</colgroup>
							<thead>
								<tr>
									<th width="15%" rowspan="3">평가항목</th>
									<th width="20%" rowspan="3">측정항목</th>
									<th width="64.8%" colspan="6">관종</th>
								</tr>
								<tr>
									<th width="10.8%" rowspan="2">SP</th>
									<th width="10.8%" rowspan="2">CML-DIP</th>
									<th width="10.8%" rowspan="2">CIP/DIP</th>
									<th width="21.6%" colspan="2">비금속관</th>
									<th width="10.8%" rowspan="2">콘크리트관</th>
								</tr>
								<tr>
									<th width="10.8%">PE,PVC</th>
									<th width="10.8%">GRP</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat=" fac in factorDetail ">
									<td rowspan="{{fac.GB_cnt}}" ng-if="fac.row_idx==fac.idx">{{fac.ITEM_GB}}</td>
									<td>{{fac.ITEM_NM}}</td>
									<td><i ng-class="(fac.TYP0=='Y')?'far fa-circle':'fas fa-times'"></i></td>
									<td><i ng-class="(fac.TYP1=='Y')?'far fa-circle':'fas fa-times'"></i></td>
									<td><i ng-class="(fac.TYP2=='Y')?'far fa-circle':'fas fa-times'"></i></td>
									<td><i ng-class="(fac.TYP3=='Y')?'far fa-circle':'fas fa-times'"></i></td>
									<td><i ng-class="(fac.TYP4=='Y')?'far fa-circle':'fas fa-times'"></i></td>
									<td><i ng-class="(fac.TYP5=='Y')?'far fa-circle':'fas fa-times'"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="text-right mt-2 pr-2">
						<button class="btn btn_sky btnEdit" ng-click="newFactorItem()">신규</button>
						<button class="btn btn_nv btnEdit" ng-click="editFactorItem()">수정</button>
					</div>
				</div>
				<div class="conts_in" style="height: 220px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 평가항목 및 기준 관리
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 135px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl" id="storeFileList"
								ng-class="{noData : storeFileList.length == 0}">
								<colgroup>
									<col width="10%">
									<col width="45%">
									<col width="20%">
									<col width="10%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="45%"><div class="th-text">평가기준명</div></th>
										<th width="20%"><div class="th-text">적용일자</div></th>
										<th width="10%"><div class="th-text">작성자</div></th>
										<th width="15%"><div class="th-text">작성일자</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="factor in factorList " ng-click="factorSelect(factor);clickTable($event)" class="{{($index == 0)? 'active': ''}}">
										<td>{{factor.EST_SPEC_SID}}</td>
										<td>{{factor.EST_SPEC_NM}}</td>
										<td>{{factor.APPLY_DT}}</td>
										<td>{{factor.INSERT_ID}}</td>
										<td>{{factor.INSERT_DT}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right mt-2 pr-2">
						<button class="btn btn_gr" ng-click="DownLoadExcel(1)">엑셀</button>
					</div>
				</div>
			</div>
			<div class="conts_box main_conts" id="tab3"
				style="display: none; width: 100%;">
				<div class="conts_in" style="height: 480px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 상태등급에 따른 개량 방안
							</p>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>개량방안명</span></label> <input type="text" ng-model="SelectedGradeInfo.EST_IMP_NM" maxlength="30">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자</span></label> <input type="text"  readonly ng-model="SelectedGradeInfo.APPLY_DT" maxlength="10">
							</div>
						</div>
					</div>
					<div class="clear w_98">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input type="text" ng-model="SelectedGradeInfo.INSERT_ID" readonly>
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input type="text" ng-model="SelectedGradeInfo.INSERT_DT" readonly>
							</div>
						</div>
					</div>
					<div class="min_tab text-center min_tab3">
						<ul class="tabs tabs_2">
							<li ng-repeat="pipeType in gradePipeCategory">
								<button class="{{(selectedGradePipeCd==pipeType.cd)?'active':''}}" ng-click="selectGradePipe(pipeType.cd)">{{pipeType.name}}</button>
							</li>
						</ul>
					</div>
					<div class="active" id="tab2_1">
						<div class="fixed-table-container w_98 mt-1 mb-1"
							style="height: 265px;">
							<div class="header-bg"></div>
							<div class="table-wrapper">
								<table class="fixedTbl">
									<colgroup>
										<col width="10%">
										<col width="50%">
										<col width="20%">
										<col width="20%">
									</colgroup>
									<thead>
										<tr class="ui-jqgrid-labels">
											<th width="10%"><div class="th-text">상태등급</div></th>
											<th width="50%"><div class="th-text">상태조건</div></th>
											<th width="20%"><div class="th-text">개량방안</div></th>
											<th width="20%"><div class="th-text">비고</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in gradeDetail | filter : {PIPE_TYPE : selectedGradePipeCd }">
											<td>{{data.STATUS_GRADE}}</td>
											<td class="text-left pl-1" ng-bind="data.STATUS_CASE"></td>
											<td ng-bind="data.PLAN_TXT"></td>
											<td ng-bind="data.C_MEMO"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<div class="text-right mt-2 pr-2">
						<button class="btn btn_sky btnEdit" ng-click="newGradeItem()">신규</button>
						<button class="btn btn_nv btnEdit" ng-click="editGradeItem()">수정</button>
					</div>
				</div>
				<div class="conts_in" style="height: 220px;">
					<div class="conts_tit">
						<div class="main_conts">
							<p>
								<i class="fas fa-check-circle"></i> 개량방안 이력 관리
							</p>
						</div>
					</div>
					<div class="fixed-table-container w_98 mt-1 mb-1"
						style="height: 135px;">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl" id="storeFileList"
								ng-class="{noData : storeFileList.length == 0}">
								<colgroup>
									<col width="10%">
									<col width="45%">
									<col width="20%">
									<col width="10%">
									<col width="15%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="45%"><div class="th-text">개량방안명</div></th>
										<th width="20%"><div class="th-text">적용일자</div></th>
										<th width="10%"><div class="th-text">작성자</div></th>
										<th width="15%"><div class="th-text">작성일자</div></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="grade in gradeList " ng-click="gradeSelect(grade);clickTable($event)" class="{{($index == 0)? 'active': ''}}">
										<td>{{grade.EST_IMP_SID}}</td>
										<td>{{grade.EST_IMP_NM}}</td>
										<td>{{grade.APPLY_DT}}</td>
										<td>{{grade.INSERT_ID}}</td>
										<td>{{grade.INSERT_DT}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-right mt-2 pr-2">
						<button class="btn btn_gr" ng-click="DownLoadExcel(2)">엑셀</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<section class="popupSection" id="newDirEstimationPopup" style="display:none;" onMouseMove="moveWindow(event,'#stateDiagPopup')">
		<div class="popupWrap operation_popupWrap w_815px h-auto" id="stateDiagPopup">
			<h3>
				직접 상태평가 수행<span class="popupClose" ng-click="closeNewItemPopup()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup h-auto">
				<div class="popup_info">
					<div class="popup_title">
						<p>직접 상태평가 수행</p>
					</div>
					<div class="clear" style="width: 98%; margin: 0 auto;">
						<div class="w100 Form100">
							<div class="form-group">
								<label for=""><span>평가명 *</span></label> <input id="EST_NM"
									type="text" maxlength="200" ng-model="EditInfo.EST_NM">
							</div>
						</div>
					</div>
					<div class="clear" style="width: 98%; margin: 0 auto;" >
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input
									type="text" ng-model="EditInfo.INSERT_ID" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input
									type="text" ng-model="EditInfo.INSERT_DT" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="clear" style="width: 98%; margin: 0 auto;">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가시작 *</span></label> <input id="EST_START_DT"
									type="text" ng-model="EditInfo.EST_START_DT" class="datePicker">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가종료일 *</span></label> <input id="EST_END_DT"
									type="text" ng-model="EditInfo.EST_END_DT" class="datePicker">
							</div>
						</div>
					</div>
					<div class="grid">
						<table id="list2popup"></table>
					</div>
					<div id="list2popupPager"></div>					
					<div class="btn_wrap mt-2">
						<button type="button" class="btn btn-block btn-primary" ng-click="showGisPopup()">관로선택</button>
						<!-- <button type="button" class="btn btn-block btn-primary">가져오기</button> -->
						<button type="button" class="btn btn-block btn-primary" ng-click="DownLoadExcel(3)">양식출력</button>
						<button type="button" class="btn btn-block btn-primary" ng-click="UpLoadExcel()">결과등록</button> 
						<input type="file" ng-file-select="fileSelect($files, 'xlsx')" id="input_excel_file" ng-model="files" style="width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;">
						<button type="button" class="btn btn-block btn-danger" ng-click="deleteSelectedAsset()">삭제</button>
					</div>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success"
						ng-click="SaveAssetResult()">평가시작</button>
					<button type="button" class="btn btn-block btn-danger closeBtn"
						ng-click="closeNewItemPopup()">취소</button>
				</div>
			</div>
		</div>
	</section>
	 <!-- 평가항목 설정 팝업 -->
	 
	 <section class="popupSection" id="newDirEstFactorPopup" style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup1')">
		<div class="popupWrap operation_popupWrap w_40" id="stateDiagPopup1">
			<h3>
				직접 상태평가 평가항목 설정 {{saveType == 'new'? '등록' : '수정'}} <span class="popupClose" ng-click="closeDirEstFactor()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup">
				<div class="popup_info">
					<div class="popup_title">
						<p>평가항목 설정</p>
					</div>
					<div class="clear w_98 mt-2">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>평가기준명 *</span></label> <input ng-model="EditFactorInfo.EST_SPEC_NM"
									type="text">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>적용일자 *</span></label> <input ng-model="EditFactorInfo.APPLY_DT"
									type="text" class="datePicker">
							</div>
						</div>
					</div>
					<div ng-hide="EditFactorInfo.Mode=='new'" class="clear" style="width: 98%; margin: 0 auto;">
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성자</span></label> <input ng-model="EditFactorInfo.INSERT_ID"
									type="text" disabled="disabled">
							</div>
						</div>
						<div class="half_formB fm_w50">
							<div class="form-group">
								<label for=""><span>작성일자</span></label> <input ng-model="EditFactorInfo.INSERT_DT"
									type="text" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="box-scroll w_98 mt-1 mb-1" style="height: 600px;">
						<table class="text-center table_basic table_style">
							<colgroup>
								<col width="15%">
								<col width="20%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
								<col width="10.8%">
							</colgroup>
							<thead>
								<tr>
									<th width="15%" rowspan="3">평가항목</th>
									<th width="20%" rowspan="3">측정항목</th>
									<th width="64.8%" colspan="6">관종</th>
								</tr>
								<tr>
									<th width="10.8%" rowspan="2">SP</th>
									<th width="10.8%" rowspan="2">CML-DIP</th>
									<th width="10.8%" rowspan="2">CIP/DIP</th>
									<th width="21.6%" colspan="2">비금속관</th>
									<th width="10.8%" rowspan="2">콘크리트관</th>
								</tr>
								<tr>
									<th width="10.8%">PE,PVC</th>
									<th width="10.8%">GRP</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="fac in popupFactorDetail">
									<td rowspan="{{fac.GB_cnt}}" ng-if="fac.row_idx==fac.idx">{{fac.ITEM_GB}}</td>
									<td>{{fac.ITEM_NM}}</td>
									<td><select class="w100" ng-model="fac.TYP0" ng-options="opt for opt in factorSelectOptions"></select></td>
									<td><select class="w100" ng-model="fac.TYP1" ng-options="opt for opt in factorSelectOptions"></select></td>
									<td><select class="w100" ng-model="fac.TYP2" ng-options="opt for opt in factorSelectOptions"></select></td>
									<td><select class="w100" ng-model="fac.TYP3" ng-options="opt for opt in factorSelectOptions"></select></td>
									<td><select class="w100" ng-model="fac.TYP4" ng-options="opt for opt in factorSelectOptions"></select></td>
									<td><select class="w100" ng-model="fac.TYP5" ng-options="opt for opt in factorSelectOptions"></select></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="popupBtnWrap">
					<button type="button" class="btn btn-block btn-success saveBtn"
					ng-click="saveDirEstFactor()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn"
					ng-click="closeDirEstFactor()">취소</button>
				</div>
			</div>
		</div>
	</section>
	
		<!-- 개량방안 설정 팝업 -->
		<section class="popupSection" id="newDirEstGradePopup" style="display: none;" onMouseMove="moveWindow(event,'#stateDiagPopup2')">
			<div class="popupWrap operation_popupWrap w_40 h-auto" id="stateDiagPopup2">
				<h3>
					상태등급에 따른 개량 방안 설정 {{saveType == 'new'? '등록' : '수정'}}<span class="popupClose" ng-click="closeDirEstGrade()"><i
						class="xi-close"></i></span>
				</h3>
				<div class="popup">
					<div class="popup_info box-scroll h_100">
						<div class="popup_title">
							<p>상태등급에 따른 개량 방안</p>
						</div>
						<div class="clear" style="width: 98%; margin: 5px auto 0;">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>개량방안명 *</span></label> <input ng-model="EditGradeInfo.EST_IMP_NM"
										type="text" id="">
								</div>
							</div>
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>적용일자 *</span></label> <input ng-model="EditGradeInfo.APPLY_DT"
										type="text" class="datePicker">
								</div>
							</div>
						</div>
						<div ng-hide="EditGradeInfo.Mode=='new'" class="clear" style="width: 98%; margin: 0 auto;">
							<div class="half_formB fm_w50">
								<div class="form-group">
									<label for=""><span>작성자</span></label> <input ng-model="EditGradeInfo.INSERT_ID"
										type="text" id="" ng-readonly="isReadonly"
										ng-disabled="isDisabled">
								</div>
							</div>
						</div>
						
						<div class="min_tab text-center min_tab3">
							<ul class="tabs tabs_2">
								<li ng-repeat="pipeType in gradePipeCategory">
									<button class="{{(selectedGradePipeCd==pipeType.cd)?'active':''}}" ng-click="selectGradePipe(pipeType.cd)">{{pipeType.name}}</button>
								</li>
	
							</ul>
						</div>
						<div class="active" >
							<div class="fixed-table-container w_98 mt-1 mb-1"
								style="height: 590px;">
								<div class="header-bg"></div>
								<div class="table-wrapper">
									<table class="fixedTbl">
										<colgroup>
											<col width="10%">
											<col width="50%">
											<col width="20%">
											<col width="20%">
										</colgroup>
										<thead>
											<tr class="ui-jqgrid-labels">
												<th width="10%"><div class="th-text">상태등급</div></th>
												<th width="50%"><div class="th-text">상태조건</div></th>
												<th width="20%"><div class="th-text">개량방안</div></th>
												<th width="20%"><div class="th-text">비고</div></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="data in popupGradeDetail | filter : {PIPE_TYPE : selectedGradePipeCd }" style="height: 110px;">
												<td>{{data.STATUS_GRADE}}</td>
												<td class="text-left pl-1">
												<textarea ng-model="data.STATUS_CASE" class="w100 h_100"></textarea>
												</td>
												<td><input type="text" ng-model="data.PLAN_TXT" class="w100" style="min-width: 100%;"></td>
												<td><textarea ng-model="data.C_MEMO" class="w100 h_100"></textarea></td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
	
					<div class="popupBtnWrap mb-2">
						<button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveDirEstGrade()">저장</button>
						<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeDirEstGrade()">취소</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- 자산별 평가 결과 상세 입력팝업 -->
	<section class="popupSection" id="resultDirEstInfoPopup" style="display:none;" onMouseMove="moveWindow(event,'#stateDiagPopup3')">
		<div class="popupWrap remain2_popupWrap operation_popupWrap height_auto" id="stateDiagPopup3">
			<h3>
				직접평가 세부항목 결과 입력 <span class="popupClose" ng-click="closeResultPopup()"><i class="xi-close"></i></span>
			</h3>
			<div class="popup">
				<div class="table_wrap w_98 my-2 box-scroll" style="height: 670px;">
					<!-- <p class="font-weight-bold">직접평가 세부항목 결과 입력</p> -->
					<table class="table table_basic table_style table_sticky">
						<colgroup>
							<col width="16.66%">
							<col width="25%">
							<col width="33.33%">
							<col width="25%">
						</colgroup>
						<thead>
							<tr>
								<th class="text-center">평가항목</th>
								<th class="text-center">측정항목</th>
								<th class="text-center">단위</th>
								<th class="text-center">평가결과(숫자로입력)</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="fac in EstDirAssetInfo">
								<td rowspan="{{fac.GB_cnt}}" ng-if="fac.row_idx==fac.idx">{{fac.ITEM_GB}}</td>
								<td>{{fac.ITEM_NM}}</td>
								<td>{{fac.UNIT}}</td>
								<td><input numbers-only type="text" class="w100" ng-model="fac.INPUT_VAL"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="popupBtnWrap mb-2">
					<button type="button" class="btn btn-block btn-success saveBtn" ng-click="saveResultPopup()">저장</button>
					<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closeResultPopup()">취소</button>
				</div>
			</div>
		</div>
	</section>
	