
<div class="conts ng-scope">
	<div class="contain conts_half left">
		<div class="conts_in left_tab" id="">
			<div class="conts_tit">
				<div class="main_conts">
					<p>
						<i class="fas fa-check-circle"></i> 기술/안전진단 자료관리
					</p>
				</div>
			</div>
			<div class="search_box main_conts">
				<div class="clear tits" style="position: relative;">
					<div class="clear">
						<div class="form-group">
							<!--                                <label><span></span></label>-->
							<div class="inputRdo">
								<div class="custom-control custom-radio"
									style="width: auto !important; padding-right: 30px !important;" ng-click="setSearchOption(1)">
									<input  type="radio" class="custom-control-input" name="searchOption" ng-checked="searchOption==1" id="FN_radio0"> 
										<label class="custom-control-label" for="FN_radio0"
										style="left: 65px; top: 0;width:91px;"><span >대상년도</span></label>
									<select style="width: 100px !important;" ng-model="searchCategory">
										<option value='' >전체</option>
										<option ng-repeat="year in ComCodeYearList" ng-selected="year.C_SCODE==searchCategory" value={{year.C_SCODE}} >{{year.C_NAME}}</option>
									</select>
								</div>
								<div class="custom-control custom-radio"
									style="width: auto !important; height: 29px;" ng-click="setSearchOption(2)">
									<input  type="radio" class="custom-control-input" name="searchOption" ng-checked="searchOption==2" id="FN_radio1"> 
										<label class="custom-control-label" for="FN_radio1"
										style="left: 13%; top: 0;"><span class="pr-2">등록일자</span></label>
									<input type="text"
										class="datePicker" ng-model="searchStartDt"
										id="tech_start_dt" readonly
										style="width: 130px !important;"> 
									<label class="formSlash" style="min-width: auto !important; text-align: center;"><span>~</span></label> 
									<input type="text"
										class="datePicker" ng-model="searchEndDt"
										id="tech_end_dt" readonly
										style="width: 130px !important;">
								</div>
							</div>
						</div>
					</div>
					<div class="search_twoForm">
						<div class="form-group">
							<label for=""> <span>자료명</span></label> 
							<input kr-input type="text" id="searchText" class="input_fac" ng-model="searchSubject" ng-keypress="onKeyPress($event)" style="width: 538px;">
						</div>
					</div>
					<div class="float_R"
						style="position: absolute; bottom: 4px; right: 0;">
						<button class="btn btn_nv" ng-click="search()">조회</button>
						<button id="delete" class="btn btn-danger btnEdit" ng-click="deleteItem()">삭제</button>
						<button class="btn btn_gr btnView" ng-click="downloadList()">엑셀</button>
					</div>
				</div>
			</div>
			<div class="grid">
				<table id="list"></table>
			</div>
			<div id="listPager"></div>
			<span class="font-weight-bold pr-2 float_R">조회건수: {{totalCount|currency:'':0}} 건</span>
			<div id="list_page"></div>
		</div>
	</div>
	<div class="contain conts conts_half right">
		<div class="conts_in">
			<div class="conts_box main_conts pt-3">
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>자료명</span></label>
							 <!-- <input type="text" maxlength="200"> -->
                              <input kr-input type="text" readonly id="SUBJECT" name="SUBJECT" ng-model="ResultInfo.SUBJECT" maxlength="40">
                              <input type="hidden" id="BBS_SID" name="BBS_SID" ng-model="ResultInfo.BBS_SID">							 
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
                            <label for="CREATEUSER"><span>등록자</span></label>
                            <input type="text" readonly id="CREATEUSER" name="CREATEUSER" ng-model="ResultInfo.CREATEUSER">								
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>등록일자</span></label> 
							<input class="dateTimePicker" readonly id="CREATEDT" name="CREATEDT" type="text" ng-model="ResultInfo.CREATEDT">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>대상년도</span></label> <input	type="text" readonly ng-model="ResultInfo.CATEGORY"	>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>진단비용</span></label> 
							<input	type="text" readonly value="{{ResultInfo.E_VALUE1|currency:'':0}}">
						</div>
					</div>
				</div>
				<div class="clear box-scroll border_color w_98" style="height: 300px;">
					<div class="w100 Form100 pl-3">
<!-- 						<textarea rows="" cols="" style="width: 100% !important;"
							class="h30" placeholder="내용"></textarea> -->
                        <div ng-bind-html="trustedHtml" contenteditable="false" class="drawing_align editorContent" disabled id="CONTENT" name="CONTENT"
                             style="overflow: auto; pointer-events: none;" onkeydown="event.returnValue = false;">
                        </div>							
					</div>
				</div>
				<div class="boxs">
					<div class="clear">
						<div class="w100 Form100">
							<div class="form-group longLabelForm">
								<label class="LongUptitle" for="">
									<p>
										<span class="ct"><i class="fas fa-file-export"></i>
											첨부파일</span>
									</p>
								</label>
							</div>
						</div>
					</div>
					<div class="fixed-table-container w_98">
						<div class="header-bg"></div>
						<div class="table-wrapper">
							<table class="fixedTbl" id="storeFileList"
								ng-class="{noData : storeFileList.length == 0}">
								<colgroup>
									<col width="10%">
									<col width="60%">
									<col width="20%">
									<col width="10%">
								</colgroup>
								<thead>
									<tr class="ui-jqgrid-labels">
										<th width="10%"><div class="th-text">순번</div></th>
										<th width="60%"><div class="th-text">첨부파일명</div></th>
										<th width="20%"><div class="th-text">사이즈(Byte)</div></th>
										<th width="10%"><div class="th-text">비고</div></th>
									</tr>
								</thead>
								<tbody>
                                    <tr ng-if="(file.RNUM > 0)" ng-repeat="file in storeFileList">
                                        <td class="ct">{{file.RNUM}}</td>
                                        <td class="ct">{{file.F_TITLE}}</td>
                                        <td class="ct">{{file.F_SIZE | number : 0}}</td>
                                        <td class="ct">
                                            <button class="btn btn_nv download btnView" ng-click="getCmFileDown(file)">다운로드</button>
                                        </td>
                                    </tr>
									<tr ng-if="storeFileList.length == 0">
										<td class="ct" colspan="4">데이터가 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="">
					<div class="text-right p-2 pb-2">
						<button class="btn btn_sky btnEdit" ng-click="newTempItem()">등록</button>
						<button class="btn btn_nv btnEdit" ng-click="updateItemPopup()">수정</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>