<!-- 진단구역 팝업 -->
<section class="popupSection" id="diagnosticAreaPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow5')">
    <div class="popupWrap operation_popupWrap gis_2 h-auto" id="gisPopupWindow5">
        <h3>진단 구역 관리<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span></h3>
        <div class="popup h-auto">
            <div class="popup_info">
                <div class="min_tab">
                    <ul class="tabs tabs_2" id="diagnosticAreaTab" ng-click="diagnosticAreaTabClick($event)">
                        <li>
                            <button id="BtnDiagnosticAreaTab1" class="active" data-tab="1">진단 구역</button>
                        </li>
                        <li>
                            <button id="BtnDiagnosticAreaTab2" data-tab="2">상태진단 그룹</button>
                        </li>
                    </ul>
                </div>
                <div class="conts_box main_conts" id=diagnosticAreaTab1>
                    <form id="form1">
                        <div class="clear" style="width: 98%; margin: 10px auto 0;">
                            <div class="w100 Form100">
                                <div class="form-group">
                                    <label for=""><span>기간선택</span></label>
                                    <input type="text" class="datePicker" name="s_date" style="width: 30% !important;">
                                    <label style="width: auto !important; text-align: center; margin: 0 3px;">
                                        <span>~</span>
                                    </label>
                                    <input type="text" class="datePicker" name="e_date" style="width: 30% !important;">
                                </div>
                            </div>
                        </div>
                        <div class="clear" style="width: 98%; margin: 0 auto;">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>구역명</span></label>
                                    <input type="text" name="diag_area_nm">
                                </div>
                            </div>
                            <div class="half_formB fm_w50 text-right pr-1">
                                <button type="button" class="btn btn-block btn_nv mt-1" ng-click="diagnosticAreaPopup.search()">조회</button>
                                <button type="button" class="btn btn-block btn-danger mt-1" ng-click="diagnosticAreaPopup.delete()">삭제</button>
                            </div>
                        </div>
                    </form>
                    <div class="grid">
                        <table id="diagnosticAreaList1"></table>
                    </div>
                    <div id="diagnosticAreaListPager1"></div>
                    <div id="diagnosticAreaList1_page"></div>
                </div>
                <div class="conts_box main_conts" id=diagnosticAreaTab2 style="display: none">
                    <form id="form2">
                        <div class="clear" style="width: 98%; margin: 10px auto 0;">
                            <div class="w100 Form100">
                                <div class="form-group">
                                    <label for=""><span>기간선택</span></label>
                                    <input type="text" class="datePicker" name="s_date" style="width: 30% !important;">
                                    <label style="width: auto !important; text-align: center; margin: 0 3px;">
                                        <span>~</span>
                                    </label>
                                    <input type="text" class="datePicker" name="e_date" style="width: 30% !important;">
                                </div>
                            </div>
                        </div>
                        <div class="clear" style="width: 98%; margin: 0 auto;">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>그룹명</span></label>
                                    <input type="text" name="state_diag_group_nm">
                                </div>
                            </div>
                            <div class="half_formB fm_w50 text-right pr-1">
                                <button type="button" class="btn btn-block btn_nv mt-1" ng-click="stateDiagnosticGroupPopup.search()">조회</button>
                                <button type="button" class="btn btn-block btn-danger mt-1" id="BtnDeleteStateDiagnosticGroupPopup" ng-click="stateDiagnosticGroupPopup.delete()">삭제</button>
                            </div>
                        </div>
                    </form>
                    <div class="grid">
                        <table id="diagnosticAreaList2"></table>
                    </div>
                    <div id="diagnosticAreaListPager2"></div>
                    <div id="diagnosticAreaList2_page"></div>
                </div>
                <div class="popupBtnWrap mb-2">
                    <button type="button" class="btn btn-block btn_sky" id="ross2" ng-click="performDiagnosticAreaNewPopup()">신규</button>
                    <button type="button" class="btn btn-block btn_nv" id="subsidiaries3" ng-click="performDiagnosticAreaEditPopup()">수정</button>
                    <button type="button" class="btn btn-block btn-danger closeBtn" id="farm7326981" ng-click="closePopup($event)">취소</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popupSection" id="diagnosticAreaDetailPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow6')">
    <div class="popupWrap operation_popupWrap gis_2 h-auto" id="gisPopupWindow6">
        <h3>진단 구역 등록/수정<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span></h3>
        <div class="popup h-auto">
            <div class="popup_info">
                <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for=""><span>진단구역명</span></label> <input type="text" ng-model="DIAG_AREA_NM" kr-input>
                        </div>
                    </div>
                </div>
                <div class="clear" style="width: 98%; margin: 0 auto;">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>등록자</span></label> <input type="text" ng-model="WRTR_NM" disabled>
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>등록일자</span></label> <input type="text" class="datePicker" ng-model="WRT_YMD" disabled>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <table id="diagnosticAreaList3"></table>
                </div>
                <div id="diagnosticAreaListPager3"></div>
                <div id="diagnosticAreaList3_page"></div>
                <div class="btn_wrap pr-2">
                    <button type="button" class="btn btn-block btn-primary" ng-click="showPopupLevelPath1()">자산선택</button>
                    <button type="button" class="btn btn-block btn-primary" ng-click="selectDiagnosticGroup()">진단그룹선택</button>
                    <button type="button" class="btn btn-block btn-danger" ng-click="diagnosticAreaDetailPopup.delete()">삭제</button>
                </div>
                <div class="popup_title">
                    <p></p>
                </div>
            </div>
            <div class="popupBtnWrap mb-2">
                <button type="button" class="btn btn-block btn-success" ng-click="diagnosticAreaDetailPopup.save()">저장</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
            </div>
        </div>
    </div>
</section>

<section class="popupSection" id="stateDiagnosticGroupDetailPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow7')">
    <div class="popupWrap operation_popupWrap gis_3" id="gisPopupWindow7">
        <h3>상태진단 그룹 등록/수정<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span>
        </h3>
        <div class="popup">
            <div class="popup_info" style="height: unset;">
                <div class="clear w_98">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for=""><span>상태진단그룹명</span></label> <input type="text" ng-model="STATE_DIAG_GROUP_NM" kr-input>
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>등록자</span></label> <input type="text" ng-model="WRTR_NM" disabled>
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for=""><span>등록일자</span></label> <input type="text" class="datePicker" ng-model="WRT_YMD" disabled>
                        </div>
                    </div>
                </div>
                <div class="popup_title">
                    <p></p>
                </div>
                <div class="clear w_98">
                    <div class="w100 Form100">
                        <div class="form-group">
                            <label for="" class="text-center">
                                <button type="button" class="btn btn-block btn_nv" ng-click="showPopupLevelPath()">
                                    자산경로 선택
                                </button>
                            </label> <input type="text" ng-model="assetPathSidNm" readonly>
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for="" class="text-center">
                                <button type="button" class="btn btn-block btn_nv" ng-click="pop4.open('pipeMaterial')">관재질 선택</button>
                            </label> <input type="text" ng-model="pipeMaterialNm" readonly>
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for="" class="text-center">
                                <button type="button" class="btn btn-block btn_nv" ng-click="pop4.open('pipeDiameter')">관경 선택</button>
                            </label> <input type="text" ng-model="pipeDiameterNm" readonly>
                        </div>
                    </div>
                </div>
                <div class="clear w_98">
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for="" class="text-center">
                                <button type="button" class="btn btn-block btn_nv" ng-click="pop4.open('pipePurpose')">관용도 선택</button>
                            </label> <input type="text" ng-model="pipePurposeNm" readonly>
                        </div>
                    </div>
                    <div class="half_formB fm_w50">
                        <div class="form-group">
                            <label for="" class="text-center">
                                <button type="button" class="btn btn-block btn_nv" ng-click="pop4.open('waterPurpose')">급수용도 선택</button>
                            </label> <input type="text" ng-model="waterPurposeNm" readonly>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <table id="diagnosticAreaList4"></table>
                </div>
                <div class="popup_title">
                    <p></p>
                </div>
            </div>
            <div id="diagnosticAreaListPager4"></div>
            <div id="diagnosticAreaList4_page"></div>
            <div class="popupBtnWrap">
                <button type="button" class="btn btn-block btn-success" ng-click="stateDiagnosticGroupDetailPopup.save()">저장</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
            </div>
        </div>
    </div>
</section>

<section class="popupSection" id="diagnosisGroupDetail2Popup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow8')">
    <div class="popupWrap item_search_popupWrap height_auto" id="gisPopupWindow8">
        <h3><span id="burkinaFaso">관 재질</span> 선택 <span class="popupClose" ng-click="closePopup($event)"><i
                class="xi-close"></i></span></h3>
        <div class="popup height_auto">
            <div class="popup_info">
                <div class="input_wrap">
                    <div class="box-scroll border_color mt-1 search_wrap p-2">
                        <div class="textareaChk" ng-repeat="item in pop4.items">
                            <div class="custom-control custom-checkbox" style="width: auto !important;">
                                <input type="checkbox" class="custom-control-input" name="Monaville"
                                       ng-attr-id="{{ 'search_' + ($index + 1) }}" value="{{ item.C_SCODE }}"
                                       ng-attr-data-name="{{ item.C_NAME }}">
                                <!-- 체크박스 -->
                                <label class="custom-control-label" ng-attr-for="{{ 'search_' + ($index + 1) }}">
                                    <span>{{ item.C_NAME }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popupBtnWrap mb-2">
                <button type="button" class="btn btn-block btn-success saveBtn" ng-click="pop4.save()">확인</button>
                <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
            </div>
        </div>
    </div>
</section>
<!-- 평가분석 팝업 -->
<section class="popupSection" id="indirectConditionEvaluationPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow9')">
    <div class="popupWrap operation_popupWrap gis_2 h-auto" id="gisPopupWindow9">
        <h3>평가분석 - 간접상태평가<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span></h3>
        <div class="popup h-auto">
            <div class="popup_info">
                <div class="conts_box main_conts">
                    <div class="clear d-flex" style="width: 98%; margin: 10px auto 0;">
                        <div class="w100 Form100">
                            <div class="form-group">
                                <label for=""> <span>기간선택</span></label>
                                <input type="text" class="datePicker" readonly="readonly" ng-model="indirectConditionEvaluationPopup.startDt" style="width: 30% !important;">
                                <label style="width: auto !important; margin: 0 3px;"> <span>~</span></label>
                                <input type="text" class="datePicker" readonly="readonly" ng-model="indirectConditionEvaluationPopup.endDt" style="width: 30% !important;">
                            </div>
                        </div>
                        <div class="ml-auto pr-1 pt-1">
                            <button type="button" class="btn btn-block btn_nv mt-1" ng-click="indirectConditionEvaluationPopup.search()">조회</button>
                        </div>
                    </div>
                    <div class="w_98" style="height: 380px;">
                        <div class="grid">
                            <table id="indirectConditionEvaluationGrid"></table>
                        </div>
                        <div id="indirectConditionEvaluationGridPager"></div>
                        <div id="indirectConditionEvaluationGrid_page"></div>
                    </div>
                </div>
                <div class="popupBtnWrap mb-2">
                    <button type="button" class="btn btn-block btn-primary" ng-click="indirectConditionEvaluationPopup.confirm()">확인</button>
                    <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popupSection" id="directConditionEvaluationPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow10')">
    <div class="popupWrap operation_popupWrap gis_2 h-auto" id="gisPopupWindow10">
        <h3>평가분석 - 직접상태평가<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span></h3>
        <div class="popup h-auto">
            <div class="popup_info">
                <div class="conts_box main_conts">
                    <div class="clear d-flex" style="width: 98%; margin: 10px auto 0;">
                        <div class="w100 Form100">
                            <div class="form-group">
                                <label for=""> <span>기간선택</span></label>
                                <input type="text" class="datePicker" readonly="readonly" ng-model="directConditionEvaluationPopup.startDt" style="width: 30% !important;">
                                <label style="width: auto !important; margin: 0 3px;"> <span>~</span></label>
                                <input type="text" class="datePicker" readonly="readonly" ng-model="directConditionEvaluationPopup.endDt" style="width: 30% !important;">
                            </div>
                        </div>
                        <div class="ml-auto pr-1 pt-1">
                            <button type="button" class="btn btn-block btn_nv mt-1" ng-click="directConditionEvaluationPopup.search()">조회</button>
                        </div>
                    </div>
                    <div class="w_98" style="height: 380px;">
                        <div class="grid">
                            <table id="directConditionEvaluationGrid"></table>
                        </div>
                        <div id="directConditionEvaluationGridPager"></div>
                        <div id="directConditionEvaluationGrid_page"></div>
                    </div>
                </div>
                <div class="popupBtnWrap mb-2">
                    <button type="button" class="btn btn-block btn-primary" ng-click="directConditionEvaluationPopup.confirm()">확인</button>
                    <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
                </div>
            </div>
        </div>
    </div>
</section>