<iframe src="/index2.html#/gis" id="gisFrame" style="width:1695px; height:805px;"></iframe>

<!-- 진단구역 팝업 -->
<div id="diagnosticAreaPopupWrap" ng-include="'./view/gis/diagnostic_area_popup.html'"></div>