gis10.html

  <div id="vmap" style="width:1700px;height:700px;left:0px;top:0px"></div>
  <!-- <div id="gis_map"></div> -->
<input type="button" ng-click="measureHeight()" value="높이">
<input type="button" ng-click="measureLine()" value="거리">
<input type="button" ng-click="measureArea()" value="면적">
<input type="button" ng-click="stop()" value="종료">
<input type="button" ng-click="erase()" value="지우기">
  <!-- 지도가 그려지는 영역 조정 -->
