<div class="gis_wrap p-1" id="gis">
    <div class="gis">
        <div id="gis_map"></div>
    </div>
    <!-- 자산레이어 시작 -->
    <div class="side_nav_title">
        <p style="font-size: 13px;" ng-click="toggleNavLayer()">시설물 레이어</p>
    </div>
    <div class="side_nav font-weight-bold" style="font-size: 13px; height: 715px;">
        <div class="side_nav_info">
            <section class="blockPanel-wrapper" id="blockPanel-wrapper">
                <article class="blockPanel" ng-repeat="item in layers | filter: { C_VALUE1: 1 } | orderBy: 'C_SORT'">
                    <div class="blockPanel-heading">
                        <form>
                            <input type="checkbox" onclick="layerUpdate()" ng-model="item.isActive" ng-click="checkChild(item)" style="height:14px!important;">
                        </form>
                        <a class="collapsed" data-toggle="collapse" aria-expanded="true" ng-click="toggleTreeNode(0,$index)">
                            <span class="blockName">{{ item.C_NAME }}</span>
                        </a>
                    </div>
                    <ul class="list-group panel-collapse collapse show" id="node{{$index}}">
                        <li ng-if="!(sub.C_VALUE1 == 1)"
                            ng-repeat="sub in layers | filter: { PCODE:item.C_SCODE } | orderBy: 'C_SORT' ">
                            <form>
                                <input type="checkbox" onclick="layerUpdate()" ng-model="sub.isActive" ng-click="checkParent(item)" style="height:14px!important;">
                            </form>
                            <a data-toggle="collapse"> <span class="blockName">{{ sub.C_NAME }}</span></a>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
        <div class="side_nav_btn" style="width:178px;height:32px;">
            <button type="button" class="btn" ng-click="reloadLayers()"><i class="xi-renew xi-x"></i></button>
            <button type="button" class="btn" ng-click="checkAllLayers()"><i class="xi-check-square-o xi-x"></i></button>
            <button type="button" class="btn" ng-click="uncheckAllLayers()"><i class="xi-trash-o xi-x"></i></button>
        </div>
    </div>
    <!-- 자산레이어 끝 -->
</div>
<script>
const DEFAULT_CENTER_POINT = [ 14088979.82, 4257570.74 ];
const DEFAULT_ZOOM = 11;
const MIN_ZOOM = 7;
const MAX_ZOOM = 20;

const map = new ol.Map({
    target: 'gis_map'
});

const view = new ol.View({
    projection : new ol.proj.Projection({
        code : "EPSG:3857",
        units : "m",
        axisOrientation : "enu"
    }),
    center : DEFAULT_CENTER_POINT,
    minZoom : MIN_ZOOM,
    maxZoom : MAX_ZOOM,
    zoom : DEFAULT_ZOOM
});
map.setView(view);

let baseLayer = new ol.layer.Tile({
    source: defaultBackgroundSource,
});
map.addLayer(baseLayer);

let facilityLayerGroup;

function initLayers() {
    // 대블록
    const WTL_BLK1_AS = new ol.layer.Tile({
        source: getTileLayer('wtl_blk1_as'),
        visible: false,
        title: 'WTL_BLK1_AS',
    });

    // 중블록
    const WTL_BLK2_AS = new ol.layer.Tile({
        source: getTileLayer('wtl_blk2_as'),
        visible: false,
        title: 'WTL_BLK2_AS',
    });

    // 소블록
    const WTL_BLK3_AS = new ol.layer.Tile({
        source: getTileLayer('wtl_blk3_as'),
        visible: false,
        title: 'WTL_BLK3_AS',
    });

    // 관리블록
    const WTL_BLK3_SUB_AS = new ol.layer.Tile({
        source: getTileLayer('wtl_blk3_sub_as'),
        visible: false,
        title: 'WTL_BLK3_SUB_AS',
    });

    // 배수관로
    const WTL_PIPE_LM_SAA004 = new ol.layer.Tile({
        source: getTileLayerCQL('wtl_pipe_lm', 'saa_cde=\'SAA004\''),
        visible: false,
        title: 'WTL_PIPE_LM_SAA004',
    });

    // 송수관로
    const WTL_PIPE_LM_SAA003 = new ol.layer.Tile({
        source: getTileLayerCQL('wtl_pipe_lm', 'saa_cde=\'SAA003\''),
        visible: false,
        title: 'WTL_PIPE_LM_SAA003',
    });

    // 도수관로
    const WTL_PIPE_LM_SAA002 = new ol.layer.Tile({
        source: getTileLayerCQL('wtl_pipe_lm', 'saa_cde=\'SAA002\''),
        visible: false,
        title: 'WTL_PIPE_LM_SAA002',
    });

    // 취수관로
    const WTL_PIPE_LM_SAA001 = new ol.layer.Tile({
        source: getTileLayerCQL('wtl_pipe_lm', 'saa_cde=\'SAA001\''),
        visible: false,
        title: 'WTL_PIPE_LM_SAA001',
    });

    // 급수관로
    const WTL_PIPE_LM_SAA005 = new ol.layer.Tile({
        source: getTileLayerCQL('wtl_pipe_lm', 'saa_cde=\'SAA005\''),
        visible: false,
        title: 'WTL_PIPE_LM_SAA005',
    });

  // 기타 - 지적편집도
  const BML_PARC_AS = new ol.layer.Tile({
      source: new ol.source.TileWMS({
          url: "http://api.vworld.kr/req/wms",
          params: {
              SERVICE: 'WMS',
              VERSION: '1.3.0',
              REQUEST: 'GetMap',
              KEY: vworld_apikey,
              FORMAT: 'image/png',
              LAYERS: 'lp_pa_cbnd_bubun',
              STYLES: 'lp_pa_cbnd_bubun',
              BBOX: '126.45729521883543,35.56652119866147,126.84021791543418,35.79747553472864',
              WIDTH: '256',
              HEIGHT: '256',
              TRANSPARENT: 'TRUE',
              CRS: 'EPSG:4326',
              DOMAIN: location.hostname,
          }
      }),
      crossOrigin: 'Anonymous',
      opacity: 1.1,
      visible: false,
      title: 'BML_PARC_AS',
  });

  // 기타 - 시군구
  const SIGUNGU = new ol.layer.Tile({
      source: new ol.source.TileWMS({
          url: 'http://api.vworld.kr/req/wms',
          params: {
              SERVICE: 'WMS',
              VERSION: '1.3.0',
              REQUEST: 'GetMap',
              KEY: vworld_apikey,
              FORMAT: 'image/png',
              LAYERS: 'lt_c_adsigg',
              STYLES: 'lt_c_adsigg',
              BBOX: '126.45729521883543,35.56652119866147,126.84021791543418,35.79747553472864',
              WIDTH: '256',
              HEIGHT: '256',
              TRANSPARENT: 'TRUE',
              CRS: 'EPSG:4326',
              DOMAIN: location.hostname,
          },
      }),
      crossOrigin: 'Anonymous',
      opacity: 1.1,
      visible: false,
      title: 'SIGUNGU(TEMP)',
  });

  // 기타 - 읍면동
  const BML_ADMB_AS = new ol.layer.Tile({
      source: new ol.source.TileWMS({
          url: 'http://api.vworld.kr/req/wms',
          params: {
              SERVICE: 'WMS',
              VERSION: '1.3.0',
              REQUEST: 'GetMap',
              KEY: vworld_apikey,
              FORMAT: 'image/png',
              LAYERS: 'lt_c_ademd',
              STYLES: 'lt_c_ademd',
              BBOX: '126.45729521883543,35.56652119866147,126.84021791543418,35.79747553472864',
              WIDTH: '256',
              HEIGHT: '256',
              TRANSPARENT: 'TRUE',
              CRS: 'EPSG:4326',
              DOMAIN: location.hostname,
          },
      }),
      crossOrigin: 'Anonymous',
      opacity: 1.1,
      visible: false,
      title: 'BML_ADMB_AS',
  });

  // 기타 - 하천
  const BML_RIVR_AS = new ol.layer.Tile({
      source: new ol.source.TileWMS({
          url: "http://api.vworld.kr/req/wms",
          params: {
              SERVICE : 'WMS',
              REQUEST : 'GetMap',
              VERSION : '1.3.0',
              LAYERS : 'lt_c_wkmstrm',
              STYLES : 'lt_c_wkmstrm',
              CRS : 'EPSG:4326',
              BBOX : '126.45729521883543,35.56652119866147,126.84021791543418,35.79747553472864',
              HEIGHT : '256',
              WIDTH : '256',
              TRANSPARENT : 'false',
              FORMAT : 'image/png',
              TRANSPARENT : 'true',
              KEY : vworld_apikey,
              DOMAIN : location.hostname
          }
      }),
      crossOrigin: 'Anonymous',
      opacity: 1.1,
      visible: false,
      title: 'BML_RIVR_AS',
  });

  // 기타 - 도로명주소 도로
  const BML_ROAD_LS = new ol.layer.Tile({
      source: new ol.source.TileWMS({
          url: 'http://api.vworld.kr/req/wms',
          params: {
              SERVICE: 'WMS',
              VERSION: '1.3.0',
              REQUEST: 'GetMap',
              KEY: vworld_apikey,
              FORMAT: 'image/png',
              LAYERS: 'lt_l_sprd',
              STYLES: 'lt_l_sprd',
              BBOX: '126.45729521883543,35.56652119866147,126.84021791543418,35.79747553472864',
              WIDTH: '256',
              HEIGHT: '256',
              TRANSPARENT: 'TRUE',
              CRS: 'EPSG:4326',
              DOMAIN: location.hostname,
          },
      }),
      crossOrigin: 'Anonymous',
      opacity: 1.1,
      visible: false,
      title: 'BML_ROAD_LS',
  });


  // 기타 - 도로명주소 건물
  const BML_BLDG_AS = new ol.layer.Tile({
      source: new ol.source.TileWMS({
          url: 'http://api.vworld.kr/req/wms',
          params: {
              SERVICE: 'WMS',
              VERSION: '1.3.0',
              REQUEST: 'GetMap',
              KEY: vworld_apikey,
              FORMAT: 'image/png',
              LAYERS: 'lt_c_spbd',
              STYLES: 'lt_c_spbd',
              BBOX: '126.45729521883543,35.56652119866147,126.84021791543418,35.79747553472864',
              WIDTH: '256',
              HEIGHT: '256',
              TRANSPARENT: 'TRUE',
              CRS: 'EPSG:4326',
              DOMAIN: location.hostname,
          },
      }),
      crossOrigin: 'Anonymous',
      opacity: 1.1,
      visible: false,
      title: 'BML_BLDG_AS',
  });

    // Add Layer Group
    facilityLayerGroup = new ol.layer.Group({
        layers: [
            WTL_BLK1_AS, WTL_BLK2_AS, WTL_BLK3_AS, WTL_BLK3_SUB_AS,
            WTL_PIPE_LM_SAA004, WTL_PIPE_LM_SAA003, WTL_PIPE_LM_SAA002, WTL_PIPE_LM_SAA001, WTL_PIPE_LM_SAA005,
            BML_PARC_AS, SIGUNGU, BML_ADMB_AS, BML_RIVR_AS, BML_ROAD_LS, BML_BLDG_AS
        ],
    });
    map.addLayer(facilityLayerGroup);
}

initLayers();

function layerUpdate(){
    const Scope = getScope();

    setTimeout(() => {
        console.log('in layers.js');
        console.log(Scope.layers);
        for (let i = 0; i < Scope.layers.length; i++) {
            const layer = Scope.layers[i];
            const C_VALUE1 = layer.C_VALUE1;            // 부모 인지 아닌지 NULL 이면 부모가 아님
            const C_CVALUE1 = layer.C_CVALUE1;          // 레이어 카테고리
            const C_MEMO = layer.C_MEMO;                // 레이어 이름
            const IS_ACTIVE = layer.isActive;
            if (C_VALUE1 == null && C_MEMO != null) {
                const WMS_LAYER_NAME = C_MEMO;
                const CQL_VALUE = (C_CVALUE1 === null) ? '' : C_CVALUE1;
                const wmsLayersName = WMS_LAYER_NAME + ((CQL_VALUE === '') ? '' : '_' + CQL_VALUE);

                facilityLayerGroup.getLayers().forEach(function(element, index, array) {
                    let baseLayerTitle = element.get('title');
                    if (baseLayerTitle === wmsLayersName) {
                        if (IS_ACTIVE === true) {
                            element.setVisible(true);
                        } else {
                            element.setVisible(false);
                        }
                    }
                });
            }
        }
    }, 500);
}

function getScope() {
    return angular.element($('#gis')).scope();
}
</script>