<!-- GIS 개발자 편집개발화면 -->
<div class="gis_wrap p-1">
	<div class="gis mt-1" style="height: 83.5vh; border: none;">
		<!--gis 영역-->
		<!--							<div id="gis_map" style="width:100%; height:100%;"></div>-->
		<!-- <div id="gis_map"></div> -->
		<!--							<div id="gis_map" style="width:100%;height:100%;position:relative;">-->
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25354.906435889116!2d126.96538859999998!3d37.4048869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sko!2skr!4v1631500703365!5m2!1sko!2skr"
			style="border: 0; height: 100%; width: 100%;" allowfullscreen=""
			loading="lazy"></iframe>
	</div>
	<div class="input_wrap" style="top: 5px; width: 99.5%;">
		<div class="btn_wrap">
			<button type="button" class="btn btn_sky">자산경로</button>
			<button type="button" class="btn btn-primary">자산선택</button>
			<button type="button" class="btn btn_sky">자산정보</button>
			<button type="button" class="btn btn-primary">단차분석</button>
			<button type="button" class="btn btn_sky">블록분할</button>
			<button type="button" class="btn btn-primary">구역분할</button>
		</div>
		<div class="input_info_1">
			<form action="">
				<label for="">자산검색</label>
				<div class="selectbox" style="display: inline-block;">
					<select name="" id="" class="form-control"
						style="height: auto; margin-top: -5px;">
						<option value="">송수관로</option>
					</select>
				</div>
				<input type="search" name="" id="" placeholder="자산코드"
					class="form-control"
					style="display: inline-block; width: auto; float: none; margin-top: -20px;">
			</form>
		</div>
		<div class="input_info_2">
			<form action="">
				<label for="">주소검색</label> <input type="search" name="" id=""
					placeholder="봉덕리123" class="form-control"
					style="display: inline-block; width: auto; margin-top: -7px;">
			</form>
		</div>
		<div class="input_info_3">
			<form action="">
				<label for="">자산편집</label>
				<div class="selectbox"
					style="display: inline-block; vertical-align: middle;">
					<select name="" id="" class="form-control"
						style="height: auto; margin-top: -20px;">
						<option value="">송수관로</option>
					</select>
				</div>
				<button type="button" class="btn btn-success"
					style="margin-top: -20px;">편집시작</button>
				<label for="" style="float: none;" style="display:none">평가분석</label>
				<div class="selectbox"
					style="display: inline-block; vertical-align: middle;">
					<select name="" id="" class="form-control"
						style="height: auto; margin-top: -20px;">
						<option value="">변류시설</option>
					</select>
				</div>
				<button type="button" class="btn btn-info closeBtn"
					style="margin-top: -20px;" style="display:none">변경</button>
				<button type="button" class="btn btn-danger"
					ng-click="showGisPopup()" style="margin-top: -20px;">gis
					팝업 test</button>
			</form>
		</div>
	</div>
	<div class="side_btn" style="right: 7px;">
		<div class="side_btn_wrap">
			<button type="button" class="btn btn-block btn-success closeBtn">
				일반<br>지도
			</button>
			<button type="button" class="btn btn-block btn-success closeBtn">
				위성<br>지도
			</button>
			<button type="button" class="btn btn-block btn-success closeBtn">
				지형<br>지도
			</button>
			<button type="button" class="btn btn-block btn-success closeBtn">백지도</button>
		</div>
		<div class="side_btn_wrap">
			<button type="button" class="btn btn-block btn-success closeBtn">현위치</button>
			<button type="button" class="btn btn-block btn-success closeBtn">전체</button>
			<button type="button" class="btn btn-block btn-success closeBtn">확대</button>
			<button type="button" class="btn btn-block btn-success closeBtn">축소</button>
			<button type="button" class="btn btn-block btn-success closeBtn">이동</button>
		</div>
		<div class="side_btn_wrap">
			<button type="button" class="btn btn-block btn-success closeBtn">거리</button>
			<button type="button" class="btn btn-block btn-success closeBtn">면적</button>
			<button type="button" class="btn btn-block btn-success closeBtn">변경</button>
			<button type="button" class="btn btn-block btn-success closeBtn">저장</button>
			<button type="button" class="btn btn-block btn-success closeBtn">해제</button>
		</div>
	</div>
	<!-- 자산레이어 시작 -->
	<div class="side_nav_title">
		<p style="font-size: 13px;">시설물 레이어</p>
	</div>
	<div class="side_nav font-weight-bold" style="font-size: 13px;">
		<div class="side_nav_info">
			<section id="blockPanel-wrapper" class="blockPanel-wrapper">
				<article class="blockPanel">
					<div class="blockPanel-heading">
						<form action="">
							<input type="checkbox">
						</form>
						<a data-toggle="collapse" aria-expanded="true" href="#blockNav1"
							class="collapsed"> <span class="blockName">블록경계</span>
						</a>
					</div>
					<ul id="blockNav1" class="list-group panel-collapse collapse show"
						style="">
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">대블록</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">중블록</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">소블록</span>
						</a>
						</li>
					</ul>
				</article>

				<article class="blockPanel">
					<div class="blockPanel-heading">
						<form action="">
							<input type="checkbox">
						</form>
						<a data-toggle="collapse" aria-expanded="true" href="#blockNav2"
							class="collapsed"> <span class="blockName">상수관로</span>
						</a>
					</div>
					<ul id="blockNav2" class="list-group panel-collapse collapse show"
						style="">
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">취수관로</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">도수관로</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">송수관로</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">배수관로</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">급수관로</span>
						</a>
						</li>
					</ul>
				</article>

				<article class="blockPanel">
					<div class="blockPanel-heading">
						<form action="">
							<input type="checkbox">
						</form>
						<a data-toggle="collapse" aria-expanded="true" href="#blockNav3"
							class="collapsed"> <span class="blockName">상수시설</span>
						</a>
					</div>
					<ul id="blockNav3" class="list-group panel-collapse collapse show"
						style="">
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">취수장</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">정수장</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">가압장</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">감압시설</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">유량계</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">수압계</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">수질계</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">상수맨홀</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">변류시설</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">소방시설</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">급수전계량기</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">펌프시설</span>
						</a>
						</li>
					</ul>
				</article>

				<article class="blockPanel">
					<div class="blockPanel-heading">
						<form action="">
							<input type="checkbox">
						</form>
						<a data-toggle="collapse" aria-expanded="true" href="#blockNav4"
							class="collapsed"> <span class="blockName">기타</span>
						</a>
					</div>
					<ul id="blockNav4" class="list-group panel-collapse collapse show"
						style="">
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">지적편집도</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">법정경계</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">행정경계</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">하천</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">도로</span>
						</a>
						</li>
						<li>
							<form action="">
								<input type="checkbox">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">건물</span>
						</a>
						</li>
					</ul>
				</article>

			</section>
		</div>
		<div class="side_nav_btn">
			<button type="button" class="btn">
				<i class="xi-renew xi-x"></i>
			</button>
			<button type="button" class="btn">
				<i class="xi-check-square-o xi-x"></i>
			</button>
			<button type="button" class="btn">
				<i class="xi-trash-o xi-x"></i>
			</button>
		</div>
	</div>
	<!-- 자산레이어 끝 -->
	<!-- 자산선택모드 시작 -->
	<div class="select_mode">
		<div class="mode_title select_mode_title">
			<p>자산선택 모드</p>
		</div>
		<div class="select_info">
			<form>
				<label>대상자산</label> <select>
					<option>송수관로</option>
				</select> <label>선택모드</label> <select>
					<option>선택해제</option>
				</select>
			</form>
		</div>
	</div>
	<!-- 자산선택모드 끝 -->
	<!-- 편집모드 시작 -->
	<div class="edit_mode">
		<div class="mode_title edit_mode_title">
			<p>편집 모드</p>
		</div>
		<div class="edit_info">
			<form>
				<button type="button" class="btn btn-primary">자산추가</button>
				<button type="button" class="btn btn-info closeBtn">자산변경</button>
				<button type="button" class="btn btn-danger downloadBtn">자산삭제</button>
				<button type="button" class="btn btn-light closeBtn">자산불용</button>
				<label for="" style="float: none;">스냅대상</label>
				<div class="selectbox"
					style="vertical-align: middle; display: inline-block;">
					<select name="" id="" class="form-control"
						style="display: inline-block; width: auto; height: auto;">
						<option value="">변류시설</option>
					</select>
				</div>
				<button type="button" class="btn btn-info closeBtn">변경</button>
			</form>
		</div>
	</div>
	<!-- 편집모드 끝 -->
	<!-- 하단 테이블 영역 시작 -->
	<div class="table_wrap table-responsive">
		<table class="table_info table mb-0">
			<thead>
			<colgroup>
				<col width="3%">
				<col width="9%">
				<col width="7%">
				<col width="9%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
			</colgroup>
			</thead>
			<tbody>
				<tr>
					<th>순번</th>
					<th>자산코드</th>
					<th>자산명</th>
					<th>지형지물관리번호</th>
					<th>블럭구분</th>
					<th>관로구분</th>
					<th>급수용도</th>
					<th>위치(주소)</th>
					<th>관종구분</th>
					<th>관경</th>
					<th>관로길이</th>
					<th>부설일</th>
					<th>관내부도장재</th>
					<th>관외부도장재</th>
					<th>지형조건</th>
					<th>관보호공</th>
				</tr>
				<tr>
					<td>1</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>3</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>4</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>5</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 하단 테이블 영역 끝 -->
	<!-- 단차분석 영역 시작 -->
	<div class="dancha_mode">
		<div class="mode_title dancha_mode_title">
			<p>단차 분석</p>
		</div>
		<div class="select_info">
			<div class="clear">
				<button type="button" class="btn btn_sky m-1">시작관로</button>
				<input class="mt-1" type="text"  kr-input="" id="" ng-model="" ng-readonly="isReadonly" ng-disabled="isDisabled" class="ng-pristine ng-untouched ng-valid">
			</div>
			<div class="clear mt-2">
				<button type="button" class="btn btn_sky m-1">추가관로</button>
				<div class="text_area mt-1">
				내용<br>-<br>-<br>-<br>-<br>-<br>내용
				</div>
			</div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn_nv">확인</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 단차분석 영역 끝 -->
	<!-- 단차분석 -종단도 영역 시작-->
	<div class="dancha_mode2">
		<div class="mode_title">
			<p>단차분석 -종단도</p>
		</div>
		<div class="select_info">
		</div>
	</div>
	<!-- 단차분석 -종단도 영역 끝 -->
	<!-- 관 재질 선택 영역 시작 -->
	<div class="texture_mode">
		<div class="mode_title">
			<p>관 재질 선택</p>
		</div>
		<div class="select_info">
			<div class="box_scroll">
				<ul>
					<li><input type="checkbox" class="mr-1"> SP</li>
					<li><input type="checkbox" class="mr-1"> DCIP</li>
					<li><input type="checkbox" class="mr-1"> CIP</li>
					<li><input type="checkbox" class="mr-1"> DIP</li>
					<li><input type="checkbox" class="mr-1"> PE</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
				</ul>
			</div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn_nv">확인</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 관 재질 선택 영역 끝 -->
</div>