<style>
    .tooltip {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7;
        white-space: nowrap;
    }

    .tooltip-measure {
        opacity: 1;
        font-weight: bold;
    }

    .tooltip-static {
        background-color: #ffcc33;
        color: black;
        border: 1px solid white;
    }

    .tooltip-measure:before,
    .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
    }

    .tooltip-static:before {
        border-top-color: #ffcc33;
    }
</style>
<div class="gis_wrap p-1" id="gis">
    <div class="gis mt-1" style="border: none">
        <div id="gis_map"></div>
    </div>
    <div class="input_wrap" id="topToolbar" style="top: 7px; width: 99.5%;">
        <div class="btn_wrap">
            <button type="button" class="btn btn_sky" id="assetPath" ng-click="showAssetPathPopup()">자산경로</button>
            <button type="button" class="btn btn-primary" id="start_select_mode">자산선택</button>
            <button type="button" class="btn btn-primary" id="finish_select_mode" style="display: none;">자산선택</button>
            <button type="button" class="btn btn_sky" ng-click="assetInformation()">자산정보</button>
            <button type="button" class="btn btn-primary" id="elevationDifferenceAnalysis" ng-click="elevationDifferenceAnalysis()">단차분석</button>
            <button type="button" class="btn btn_sky" id="blockDivision">블록분할</button>
            <button type="button" class="btn btn-primary" id="zoneDivision" ng-click="showDiagnosticAreaPopup()" style="display: none">구역분할</button>
            <button type="button" class="btn btn_sky" id="diagnosticArea" ng-click="showDiagnosticAreaPopup()" style="display: none">진단구역</button>
        </div>
        <div class="input_info_1">
            <form ng-submit="searchAsset()">
                <label for="assetSearchTarget">자산검색</label>
                <div class="selectbox d-inline-block">
                    <select class="form-control h-auto mt_05" name="" id="assetSearchTarget">
                        <option value="buan_ams:wtl_fire_ps::Point">소방시설</option>
                        <option value="buan_ams:wtl_flow_ps::Point">유량계</option>
                        <option value="buan_ams:wtl_manh_ps::Point">상수맨홀</option>
                        <option value="buan_ams:wtl_meta_ps::Point">급수전계량기</option>
                        <option value="buan_ams:wtl_pres_ps::Point">가압장</option>
                        <option value="buan_ams:wtl_stpi_ps::Point">스탠드파이프</option>
                        <option value="buan_ams:wtl_valv_ps::Point">변류시설</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA004':LineString">배수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA003':LineString">송수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA002':LineString">도수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA001':LineString">취수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA005':LineString">급수관로</option>
                    </select>
                </div>
                <input type="search" class="form-control d-inline-block float-none w_250" name="ASSET_CODE" id="assetCode" placeholder="자산코드" style="margin-top: -20px;">
            </form>
        </div>
        <div class="input_info_2">
            <form ng-submit="searchAddress()">
                <label for="address">주소검색</label>
                <input type="search" class="form-control d-inline-block w_100px" name="address" id="address" ng-model="address" placeholder="주소" style="margin-top: -7px;">
            </form>
        </div>
        <div class="input_info_3" id="assetEdit">
            <form action="" class="ml-2 pl-2" style="display:flex; margin-top: -30px;">
                <label for="">자산편집</label>
                <div class="selectbox">
                    <select class="form-control mt_05" name="" id="editTarget" style="height: auto;">
                        <option value="">--편집 대상 선택--</option>
                        <option value="buan_ams:wtl_fire_ps::Point">소방시설</option>
                        <option value="buan_ams:wtl_flow_ps::Point">유량계</option>
                        <option value="buan_ams:wtl_manh_ps::Point">상수맨홀</option>
                        <option value="buan_ams:wtl_meta_ps::Point">급수전계량기</option>
                        <option value="buan_ams:wtl_pres_ps::Point">가압장</option>
                        <option value="buan_ams:wtl_stpi_ps::Point">스탠드파이프</option>
                        <option value="buan_ams:wtl_valv_ps::Point">변류시설</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA004':LineString">배수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA003':LineString">송수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA002':LineString">도수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA001':LineString">취수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA005':LineString">급수관로</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success mx-1 mt_05" id="start_edit_mode">편집시작</button>
                <button type="button" class="btn btn_gr2 mx-1 mt_05" id="finish_edit_mode" style="display: none;">편집종료</button>

            </form>
        </div>
        <div class="input_info_4" id="evaluationAnalysis" style="display: none;">
            <form action="" class="ml-2 pl-2 ng-pristine ng-valid" style="display:flex; margin-top: -30px;">
                <label for="" style="float: none;">평가분석</label>
                <div class="selectbox">
                    <select class="form-control mt_05" name="" id="" style="height: auto;">
                        <option value="">변류시설</option>
                    </select>
                </div>
                <button type="button" class="btn btn-info closeBtn mx-1 mt_05">확인</button>
                <button type="button" class="btn btn-danger mt_05" ng-click="showGisPopup()" style="display: none">gis 팝업 test</button>
            </form>
        </div>
    </div>
    <div class="side_btn" style="right: 7px;" id="sideToolbar">
        <div class="side_btn_wrap">
            <button type="button" class="btn btn-block btn-success closeBtn" id="defaultBackgroundButton">일반<br>지도</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="satelliteBackgroundButton">위성<br>지도</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="grayBackgroundButton">지형<br>지도</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="hybridBackgroundButton">백지도</button>
        </div>
        <div class="side_btn_wrap">
            <button type="button" class="btn btn-block btn-success closeBtn" id="goToCurrentLocation">현위치</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="requestFullscreenButton">전체</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="zoomInButton">확대</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="zoomOutButton">축소</button>
<!--            <button type="button" class="btn btn-block btn-success closeBtn">이동</button>-->
        </div>
        <div class="side_btn_wrap">
            <button type="button" class="btn btn-block btn-success closeBtn" id="distanceButton">거리</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="areaButton">면적</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="circleButton">반경</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="saveMap">화면<br>저장</button>
            <button type="button" class="btn btn-block btn-success closeBtn" id="removeMeasure">해제</button>
        </div>
    </div>
    <!-- 자산레이어 시작 -->
    <div class="side_nav_title">
        <p style="font-size: 13px;" ng-click="toggleNavLayer()">시설물 레이어</p>
    </div>
    <div class="side_nav font-weight-bold" style="font-size: 13px; height: 715px;">
        <div class="side_nav_info">
            <section class="blockPanel-wrapper" id="blockPanel-wrapper">
                <article class="blockPanel" ng-repeat="item in layers | filter: { C_VALUE1: 1 } | orderBy: 'C_SORT'">
                    <div class="blockPanel-heading">
                        <form>
                            <input type="checkbox" onclick="layerUpdate()" ng-model="item.isActive" ng-click="checkChild(item)" style="height:14px!important;">
                        </form>
                        <a class="collapsed" data-toggle="collapse" aria-expanded="true" ng-click="toggleTreeNode(0,$index)">
                            <span class="blockName">{{ item.C_NAME }}</span>
                        </a>
                    </div>
                    <ul class="list-group panel-collapse collapse show" id="node{{$index}}">
                        <li ng-if="!(sub.C_VALUE1 == 1)"
                            ng-repeat="sub in layers | filter: { PCODE:item.C_SCODE } | orderBy: 'C_SORT' ">
                            <form>
                                <input type="checkbox" onclick="layerUpdate()" ng-model="sub.isActive" ng-click="checkParent(item)" style="height:14px!important;">
                            </form>
                            <a data-toggle="collapse"> <span class="blockName">{{ sub.C_NAME }}</span></a>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
        <div class="side_nav_btn" style="width:178px;height:32px;">
            <button type="button" class="btn" ng-click="reloadLayers()"><i class="xi-renew xi-x"></i></button>
            <button type="button" class="btn" ng-click="checkAllLayers()"><i class="xi-check-square-o xi-x"></i></button>
            <button type="button" class="btn" ng-click="uncheckAllLayers()"><i class="xi-checkbox-blank xi-x"></i></button>
        </div>
    </div>
    <!-- 자산레이어 끝 -->

    <!-- 블록분할 모드 시작 -->
    <div class="edit_mode" id="block_division_mode" style="display: none; width:650px;">
        <div class="mode_title edit_mode_title">
            <p class="pt-1" onclick="document.getElementById('blockDivision').click()">블록분할 모드</p>
        </div>
        <div class="edit_info d-flex align-items-center" style="width:650px;">
            <label for="targetBlock" class="mb-0 mt-1">대상블록</label>
            <div class="selectbox ml-1">
                <select class="form-control mt_05 d-inline-block w-auto h-auto" id="targetBlock">
                    <option value="">--선택--</option>
                    <option value="buan_ams:wtl_blk1_as::Polygon">대블록</option>
                    <option value="buan_ams:wtl_blk2_as::Polygon">중블록</option>
                    <option value="buan_ams:wtl_blk3_as::Polygon">소블록</option>
                    <option value="buan_ams:wtl_blk3_sub_as::Polygon">관리블록</option>
                </select>
            </div>
            <button type="button" class="btn btn-info closeBtn ml-1" id="changeBlockButton">선택완료</button>
            <span class="vertical-line"></span>
            <div>
                <button type="button" class="btn btn-primary" name="btn_block_division_mode" id="addBlockButton">블록추가</button>
                <button type="button" class="btn btn-info closeBtn" name="btn_block_division_mode" id="editBlockButton">블록변경</button>
                <button type="button" class="btn btn-danger downloadBtn" name="btn_block_division_mode" id="deleteBlockButton">블록삭제</button>
                <button class="btn btn-info closeBtn" name="btn_block_division_mode" id="changeBlockButton2" type="button">변경</button>
                <button class="btn btn-info closeBtn" name="btn_block_division_mode" id="confirmBlockButton" type="button">자산정보 업데이트</button>
            </div>
        </div>
    </div>
    <!-- 블록분할 모드 끝 -->

    <div class="select_mode" id="select_mode" style="display:none;">
        <div class="mode_title select_mode_title">
            <p class="pt-1" onclick="document.getElementById('finish_select_mode').click()">자산선택 모드</p>
        </div>
        <div class="select_info pt-2">
            <form>
                <label>대상자산</label>
                <select id="selectTarget">
                    <option value="">--선택 대상 선택--</option>
                    <option value="buan_ams:wtl_fire_ps">소방시설</option>
                    <option value="buan_ams:wtl_flow_ps">유량계</option>
                    <option value="buan_ams:wtl_manh_ps">상수맨홀</option>
                    <option value="buan_ams:wtl_meta_ps">급수전계량기</option>
                    <option value="buan_ams:wtl_pipe_lm">상수관로</option>
                    <option value="buan_ams:wtl_pres_ps">가압장</option>
                    <option value="buan_ams:wtl_rsrv_ps">저수조</option>
                    <option value="buan_ams:wtl_stpi_ps">스탠드파이프</option>
                    <option value="buan_ams:wtl_valv_ps">변류시설</option>
                </select>
                <label>선택모드</label>
                <select id="drawSelector">
                    <option value="None">--선택해제--</option>
                    <option value="Single">단일</option>
                    <option value="Box">사각형</option>
                    <option value="Polygon">자유그리기</option>
                </select>
            </form>
        </div>
    </div>
    <!-- 편집모드 시작 -->
    <div class="edit_mode" id="edit_mode" style="display:none; width:550px;">
        <div class="mode_title edit_mode_title">
            <p class="pt-1" onclick="document.getElementById('finish_edit_mode').click()">편집 모드</p>
        </div>
        <div class="edit_info" style="width:550px;">
            <form>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button type="button" class="btn" name="btn_edit_mode" id="drawEditButton">자산추가</button>
                    <button type="button" class="btn" name="btn_edit_mode" id="modifyEditButton">자산변경</button>
                    <button type="button" class="btn" name="btn_edit_mode" id="deleteEditButton">자산삭제</button>
                    <button type="button" class="btn" name="btn_edit_mode" id="uselessEditButton">자산불용</button>
                </div>
                <label for="" style="float: none;">스냅대상</label>
                <div class="selectbox" style="vertical-align: middle; display: inline-block;">
                    <select class="form-control d-inline-block w-auto h-auto" id="snapTarget" disabled>
                        <option value="buan_ams:wtl_fire_ps::Point">소방시설</option>
                        <option value="buan_ams:wtl_flow_ps::Point">유량계</option>
                        <option value="buan_ams:wtl_manh_ps::Point">상수맨홀</option>
                        <option value="buan_ams:wtl_meta_ps::Point">급수전계량기</option>
                        <option value="buan_ams:wtl_pres_ps::Point">가압장</option>
                        <option value="buan_ams:wtl_stpi_ps::Point">스탠드파이프</option>
                        <option value="buan_ams:wtl_valv_ps::Point">변류시설</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA004':LineString">배수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA003':LineString">송수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA002':LineString">도수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA001':LineString">취수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA005':LineString">급수관로</option>
                    </select>
                </div>
                <button type="button" class="btn btn-info closeBtn" id="snapTargetChange" disabled>변경</button>
            </form>
        </div>
    </div>
    <!-- 편집모드 끝 -->

    <!-- 하단 테이블 영역 시작 -->
    <div class="table_wrap h-auto" style="background: rgba(255,255,255,0.8);" ng-show="selectedInfoList.length > 0">
       <div class="table-responsive" style="height: 60px;">
       	 <table class="table_info table mb-0">
            <thead>
               <colgroup>
                   <col style="width: 3%">
                   <col style="width: 9%">
                   <col style="width: 7%">
                   <col style="width: 9%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
                   <col style="width: 4%">
               </colgroup>
               </thead>
               <tbody>
               <tr>
                   <th>순번</th>
                   <th>자산코드</th>
                   <th>자산명</th>
                   <th>지형지물관리번호</th>
                   <th>지형지물부호</th>
                   <th>대블록</th>
                   <th>중블록</th>
                   <th>소블록</th>
                   <th>관로구분</th>
                   <th>급수용도</th>
                   <th>위치(주소)</th>
                   <th>관종구분</th>
                   <th>관경</th>
                   <th>관로길이</th>
                   <th>부설일</th>
                   <th>관내부도장재</th>
                   <th>관외부도장재</th>
                   <th>지형조건</th>
                   <th>지형상세</th>
                   <th>관보호공</th>
               </tr>
              <tr ng-repeat="item in selectedInfoList">
                   <td>{{ item.RNUM }}</td> <!-- 순번 -->
                   <td>{{ item['\'10001\''] }}</td> <!-- 자산코드 -->
                   <td>{{ item['\'10002\''] }}</td> <!-- 자산명 -->
                   <td>{{ item['\'10009\''] }}</td> <!-- 지형지물관리번호 -->
                   <td>{{ item['\'10010\''] }}</td> <!-- 지형지물관리부호 -->
                   <td>{{ item['\'10016\''] }}</td> <!-- 블럭구분 -->
                   <td>{{ item['\'10017\''] }}</td> <!-- 블럭구분 -->
                   <td>{{ item['\'10018\''] }}</td> <!-- 블럭구분 -->
                   <td>{{ item['\'10021\''] }}</td> <!-- 관로구분 -->
                   <td>{{ item['\'10020\''] }}</td> <!-- 급수용도 -->
                   <td>{{ item['\'10005\''] }}</td> <!-- 위치 -->
                   <td>{{ item['\'10022\''] }}</td> <!-- 관종구분 -->
                   <td>{{ item['\'10025\''] }}</td> <!-- 관경 -->
                   <td>{{ item['\'10026\''] }}</td> <!-- 관로길이 -->
                   <td>{{ item['\'10004\''] }}</td> <!-- 부설일 -->
                   <td>{{ item['\'10023\''] }}</td> <!-- 관내부도장재 -->
                   <td>{{ item['\'10024\''] }}</td> <!-- 관외부도장재 -->
                   <td>{{ item['\'10027\''] }}</td> <!-- 지형조건 -->
                   <td>{{ item['\'10028\''] }}</td> <!-- 지형조건 -->
                   <td>{{ item['\'10029\''] }}</td> <!-- 관보호공 -->
               </tr>
            </tbody>
        </table>
       </div>
        <div class="btn_wrap text-center py-1">
<!--            <button type="button" class="btn btn_nv" ng-click="selectConfirm()">확인</button>-->
            <button type="button" class="btn btn-info" ng-click="writeExcel()">출력</button>
            <button type="button" class="btn btn-danger" ng-click="clearSelectedInfoList()">취소</button>
        </div>
    </div>
    <!-- 하단 테이블 영역 끝 -->

    <!-- 단차분석 영역 시작 -->
    <div class="dancha_mode" style="display:none">
        <div class="mode_title dancha_mode_title">
            <p>단차 분석</p>
        </div>
        <div class="select_info">
            <div class="clear">
                <button type="button" class="btn btn_sky m-1" ng-click="SelectStartPipe()">시작관로</button>
                <input type="text" class="mt-1 ng-pristine ng-untouched ng-valid"  kr-input ng-readonly="isReadonly" ng-disabled="isDisabled" ng-model="temp_start_pipe">
            </div>
            <div class="clear mt-2">
                <button type="button" class="btn btn_sky m-1" ng-click="SelectLinkedPipe()">추가관로</button>
                <div class="text_area mt-1">
                	<ul>
                	<li ng-repeat=" pipe in temp_pipe_list">{{pipe.FTR_IDN}}</li>
                	</ul>
                </div>
            </div>
            <div class="btn_wrap text-center mt-2">
                <button type="button" class="btn btn_nv" ng-click="elevationDifferenceAnalysisOpen()">확인</button>
                <button type="button" class="btn btn-danger" ng-click="elevationDifferenceAnalysisCancel()">취소</button>
            </div>
        </div>
    </div>
    <!-- 단차분석 영역 끝 -->
    <!-- 단차분석 -종단도 영역 시작-->
    <div class="dancha_mode2" style="display:none" ng-click="elevationDifferenceAnalysisClose()">
        <div class="mode_title">
            <p>단차분석 -종단도</p>
        </div>
        <div class="select_info">
			<div id="levelGraph" style="width: 100%; height: 100%; margin: 0 auto;">
			</div>
        </div>
    </div>
    <!-- 단차분석 -종단도 영역 끝 -->
    <!-- 관 재질 선택 영역 시작 -->
    <div class="texture_mode" style="display:none">
        <div class="mode_title">
            <p>관 재질 선택</p>
        </div>
        <div class="select_info">
            <div class="box_scroll">
                <ul>
                    <li><input type="checkbox" class="mr-1"> SP</li>
                    <li><input type="checkbox" class="mr-1"> DCIP</li>
                    <li><input type="checkbox" class="mr-1"> CIP</li>
                    <li><input type="checkbox" class="mr-1"> DIP</li>
                    <li><input type="checkbox" class="mr-1"> PE</li>
                    <li><input type="checkbox" class="mr-1"> ..</li>
                    <li><input type="checkbox" class="mr-1"> ..</li>
                    <li><input type="checkbox" class="mr-1"> ..</li>
                    <li><input type="checkbox" class="mr-1"> ..</li>
                </ul>
            </div>
            <div class="btn_wrap text-center mt-2">
                <button type="button" class="btn btn_nv">확인</button>
                <button type="button" class="btn btn-danger">취소</button>
            </div>
        </div>
    </div>
    <!-- 관 재질 선택 영역 끝 -->
</div>