<section class="popupSection" id="diagnosticAreaPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow1')">
    <div class="popupWrap operation_popupWrap gis_2" id="gisPopupWindow1">
        <h3>진단 구역 관리<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span></h3>
        <div class="popup">
            <div class="popup_info">
                <div class="min_tab">
                    <ul class="tabs tabs_2" id="diagnosticAreaTab" ng-click="diagnosticAreaTabClick($event)">
                        <li>
                            <button id="BtnDiagnosticAreaTab1" class="active" data-tab="1">진단 구역</button>
                        </li>
                        <li>
                            <button id="BtnDiagnosticAreaTab2" data-tab="2">상태진단 그룹</button>
                        </li>
                    </ul>
                </div>
                <div class="conts_box main_conts" id=diagnosticAreaTab1>
                    <form id="form1">
                        <div class="clear" style="width: 98%; margin: 10px auto 0;">
                            <div class="w100 Form100">
                                <div class="form-group">
                                    <label for=""><span>기간선택</span></label>
                                    <input type="text" class="datePicker" name="s_date" style="width: 30% !important;">
                                    <label style="width: auto !important; text-align: center; margin: 0 3px;">
                                        <span>~</span>
                                    </label>
                                    <input type="text" class="datePicker" name="e_date" style="width: 30% !important;">
                                </div>
                            </div>
                        </div>
                        <div class="clear" style="width: 98%; margin: 0 auto;">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>구역명</span></label>
                                    <input type="text" name="diag_area_nm">
                                </div>
                            </div>
                            <div class="half_formB fm_w50 text-right pr-1">
                                <button type="button" class="btn btn-block btn_nv mt-1"
                                        ng-click="diagnosticAreaPopup.search()">조회
                                </button>
                                <button type="button" class="btn btn-block btn-danger mt-1"
                                        ng-click="diagnosticAreaPopup.delete()">삭제
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="grid">
                        <table id="diagnosticAreaList1"></table>
                    </div>
                    <div id="diagnosticAreaListPager1"></div>
                    <div id="diagnosticAreaList1_page"></div>
                </div>
                <div class="conts_box main_conts" id=diagnosticAreaTab2 style="display: none">
                    <form id="form2">
                        <div class="clear" style="width: 98%; margin: 10px auto 0;">
                            <div class="w100 Form100">
                                <div class="form-group">
                                    <label for=""><span>기간선택</span></label>
                                    <input type="text" class="datePicker" name="s_date" style="width: 30% !important;">
                                    <label style="width: auto !important; text-align: center; margin: 0 3px;">
                                        <span>~</span>
                                    </label>
                                    <input type="text" class="datePicker" name="e_date" style="width: 30% !important;">
                                </div>
                            </div>
                        </div>
                        <div class="clear" style="width: 98%; margin: 0 auto;">
                            <div class="half_formB fm_w50">
                                <div class="form-group">
                                    <label for=""><span>그룹명</span></label>
                                    <input type="text" name="state_diag_group_nm">
                                </div>
                            </div>
                            <div class="half_formB fm_w50 text-right pr-1">
                                <button type="button" class="btn btn-block btn_nv mt-1"
                                        ng-click="stateDiagnosticGroupPopup.search()">조회
                                </button>
                                <button type="button" class="btn btn-block btn-danger mt-1" id="BtnDeleteStateDiagnosticGroupPopup" ng-click="stateDiagnosticGroupPopup.delete()">삭제</button>
                            </div>
                        </div>
                    </form>
                    <div class="grid">
                        <table id="diagnosticAreaList2"></table>
                    </div>
                    <div id="diagnosticAreaListPager2"></div>
                    <div id="diagnosticAreaList2_page"></div>
                </div>
                <div class="popupBtnWrap">
                    <button type="button" class="btn btn-block btn_sky" id="ross2" ng-click="performDiagnosticAreaNewPopup()">신규</button>
                    <button type="button" class="btn btn-block btn_nv" id="subsidiaries3" ng-click="performDiagnosticAreaEditPopup()">수정</button>
                    <button type="button" class="btn btn-block btn-danger closeBtn" id="farm7326981" ng-click="closePopup($event)">취소</button>
                </div>
            </div>
        </div>
    </div>
</section>