<link rel="stylesheet" type="text/css" href="/assets/js/gis/v4.6.4/ol.css">
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<style>
    html,body { width: 1685px !important;}
    .tooltip {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7;
        white-space: nowrap;
    }

    .tooltip-measure {
        opacity: 1;
        font-weight: bold;
    }

    .tooltip-static {
        background-color: #ffcc33;
        color: black;
        border: 1px solid white;
    }

    .tooltip-measure:before,
    .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
    }

    .tooltip-static:before {
        border-top-color: #ffcc33;
    }

    .ol-dragbox {
        border: 1px solid rgba(100, 150, 0, 1);
    }
</style>
<div id="gisPopup">
    <div>
        <section class="popupSection" onMouseMove="moveWindow(event,'#gisPopupWindow')" onselectstart="return false">
            <div class="popupWrap" id="gisPopupWindow">
                <h3>
                    지도 {{(gisPopupMode=='gisSelect')?"선택":((gisPopupMode=='gisEdit')?"편집":"보기")}} (GIS)
                    <span class="popupClose" ng-click="closePopup()"><i class="xi-close"></i></span>
                </h3>
                <div class="popup">
                    <div class="popupInfoWrap">
                        <div class="gis_wrap">
                            <div class="gis">
                                <!--gis 영역-->
                                <div id="gis_map" onMouseMove="event.preventDefault()"></div>
                            </div>
                            <div class="input_wrap" id="topToolbar">
                                <div class="btn_wrap">
                                    <button type="button" class="btn btn_sky" ng-click="showAssetPathPopup()" style="display:none;">자산경로</button>
                                    <button type="button" style="width:0px;height:0px;padding:0 0 0 0;display: none;" class="btn btn-primary" id="start_select_mode">자산선택</button>
                                    <button type="button" style="width:0px;height:0px;padding:0 0 0 0;display: none;" class="btn btn-primary" id="finish_select_mode" style="display: none;">자산선택</button>
                                    <button type="button" style="width:0px;height:0px;padding:0 0 0 0;display: none;" class="btn btn_sky" ng-click="assetInformation()">자산정보</button>
                                </div>
                                <div class="input_info_1" style="width:520px;">
                                    <form ng-submit="searchAsset()">
                                        <label for="assetSearchTarget">자산검색</label>
                                        <div class="selectbox d-inline-block">
                                            <select class="form-control h-auto mt_05" name="" id="assetSearchTarget">
                                                <option value="">--검색 대상 선택--</option>
                                                <option value="ams:wtl_fire_ps:use_yn=true:Point">소방시설</option>
                                                <option value="ams:wtl_flow_ps:use_yn=true:Point">유량계</option>
                                                <option value="ams:wtl_manh_ps:use_yn=true:Point">상수맨홀</option>
                                                <option value="ams:wtl_meta_ps:use_yn=true:Point">수도미터</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA004':LineString">배수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA003':LineString">송수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA002':LineString">도수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA001':LineString">취수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA005':LineString">급수관로</option>
                                                <option value="ams:wtl_pres_ps:use_yn=true:Point">가압장</option>
                                                <option value="ams:wtl_rsrv_ps:use_yn=true:Point">저수조</option>
                                                <option value="ams:wtl_stpi_ps:use_yn=true:Point">스탠드파이프</option>
                                                <option value="ams:wtl_valv_ps:use_yn=true:Point">변류시설</option>
                                            </select>
                                        </div>
                                        <input type="search" class="form-control mt_05 float-none w_250" name="asset_code" id="assetCode" placeholder="자산코드">
                                        <button type="button" class="btn btn_sky"  style="margin-top: -7px;" ng-click="searchAsset()">검색</button>
                                    </form>
                                </div>
						        <div class="input_info_2" style="width:420px;">
						            <form ng-submit="searchAddress()">
						                <label for="address"> 
						                <div class="selectbox d-inline-block" style="float:left;">
						                <select ng-init="searchAddrOptions='ROAD'" class="form-control h-auto mt_05"  style="width:100px;" name="searchAddrOptions" id="searchAddrOptions" ng-model="searchAddrOptions" >
						                	<option value="ROAD">도로명주소검색</option>
						                	<option value="PARCEL">지번주소검색</option>
						               	</select></div>
						               	</label>                
						                <input type="search" class="form-control d-inline-block " name="address" id="address" ng-model="address" placeholder="주소" style="margin-top: -5px;width:200px;">
						                <button type="button" class="btn btn_sky"  style="margin-top: -3px;margin-left:4px;" ng-click="searchAddress()">검색</button>
						            </form>
						        </div>
                                <div class="input_info_3" id="assetEdit">
                                    <form action="" class="ml-2 pl-2" style="display: flex; margin-top: -18px;">
                                        <label for="" style="margin-top: -9px;">자산편집</label>
                                        <div class="selectbox" style="margin-top: -9px;">
                                        	<input type=hidden id="editTarget" value=""/>
                                        	<span id="dispEditTargetNm"></span>
                                        </div>
                                        <button type="button" class="btn btn-success" id="start_edit_mode" style="display: none;">편집시작</button>
                                        <button type="button" class="btn btn_gr2" id="close_edit_mode" style="display: none;">편집종료</button>
                                        <button type="button" class="btn btn_sky" id="gotoLocationBtn" style="display: none;">초기위치지정</button>
			                            <!-- 편집모드 끝 -->
			                            <div id="getLocationConfirm" style="display:none;">
		                            		<span id="display_LocationCoord" style="display: none;"></span>
		                                    <button type="button" class="btn btn_nv" ng-click="locationConfirm()">저장</button>
		                                    <button type="button" class="btn btn-danger" ng-click="locationCancel()">취소</button>
			                            </div>                                        
                                    </form>
                                </div>
                                <div class="input_info_3">
									<form action="" class="ml-2 pl-2" style="display:none; flex; margin-top: -18px;">
                                        <label for="" style="margin-top: -9px;">좌표지정</label>
                                        <div class="selectbox d-inline-block" style="float:left;">
                                        <span>&nbsp;
                                        <input  class="form-control d-inline-block" numbers-only id="searchLongitude" ng-model="searchLongitude" placeholder="126.6961" style="width:100px;margin-top: -15px;">
                                        </span>
                                        <span>&nbsp;
                                        <input  class="form-control d-inline-block" numbers-only id="searchLatitude" ng-model="searchLatitude" placeholder="35.6889" style="width:100px;margin-top: -15px;">
                                        </span>
                                        </div>
                                        <button type="button" class="btn btn_sky" ng-click="gotoLocation()" >좌표</button>
                                    </form>                                	
                                </div>
                            </div>
                            <div class="side_btn">
                                <div class="side_btn_wrap">
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="defaultBackgroundButton">일반<br>지도</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="satelliteBackgroundButton">위성<br>지도</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="hybridBackgroundButton">지형<br>지도</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="grayBackgroundButton">백지도</button>
                                </div>
                                <div class="side_btn_wrap">
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="goToCurrentLocation">현위치</button>
                                    <button type="button" style="width:0px;height:0px;" id="requestFullscreenButton" ></button> <!-- 전체 -->
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="zoomInButton">확대</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="zoomOutButton">축소</button>
<!--                                    <button type="button" class="btn btn-block btn-success closeBtn">이동</button>-->
                                </div>
                                <div class="side_btn_wrap" id="measureBntGroup">
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="distanceButton">거리</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="areaButton">면적</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="circleButton">반경</button>
                                    <button type="button" class="btn btn-block btn-success closeBtn" id="removeMeasure">해제</button>
                                    <button type="button" style="width:0px;height:0px;" id="cancelMeasure"></button> <!-- 취소 -->
                                </div>
						        <div class="side_btn_wrap">
						            <button type="button" class="btn btn-block btn-success closeBtn" id="saveMap">화면<br>저장</button>
								</div>                                
                            </div>
						    <!-- 자산레이어 시작 -->
						    <div class="side_nav_title " style="position:absolute;top:161px;">
						        <p style="font-size: 13px;" ng-click="toggleNavLayer($event)" >시설물 레이어</p>
						    </div>
						    <div class="side_nav font-weight-bold" style="font-size: 13px;top: 187px;height: 500px;display:none;">                            
                                <div class="side_nav_info">
                                    <section class="blockPanel-wrapper" id="blockPanel-wrapper">
                                        <article class="blockPanel" ng-repeat="item in layers | filter: { C_VALUE1:1 } | orderBy: 'C_SORT'">
                                            <div class="blockPanel-heading">
                                                <form>
                                                    <input type="checkbox" onclick="layerUpdate()" ng-model="item.isActive" ng-click="checkChild(item)" style="height:14px!important;">
                                                </form>
                                                <a class="collapsed" data-toggle="collapse" aria-expanded="true" ng-click="toggleTreeNode(0,$index)">
                                                    <span class="blockName">{{ item.C_NAME }}</span>
                                                </a>
                                            </div>
                                            <ul class="list-group panel-collapse collapse show" id="node{{$index}}">
                                                <li ng-if="!(sub.C_VALUE1 == 1)"
                                                    ng-repeat="sub in layers | filter: { PCODE:item.C_SCODE } | orderBy: 'C_SORT' ">
                                                    <form>
                                                        <input type="checkbox" onclick="layerUpdate()" ng-model="sub.isActive" ng-click="checkParent(item)" style="height:14px!important;">
                                                    </form>
                                                    <a data-toggle="collapse"> <span class="blockName">{{ sub.C_NAME }}</span></a>
                                                </li>
                                            </ul>
                                        </article>
                                    </section>
                                </div>
                                <div class="side_nav_btn">
                                    <button type="button" class="btn btn-block" ng-click="reloadLayers()"><i class="xi-renew xi-x"></i></button>
                                    <button type="button" class="btn btn-block" ng-click="checkAllLayers()"><i class="xi-check-square-o xi-x"></i></button>
                                    <button type="button" class="btn btn-block" ng-click="uncheckAllLayers()"><i class="xi-checkbox-blank xi-x"></i></button>
                                </div>
                            </div>
                            <div class="select_mode" id="select_mode" ng-show="gisPopupMode=='gisSelect'" style="left: 3px;position: absolute;">
                                <div class="mode_title select_mode_title" style="padding-top:5px;">
                                    <span style="font-size: 13px;">자산선택 모드</span> <!-- ng-click="closePopupSelect($event)" -->
                                </div>
                                <div class="select_info pt-2">
                                    <form>
                                        <label>대상자산</label>
                                        <select id="selectTarget">
                                            <option value="">--선택 대상 선택--</option>
                                            <option value="ams:wtl_fire_ps:use_yn=true">소방시설</option>
                                            <option value="ams:wtl_flow_ps:use_yn=true">유량계</option>
                                            <option value="ams:wtl_manh_ps:use_yn=true">상수맨홀</option>
                                            <option value="ams:wtl_meta_ps:use_yn=true">수도미터</option>
                                            <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA004'">배수관로</option>
                                            <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA003'">송수관로</option>
                                            <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA002'">도수관로</option>
                                            <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA001'">취수관로</option>
                                            <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA005'">급수관로</option>
                                            <option value="ams:wtl_pres_ps:use_yn=true">가압장</option>
                                            <option value="ams:wtl_rsrv_ps:use_yn=true">저수조</option>
                                            <option value="ams:wtl_stpi_ps:use_yn=true">스탠드파이프</option>
                                            <option value="ams:wtl_valv_ps:use_yn=true">변류시설</option>
                                        </select>
                                        <label>선택모드</label>
                                        <select id="drawSelector">
                                            <option value="None">--선택해제--</option>
                                            <option value="Single">단일</option>
                                            <option value="Box">사각형</option>
                                            <option value="Polygon">자유그리기</option>
                                        </select>
                                        <label style="display: none">FTR_IDN</label>
                                        <input type="text" id="inputFTRIDN" style="display: none">
                                    </form>
                                </div>
                            </div>
                            <!-- 편집모드 시작 -->
                            <div class="edit_mode" id="edit_mode" style="display:none; width:200px;">
                                <div class="mode_title edit_mode_title">
                                    <p class="pt-1" ng-click="closePopupEdit1($event)">편집 모드</p>
                                </div>
                                <div class="edit_info" style="width:200px;">
                                    <form>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons"  style="width:130px;">
                                            <button type="button" style="width:0px;height:0px;padding:0 0 0 0;" class="btn" name="btn_edit_mode" id="drawEditButton"></button><!-- 자산추가 -->
                                            <button type="button" class="btn" name="btn_edit_mode" id="modifyEditButton">자산변경</button>
                                            <button type="button" style="width:0px;height:0px;padding:0 0 0 0;" class="btn" name="btn_edit_mode" id="deleteEditButton"></button><!-- 자산삭제 -->
                                            <button type="button" style="width:0px;height:0px;padding:0 0 0 0;" class="btn" name="btn_edit_mode" id="uselessEditButton"></button><!-- 자산불용 -->
                                            <button type="button" class="btn btn-info saveBtn" id="finish_edit_mode" >변경저장</button>
                                        </div>
                                        <label for="" style="float: none;display:none;">스냅대상</label>
                                        <div class="selectbox" style="vertical-align: middle; display: inline-block;display:none;">
                                            <select class="form-control d-inline-block w-auto h-auto" id="snapTarget" disabled>
                                                <option value="ams:wtl_fire_ps:use_yn=true:Point">소방시설</option>
                                                <option value="ams:wtl_flow_ps:use_yn=true:Point">유량계</option>
                                                <option value="ams:wtl_manh_ps:use_yn=true:Point">상수맨홀</option>
                                                <option value="ams:wtl_meta_ps:use_yn=true:Point">수도미터</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA004':LineString">배수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA003':LineString">송수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA002':LineString">도수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA001':LineString">취수관로</option>
                                                <option value="ams:wtl_pipe_lm:use_yn=true AND saa_cde='SAA005':LineString">급수관로</option>
                                                <option value="ams:wtl_pres_ps:use_yn=true:Point">가압장</option>
                                                <option value="ams:wtl_rsrv_ps:use_yn=true:Point">저수조</option>
                                                <option value="ams:wtl_stpi_ps:use_yn=true:Point">스탠드파이프</option>
                                                <option value="ams:wtl_valv_ps:use_yn=true:Point">변류시설</option>
                                            </select>
                                        </div>
                                        <button type="button" style="float: none;display:none;" class="btn btn-info closeBtn" id="snapTargetChange" disabled>변경</button>
                                    </form>
                                </div>
                            </div>

                            <!-- 하단 테이블 영역 시작 -->
                            <div class="table_wrap h-auto" style="background: rgba(255,255,255,0.8);" ng-show="selectedInfoList.length > 0">
                                <div class="table-responsive" style="height: 60px;">
                                    <table class="table_info table mb-0">
                                        <colgroup>
                                            <col style="width: 3%">
                                            <col style="width: 10%">
                                            <col style="width: 10%">
                                            <col style="width: 10%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 4%">
                                            <col style="width: 0">
                                            <col style="width: 0">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>순번</th>
                                                <th>자산코드</th>
                                                <th>자산명</th>
                                                <th>지형지물관리번호</th>
                                                <th>지형지물부호</th>
                                                <th>대블록</th>
                                                <th>중블록</th>
                                                <th>소블록</th>
                                                <th>관로구분</th>
                                                <th>급수용도</th>
                                                <th>위치(주소)</th>
                                                <th>관종구분</th>
                                                <th>관경</th>
                                                <th>관로길이</th>
                                                <th>부설일</th>
                                                <th>관내부도장재</th>
                                                <th>관외부도장재</th>
                                                <th>지형조건</th>
                                                <th>지형상세</th>
                                                <th>관보호공</th>
                                                <th class="d-none">LAYER_NM</th>
                                                <th class="d-none">FTR_IDN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in selectedInfoList" ng-click="moveToTheClickedAssetLocationAndBlink(item)">
                                                <td>{{(item.ASSET_SID==selected_asset_sid)?"*":""}}{{ item.RNUM }}</td> <!-- 순번 -->
                                                <td><a ng-click="showAssetItemPP(item,$event)">{{ item["'10001'"] }}</a></td> <!-- 자산코드 -->
                                                <td>{{ item["'10002'"] }}</td> <!-- 자산명 -->
                                                <td>{{ item["'10009'"] }}</td> <!-- 지형지물관리번호 -->
                                                <td>{{ item["'10010'"] }}</td> <!-- 지형지물관리부호 -->
                                                <td>{{ item["'10016'"] }}</td> <!-- 대블록 -->
                                                <td>{{ item["'10017'"] }}</td> <!-- 중블록 -->
                                                <td>{{ item["'10018'"] }}</td> <!-- 소블록 -->
                                                <td>{{ item["'10021'"] }}</td> <!-- 관로구분 -->
                                                <td>{{ item["'10020'"] }}</td> <!-- 급수용도 -->
                                                <td>{{ item["'10005'"] }}</td> <!-- 위치 -->
                                                <td>{{ item["'10022'"] }}</td> <!-- 관종구분 -->
                                                <td>{{ item["'10025'"] }}</td> <!-- 관경 -->
                                                <td>{{ item["'10026'"] }}</td> <!-- 관로길이 -->
                                                <td>{{ item["'10004'"] }}</td> <!-- 부설일 -->
                                                <td>{{ item["'10023'"] }}</td> <!-- 관내부도장재 -->
                                                <td>{{ item["'10024'"] }}</td> <!-- 관외부도장재 -->
                                                <td>{{ item["'10027'"] }}</td> <!-- 지형조건 -->
                                                <td>{{ item["'10028'"] }}</td> <!-- 지형상세 -->
                                                <td>{{ item["'10029'"] }}</td> <!-- 관보호공 -->
                                                <td class="d-none">{{ item.LAYER_NM }}</td> <!-- LAYER_NM -->
                                                <td class="d-none">{{ item.FTR_IDN }}</td> <!-- FTR_IDN -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn_wrap text-center py-1">
                                    <button type="button" class="btn btn_nv" ng-click="selectConfirm()">확인</button>
                                    <!-- <button type="button" class="btn btn-info" ng-click="writeExcel()">출력</button> -->
                                    <button type="button" class="btn btn-danger" ng-click="clearSelectedInfoList()">취소</button>
                                </div>
                            </div>
                            <!-- 하단 테이블 영역 끝 -->
                            <!-- 하단 테이블 영역 시작 -->
                            <div class="table_wrap h-auto" style="background: rgba(255,255,255,0.8); z-index: 1110" ng-show="evaluationResultsList.length > 0">
                                <div class="table-responsive" style="height: 60px;">
                                    <table class="table_info table mb-0">
                                        <thead>
                                    <colgroup>
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                        <col style="width: 11.11%">
                                    </colgroup>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>순번</th>
                                        <th>자산코드</th>
                                        <th>자산명</th>
                                        <th>대블록</th>
                                        <th>중블록</th>
                                        <th>소블록</th>
                                        <th>관로계통</th>
                                        <th>관종</th>
                                        <th>평가등급</th>
                                    </tr>

                                    <tr ng-repeat="item in evaluationResultsList">
                                        <td>{{ item.RNUM }}</td> <!-- 순번 -->
                                        <td>{{ item.ASSET_CD }}</td> <!-- 자산코드 -->
                                        <td>{{ item.ASSET_NM }}</td> <!-- 자산명 -->
                                        <td>{{ item.DAE }}</td> <!-- 대블록 -->
                                        <td>{{ item.JUNG }}</td> <!-- 중블록 -->
                                        <td>{{ item.SO }}</td> <!-- 소블록 -->
                                        <td>{{ item.SAA }}</td> <!-- 관로계통 -->
                                        <td>{{ item.MOP }}</td> <!-- 관종 -->
                                        <td>{{ item.GRADE }}</td> <!-- 평가등급 -->
                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 하단 테이블 영역 끝 -->
                        </div>
                    </div>
<!--                    <div class="popupBtnWrap">-->
<!--                        <button type="button" class="btn btn-block btn_nv closeBtn" ng-click="selectConfirm()">확인</button>-->
<!--                        <button type="button" class="btn btn-block btn-info downloadBtn" ng-click="writeExcel()">출력</button>-->
<!--                        <button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup()">닫기</button>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
    </div>
</div>