<section class="popupSection" id="diagnosticAreaDetailPopup" style="display: none"  onMouseMove="moveWindow(event,'#gisPopupWindow2')">
	<div class="popupWrap operation_popupWrap gis_2 h-auto" id="gisPopupWindow2">
		<h3>진단 구역 등록/수정<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span></h3>
		<div class="popup h-auto">
			<div class="popup_info">
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>진단구역명</span></label> <input type="text" ng-model="DIAG_AREA_NM" kr-input>
						</div>
					</div>
				</div>
				<div class="clear" style="width: 98%; margin: 0 auto;">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>등록자</span></label> <input type="text" ng-model="WRTR_NM" disabled>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>등록일자</span></label> <input type="text" class="datePicker" ng-model="WRT_YMD" disabled>
						</div>
					</div>
				</div>
				<div class="grid">
					<table id="diagnosticAreaList3"></table>
				</div>
				<div id="diagnosticAreaListPager3"></div>
				<div id="diagnosticAreaList3_page"></div>
				<div class="btn_wrap pr-2">
					<button type="button" class="btn btn-block btn-primary" ng-click="showPopupLevelPath1()">자산선택</button>
					<button type="button" class="btn btn-block btn-primary" ng-click="selectDiagnosticGroup()">진단그룹선택</button>
					<button type="button" class="btn btn-block btn-danger" ng-click="diagnosticAreaDetailPopup.delete()">삭제</button>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
			</div>
			<div class="popupBtnWrap mb-2">
				<button type="button" class="btn btn-block btn-success" ng-click="diagnosticAreaDetailPopup.save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
			</div>
		</div>
	</div>
</section>