 <section class="popupSection" id="stateDiagnosticGroupDetailPopup" style="display: none" onMouseMove="moveWindow(event,'#gisPopupWindow3')">
	<div class="popupWrap operation_popupWrap gis_3" id="gisPopupWindow3">
        <h3>상태진단 그룹 등록/수정<span class="popupClose" ng-click="closePopup($event)"><i class="xi-close"></i></span>
		</h3>
		<div class="popup">
			<div class="popup_info" style="height: unset;">
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""><span>상태진단그룹명</span></label> <input type="text" ng-model="STATE_DIAG_GROUP_NM" kr-input>
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>등록자</span></label> <input type="text" ng-model="WRTR_NM" disabled>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>등록일자</span></label> <input type="text" class="datePicker" ng-model="WRT_YMD" disabled>
						</div>
					</div>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
				<div class="clear w_98">
					<div class="w100 Form100">
						<div class="form-group">
							<label for="" class="text-left">
								<button type="button" class="btn btn-block btn_nv mt-1" ng-click="showPopupLevelPath()">자산경로 선택</button>
							</label> <input type="text" ng-model="assetPathSidNm" readonly>
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="" class="text-left">
								<button type="button" class="btn btn-block btn_nv mt-1" ng-click="pop4.open('pipeMaterial')">관재질 선택</button>
							</label> <input type="text" ng-model="pipeMaterialNm" readonly>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="" class="text-left">
								<button type="button" class="btn btn-block btn_nv mt-1" ng-click="pop4.open('pipeDiameter')">관경 선택</button>
							</label> <input type="text" ng-model="pipeDiameterNm" readonly>
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="" class="text-left">
								<button type="button" class="btn btn-block btn_nv mt-1" ng-click="pop4.open('pipePurpose')">관용도 선택</button>
							</label> <input type="text" ng-model="pipePurposeNm" readonly>
						</div>
					</div>
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for="" class="text-left">
								<button type="button" class="btn btn-block btn_nv mt-1" ng-click="pop4.open('waterPurpose')">급수용도 선택</button>
							</label> <input type="text" ng-model="waterPurposeNm" readonly>
						</div>
					</div>
				</div>
				<div class="grid">
					<table id="diagnosticAreaList4"></table>
				</div>
				<div class="popup_title">
					<p></p>
				</div>
			</div>
			<div id="diagnosticAreaListPager4"></div>
			<div id="diagnosticAreaList4_page"></div>
			<div class="popupBtnWrap">
				<button type="button" class="btn btn-block btn-success" ng-click="stateDiagnosticGroupDetailPopup.save()">저장</button>
				<button type="button" class="btn btn-block btn-danger closeBtn" ng-click="closePopup($event)">취소</button>
			</div>
		</div>
	</div>
</section>
