<div class="gis_wrap p-1" id="gis">
    <div class="gis">
        <div id="gis_map"></div>
    </div>
    <div class="input_wrap" style="top: 5px; width: 99.5%;">
        <div class="input_info_3">
            <form action="" class="ml-2 pl-2" style="display:flex; margin-top: -30px;">
                <label for="">자산편집</label>
                <div class="selectbox">
                    <select class="form-control mt_05" name="" id="editTarget" style="height: auto;">
                        <option value="">--편집 대상 선택--</option>
                        <option value="buan_ams:wtl_fire_ps::Point">소방시설</option>
                        <option value="buan_ams:wtl_flow_ps::Point">유량계</option>
                        <option value="buan_ams:wtl_manh_ps::Point">상수맨홀</option>
                        <option value="buan_ams:wtl_meta_ps::Point">급수전계량기</option>
                        <option value="buan_ams:wtl_pres_ps::Point">가압장</option>
                        <option value="buan_ams:wtl_stpi_ps::Point">스탠드파이프</option>
                        <option value="buan_ams:wtl_valv_ps::Point">변류시설</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA004':LineString">배수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA003':LineString">송수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA002':LineString">도수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA001':LineString">취수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA005':LineString">급수관로</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success mx-1 mt_05" id="start_edit_mode">편집시작</button>
                <button type="button" class="btn btn_gr2 mx-1 mt_05" id="finish_edit_mode" style="display: none;">편집종료</button>
            </form>
        </div>
    </div>
    <div class="edit_mode" id="edit_mode" style="display:none; width:550px;">
        <div class="mode_title edit_mode_title">
            <p class="pt-1">편집 모드</p>
        </div>
        <div class="edit_info" style="width:550px;">
            <form>
                <button type="button" class="btn btn-primary" id="drawEditButton">자산추가</button>
                <button type="button" class="btn btn-info closeBtn" id="modifyEditButton">자산변경</button>
                <button type="button" class="btn btn-danger downloadBtn" id="deleteEditButton">자산삭제</button>
                <button type="button" class="btn btn-light closeBtn" id="uselessEditButton">자산불용</button>
                <label for="" style="float: none;">스냅대상</label>
                <div class="selectbox" style="vertical-align: middle; display: inline-block;">
                    <select class="form-control" id="snapTarget" style="display: inline-block; width: auto; height: auto;">
                        <option value="buan_ams:wtl_fire_ps::Point">소방시설</option>
                        <option value="buan_ams:wtl_flow_ps::Point">유량계</option>
                        <option value="buan_ams:wtl_manh_ps::Point">상수맨홀</option>
                        <option value="buan_ams:wtl_meta_ps::Point">급수전계량기</option>
                        <option value="buan_ams:wtl_pres_ps::Point">가압장</option>
                        <option value="buan_ams:wtl_stpi_ps::Point">스탠드파이프</option>
                        <option value="buan_ams:wtl_valv_ps::Point">변류시설</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA004':LineString">배수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA003':LineString">송수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA002':LineString">도수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA001':LineString">취수관로</option>
                        <option value="buan_ams:wtl_pipe_lm:saa_cde='SAA005':LineString">급수관로</option>
                    </select>
                </div>
                <button type="button" class="btn btn-info closeBtn" id="snapTargetChange">변경</button>
            </form>
        </div>
    </div>
</div>
<script>
    // https://gis.stackexchange.com/questions/265073/geoserver-read-only-error-for-updating-wfs-layer
    // 위의 링크 참고하여 GeoServer 설정

    const DEFAULT_CENTER_POINT = [ 14088979.82, 4257570.74 ];
    const DEFAULT_ZOOM = 11;
    const MIN_ZOOM = 7;
    const MAX_ZOOM = 20;

    const map = new ol.Map({
        target: 'gis_map'
    });

    const view = new ol.View({
        projection : new ol.proj.Projection({
            code : "EPSG:3857",
            units : "m",
            axisOrientation : "enu"
        }),
        center : DEFAULT_CENTER_POINT,
        minZoom : MIN_ZOOM,
        maxZoom : MAX_ZOOM,
        zoom : DEFAULT_ZOOM
    });
    map.setView(view);

    let baseLayer = new ol.layer.Tile({
        source: defaultBackgroundSource,
    });
    map.addLayer(baseLayer);

    const defaultStyle = new ol.style.Style({
        image: new ol.style.Circle({
            radius: 2,
            fill: new ol.style.Fill({color: '#000000'}),
            stroke: new ol.style.Stroke({
                color: [0, 0, 255], width: 1
            })
        }),
        stroke : new ol.style.Stroke({
            color : '#eb4034', width : 1,
        })
    });

    let editVectorLayer = new ol.layer.Vector({
        style : defaultStyle
    });

    let snapVectorLayer = new ol.layer.Vector({
        style : defaultStyle
    });

    map.addLayer(editVectorLayer);
    map.addLayer(snapVectorLayer);

    function transactWFS(mode, f) {
        const formatWFS = new ol.format.WFS();
        const xs = new XMLSerializer();

        console.log(`mode: ${mode}, f: ${f}`);

        const editVectorLayerNameSpace = getEditVectorLayerNameSpace();
        const editVectorLayerOnlyName = getEditVectorLayerOnlyName();

        const insertGML = new ol.format.GML({
            featureNS : editVectorLayerNameSpace,
            featureType : editVectorLayerOnlyName,
            srsName: 'EPSG:3857'
        });
        const updateDeleteGML = new ol.format.GML({
            featureNS : WFS_URL,
            featureType : editVectorLayerOnlyName,
            srsName: 'EPSG:3857'
        });

        console.log('insertGML');
        console.log(insertGML);

        let node;
        switch (mode) {
            case 'insert':
                node = formatWFS.writeTransaction([ f ], null, null, insertGML);
                break;
            case 'update':
                node = formatWFS.writeTransaction(null, [ f ], null, updateDeleteGML);
                break;
            case 'delete':
                node = formatWFS.writeTransaction(null, null, [ f ], updateDeleteGML);
                break;
        }

        console.log(node);
        let payload = xs.serializeToString(node);

        switch (mode) {
            case 'update':
                payload = payload.replace("feature:" + editVectorLayerOnlyName, editVectorLayerNameSpace + ":" + editVectorLayerOnlyName).replace("geometry", "geom");
                break;
        }

        console.log('payload');
        console.log(payload);

        $.ajax(WFS_URL, {
            type : 'POST',
            dataType : 'xml',
            processData : false,
            contentType : 'text/xml',
            data : payload
        }).done(function(data, textStatus, jqXHR) {
            console.log('=============== RESULT S ===============');
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('=============== RESULT E ===============');

            DrawClass.setActive(false);
            ModifyClass.setActive(false);
            DeleteClass.setActive(false);
        }).always(function(){
            if(getEditVectorLayerCQL() === '') {
                editVectorLayer.setSource(getVectorLayer(getEditVectorLayerName()));
            } else {
                editVectorLayer.setSource(getVectorLayerCQL(getEditVectorLayerName(), getEditVectorLayerCQL()));
            }
        });
    }

    /* Delete */
    let selectItemForDelete = null;
    const DeleteClass = {
        init: function () {
            this.select = new ol.interaction.Select();
            map.addInteraction(this.select);

            this.setEvents();
            this.setActive(false);

            this.selectItem = null;
        },
        setEvents: function () {
            const selectedFeatures = this.select.getFeatures();
            selectedFeatures.on('add', function (event) {
                this.selectItem = event.element;
                selectItemForDelete = event.element;

                if (confirm("정말 삭제하시겠습니까?")) {
                    transactWFS('delete', selectItemForDelete);
                    editVectorLayer.getSource().removeFeature(selectItemForDelete);
                    DeleteClass.select.getFeatures().clear();
                }
            }, this);
            selectedFeatures.on('remove', function (event) {
                this.selectItem = null;
                selectItemForDelete = null;
            }, this);
        },
        setActive: function (active) {
            this.select.setActive(active);
        },
    };
    // DeleteClass.init();

    /* Modify */
    const ModifyClass = {
        init: function () {
            this.select = new ol.interaction.Select();
            map.addInteraction(this.select);

            this.modify = new ol.interaction.Modify({
                features: this.select.getFeatures(),
            });

            map.addInteraction(this.modify);

            this.setEvents();
            this.setActive(false);
        },
        setEvents: function () {
            const selectedFeatures = this.select.getFeatures();

            this.select.on('change:active', function () {
                selectedFeatures.forEach(function (each) {
                    selectedFeatures.remove(each);
                });
            });

            this.dirty = {};

            this.select.getFeatures().on('add', function (e) {
                e.element.on('change', function (e) {
                    ModifyClass.dirty[e.target.getId()] = true;
                });
            });

            this.select.getFeatures().on('remove', function (e) {
                const f = e.element;
                if (ModifyClass.dirty[f.getId()]) {
                    delete ModifyClass.dirty[f.getId()];
                    const featureProperties = f.getProperties();
                    delete featureProperties.boundedBy;
                    const clone = new ol.Feature(featureProperties);
                    clone.setId(f.getId());
                    transactWFS('update', clone);
                }
            });
        },
        setActive: function (active) {
            this.select.setActive(active);
            this.modify.setActive(active);
        },
    };
    // ModifyClass.init();

    /* Draw */
    let drawObj = null;
    const DrawClass = {
        init: function () {
            this.setDrawType();
            map.addInteraction(this.Point);
            map.addInteraction(this.LineString);
            map.addInteraction(this.Polygon);
            map.addInteraction(this.Circle);

            this.Point.on('drawend', function (e) {
                const f = e.feature;
                drawObj = f;
                transactWFS('insert', e.feature);
            })
            this.LineString.on('drawend', function (e) {
                transactWFS('insert', e.feature);
            })
            this.Polygon.on('drawend', function (e) {
                const f = e.feature;
                f.set('emd_cd', '11111111');
                f.set('emd_nm', '테스트');
                f.set('emd_eng_nm', 'test');
                f.setGeometryName('geom');
                drawObj = f;
                transactWFS('insert', e.feature);
            })
            this.Circle.on('drawend', function (e) {
                transactWFS('insert', e.feature);
            })

            this.Point.setActive(false);
            this.LineString.setActive(false);
            this.Polygon.setActive(false);
            this.Circle.setActive(false);

            //map.addInteraction(this.snap);
        },
        setDrawType: function () {
            let source = editVectorLayer.getSource();

            this.Point = new ol.interaction.Draw({
                source: source,
                type: 'Point',
                geometryName: 'geom',
            });
            this.LineString = new ol.interaction.Draw({
                source: source,
                type: 'MultiLineString',
                geometryName: 'geom',
            });
            this.Polygon = new ol.interaction.Draw({
                source: source,
                type: 'MultiPolygon',
                geometryName: 'geom',
            });
            this.Circle = new ol.interaction.Draw({
                source: source,
                type: 'Circle',
                geometryName: 'geom',
            });
            this.snap = new ol.interaction.Snap({
                source: source,
            });
        },
        setSnapSource: function(param_source) {
            map.removeInteraction(this.snap);
            this.snap = new ol.interaction.Snap({
                source: param_source,
            });
            map.addInteraction(this.snap);
        },
        getActive: function () {
            return this.activeType ? this[this.activeType].getActive() : false;
        },
        setActive: function (active) {
            const type = getEditVectorLayerType();
            console.log(`type: ${type}`);

            if (active) {
                this.activeType && this[this.activeType].setActive(false);
                this[type].setActive(true);
                this.activeType = type;
            } else {
                this.activeType && this[this.activeType].setActive(false);
                this.activeType = null;
            }
        },
        removeInteraction: function () {
            map.removeInteraction(this.Point);
            map.removeInteraction(this.LineString);
            map.removeInteraction(this.Polygon);
            map.removeInteraction(this.Circle);
            map.removeInteraction(this.snap);
        }
    };

    // 편집 시작 버튼
    document.getElementById("start_edit_mode").addEventListener('click', (e) => {
        const editVectorLayerName = getEditVectorLayerName();

        if (editVectorLayerName === '' || editVectorLayerName === undefined || editVectorLayerName === ':undefined') {
            alert('대상을 먼저 선택해주세요.');
            editVectorLayer.setSource(null);
        } else {
            document.getElementById("start_edit_mode").style.display = 'none';
            document.getElementById("finish_edit_mode").style.display = 'block';

            document.getElementById("edit_mode").style.display = 'block';

            console.log(`editVectorLayerName: ${editVectorLayerName}`);
            if(getEditVectorLayerCQL() === '') {
                editVectorLayer.setSource(getVectorLayer(getEditVectorLayerName()));
            } else {
                editVectorLayer.setSource(getVectorLayerCQL(getEditVectorLayerName(), getEditVectorLayerCQL()));
            }
        }
    });

    // 편집 종료 버튼
    document.getElementById("finish_edit_mode").addEventListener('click', (e) => {
        document.getElementById("start_edit_mode").style.display = 'block';
        document.getElementById("finish_edit_mode").style.display = 'none';

        document.getElementById("edit_mode").style.display = 'none';

        DrawClass.removeInteraction();

        editVectorLayer.setSource(null);
        snapVectorLayer.setSource(null);

        DrawClass.init();
        ModifyClass.init();
        DeleteClass.init();

        DrawClass.setActive(false);
        ModifyClass.setActive(false);
        DeleteClass.setActive(false);
    });

    // 스냅 변경
    document.getElementById('snapTargetChange').addEventListener('click', (e) => {
        const snapVectorLayerName = getSnapVectorLayerName();

        if (snapVectorLayerName === '' || snapVectorLayerName === undefined || snapVectorLayerName === ':undefined') {
            alert('대상을 먼저 선택해주세요.');
            snapVectorLayer.getSource().clear();
            snapVectorLayer.setSource(null);
        } else {
            console.log(`snapVectorLayerName: ${snapVectorLayerName}`);
            if(getSnapVectorLayerCQL() === '') {
                snapVectorLayer.setSource(getVectorLayer(getSnapVectorLayerName()));
            } else {
                snapVectorLayer.setSource(getVectorLayerCQL(getSnapVectorLayerName(), getSnapVectorLayerCQL()));
            }
            DrawClass.setSnapSource(snapVectorLayer.getSource());
        }
    });

    document.getElementById('deleteEditButton').addEventListener('click', (e) => {
        const editVectorLayerName = getEditVectorLayerName();

        console.log('delete start');
        console.log('layer: ' + editVectorLayerName);

        if (editVectorLayerName === '' || editVectorLayerName === ':undefined') {
            alert('대상을 먼저 선택해주세요.');
        } else {
            DrawClass.init();
            ModifyClass.init();
            DeleteClass.init();

            DrawClass.setActive(false);
            ModifyClass.setActive(false);
            DeleteClass.setActive(true);
        }
    });

    document.getElementById('modifyEditButton').addEventListener('click', (e) => {
        const editVectorLayerName = getEditVectorLayerName();

        console.log('modify start');
        console.log('layer: ' + editVectorLayerName);

        if (editVectorLayerName === '' || editVectorLayerName === ':undefined') {
            alert('대상을 먼저 선택해주세요.');
        } else {
            DrawClass.init();
            ModifyClass.init();
            DeleteClass.init();

            DrawClass.setActive(false);
            ModifyClass.setActive(true);
            DeleteClass.setActive(false);
        }
    });

    document.getElementById('drawEditButton').addEventListener('click', (e) => {
        const editVectorLayerName = getEditVectorLayerName();

        console.log('draw start');
        console.log('layer: ' + editVectorLayerName);

        if (editVectorLayerName === '' || editVectorLayerName === ':undefined') {
            alert('대상을 먼저 선택해주세요.');
        } else {
            DrawClass.init();
            ModifyClass.init();
            DeleteClass.init();

            DrawClass.setActive(true);
            ModifyClass.setActive(false);
            DeleteClass.setActive(false);
        }
    });

    function getEditVectorLayerName() {
        const editTarget = document.getElementById('editTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');

        return editVectorLayerNameTempSplit[0] + ':' + editVectorLayerNameTempSplit[1];
    }

    function getEditVectorLayerNameSpace() {
        const editTarget = document.getElementById('editTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');

        return editVectorLayerNameTempSplit[0];
    }

    function getEditVectorLayerOnlyName() {
        const editTarget = document.getElementById('editTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');

        return editVectorLayerNameTempSplit[1];
    }

    function getEditVectorLayerCQL() {
        const editTarget = document.getElementById('editTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');

        return editVectorLayerNameTempSplit[2];
    }

    function getEditVectorLayerType() {
        const editTarget = document.getElementById('editTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');
        return editVectorLayerNameTempSplit[3];
    }

    function getSnapVectorLayerName() {
        const editTarget = document.getElementById('snapTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');

        return editVectorLayerNameTempSplit[0] + ':' + editVectorLayerNameTempSplit[1];
    }

    function getSnapVectorLayerCQL() {
        const editTarget = document.getElementById('snapTarget');
        const editVectorLayerNameTemp = editTarget.options[editTarget.selectedIndex].value;
        const editVectorLayerNameTempSplit = editVectorLayerNameTemp.split(':');

        return editVectorLayerNameTempSplit[2];
    }

    // 편집용 백터 레이어 소스 가져오기 (검색용)
    function getVectorLayerCQL(vectorLayerName, cql) {
        const formatWFS = new ol.format.WFS();

        let tempSource = new ol.source.Vector({
                loader: function (extent) {
                    $.ajax(WFS_URL, {
                        type: 'GET',
                        data: {
                            service: 'WFS',
                            version: '1.1.0',
                            request: 'GetFeature',
                            typeName: vectorLayerName,
                            srsname: 'EPSG:3857',
                            CQL_FILTER: cql,
                        } }).done(function (response) {
                        tempSource.addFeatures(formatWFS.readFeatures(response));
                    });
                },
                strategy: ol.loadingstrategy.tile(ol.tilegrid.createXYZ({
                    maxZoom: 22
                })),
                projection: 'EPSG:3857',
                crossOrigin: 'Anonymous'
            }
        );

        return tempSource;
    }
</script>