<style>
.tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.tooltip-measure {
	opacity: 1;
	font-weight: bold;
}

.tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}

.tooltip-static:before {
	border-top-color: #ffcc33;
}
</style>
<div class="gis_wrap p-1">
	<div class="gis mt-1">
		<div id="gis_map"></div>
	</div>
	<div class="input_wrap" style="top: 5px; width: 99.5%;">
		<div class="btn_wrap">
			<button type="button" class="btn btn_sky">자산경로</button>
			<button type="button" class="btn btn-primary">자산선택</button>
			<button type="button" class="btn btn_sky">자산정보</button>
			<button type="button" class="btn btn-primary">단차분석</button>
			<button type="button" class="btn btn_sky">블록분할</button>
			<button type="button" class="btn btn-primary">구역분할</button>
		</div>
		<div class="input_info_1">
			<form action="">
				<label for="">자산검색</label>
				<div class="selectbox" style="display: inline-block;">
					<select name="" id="" class="form-control mt_05"
						style="height: auto;">
						<option value="">송수관로</option>
					</select>
				</div>
				<input type="search" name="" id="" placeholder="자산코드"
					class="form-control"
					style="display: inline-block; width: auto; float: none; margin-top: -20px;">
			</form>
		</div>
		<div class="input_info_2">
			<form action="">
				<label for="">주소검색</label> <input type="search" name="" id=""
					placeholder="봉덕리123" class="form-control"
					style="display: inline-block; width: auto; margin-top: -7px;">
			</form>
		</div>
		<div class="input_info_3">
			<form action="" style="display: flex; margin-top: -30px;"
				class="ml-2 pl-2">
				<label for="">자산편집</label>
				<div class="selectbox">
					<select name="" id="" class="form-control mt_05"
						style="height: auto;">
						<option value="">송수관로</option>
					</select>
				</div>
				<button id="start_edit_mode" type="button"
					class="btn btn-success mx-1 mt_05">편집시작</button>
				<button id="finish_edit_mode" type="button"
					class="btn btn_gr2 mx-1 mt_05" style="display: none;">편집종료</button>
				<button id="start_select_mode" type="button"
					class="btn btn-primary mt_05">선택시작</button>
				<button id="finish_select_mode" type="button"
					class="btn btn_sky mt_05" style="display: none;">선택종료</button>


				<label for="" style="float: none;">평가분석</label>
				<div class="selectbox">
					<select name="" id="" class="form-control mt_05"
						style="height: auto;">
						<option value="">변류시설</option>
					</select>
				</div>
				<button type="button" class="btn btn-info closeBtn mx-1 mt_05">변경</button>
				<button type="button" class="btn btn-danger mt_05"
					ng-click="showGisPopup()">gis 팝업 test</button>
			</form>
		</div>
	</div>
	<div class="side_btn" style="right: 7px;">

		<div class="side_btn_wrap">
			<button id="defaultBackgroundButton" type="button"
				class="btn btn-block btn-success closeBtn">
				일반<br>지도
			</button>
			<button id="satelliteBackgroundButton" type="button"
				class="btn btn-block btn-success closeBtn">
				위성<br>지도
			</button>
			<button id="hybridBackgroundButton" type="button"
				class="btn btn-block btn-success closeBtn">
				지형<br>지도
			</button>
			<button id="grayBackgroundButton" type="button"
				class="btn btn-block btn-success closeBtn">백지도</button>
		</div>
		<div class="side_btn_wrap">
			<button id="goToCurrentLocation" type="button"
				class="btn btn-block btn-success closeBtn">현위치</button>
			<button id="requestFullscreenButton" type="button"
				class="btn btn-block btn-success closeBtn">전체</button>
			<button id="zoomInButton" type="button"
				class="btn btn-block btn-success closeBtn">확대</button>
			<button id="zoomOutButton" type="button"
				class="btn btn-block btn-success closeBtn">축소</button>
			<!--									<button type="button" class="btn btn-block btn-success closeBtn">이동</button>-->
		</div>
		<div class="side_btn_wrap">
			<button id="distanceButton" type="button"
				class="btn btn-block btn-success closeBtn">거리</button>
			<button id="areaButton" type="button"
				class="btn btn-block btn-success closeBtn">면적</button>
			<button id="circleButton" type="button"
				class="btn btn-block btn-success closeBtn">반경</button>
			<button id="removeMeasure" type="button"
				class="btn btn-block btn-success closeBtn">해제</button>
			<button id="saveMap" type="button"
				class="btn btn-block btn-success closeBtn">저장</button>
		</div>

	</div>
	<!-- 자산레이어 시작 -->
	<div class="side_nav_title">
		<p style="font-size: 13px;" ng-click="toggNavleLayer()">시설물 레이어</p>
	</div>
	<div class="side_nav font-weight-bold"
		style="font-size: 13px; height: 800px;">
		<div class="side_nav_info">
			<section id="blockPanel-wrapper" class="blockPanel-wrapper">
				<article class="blockPanel"
					ng-repeat=" item in layers |filter:{C_VALUE1:1} | orderBy:'C_SORT'">
					<div class="blockPanel-heading">
						<form>
							<input type="checkbox" ng-model="item.IsActive">
						</form>
						<a data-toggle="collapse" aria-expanded="true"
							ng-click="toggleTreeNode(0,$index)" class="collapsed"> <span
							class="blockName">{{item.C_NAME}}</span>
						</a>
					</div>
					<ul id="node{{$index}}"
						class="list-group panel-collapse collapse show" style="">
						<li ng-if="!(sub.C_VALUE1==1)"
							ng-repeat="sub in layers |filter:{PCODE:item.C_SCODE} | orderBy:'C_SORT' ">
							<form>
								<input type="checkbox" ng-model="sub.IsActive">
							</form> <a data-toggle="collapse" class=""> <span class="blockName">{{sub.C_NAME}}</span></a>
						</li>
					</ul>
				</article>

			</section>
		</div>
		<div class="side_nav_btn" style="width: 178px; height: 32px;">
			<button type="button" class="btn ">
				<i class="xi-renew xi-x" ng-click="LayerReload()"></i>
			</button>
			<button type="button" class="btn ">
				<i class="xi-check-square-o xi-x" ng-click="checkAllLayers()"></i>
			</button>
			<button type="button" class="btn ">
				<i class="xi-trash-o xi-x" ng-click="uncheckAllLayers()"></i>
			</button>
		</div>
	</div>
	<!-- 자산레이어 끝 -->


	<div id="select_mode" class="select_mode" style="display: none;">
		<div class="mode_title select_mode_title">
			<p class="pt-1">자산선택 모드</p>
		</div>
		<div class="select_info pt-2">
			<form>
				<label>대상자산</label> <select id="selectTarget">
					<option value="">--선택 대상 선택--</option>
					<option value="ams:wtl_fire_ps">소방시설</option>
					<option value="ams:wtl_flow_ps">유량계</option>
					<option value="ams:wtl_manh_ps">상수맨홀</option>
					<option value="ams:wtl_meta_ps">급수전계량기</option>
					<option value="ams:wtl_pipe_lm">상수관로</option>
					<option value="ams:wtl_pres_ps">가압장</option>
					<option value="ams:wtl_rsrv_ps">저수조</option>
					<option value="ams:wtl_stpi_ps">스탠드파이프</option>
					<option value="ams:wtl_valv_ps">변류시설</option>
				</select> <label>선택모드</label> <select id="drawSelector">
					<option value="None">--선택해제--</option>
					<option value="Single">단일</option>
					<option value="Box">사각형</option>
					<option value="Polygon">자유그리기</option>
				</select>
			</form>
		</div>
	</div>
	<!-- 편집모드 시작 -->
	<div id="edit_mode" class="edit_mode"
		style="display: none; width: 550px;">
		<div class="mode_title edit_mode_title">
			<p class="pt-1">편집 모드</p>
		</div>
		<div class="edit_info" style="width: 550px;">
			<form class="">
				<button id="drawEditButton" type="button" class="btn btn-primary">자산추가</button>
				<button id="modifyEditButton" type="button"
					class="btn btn-info closeBtn">자산변경</button>
				<button id="deleteEditButton" type="button"
					class="btn btn-danger downloadBtn">자산삭제</button>
				<button id="uselessEditButton" type="button"
					class="btn btn-light closeBtn">자산불용</button>
				<label for="" style="float: none;">스냅대상</label>
				<div class="selectbox"
					style="vertical-align: middle; display: inline-block;">
					<select id="editTarget" class="form-control"
						style="display: inline-block; width: auto; height: auto;">
						<option value="">--편집 대상 선택--</option>
						<option value="ams:wtl_fire_ps:Point">소방시설</option>
						<option value="ams:wtl_flow_ps:Point">유량계</option>
						<option value="ams:wtl_manh_ps:Point">상수맨홀</option>
						<option value="ams:wtl_meta_ps:Point">급수전계량기</option>
						<option value="ams:wtl_pipe_lm:LineString">상수관로</option>
						<option value="ams:wtl_pres_ps:Point">가압장</option>
						<option value="ams:wtl_rsrv_ps:Point">저수조</option>
						<option value="ams:wtl_stpi_ps:Point">스탠드파이프</option>
						<option value="ams:wtl_valv_ps:Point">변류시설</option>
					</select>
				</div>
				<button id="editTargetChange" type="button"
					class="btn btn-info closeBtn">변경</button>
			</form>
		</div>
	</div>
	<!-- 편집모드 끝 -->

	<!-- 하단 테이블 영역 시작 -->
	<div class="table_wrap table-responsive" style="display: none">
		<table class="table_info table mb-0">
			<thead>
			<colgroup>
				<col width="3%">
				<col width="9%">
				<col width="7%">
				<col width="9%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
				<col width="6%">
			</colgroup>
			</thead>
			<tbody>
				<tr>
					<th>순번</th>
					<th>자산코드</th>
					<th>자산명</th>
					<th>지형지물관리번호</th>
					<th>블럭구분</th>
					<th>관로구분</th>
					<th>급수용도</th>
					<th>위치(주소)</th>
					<th>관종구분</th>
					<th>관경</th>
					<th>관로길이</th>
					<th>부설일</th>
					<th>관내부도장재</th>
					<th>관외부도장재</th>
					<th>지형조건</th>
					<th>관보호공</th>
				</tr>
				<tr>
					<td>1</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>3</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>4</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>5</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>6</td>
					<td>내용</td>
					<td>내용</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 하단 테이블 영역 끝 -->

	<!-- 단차분석 영역 시작 -->
	<div class="dancha_mode" style="display: none">
		<div class="mode_title dancha_mode_title">
			<p>단차 분석</p>
		</div>
		<div class="select_info">
			<div class="clear">
				<button type="button" class="btn btn_sky m-1">시작관로</button>
				<input class="mt-1" type="text" kr-input ng-readonly="isReadonly"
					ng-disabled="isDisabled" class="ng-pristine ng-untouched ng-valid">
			</div>
			<div class="clear mt-2">
				<button type="button" class="btn btn_sky m-1">추가관로</button>
				<div class="text_area mt-1">
					내용<br>-<br>-<br>-<br>-<br>-<br>내용
				</div>
			</div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn_nv">확인</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 단차분석 영역 끝 -->
	<!-- 단차분석 -종단도 영역 시작-->
	<div class="dancha_mode2" style="display: none">
		<div class="mode_title">
			<p>단차분석 -종단도</p>
		</div>
		<div class="select_info"></div>
	</div>
	<!-- 단차분석 -종단도 영역 끝 -->
	<!-- 관 재질 선택 영역 시작 -->
	<div class="texture_mode">
		<div class="mode_title">
			<p>관 재질 선택</p>
		</div>
		<div class="select_info">
			<div class="box_scroll">
				<ul>
					<li><input type="checkbox" class="mr-1"> SP</li>
					<li><input type="checkbox" class="mr-1"> DCIP</li>
					<li><input type="checkbox" class="mr-1"> CIP</li>
					<li><input type="checkbox" class="mr-1"> DIP</li>
					<li><input type="checkbox" class="mr-1"> PE</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
					<li><input type="checkbox" class="mr-1"> ..</li>
				</ul>
			</div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn_nv">확인</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 관 재질 선택 영역 끝 -->
	<!-- 진단구역 설정 영역 시작 -->
	<div class="dancha_mode2 mode3">
		<div class="mode_title">
			<p>진단구역 설정</p>
		</div>
		<div class="select_info height_auto">
			<div class="min_tab">
				<ul class="tabs tabs_2">
					<li>
						<button id="tab1_btn" class="active" data-tab="tab1">진단
							구역</button>
					</li>
					<li>
						<button id="tab2_btn" data-tab="tab2">상태진단 그룹</button>
					</li>
				</ul>
			</div>
			<div class="conts_box main_conts" id=tab1>
				<div class="clear" style="width: 98%; margin: 10px auto 0;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""> <span>기간선택</span>
							</label> <input type="text" class="datePicker"
								style="width: 30% !important;"> <label class=""
								style="width: auto !important; text-align: center; margin: 0 3px;">
								<span>~</span>
							</label> <input type="text" class="datePicker"
								style="width: 30% !important;">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>구역명</span></label> <input type="text" id="">
						</div>
					</div>
					<div class="half_formB fm_w50 text-right pr-1">
						<button type="button" class="btn btn_nv mt-1">조회</button>
						<button type="button" class="btn btn-danger mt-1">삭제</button>
					</div>
				</div>
				<div class="border_color box-scroll" style="height: 220px;"></div>
			</div>
			<div class="conts_box main_conts" id=tab2 style="display: none;">
				<div class="clear" style="width: 98%; margin: 10px auto 0;">
					<div class="w100 Form100">
						<div class="form-group">
							<label for=""> <span>기간선택</span>
							</label> <input type="text" class="datePicker"
								style="width: 30% !important;"> <label class=""
								style="width: auto !important; text-align: center; margin: 0 3px;">
								<span>~</span>
							</label> <input type="text" class="datePicker"
								style="width: 30% !important;">
						</div>
					</div>
				</div>
				<div class="clear w_98">
					<div class="half_formB fm_w50">
						<div class="form-group">
							<label for=""><span>그룹명</span></label> <input type="text" id="">
						</div>
					</div>
					<div class="half_formB fm_w50 text-right pr-1">
						<button type="button" class="btn btn_nv mt-1">조회</button>
						<button type="button" class="btn btn-danger mt-1">삭제</button>
					</div>
				</div>
				<div class="border_color" style="height: 220px;"></div>
			</div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn_sky">신규</button>
				<button type="button" class="btn btn_nv">수정</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 진단구역 설정 영역 끝 -->

	<!-- 상태진단 그룹 등록/수정 영역 시작 -->
	<div class="dancha_mode2 mode4" style="display: none;">
		<div class="mode_title">
			<p>상태진단 그룹 등록/수정</p>
		</div>
		<div class="select_info height_auto">
			<div class="clear w_98">
				<div class="w100 Form100">
					<div class="form-group">
						<label for=""><span>상태진단그룹명</span></label> <input type="text">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>등록자</span></label> <input type="text" id="">
					</div>
				</div>
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>등록일자</span></label> <input type="text" id="">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="w100 Form100">
					<div class="form-group">
						<label for="" class="text-left px-1"><button type="button"
								class="btn btn-block btn_nv">자산경로 선택</button></label> <input type="text">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for="" class="text-left px-1"><button type="button"
								class="btn btn-block btn_nv">관재질 선택</button></label> <input type="text"
							id="">
					</div>
				</div>
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for="" class="px-1"><button type="button"
								class="btn btn-block btn_nv">관경 선택</button></label> <input type="text"
							id="">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for="" class="text-left px-1"><button type="button"
								class="btn btn-block btn_nv">관용도 선택</button></label> <input type="text"
							id="">
					</div>
				</div>
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for="" class="px-1"><button type="button"
								class="btn btn-block btn_nv">급수용도 선택</button></label> <input type="text"
							id="">
					</div>
				</div>
			</div>
			<div class="border_color box-scroll" style="height: 220px;"></div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn-success">저장</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 상태진단 그룹 등록/수정 영역 끝 -->

	<!-- 진단구역 등록/수정 영역 시작 -->
	<div class="dancha_mode2 mode4">
		<div class="mode_title">
			<p>진단구역 등록/수정</p>
		</div>
		<div class="select_info height_auto">
			<div class="clear w_98">
				<div class="w100 Form100">
					<div class="form-group">
						<label for=""><span>상태진단그룹명</span></label> <input type="text">
					</div>
				</div>
			</div>
			<div class="clear w_98">
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>등록자</span></label> <input type="text" id="">
					</div>
				</div>
				<div class="half_formB fm_w50">
					<div class="form-group">
						<label for=""><span>등록일자</span></label> <input type="text" id="">
					</div>
				</div>
			</div>
			<div class="border_color box-scroll" style="height: 220px;"></div>
			<div class="btn_wrap text-right mt-2">
				<button type="button" class="btn btn_nv">자산선택</button>
				<button type="button" class="btn btn_nv">진단그룹선택</button>
				<button type="button" class="btn btn-danger">삭제</button>
			</div>
			<div class="btn_wrap text-center mt-2">
				<button type="button" class="btn btn-success">저장</button>
				<button type="button" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	<!-- 진단구역 등록/수정 영역 끝 -->
</div>